PROD_JobConfig/StepFunction/Input/CD_COMPACTION_SIEBEL_AMERICAS.json
{"StartAt": "StartParallel", "States": {"StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "CD_COMPACTION_SIEBEL_AMERICAS1", "States": {"CD_COMPACTION_SIEBEL_AMERICAS1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CD_COMPACTION_SIEBEL_AMERICAS1", "StringEquals": "Y", "Next": "PASS CD_COMPACTION_SIEBEL_AMERICAS1"}], "Default": "LOAD CD_COMPACTION_SIEBEL_AMERICAS1"}, "LOAD CD_COMPACTION_SIEBEL_AMERICAS1": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS1", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SIEBEL_AMERICAS", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_req": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_contact": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_user": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_prod_int": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_addr_per": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_addr_per_x": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_prod_ln": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_zipcode": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_agree_bnft": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CD_COMPACTION_SIEBEL_AMERICAS1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CD_COMPACTION_SIEBEL_AMERICAS1_FAILED"}], "Next": "PASS CD_COMPACTION_SIEBEL_AMERICAS1"}, "SNS_CD_COMPACTION_SIEBEL_AMERICAS1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for CD_COMPACTION_SIEBEL_AMERICAS1 Failed!"}, "Next": "CD_COMPACTION_SIEBEL_AMERICAS1_ACTIVITY"}, "CD_COMPACTION_SIEBEL_AMERICAS1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS1_ACTIVITY", "End": true}, "PASS CD_COMPACTION_SIEBEL_AMERICAS1": {"Type": "Pass", "End": true}}}, {"StartAt": "CD_COMPACTION_SIEBEL_AMERICAS2", "States": {"CD_COMPACTION_SIEBEL_AMERICAS2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CD_COMPACTION_SIEBEL_AMERICAS2", "StringEquals": "Y", "Next": "PASS CD_COMPACTION_SIEBEL_AMERICAS2"}], "Default": "LOAD CD_COMPACTION_SIEBEL_AMERICAS2"}, "LOAD CD_COMPACTION_SIEBEL_AMERICAS2": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.SIEBEL_AMERICAS2", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SIEBEL_AMERICAS", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_siebel_americas_cx_prod_config": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_indust": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_org_ext": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_party_per": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_postn": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_pri_lst": "N", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_pri_lst_item": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CD_COMPACTION_SIEBEL_AMERICAS2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CD_COMPACTION_SIEBEL_AMERICAS2_FAILED"}], "Next": "PASS CD_COMPACTION_SIEBEL_AMERICAS2"}, "SNS_CD_COMPACTION_SIEBEL_AMERICAS2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for CD_COMPACTION_SIEBEL_AMERICAS2 Failed!"}, "Next": "CD_COMPACTION_SIEBEL_AMERICAS2_ACTIVITY"}, "CD_COMPACTION_SIEBEL_AMERICAS2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS2_ACTIVITY", "End": true}, "PASS CD_COMPACTION_SIEBEL_AMERICAS2": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS"}, "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_COMPACTION_SIEBEL_AMERICAS completed successfully!!"}}, "End": true}}}