PROD_JobConfig/StepFunction/Input/CD_COMPACTION_SIEBEL_AMERICAS1.json
{"StartAt": "START SIEBEL_AMERICAS COMPACTION JOBS", "States": {"START SIEBEL_AMERICAS COMPACTION JOBS": {"Type": "Wait", "InputPath": "$", "Seconds": 5, "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SIEBEL_AMERICAS_S_SRV_REQ", "States": {"SIEBEL_AMERICAS_S_SRV_REQ": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_req", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_SRV_REQ"}], "Default": "LOAD SIEBEL_AMERICAS_S_SRV_REQ"}, "LOAD SIEBEL_AMERICAS_S_SRV_REQ": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_SRV_REQ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_req", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_SRV_REQ_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_SRV_REQ"}, "SNS_SIEBEL_AMERICAS_S_SRV_REQ_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_SRV_REQ Failed!"}, "Next": "SIEBEL_AMERICAS_S_SRV_REQ_ACTIVITY"}, "SIEBEL_AMERICAS_S_SRV_REQ_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_SRV_REQ_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_SRV_REQ": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ADDR_PER_X", "States": {"SIEBEL_AMERICAS_S_ADDR_PER_X": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_addr_per_x", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ADDR_PER_X"}], "Default": "LOAD SIEBEL_AMERICAS_S_ADDR_PER_X"}, "LOAD SIEBEL_AMERICAS_S_ADDR_PER_X": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ADDR_PER_X", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_addr_per_x", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ADDR_PER_X_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ADDR_PER_X"}, "SNS_SIEBEL_AMERICAS_S_ADDR_PER_X_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_ADDR_PER_X Failed!"}, "Next": "SIEBEL_AMERICAS_S_ADDR_PER_X_ACTIVITY"}, "SIEBEL_AMERICAS_S_ADDR_PER_X_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ADDR_PER_X_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ADDR_PER_X": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ZIPCODE", "States": {"SIEBEL_AMERICAS_S_ZIPCODE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_zipcode", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ZIPCODE"}], "Default": "LOAD SIEBEL_AMERICAS_S_ZIPCODE"}, "LOAD SIEBEL_AMERICAS_S_ZIPCODE": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SIEBEL_AMERICAS_S_ZIPCODE", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_zipcode", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ZIPCODE_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ZIPCODE"}, "SNS_SIEBEL_AMERICAS_S_ZIPCODE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_ZIPCODE Failed!"}, "Next": "SIEBEL_AMERICAS_S_ZIPCODE_ACTIVITY"}, "SIEBEL_AMERICAS_S_ZIPCODE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ZIPCODE_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ZIPCODE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_CONTACT", "States": {"SIEBEL_AMERICAS_S_CONTACT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_contact", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_CONTACT"}], "Default": "LOAD SIEBEL_AMERICAS_S_CONTACT"}, "LOAD SIEBEL_AMERICAS_S_CONTACT": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_CONTACT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_contact", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_CONTACT_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_CONTACT"}, "SNS_SIEBEL_AMERICAS_S_CONTACT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_CONTACT Failed!"}, "Next": "SIEBEL_AMERICAS_S_CONTACT_ACTIVITY"}, "SIEBEL_AMERICAS_S_CONTACT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_CONTACT_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_CONTACT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_USER", "States": {"SIEBEL_AMERICAS_S_USER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_user", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_USER"}], "Default": "LOAD SIEBEL_AMERICAS_S_USER"}, "LOAD SIEBEL_AMERICAS_S_USER": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_USER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_user", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_USER_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_USER"}, "SNS_SIEBEL_AMERICAS_S_USER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_USER Failed!"}, "Next": "SIEBEL_AMERICAS_S_USER_ACTIVITY"}, "SIEBEL_AMERICAS_S_USER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_USER_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_USER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_PROD_INT", "States": {"SIEBEL_AMERICAS_S_PROD_INT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_prod_int", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_PROD_INT"}], "Default": "LOAD SIEBEL_AMERICAS_S_PROD_INT"}, "LOAD SIEBEL_AMERICAS_S_PROD_INT": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_PROD_INT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_prod_int", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_PROD_INT_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_PROD_INT"}, "SNS_SIEBEL_AMERICAS_S_PROD_INT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_PROD_INT Failed!"}, "Next": "SIEBEL_AMERICAS_S_PROD_INT_ACTIVITY"}, "SIEBEL_AMERICAS_S_PROD_INT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_PROD_INT_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_PROD_INT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_PROD_LN", "States": {"SIEBEL_AMERICAS_S_PROD_LN": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_prod_ln", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_PROD_LN"}], "Default": "LOAD SIEBEL_AMERICAS_S_PROD_LN"}, "LOAD SIEBEL_AMERICAS_S_PROD_LN": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_PROD_LN", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_prod_ln", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_PROD_LN_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_PROD_LN"}, "SNS_SIEBEL_AMERICAS_S_PROD_LN_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_PROD_LN Failed!"}, "Next": "SIEBEL_AMERICAS_S_PROD_LN_ACTIVITY"}, "SIEBEL_AMERICAS_S_PROD_LN_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_PROD_LN_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_PROD_LN": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ADDR_PER", "States": {"SIEBEL_AMERICAS_S_ADDR_PER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_addr_per", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ADDR_PER"}], "Default": "LOAD SIEBEL_AMERICAS_S_ADDR_PER"}, "LOAD SIEBEL_AMERICAS_S_ADDR_PER": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SIEBEL_AMERICAS_S_ADDR_PER", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_addr_per", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ADDR_PER_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ADDR_PER"}, "SNS_SIEBEL_AMERICAS_S_ADDR_PER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_ADDR_PER Failed!"}, "Next": "SIEBEL_AMERICAS_S_ADDR_PER_ACTIVITY"}, "SIEBEL_AMERICAS_S_ADDR_PER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ADDR_PER_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ADDR_PER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_AGREE_BNFT", "States": {"SIEBEL_AMERICAS_S_AGREE_BNFT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_agree_bnft", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_AGREE_BNFT"}], "Default": "LOAD SIEBEL_AMERICAS_S_AGREE_BNFT"}, "LOAD SIEBEL_AMERICAS_S_AGREE_BNFT": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SIEBEL_AMERICAS_S_AGREE_BNFT", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_agree_bnft", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_AGREE_BNFT_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_AGREE_BNFT"}, "SNS_SIEBEL_AMERICAS_S_AGREE_BNFT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_AGREE_BNFT Failed!"}, "Next": "SIEBEL_AMERICAS_S_AGREE_BNFT_ACTIVITY"}, "SIEBEL_AMERICAS_S_AGREE_BNFT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_AGREE_BNFT_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_AGREE_BNFT": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS"}, "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_COMPACTION_SIEBEL_AMERICAS completed successfully!!"}}, "End": true}}}