PROD_JobConfig/StepFunction/Input/CD_COMPACTION_SIT.json
{"StartAt": "START SIT COMPACTION JOBS", "States": {"START SIT COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SIT_S_ADDR_PER", "States": {"SIT_S_ADDR_PER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_addr_per", "StringEquals": "Y", "Next": "PASS SIT_S_ADDR_PER"}], "Default": "LOAD SIT_S_ADDR_PER"}, "LOAD SIT_S_ADDR_PER": {"Type": "Task", "ResultPath": "$.SIT_S_ADDR_PER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_addr_per", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ADDR_PER_FAILED"}], "Next": "PASS SIT_S_ADDR_PER"}, "SNS_SIT_S_ADDR_PER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_ADDR_PER Failed!"}, "Next": "SIT_S_ADDR_PER_ACTIVITY"}, "SIT_S_ADDR_PER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ADDR_PER_ACTIVITY", "End": true}, "PASS SIT_S_ADDR_PER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ADDR_PER_X", "States": {"SIT_S_ADDR_PER_X": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_addr_per_x", "StringEquals": "Y", "Next": "PASS SIT_S_ADDR_PER_X"}], "Default": "LOAD SIT_S_ADDR_PER_X"}, "LOAD SIT_S_ADDR_PER_X": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SIT_S_ADDR_PER_X", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_addr_per_x", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ADDR_PER_X_FAILED"}], "Next": "PASS SIT_S_ADDR_PER_X"}, "SNS_SIT_S_ADDR_PER_X_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_ADDR_PER_X Failed!"}, "Next": "SIT_S_ADDR_PER_X_ACTIVITY"}, "SIT_S_ADDR_PER_X_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ADDR_PER_X_ACTIVITY", "End": true}, "PASS SIT_S_ADDR_PER_X": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ZIPCODE", "States": {"SIT_S_ZIPCODE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_zipcode", "StringEquals": "Y", "Next": "PASS SIT_S_ZIPCODE"}], "Default": "LOAD SIT_S_ZIPCODE"}, "LOAD SIT_S_ZIPCODE": {"Type": "Task", "ResultPath": "$.SIT_S_ZIPCODE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_zipcode", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ZIPCODE_FAILED"}], "Next": "PASS SIT_S_ZIPCODE"}, "SNS_SIT_S_ZIPCODE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_ZIPCODE Failed!"}, "Next": "SIT_S_ZIPCODE_ACTIVITY"}, "SIT_S_ZIPCODE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ZIPCODE_ACTIVITY", "End": true}, "PASS SIT_S_ZIPCODE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_PROD_INT", "States": {"SIT_S_PROD_INT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_prod_int", "StringEquals": "Y", "Next": "PASS SIT_S_PROD_INT"}], "Default": "LOAD SIT_S_PROD_INT"}, "LOAD SIT_S_PROD_INT": {"Type": "Task", "ResultPath": "$.SIT_S_PROD_INT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_prod_int", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_PROD_INT_FAILED"}], "Next": "PASS SIT_S_PROD_INT"}, "SNS_SIT_S_PROD_INT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_PROD_INT Failed!"}, "Next": "SIT_S_PROD_INT_ACTIVITY"}, "SIT_S_PROD_INT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_PROD_INT_ACTIVITY", "End": true}, "PASS SIT_S_PROD_INT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_PARTY_PER", "States": {"SIT_S_PARTY_PER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_party_per", "StringEquals": "Y", "Next": "PASS SIT_S_PARTY_PER"}], "Default": "LOAD SIT_S_PARTY_PER"}, "LOAD SIT_S_PARTY_PER": {"Type": "Task", "ResultPath": "$.SIT_S_PARTY_PER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_party_per", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_PARTY_PER_FAILED"}], "Next": "PASS SIT_S_PARTY_PER"}, "SNS_SIT_S_PARTY_PER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_PARTY_PER Failed!"}, "Next": "SIT_S_PARTY_PER_ACTIVITY"}, "SIT_S_PARTY_PER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_PARTY_PER_ACTIVITY", "End": true}, "PASS SIT_S_PARTY_PER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_CONTACT", "States": {"SIT_S_CONTACT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_contact", "StringEquals": "Y", "Next": "PASS SIT_S_CONTACT"}], "Default": "LOAD SIT_S_CONTACT"}, "LOAD SIT_S_CONTACT": {"Type": "Task", "ResultPath": "$.SIT_S_CONTACT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_contact", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_CONTACT_FAILED"}], "Next": "PASS SIT_S_CONTACT"}, "SNS_SIT_S_CONTACT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_CONTACT Failed!"}, "Next": "SIT_S_CONTACT_ACTIVITY"}, "SIT_S_CONTACT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_CONTACT_ACTIVITY", "End": true}, "PASS SIT_S_CONTACT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_POSTN", "States": {"SIT_S_POSTN": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_postn", "StringEquals": "Y", "Next": "PASS SIT_S_POSTN"}], "Default": "LOAD SIT_S_POSTN"}, "LOAD SIT_S_POSTN": {"Type": "Task", "ResultPath": "$.SIT_S_POSTN", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_postn", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_POSTN_FAILED"}], "Next": "PASS SIT_S_POSTN"}, "SNS_SIT_S_POSTN_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_POSTN Failed!"}, "Next": "SIT_S_POSTN_ACTIVITY"}, "SIT_S_POSTN_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_POSTN_ACTIVITY", "End": true}, "PASS SIT_S_POSTN": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ORG_EXT", "States": {"SIT_S_ORG_EXT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_org_ext", "StringEquals": "Y", "Next": "PASS SIT_S_ORG_EXT"}], "Default": "LOAD SIT_S_ORG_EXT"}, "LOAD SIT_S_ORG_EXT": {"Type": "Task", "ResultPath": "$.SIT_S_ORG_EXT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_org_ext", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ORG_EXT_FAILED"}], "Next": "PASS SIT_S_ORG_EXT"}, "SNS_SIT_S_ORG_EXT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_ORG_EXT Failed!"}, "Next": "SIT_S_ORG_EXT_ACTIVITY"}, "SIT_S_ORG_EXT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ORG_EXT_ACTIVITY", "End": true}, "PASS SIT_S_ORG_EXT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_USER", "States": {"SIT_S_USER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_user", "StringEquals": "Y", "Next": "PASS SIT_S_USER"}], "Default": "LOAD SIT_S_USER"}, "LOAD SIT_S_USER": {"Type": "Task", "ResultPath": "$.SIT_S_USER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_user", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_USER_FAILED"}], "Next": "PASS SIT_S_USER"}, "SNS_SIT_S_USER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_USER Failed!"}, "Next": "SIT_S_USER_ACTIVITY"}, "SIT_S_USER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_USER_ACTIVITY", "End": true}, "PASS SIT_S_USER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ORG_EXT_X", "States": {"SIT_S_ORG_EXT_X": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_org_ext_x", "StringEquals": "Y", "Next": "PASS SIT_S_ORG_EXT_X"}], "Default": "LOAD SIT_S_ORG_EXT_X"}, "LOAD SIT_S_ORG_EXT_X": {"Type": "Task", "ResultPath": "$.SIT_S_ORG_EXT_X", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_org_ext_x", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ORG_EXT_X_FAILED"}], "Next": "PASS SIT_S_ORG_EXT_X"}, "SNS_SIT_S_ORG_EXT_X_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_ORG_EXT_X Failed!"}, "Next": "SIT_S_ORG_EXT_X_ACTIVITY"}, "SIT_S_ORG_EXT_X_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ORG_EXT_X_ACTIVITY", "End": true}, "PASS SIT_S_ORG_EXT_X": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_SRV_REQ", "States": {"SIT_S_SRV_REQ": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_srv_req", "StringEquals": "Y", "Next": "PASS SIT_S_SRV_REQ"}], "Default": "LOAD SIT_S_SRV_REQ"}, "LOAD SIT_S_SRV_REQ": {"Type": "Task", "ResultPath": "$.SIT_S_SRV_REQ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_srv_req", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_SRV_REQ_FAILED"}], "Next": "PASS SIT_S_SRV_REQ"}, "SNS_SIT_S_SRV_REQ_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_SRV_REQ Failed!"}, "Next": "SIT_S_SRV_REQ_ACTIVITY"}, "SIT_S_SRV_REQ_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_SRV_REQ_ACTIVITY", "End": true}, "PASS SIT_S_SRV_REQ": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_AGREE_BNFT", "States": {"SIT_S_AGREE_BNFT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_agree_bnft", "StringEquals": "Y", "Next": "PASS SIT_S_AGREE_BNFT"}], "Default": "LOAD SIT_S_AGREE_BNFT"}, "LOAD SIT_S_AGREE_BNFT": {"Type": "Task", "ResultPath": "$.SIT_S_AGREE_BNFT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_agree_bnft", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_AGREE_BNFT_FAILED"}], "Next": "PASS SIT_S_AGREE_BNFT"}, "SNS_SIT_S_AGREE_BNFT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_AGREE_BNFT Failed!"}, "Next": "SIT_S_AGREE_BNFT_ACTIVITY"}, "SIT_S_AGREE_BNFT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_AGREE_BNFT_ACTIVITY", "End": true}, "PASS SIT_S_AGREE_BNFT": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SIT_COMPACTION_SUCCESS"}, "SNS_SIT_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_COMPACTION_SIT completed successfully!!"}}, "End": true}}}