PROD_JobConfig/StepFunction/Input/CD_ENTITY_DRM.json
{"StartAt": "START CD_ENTITY_DRM SCHEDULE", "States": {"START CD_ENTITY_DRM SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "DRM_CC_COUNTRY_HIER", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "DRM_GL_ES_COST_CENTER_ORG_HIER", "States": {"DRM_GL_ES_COST_CENTER_ORG_HIER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DRM_GL_ES_COST_CENTER_ORG_HIER", "StringEquals": "Y", "Next": "PASS DRM_GL_ES_COST_CENTER_ORG_HIER"}], "Default": "LOAD DRM_GL_ES_COST_CENTER_ORG_HIER"}, "LOAD DRM_GL_ES_COST_CENTER_ORG_HIER": {"Type": "Task", "InputPath": "$", "ResultPath": "$.DRM_GL_ES_COST_CENTER_ORG_HIER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_es_cost_center_org_hier_s_drm()", "--query_tag": "CDE-cost_center_org_hier_s_drm", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_GL_ES_COST_CENTER_ORG_HIER_FAILED"}], "Next": "PASS DRM_GL_ES_COST_CENTER_ORG_HIER"}, "SNS_DRM_GL_ES_COST_CENTER_ORG_HIER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR DRM_GL_ES_COST_CENTER_ORG_HIER FAILED!"}, "Next": "DRM_GL_ES_COST_CENTER_ORG_HIER_ACTIVITY"}, "DRM_GL_ES_COST_CENTER_ORG_HIER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_DRM_GL_ES_COST_CENTER_ORG_HIER_ACTIVITY", "End": true}, "PASS DRM_GL_ES_COST_CENTER_ORG_HIER": {"Type": "Pass", "End": true}}}, {"StartAt": "DRM_GL_ES_SEGMNT1_D", "States": {"DRM_GL_ES_SEGMNT1_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DRM_GL_ES_SEGMNT1_D", "StringEquals": "Y", "Next": "PASS DRM_GL_ES_SEGMNT1_D"}], "Default": "LOAD DRM_GL_ES_SEGMNT1_D"}, "LOAD DRM_GL_ES_SEGMNT1_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.DRM_GL_ES_SEGMNT1_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_es_segmnt1_dh()", "--query_tag": "CDE-sp_gl_es_segmnt1_dh", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_GL_ES_SEGMNT1_D_FAILED"}], "Next": "PASS DRM_GL_ES_SEGMNT1_D"}, "SNS_DRM_GL_ES_SEGMNT1_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR DRM_GL_ES_SEGMNT1_D FAILED!"}, "Next": "DRM_GL_ES_SEGMNT1_D_ACTIVITY"}, "DRM_GL_ES_SEGMNT1_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_DRM_GL_ES_SEGMNT1_D_ACTIVITY", "End": true}, "PASS DRM_GL_ES_SEGMNT1_D": {"Type": "Pass", "End": true}}}, {"StartAt": "DRM_GL_ES_SEGMNT2_D", "States": {"DRM_GL_ES_SEGMNT2_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DRM_GL_ES_SEGMNT2_D", "StringEquals": "Y", "Next": "PASS DRM_GL_ES_SEGMNT2_D"}], "Default": "LOAD DRM_GL_ES_SEGMNT2_D"}, "LOAD DRM_GL_ES_SEGMNT2_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.DRM_GL_ES_SEGMNT2_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_es_segmnt2_dh()", "--query_tag": "CDE-sp_gl_es_segmnt2_dh", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_GL_ES_SEGMNT2_D_FAILED"}], "Next": "PASS DRM_GL_ES_SEGMNT2_D"}, "SNS_DRM_GL_ES_SEGMNT2_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR DRM_GL_ES_SEGMNT2_D FAILED!"}, "Next": "DRM_GL_ES_SEGMNT2_D_ACTIVITY"}, "DRM_GL_ES_SEGMNT2_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_DRM_GL_ES_SEGMNT2_D_ACTIVITY", "End": true}, "PASS DRM_GL_ES_SEGMNT2_D": {"Type": "Pass", "End": true}}}, {"StartAt": "DRM_GL_ES_REG_HIER", "States": {"DRM_GL_ES_REG_HIER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DRM_GL_ES_REG_HIER", "StringEquals": "Y", "Next": "PASS DRM_GL_ES_REG_HIER"}], "Default": "LOAD DRM_GL_ES_REG_HIER"}, "LOAD DRM_GL_ES_REG_HIER": {"Type": "Task", "InputPath": "$", "ResultPath": "$.DRM_GL_ES_REG_HIER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_es_segmnt4_dh1()", "--query_tag": "CDE-sp_gl_es_segmnt4_dh1", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_GL_ES_REG_HIER_FAILED"}], "Next": "PASS DRM_GL_ES_REG_HIER"}, "SNS_DRM_GL_ES_REG_HIER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR DRM_GL_ES_REG_HIER FAILED!"}, "Next": "DRM_GL_ES_REG_HIER_ACTIVITY"}, "DRM_GL_ES_REG_HIER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_DRM_GL_ES_REG_HIER_ACTIVITY", "End": true}, "PASS DRM_GL_ES_REG_HIER": {"Type": "Pass", "End": true}}}]}, "DRM_CC_COUNTRY_HIER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DRM_CC_COUNTRY_HIER", "StringEquals": "Y", "Next": "PASS DRM_CC_COUNTRY_HIER"}], "Default": "LOAD DRM_CC_COUNTRY_HIER"}, "LOAD DRM_CC_COUNTRY_HIER": {"Type": "Task", "InputPath": "$", "ResultPath": "$.DRM_CC_COUNTRY_HIER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_cc_country_hier_s_drm()", "--query_tag": "CDE-p_gl_cc_country_hier_s_drm", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_CC_COUNTRY_HIER_FAILED"}], "Next": "PASS DRM_CC_COUNTRY_HIER"}, "SNS_DRM_CC_COUNTRY_HIER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR DRM_CC_COUNTRY_HIER FAILED!"}, "End": false}, "PASS DRM_CC_COUNTRY_HIER": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_CD_ENTITY_DRM_SUCCESS"}, "SNS_CD_ENTITY_DRM_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_ENTITY_DRM completed successfully!!"}}, "End": true}}}