PROD_JobConfig/StepFunction/Input/CD_ENTITY_CAPS.json
{"StartAt": "START CD_ENTITY_CAPS SCHEDULE", "States": {"START CD_ENTITY_CAPS SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "CAPS_PRT_CUST_D", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "CAPS_GEO_ADDR_D", "States": {"CAPS_GEO_ADDR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_GEO_ADDR_D", "StringEquals": "Y", "Next": "PASS CAPS_GEO_ADDR_D"}], "Default": "LOAD CAPS_GEO_ADDR_D"}, "LOAD CAPS_GEO_ADDR_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_GEO_ADDR_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_geo_addr_ds_caps()", "--query_tag": "CDE-sp_geo_addr_ds_caps", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_GEO_ADDR_D_FAILED"}], "Next": "PASS CAPS_GEO_ADDR_D"}, "SNS_CAPS_GEO_ADDR_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for CAPS_GEO_ADDR_D Failed!"}, "Next": "CAPS_GEO_ADDR_D_ACTIVITY"}, "CAPS_GEO_ADDR_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_CAPS_GEO_ADDR_D_ACTIVITY", "End": true}, "PASS CAPS_GEO_ADDR_D": {"Type": "Pass", "End": true}}}, {"StartAt": "CAPS_PRT_PERSN_D", "States": {"CAPS_PRT_PERSN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_PRT_PERSN_D", "StringEquals": "Y", "Next": "PASS CAPS_PRT_PERSN_D"}], "Default": "LOAD CAPS_PRT_PERSN_D"}, "LOAD CAPS_PRT_PERSN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_PRT_PERSN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_persn_ds_caps()", "--query_tag": "CDE-sp_prt_persn_ds_caps", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_PRT_PERSN_D_FAILED"}], "Next": "PASS CAPS_PRT_PERSN_D"}, "SNS_CAPS_PRT_PERSN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for CAPS_PRT_PERSN_D Failed!"}, "Next": "CAPS_PRT_PERSN_D_ACTIVITY"}, "CAPS_PRT_PERSN_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_CAPS_PRT_PERSN_D_ACTIVITY", "End": true}, "PASS CAPS_PRT_PERSN_D": {"Type": "Pass", "End": true}}}, {"StartAt": "CAPS_GEO_MAIN_D", "States": {"CAPS_GEO_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_GEO_MAIN_D", "StringEquals": "Y", "Next": "PASS CAPS_GEO_MAIN_D"}], "Default": "LOAD CAPS_GEO_MAIN_D"}, "LOAD CAPS_GEO_MAIN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_GEO_MAIN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_geo_main_ds_caps()", "--query_tag": "CDE-sp_geo_main_ds_caps", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_GEO_MAIN_D_FAILED"}], "Next": "PASS CAPS_GEO_MAIN_D"}, "SNS_CAPS_GEO_MAIN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for CAPS_GEO_MAIN_D Failed!"}, "Next": "CAPS_GEO_MAIN_D_ACTIVITY"}, "CAPS_GEO_MAIN_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_CAPS_GEO_MAIN_D_ACTIVITY", "End": true}, "PASS CAPS_GEO_MAIN_D": {"Type": "Pass", "End": true}}}, {"StartAt": "CAPS_PRD_MAIN_D", "States": {"CAPS_PRD_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_PRD_MAIN_D", "StringEquals": "Y", "Next": "PASS CAPS_PRD_MAIN_D"}], "Default": "LOAD CAPS_PRD_MAIN_D"}, "LOAD CAPS_PRD_MAIN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_PRD_MAIN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_main_ds_caps()", "--query_tag": "CDE-sp_prd_main_ds_caps", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_PRD_MAIN_D_FAILED"}], "Next": "PASS CAPS_PRD_MAIN_D"}, "SNS_CAPS_PRD_MAIN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CAPS_PRD_MAIN_D FAILED!"}, "Next": "CAPS_PRD_MAIN_D_ACTIVITY"}, "CAPS_PRD_MAIN_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_CAPS_PRD_MAIN_D_ACTIVITY", "End": true}, "PASS CAPS_PRD_MAIN_D": {"Type": "Pass", "End": true}}}]}, "CAPS_PRT_CUST_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_PRT_CUST_D", "StringEquals": "Y", "Next": "PASS CAPS_PRT_CUST_D"}], "Default": "LOAD CAPS_PRT_CUST_D"}, "LOAD CAPS_PRT_CUST_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_PRT_CUST_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_cust_ds_caps()", "--query_tag": "CDE-sp_prt_cust_ds_caps", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_PRT_CUST_D_FAILED"}], "Next": "PASS CAPS_PRT_CUST_D"}, "SNS_CAPS_PRT_CUST_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for CAPS_PRT_CUST_D Failed!"}, "End": false}, "PASS CAPS_PRT_CUST_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_CD_ENTITY_CAPS_SUCCESS"}, "SNS_CD_ENTITY_CAPS_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_ENTITY_CAPS completed successfully!!"}}, "End": true}}}