PROD_JobConfig/StepFunction/Input/CD_ENTITY_ONE_TIME_CAPS_CARES_SCHEDULE.json
{"StartAt": "START ONE TIME CAPS/CARES SCHEDULE", "States": {"START ONE TIME CAPS/CARES SCHEDULE": {"Type": "Pass", "Next": "CAPS_GEO_ADDR_D"}, "CAPS_GEO_ADDR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_GEO_ADDR_D", "StringEquals": "Y", "Next": "PASS CAPS_GEO_ADDR_D"}], "Default": "LOAD CAPS_GEO_ADDR_D"}, "LOAD CAPS_GEO_ADDR_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_GEO_ADDR_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_geo_addr_ds_caps", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/caps/csv/datafabric_cfd_dea/geo_addr_d/year=2020/month=06/day=07/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_ENTITY_FAILED"}], "Next": "PASS CAPS_GEO_ADDR_D"}, "SNS_CAPS_ENTITY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for CAPS_ENTITY Failed!"}, "End": false}, "PASS CAPS_GEO_ADDR_D": {"Type": "Pass", "Next": "CAPS_PRT_PERSN_D"}, "CAPS_PRT_PERSN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_PRT_PERSN_D", "StringEquals": "Y", "Next": "PASS CAPS_PRT_PERSN_D"}], "Default": "LOAD CAPS_PRT_PERSN_D"}, "LOAD CAPS_PRT_PERSN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_PRT_PERSN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_persn_ds_caps", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/caps/datafabric_cfd_dea/prt_persn_d/year=2020/month=06/day=05/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_ENTITY_FAILED"}], "Next": "PASS CAPS_PRT_PERSN_D"}, "PASS CAPS_PRT_PERSN_D": {"Type": "Pass", "Next": "CAPS_PRT_CUST_D"}, "CAPS_PRT_CUST_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_PRT_CUST_D", "StringEquals": "Y", "Next": "PASS CAPS_PRT_CUST_D"}], "Default": "LOAD CAPS_PRT_CUST_D"}, "LOAD CAPS_PRT_CUST_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_PRT_CUST_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_cust_ds_caps", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/caps/csv/datafabric_cfd_dea/prt_cust_d/year=2020/month=06/day=07/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_ENTITY_FAILED"}], "Next": "PASS CAPS_PRT_CUST_D"}, "PASS CAPS_PRT_CUST_D": {"Type": "Pass", "Next": "CAPS_PRD_MAIN_D"}, "CAPS_PRD_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CAPS_PRD_MAIN_D", "StringEquals": "Y", "Next": "PASS CAPS_PRD_MAIN_D"}], "Default": "LOAD CAPS_PRD_MAIN_D"}, "LOAD CAPS_PRD_MAIN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CAPS_PRD_MAIN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_main_ds_caps", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/caps/datafabric_cfd_dea/prd_main_d/year=2020/month=06/day=05/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CAPS_ENTITY_FAILED"}], "Next": "PASS CAPS_PRD_MAIN_D"}, "PASS CAPS_PRD_MAIN_D": {"Type": "Pass", "Next": "CARES_GEO_ADDR_D"}, "CARES_GEO_ADDR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CARES_GEO_ADDR_D", "StringEquals": "Y", "Next": "PASS CARES_GEO_ADDR_D"}], "Default": "LOAD CARES_GEO_ADDR_D"}, "LOAD CARES_GEO_ADDR_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CARES_GEO_ADDR_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_geo_addr_ds_cares", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/cares/datafabric_cfd_dea/geo_addr_d/year=2020/month=06/day=05/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CARES_ENTITY_FAILED"}], "Next": "PASS CARES_GEO_ADDR_D"}, "SNS_CARES_ENTITY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for CARES_ENTITY Failed!"}, "End": false}, "PASS CARES_GEO_ADDR_D": {"Type": "Pass", "Next": "CARES_PRD_MAIN_D"}, "CARES_PRD_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CARES_PRD_MAIN_D", "StringEquals": "Y", "Next": "PASS CARES_PRD_MAIN_D"}], "Default": "LOAD CARES_PRD_MAIN_D"}, "LOAD CARES_PRD_MAIN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CARES_PRD_MAIN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_main_ds_cares", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/cares/datafabric_cfd_dea/prd_main_d/year=2020/month=06/day=05/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CARES_ENTITY_FAILED"}], "Next": "PASS CARES_PRD_MAIN_D"}, "PASS CARES_PRD_MAIN_D": {"Type": "Pass", "Next": "CARES_PRT_CUST_D"}, "CARES_PRT_CUST_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CARES_PRT_CUST_D", "StringEquals": "Y", "Next": "PASS CARES_PRT_CUST_D"}], "Default": "LOAD CARES_PRT_CUST_D"}, "LOAD CARES_PRT_CUST_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CARES_PRT_CUST_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_otl_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_cust_ds_cares", "--s3path": "s3://odp-us-innovation-ent-raw/servicesuit_common/entity/cares/datafabric_cfd_dea/prt_cust_d/year=2020/month=06/day=05/", "--aws_secret": "us-dev-odp-entity-cds-fsso", "--region": "us-east-1", "--arn": "arn:aws:iam::541574621075:role/odp-us-innovation-servicesuite-service-role"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CARES_ENTITY_FAILED"}], "Next": "PASS CARES_PRT_CUST_D"}, "PASS CARES_PRT_CUST_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_ONE TIME CAPS/CARES SCHEDULE_SUCCESS"}, "SNS_ONE TIME CAPS/CARES SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for ONE TIME CAPS/CARES SCHEDULE completed successfully!!"}}, "End": true}}}