PROD_JobConfig/StepFunction/Input/CD_ENTITY_OPH.json
{"StartAt": "START CD_ENTITY_OPH SCHEDULE", "States": {"START CD_ENTITY_OPH SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "OPH_PRD_MAIN_HIER_D"}, "OPH_PRD_MAIN_HIER_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.OPH_PRD_MAIN_HIER_D", "StringEquals": "Y", "Next": "PASS OPH_PRD_MAIN_HIER_D"}], "Default": "LOAD OPH_PRD_MAIN_HIER_D"}, "LOAD OPH_PRD_MAIN_HIER_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.OPH_PRD_MAIN_HIER_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_main_hier_ds_oph()", "--query_tag": "CDE-sp_prd_main_hier_ds_oph", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_OPH_PRD_MAIN_HIER_D_FAILED"}], "Next": "PASS OPH_PRD_MAIN_HIER_D"}, "SNS_OPH_PRD_MAIN_HIER_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR OPH_PRD_MAIN_HIER_D FAILED!"}, "End": false}, "PASS OPH_PRD_MAIN_HIER_D": {"Type": "Pass", "Next": "OPH_PRD_MAIN_D"}, "OPH_PRD_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.OPH_PRD_MAIN_D", "StringEquals": "Y", "Next": "PASS OPH_PRD_MAIN_D"}], "Default": "LOAD OPH_PRD_MAIN_D"}, "LOAD OPH_PRD_MAIN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.OPH_PRD_MAIN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_main_ds_oph()", "--query_tag": "CDE-sp_prd_main_ds_oph", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_OPH_PRD_MAIN_D_FAILED"}], "Next": "PASS OPH_PRD_MAIN_D"}, "SNS_OPH_PRD_MAIN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR OPH_PRD_MAIN_D FAILED!"}, "End": false}, "PASS OPH_PRD_MAIN_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_CD_ENTITY_OPH_SUCCESS"}, "SNS_CD_ENTITY_OPH_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_ENTITY_OPH completed successfully!!"}}, "End": true}}}