PROD_JobConfig/StepFunction/Input/CD_ENTITY_SERVICEMAX.json
{"StartAt": "START CD_ENTITY_SERVICEMAX SCHEDULE", "States": {"START CD_ENTITY_SERVICEMAX SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "SERVICEMAX_PRT_CUST_D", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SERVICEMAX_PRD_MAIN_D", "States": {"SERVICEMAX_PRD_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SERVICEMAX_PRD_MAIN_D", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRD_MAIN_D"}], "Default": "LOAD SERVICEMAX_PRD_MAIN_D"}, "LOAD SERVICEMAX_PRD_MAIN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SERVICEMAX_PRD_MAIN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_main_ds_smax()", "--query_tag": "CDE-sp_prd_main_ds_smax", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRD_MAIN_D_FAILED"}], "Next": "PASS SERVICEMAX_PRD_MAIN_D"}, "SNS_SERVICEMAX_PRD_MAIN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SERVICEMAX_PRD_MAIN_D FAILED!"}, "Next": "SERVICEMAX_PRD_MAIN_D_ACTIVITY"}, "SERVICEMAX_PRD_MAIN_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_SERVICEMAX_PRD_MAIN_D_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRD_MAIN_D": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_GEO_ADDR_D", "States": {"SERVICEMAX_GEO_ADDR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SERVICEMAX_GEO_ADDR_D", "StringEquals": "Y", "Next": "PASS SERVICEMAX_GEO_ADDR_D"}], "Default": "LOAD SERVICEMAX_GEO_ADDR_D"}, "LOAD SERVICEMAX_GEO_ADDR_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SERVICEMAX_GEO_ADDR_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_geo_addr_ds_smax()", "--query_tag": "CDE-sp_geo_addr_ds_smax", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_GEO_ADDR_D_FAILED"}], "Next": "PASS SERVICEMAX_GEO_ADDR_D"}, "SNS_SERVICEMAX_GEO_ADDR_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SERVICEMAX_GEO_ADDR_D FAILED!"}, "Next": "SERVICEMAX_GEO_ADDR_D_ACTIVITY"}, "SERVICEMAX_GEO_ADDR_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_SERVICEMAX_GEO_ADDR_D_ACTIVITY", "End": true}, "PASS SERVICEMAX_GEO_ADDR_D": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRT_PERSN_D", "States": {"SERVICEMAX_PRT_PERSN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SERVICEMAX_PRT_PERSN_D", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRT_PERSN_D"}], "Default": "LOAD SERVICEMAX_PRT_PERSN_D"}, "LOAD SERVICEMAX_PRT_PERSN_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SERVICEMAX_PRT_PERSN_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_persn_ds_smax()", "--query_tag": "CDE-sp_prt_persn_ds_smax", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRT_PERSN_D_FAILED"}], "Next": "PASS SERVICEMAX_PRT_PERSN_D"}, "SNS_SERVICEMAX_PRT_PERSN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SERVICEMAX_PRT_PERSN_D FAILED!"}, "Next": "SERVICEMAX_PRT_PERSN_D_ACTIVITY"}, "SERVICEMAX_PRT_PERSN_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:CD_ENTITY_SERVICEMAX_PRT_PERSN_D_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRT_PERSN_D": {"Type": "Pass", "End": true}}}]}, "SERVICEMAX_PRT_CUST_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SERVICEMAX_PRT_CUST_D", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRT_CUST_D"}], "Default": "LOAD SERVICEMAX_PRT_CUST_D"}, "LOAD SERVICEMAX_PRT_CUST_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SERVICEMAX_PRT_CUST_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prt_cust_ds_smax()", "--query_tag": "CDE-sp_prt_cust_ds_smax", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRT_CUST_D_FAILED"}], "Next": "PASS SERVICEMAX_PRT_CUST_D"}, "SNS_SERVICEMAX_PRT_CUST_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SERVICEMAX_PRT_CUST_D FAILED!"}, "End": false}, "PASS SERVICEMAX_PRT_CUST_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_CD_ENTITY_SERVICEMAX_SUCCESS"}, "SNS_CD_ENTITY_SERVICEMAX_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CD_ENTITY_SERVICEMAX completed successfully!!"}}, "End": true}}}