PROD_JobConfig/StepFunction/Input/CI_CDS_AR_INVC_CDS_DTL_F_SUMMARY.json
{"StartAt": "START CI_CDS_AR_INVC_CDS_DTL_F_SUMMARY SCHEDULE", "States": {"START CI_CDS_AR_INVC_CDS_DTL_F_SUMMARY SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "AR_INVC_CDS_DTL_F_SUMM"}, "AR_INVC_CDS_DTL_F_SUMM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.AR_INVC_CDS_DTL_F_SUMM", "StringEquals": "Y", "Next": "SKIP AR_INVC_CDS_DTL_F_SUMM"}], "Default": "LOAD AR_INVC_CDS_DTL_F_SUMM"}, "LOAD AR_INVC_CDS_DTL_F_SUMM": {"Type": "Task", "InputPath": "$", "ResultPath": "$.AR_INVC_CDS_DTL_F_SUMM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_ar_invc_cds_dtl_f_summ()", "--query_tag": "CIC-sp_ar_invc_cds_dtl_f_summ", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_AR_INVC_CDS_DTL_F_SUMM_FAILED"}], "Next": "SKIP AR_INVC_CDS_DTL_F_SUMM"}, "SNS_AR_INVC_CDS_DTL_F_SUMM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR AR_INVC_CDS_DTL_F_SUMM FAILED!"}, "End": false}, "SKIP AR_INVC_CDS_DTL_F_SUMM": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_AR_INVC_CDS_DTL_F_SUMM_SUCCESS"}, "SNS_AR_INVC_CDS_DTL_F_SUMM_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SNS_AR_INVC_CDS_DTL_F_SUMM_SUCCESS completed successfully!!"}}, "End": true}}}