PROD_JobConfig/StepFunction/Input/CI_CDS_INV_SALES.json
{"StartAt": "START CI_CDS_INV_SALES SCHEDULE", "States": {"START CI_CDS_INV_SALES SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "CDS_INV_SALS_REVN_CDS_FS"}, "CDS_INV_SALS_REVN_CDS_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDS_INV_SALS_REVN_CDS_FS", "StringEquals": "Y", "Next": "SKIP CDS_INV_SALS_REVN_CDS_FS"}], "Default": "LOAD CDS_INV_SALS_REVN_CDS_FS"}, "LOAD CDS_INV_SALS_REVN_CDS_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDS_INV_SALS_REVN_CDS_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_sals_revn_cds_fs()", "--query_tag": "CIC-sp_inv_sals_revn_cds_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDS_INV_SALS_REVN_CDS_FS_FAILED"}], "Next": "SKIP CDS_INV_SALS_REVN_CDS_FS"}, "SNS_CDS_INV_SALS_REVN_CDS_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDS_INV_SALS_REVN_CDS_FS FAILED!"}, "End": false}, "SKIP CDS_INV_SALS_REVN_CDS_FS": {"Type": "Pass", "Next": "CDS_INV_SALS_REVN_CDS_F"}, "CDS_INV_SALS_REVN_CDS_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDS_INV_SALS_REVN_CDS_F", "StringEquals": "Y", "Next": "SKIP CDS_INV_SALS_REVN_CDS_F"}], "Default": "LOAD CDS_INV_SALS_REVN_CDS_F"}, "LOAD CDS_INV_SALS_REVN_CDS_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDS_INV_SALS_REVN_CDS_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_sals_revn_cds_f()", "--query_tag": "CIC-sp_inv_sals_revn_cds_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDS_INV_SALS_REVN_CDS_F_FAILED"}], "Next": "SKIP CDS_INV_SALS_REVN_CDS_F"}, "SNS_CDS_INV_SALS_REVN_CDS_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDS_INV_SALS_REVN_CDS_F FAILED!"}, "End": false}, "SKIP CDS_INV_SALS_REVN_CDS_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_CI_ENTITY_CDS_SUCCESS"}, "SNS_CI_ENTITY_CDS_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CI_CDS_INV_SALES completed successfully!!"}}, "End": true}}}