PROD_JobConfig/StepFunction/Input/CI_ENTITY_INV_LOC_F_BFE.json
{"StartAt": "START CI_ENTITY_INV_LOC_F_BFE SCHEDULE", "States": {"START CI_ENTITY_INV_LOC_F_BFE SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "BFE_INVC_LOC_F"}, "BFE_INVC_LOC_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.BFE_INVC_LOC_F", "StringEquals": "Y", "Next": "SKIP BFE_INVC_LOC_F"}], "Default": "LOAD BFE_INVC_LOC_F"}, "LOAD BFE_INVC_LOC_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.BFE_INVC_LOC_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_ar_invc_loc_fs_bfe()", "--query_tag": "CIE-sp_ar_invc_loc_fs_bfe", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_BFE_INVC_LOC_F_FAILED"}], "Next": "SKIP BFE_INVC_LOC_F"}, "SNS_BFE_INVC_LOC_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR BFE_INVC_LOC_F FAILED!"}, "End": false}, "SKIP BFE_INVC_LOC_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_BFE_INVC_LOC_F_SUCCESS"}, "SNS_BFE_INVC_LOC_F_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SNS_BFE_INVC_LOC_F_SUCCESS completed successfully!!"}}, "End": true}}}