PROD_JobConfig/StepFunction/Input/CI_ENTITY_MASTER_SCHEDULE.json
{"StartAt": "START CI_ENTITY_GLA_MASTER SCHEDULE", "States": {"START CI_ENTITY_GLA_MASTER SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F"}, "APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F", "StringEquals": "Y", "Next": "PASS APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F"}], "Default": "LOAD APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F"}, "LOAD APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CI_ENTITY_OPP_POES_F_APTTUS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F_FAILED"}], "Next": "PASS APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F"}, "SNS_APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS CHILD STEP FUNCTION FOR SNS_APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F FAILED!"}, "End": false}, "PASS APTTUS_SRV_APTTUS_SALS_REVN_OPP_POES_F": {"Type": "Pass", "Next": "CI_ENTITY_INV_LOC_F_BFE"}, "CI_ENTITY_INV_LOC_F_BFE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CI_ENTITY_INV_LOC_F_BFE", "StringEquals": "Y", "Next": "PASS CI_ENTITY_INV_LOC_F_BFE"}], "Default": "LOAD CI_ENTITY_INV_LOC_F_BFE"}, "LOAD CI_ENTITY_INV_LOC_F_BFE": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CI_ENTITY_INV_LOC_F_BFE", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"BFE_INVC_LOC_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CI_ENTITY_INV_LOC_F_BFE"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CI_ENTITY_INV_LOC_F_BFE_FAILED"}], "Next": "PASS CI_ENTITY_INV_LOC_F_BFE"}, "SNS_CI_ENTITY_INV_LOC_F_BFE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS CHILD STEP FUNCTION FOR SNS_CI_ENTITY_INV_LOC_F_BFE FAILED!"}, "End": false}, "PASS CI_ENTITY_INV_LOC_F_BFE": {"Type": "Pass", "Next": "CI_ENTITY_GLA"}, "CI_ENTITY_GLA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CI_ENTITY_GLA", "StringEquals": "Y", "Next": "PASS CI_ENTITY_GLA"}], "Default": "LOAD CI_ENTITY_GLA"}, "LOAD CI_ENTITY_GLA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CI_ENTITY_GLA", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GLA_EXD_SRV_APLD_MTL_FS": "N", "GLA_INV_GLA_SRV_APLD_MTL_F": "N", "GLA_GL_BALNC_FLTR_DS": "N", "GLA_GL_BALNC_FLTR_D": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CI_ENTITY_GLA"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CI_ENTITY_GLA_FAILED"}], "Next": "PASS CI_ENTITY_GLA"}, "SNS_CI_ENTITY_GLA_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS CHILD STEP FUNCTION FOR SNS_CI_ENTITY_GLA FAILED!"}, "End": false}, "PASS CI_ENTITY_GLA": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_CI_ENTITY_GLA_MASTER_SUCCESS"}, "SNS_CI_ENTITY_GLA_MASTER_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SNS_CI_ENTITY_GLA_MASTER_SUCCESS completed successfully!!"}}, "End": true}}}