PROD_JobConfig/StepFunction/Input/COPY_EXECUTION_FILE_SPLIT_METADATA_UPDATE.json
{"Comment": "Execute copy command for all sources", "StartAt": "START COPY_COMMAND_EXECUTION", "States": {"START COPY_COMMAND_EXECUTION": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "GLA COPY EXECUTION"}, "GLA COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLA_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP GLA COPY EXECUTION"}], "Default": "START GLA COPY EXECUTION"}, "START GLA COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.GLA_COPY EXECUTION", "Parameters": {"SRC_NAME": "gla"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP GLA COPY EXECUTION"}, "SNS_COPY EXECUTION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION COPY COMMAND EXECUTION FAILED !"}, "End": false}, "SKIP GLA COPY EXECUTION": {"Type": "Pass", "Next": "SBOM COPY EXECUTION"}, "SBOM COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SBOM_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP SBOM COPY EXECUTION"}], "Default": "START SBOM COPY EXECUTION"}, "START SBOM COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.SBOM_COPY EXECUTION", "Parameters": {"SRC_NAME": "sbom"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP SBOM COPY EXECUTION"}, "SKIP SBOM COPY EXECUTION": {"Type": "Pass", "Next": "CONNECTIVITY COPY EXECUTION"}, "CONNECTIVITY COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CONNECTIVITY_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP CONNECTIVITY COPY EXECUTION"}], "Default": "START CONNECTIVITY COPY EXECUTION"}, "START CONNECTIVITY COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.CONNECTIVITY_COPY EXECUTION", "Parameters": {"SRC_NAME": "connectivity"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP CONNECTIVITY COPY EXECUTION"}, "SKIP CONNECTIVITY COPY EXECUTION": {"Type": "Pass", "Next": "MWS COPY EXECUTION"}, "MWS COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MWS_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP MWS COPY EXECUTION"}], "Default": "START MWS COPY EXECUTION"}, "START MWS COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.MWS_COPY EXECUTION", "Parameters": {"SRC_NAME": "mws"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP MWS COPY EXECUTION"}, "SKIP MWS COPY EXECUTION": {"Type": "Pass", "Next": "BFE COPY EXECUTION"}, "BFE COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.BFE_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP BFE COPY EXECUTION"}], "Default": "START BFE COPY EXECUTION"}, "START BFE COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.BFE_COPY EXECUTION", "Parameters": {"SRC_NAME": "bfe"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP BFE COPY EXECUTION"}, "SKIP BFE COPY EXECUTION": {"Type": "Pass", "Next": "ALIGNIQ COPY EXECUTION"}, "ALIGNIQ COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ALIGNIQ_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP ALIGNIQ COPY EXECUTION"}], "Default": "START ALIGNIQ COPY EXECUTION"}, "START ALIGNIQ COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.ALIGNIQ_COPY EXECUTION", "Parameters": {"SRC_NAME": "aligniq"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP ALIGNIQ COPY EXECUTION"}, "SKIP ALIGNIQ COPY EXECUTION": {"Type": "Pass", "Next": "MWSAGILE COPY EXECUTION"}, "MWSAGILE COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MWSAGILE_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP MWSAGILE COPY EXECUTION"}], "Default": "START MWSAGILE COPY EXECUTION"}, "START MWSAGILE COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.MWSAGILE_COPY EXECUTION", "Parameters": {"SRC_NAME": "mwsagile"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP MWSAGILE COPY EXECUTION"}, "SKIP MWSAGILE COPY EXECUTION": {"Type": "Pass", "Next": "MUST COPY EXECUTION"}, "MUST COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP MUST COPY EXECUTION"}], "Default": "START MUST COPY EXECUTION"}, "START MUST COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.MUST_COPY EXECUTION", "Parameters": {"SRC_NAME": "must"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP MUST COPY EXECUTION"}, "SKIP MUST COPY EXECUTION": {"Type": "Pass", "Next": "PQW COPY EXECUTION"}, "PQW COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PQW_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP PQW COPY EXECUTION"}], "Default": "START PQW COPY EXECUTION"}, "START PQW COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.PQW_COPY EXECUTION", "Parameters": {"SRC_NAME": "pqw"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP PQW COPY EXECUTION"}, "SKIP PQW COPY EXECUTION": {"Type": "Pass", "Next": "SALESFORCE COPY EXECUTION"}, "SALESFORCE COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SALESFORCE_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP SALESFORCE COPY EXECUTION"}], "Default": "START SALESFORCE COPY EXECUTION"}, "START SALESFORCE COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.SALESFORCE_COPY EXECUTION", "Parameters": {"SRC_NAME": "salesforce"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP SALESFORCE COPY EXECUTION"}, "SKIP SALESFORCE COPY EXECUTION": {"Type": "Pass", "Next": "APTTUS COPY EXECUTION"}, "APTTUS COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.APTTUS_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP APTTUS COPY EXECUTION"}], "Default": "START APTTUS COPY EXECUTION"}, "START APTTUS COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.APTTUS_COPY EXECUTION", "Parameters": {"SRC_NAME": "apttus"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP APTTUS COPY EXECUTION"}, "SKIP APTTUS COPY EXECUTION": {"Type": "Pass", "Next": "SERVICEMAX COPY EXECUTION"}, "SERVICEMAX COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SERVICEMAX_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP SERVICEMAX COPY EXECUTION"}], "Default": "START SERVICEMAX COPY EXECUTION"}, "START SERVICEMAX COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.SERVICEMAX_COPY EXECUTION", "Parameters": {"SRC_NAME": "servicemax"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP SERVICEMAX COPY EXECUTION"}, "SKIP SERVICEMAX COPY EXECUTION": {"Type": "Pass", "Next": "GLPROD COPY EXECUTION"}, "GLPROD COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP GLPROD COPY EXECUTION"}], "Default": "START GLPROD COPY EXECUTION"}, "START GLPROD COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.GLPROD_COPY EXECUTION", "Parameters": {"SRC_NAME": "glprod"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP GLPROD COPY EXECUTION"}, "SKIP GLPROD COPY EXECUTION": {"Type": "Pass", "Next": "FLAT_FILE COPY EXECUTION"}, "FLAT_FILE COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.FLAT_FILE_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP FLAT_FILE COPY EXECUTION"}], "Default": "START FLAT_FILE COPY EXECUTION"}, "START FLAT_FILE COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.FLAT_FILE_COPY EXECUTION", "Parameters": {"SRC_NAME": "flat_file"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP FLAT_FILE COPY EXECUTION"}, "SKIP FLAT_FILE COPY EXECUTION": {"Type": "Pass", "Next": "RULE_STUDIO COPY EXECUTION"}, "RULE_STUDIO COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RULE_STUDIO_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP RULE_STUDIO COPY EXECUTION"}], "Default": "START RULE_STUDIO COPY EXECUTION"}, "START RULE_STUDIO COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.RULE_STUDIO_COPY EXECUTION", "Parameters": {"SRC_NAME": "rule_studio"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP RULE_STUDIO COPY EXECUTION"}, "SKIP RULE_STUDIO COPY EXECUTION": {"Type": "Pass", "Next": "BF_EDHR_CS COPY EXECUTION"}, "BF_EDHR_CS COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.BF_EDHR_CS_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP BF_EDHR_CS COPY EXECUTION"}], "Default": "START BF_EDHR_CS COPY EXECUTION"}, "START BF_EDHR_CS COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.BF_EDHR_CS_COPY EXECUTION", "Parameters": {"SRC_NAME": "bf_edhr_cs"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP BF_EDHR_CS COPY EXECUTION"}, "SKIP BF_EDHR_CS COPY EXECUTION": {"Type": "Pass", "Next": "NVO COPY EXECUTION"}, "NVO COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NVO_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP NVO COPY EXECUTION"}], "Default": "START NVO COPY EXECUTION"}, "START NVO COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.NVO_COPY EXECUTION", "Parameters": {"SRC_NAME": "nvo"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP NVO COPY EXECUTION"}, "SKIP NVO COPY EXECUTION": {"Type": "Pass", "Next": "ELICENSE COPY EXECUTION"}, "ELICENSE COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ELICENSE_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP ELICENSE COPY EXECUTION"}], "Default": "START ELICENSE COPY EXECUTION"}, "START ELICENSE COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.ELICENSE_COPY EXECUTION", "Parameters": {"SRC_NAME": "elicense"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP ELICENSE COPY EXECUTION"}, "SKIP ELICENSE COPY EXECUTION": {"Type": "Pass", "Next": "GIB COPY EXECUTION"}, "GIB COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GIB_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP GIB COPY EXECUTION"}], "Default": "START GIB COPY EXECUTION"}, "START GIB COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.GIB_COPY EXECUTION", "Parameters": {"SRC_NAME": "gib"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP GIB COPY EXECUTION"}, "SKIP GIB COPY EXECUTION": {"Type": "Pass", "Next": "DRM COPY EXECUTION"}, "DRM COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DRM_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP DRM COPY EXECUTION"}], "Default": "START DRM COPY EXECUTION"}, "START DRM COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.DRM_COPY EXECUTION", "Parameters": {"SRC_NAME": "drm"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP DRM COPY EXECUTION"}, "SKIP DRM COPY EXECUTION": {"Type": "Pass", "Next": "SIEBEL_AMERICAS COPY EXECUTION"}, "SIEBEL_AMERICAS COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SIEBEL_AMERICAS_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP SIEBEL_AMERICAS COPY EXECUTION"}], "Default": "START SIEBEL_AMERICAS COPY EXECUTION"}, "START SIEBEL_AMERICAS COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.SIEBEL_AMERICAS_COPY EXECUTION", "Parameters": {"SRC_NAME": "siebel_americas"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP SIEBEL_AMERICAS COPY EXECUTION"}, "SKIP SIEBEL_AMERICAS COPY EXECUTION": {"Type": "Pass", "Next": "CSO COPY EXECUTION"}, "CSO COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CSO_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP CSO COPY EXECUTION"}], "Default": "START CSO COPY EXECUTION"}, "START CSO COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.CSO_COPY EXECUTION", "Parameters": {"SRC_NAME": "cso"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP CSO COPY EXECUTION"}, "SKIP CSO COPY EXECUTION": {"Type": "Pass", "Next": "SIT COPY EXECUTION"}, "SIT COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SIT_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP SIT COPY EXECUTION"}], "Default": "START SIT COPY EXECUTION"}, "START SIT COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.SIT_COPY EXECUTION", "Parameters": {"SRC_NAME": "sit"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP SIT COPY EXECUTION"}, "SKIP SIT COPY EXECUTION": {"Type": "Pass", "Next": "GPM COPY EXECUTION"}, "GPM COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GPM_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP GPM COPY EXECUTION"}], "Default": "START GPM COPY EXECUTION"}, "START GPM COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.GPM_COPY EXECUTION", "Parameters": {"SRC_NAME": "gpm"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP GPM COPY EXECUTION"}, "SKIP GPM COPY EXECUTION": {"Type": "Pass", "Next": "CHU COPY EXECUTION"}, "CHU COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CHU_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP CHU COPY EXECUTION"}], "Default": "START CHU COPY EXECUTION"}, "START CHU COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.CHU_COPY EXECUTION", "Parameters": {"SRC_NAME": "chu"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP CHU COPY EXECUTION"}, "SKIP CHU COPY EXECUTION": {"Type": "Pass", "Next": "MAPP_FLAT_FILE COPY EXECUTION"}, "MAPP_FLAT_FILE COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_FLAT_FILE_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP MAPP_FLAT_FILE COPY EXECUTION"}], "Default": "START MAPP_FLAT_FILE COPY EXECUTION"}, "START MAPP_FLAT_FILE COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.MAPP_FLAT_FILE_COPY EXECUTION", "Parameters": {"SRC_NAME": "mapp_flat_file"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP MAPP_FLAT_FILE COPY EXECUTION"}, "SKIP MAPP_FLAT_FILE COPY EXECUTION": {"Type": "Pass", "Next": "MAPP_GLPROD COPY EXECUTION"}, "MAPP_GLPROD COPY EXECUTION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_GLPROD_COPY_EXECUTION", "StringEquals": "Y", "Next": "SKIP MAPP_GLPROD COPY EXECUTION"}], "Default": "START MAPP_GLPROD COPY EXECUTION"}, "START MAPP_GLPROD COPY EXECUTION": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mirror_file_split_metadata_update", "ResultPath": "$.MAPP_GLPROD_COPY EXECUTION", "Parameters": {"SRC_NAME": "mapp_glprod"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_COPY EXECUTION_FAILED"}], "Next": "SKIP MAPP_GLPROD COPY EXECUTION"}, "SKIP MAPP_GLPROD COPY EXECUTION": {"Type": "Pass", "Next": "SNS_COPY_COMMAND_EXECUTION_SUCCESS"}, "SNS_COPY_COMMAND_EXECUTION_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS STEP FUNCTION FOR COPY_EXECUTION_FILE_SPLIT_METADATA_UPDATE COMPLETED SUCCESSFULLY!!"}}, "End": true}}}