PROD_JobConfig/StepFunction/Input/DQ_SPOTFIRE_DAILY_REFRESH.json
{"StartAt": "REFRESH SPOTFIRE DATA INTEGRITY DASHBOARD1", "States": {"REFRESH SPOTFIRE DATA INTEGRITY DASHBOARD1": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Project-X CTS/Analysis/Data Integrity"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE DATA INTEGRITY DASHBOARD2", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED DATA INTEGRITY DASHBOARD1"}]}, "SNS FAILED DATA INTEGRITY DASHBOARD1": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Step Function for Spotfire Refresh Data Integrity Dashboard Failed!"}, "Next": "REFRESH SPOTFIRE DATA INTEGRITY DASHBOARD2"}, "REFRESH SPOTFIRE DATA INTEGRITY DASHBOARD2": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Platform Monitoring/Data Integrity/Analysis/Data Integrity"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "End": true, "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED DATA INTEGRITY DASHBOARD2"}]}, "SNS FAILED DATA INTEGRITY DASHBOARD2": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Step Function for Spotfire Refresh Data Integrity Dashboard Failed!"}, "End": true}}}