PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_SERVICEMAX.json
{"StartAt": "StartParallel", "States": {"StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "IB_INTEL_COMPACTION_SERVICEMAX1", "States": {"IB_INTEL_COMPACTION_SERVICEMAX1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_COMPACTION_SERVICEMAX1", "StringEquals": "Y", "Next": "PASS IB_INTEL_COMPACTION_SERVICEMAX1"}], "Default": "LOAD IB_INTEL_COMPACTION_SERVICEMAX1"}, "LOAD IB_INTEL_COMPACTION_SERVICEMAX1": {"Type": "Task", "ResultPath": "$.IB_INTEL_COMPACTION_SERVICEMAX1", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_contract_products__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_plan__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__parts_pricing__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_contract_services__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__labor_pricing__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__expense_pricing__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_gs_business_hour__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_recordtype": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_global_business_hours_days__c": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_COMPACTION_SERVICEMAX1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_COMPACTION_SERVICEMAX1_FAILED"}], "Next": "PASS IB_INTEL_COMPACTION_SERVICEMAX1"}, "SNS_IB_INTEL_COMPACTION_SERVICEMAX1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for IB_INTEL_COMPACTION_SERVICEMAX1 Failed!"}, "Next": "IB_INTEL_COMPACTION_SERVICEMAX1_ACTIVITY"}, "IB_INTEL_COMPACTION_SERVICEMAX1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_IB_INTEL_COMPACTION_SERVICEMAX1_ACTIVITY", "End": true}, "PASS IB_INTEL_COMPACTION_SERVICEMAX1": {"Type": "Pass", "End": true}}}, {"StartAt": "IB_INTEL_COMPACTION_SERVICEMAX2", "States": {"IB_INTEL_COMPACTION_SERVICEMAX2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_COMPACTION_SERVICEMAX2", "StringEquals": "Y", "Next": "PASS IB_INTEL_COMPACTION_SERVICEMAX2"}], "Default": "LOAD IB_INTEL_COMPACTION_SERVICEMAX2"}, "LOAD IB_INTEL_COMPACTION_SERVICEMAX2": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.IB_INTEL_COMPACTION_SERVICEMAX2", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__resource_preference__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_contract__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_group_members__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_level__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_offerings__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__sla_detail__c": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_COMPACTION_SERVICEMAX2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_COMPACTION_SERVICEMAX2_FAILED"}], "Next": "PASS IB_INTEL_COMPACTION_SERVICEMAX2"}, "SNS_IB_INTEL_COMPACTION_SERVICEMAX2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for IB_INTEL_COMPACTION_SERVICEMAX2 Failed!"}, "Next": "IB_INTEL_COMPACTION_SERVICEMAX2_ACTIVITY"}, "IB_INTEL_COMPACTION_SERVICEMAX2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_IB_INTEL_COMPACTION_SERVICEMAX2_ACTIVITY", "End": true}, "PASS IB_INTEL_COMPACTION_SERVICEMAX2": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Task", "InputPath": "$.parallelResult", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_SERVICEMAX_COMPACTION_SUCCESS"}, "SNS_SERVICEMAX_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for COMPACTION_SERVICEMAX completed successfully!!"}}, "End": true}}}