PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_SIT2.json
{"StartAt": "START SIT COMPACTION JOBS", "States": {"START SIT COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SIT_S_ENTLMNT", "States": {"SIT_S_ENTLMNT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_entlmnt", "StringEquals": "Y", "Next": "PASS SIT_S_ENTLMNT"}], "Default": "LOAD SIT_S_ENTLMNT"}, "LOAD SIT_S_ENTLMNT": {"Type": "Task", "ResultPath": "$.SIT_S_ENTLMNT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_entlmnt", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ENTLMNT_FAILED"}], "Next": "PASS SIT_S_ENTLMNT"}, "SNS_SIT_S_ENTLMNT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_ENTLMNT Failed!"}, "Next": "SIT_S_ENTLMNT_ACTIVITY"}, "SIT_S_ENTLMNT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ENTLMNT_ACTIVITY", "End": true}, "PASS SIT_S_ENTLMNT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ENTLMNT_ITEM", "States": {"SIT_S_ENTLMNT_ITEM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_entlmnt_item", "StringEquals": "Y", "Next": "PASS SIT_S_ENTLMNT_ITEM"}], "Default": "LOAD SIT_S_ENTLMNT_ITEM"}, "LOAD SIT_S_ENTLMNT_ITEM": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SIT_S_ENTLMNT_ITEM", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_entlmnt_item", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ENTLMNT_ITEM_FAILED"}], "Next": "PASS SIT_S_ENTLMNT_ITEM"}, "SNS_SIT_S_ENTLMNT_ITEM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIT_S_ENTLMNT_ITEM Failed!"}, "Next": "SIT_S_ENTLMNT_ITEM_ACTIVITY"}, "SIT_S_ENTLMNT_ITEM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ENTLMNT_ITEM_ACTIVITY", "End": true}, "PASS SIT_S_ENTLMNT_ITEM": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ASSET", "States": {"SIT_S_ASSET": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_asset", "StringEquals": "Y", "Next": "PASS SIT_S_ASSET"}], "Default": "LOAD SIT_S_ASSET"}, "LOAD SIT_S_ASSET": {"Type": "Task", "ResultPath": "$.SIT_S_ASSET", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_asset", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ASSET_FAILED"}], "Next": "PASS SIT_S_ASSET"}, "SNS_SIT_S_ASSET_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_ASSET Failed!"}, "Next": "SIT_S_ASSET_ACTIVITY"}, "SIT_S_ASSET_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ASSET_ACTIVITY", "End": true}, "PASS SIT_S_ASSET": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_PROD_INT_XM", "States": {"SIT_S_PROD_INT_XM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_prod_int_xm", "StringEquals": "Y", "Next": "PASS SIT_S_PROD_INT_XM"}], "Default": "LOAD SIT_S_PROD_INT_XM"}, "LOAD SIT_S_PROD_INT_XM": {"Type": "Task", "ResultPath": "$.SIT_S_PROD_INT_XM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_prod_int_xm", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_PROD_INT_XM_FAILED"}], "Next": "PASS SIT_S_PROD_INT_XM"}, "SNS_SIT_S_PROD_INT_XM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_PROD_INT_XM Failed!"}, "Next": "SIT_S_PROD_INT_XM_ACTIVITY"}, "SIT_S_PROD_INT_XM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_PROD_INT_XM_ACTIVITY", "End": true}, "PASS SIT_S_PROD_INT_XM": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ASSET_X", "States": {"SIT_S_ASSET_X": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_asset_x", "StringEquals": "Y", "Next": "PASS SIT_S_ASSET_X"}], "Default": "LOAD SIT_S_ASSET_X"}, "LOAD SIT_S_ASSET_X": {"Type": "Task", "ResultPath": "$.SIT_S_ASSET_X", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_asset_x", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ASSET_X_FAILED"}], "Next": "PASS SIT_S_ASSET_X"}, "SNS_SIT_S_ASSET_X_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_ASSET_X Failed!"}, "Next": "SIT_S_ASSET_X_ACTIVITY"}, "SIT_S_ASSET_X_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ASSET_X_ACTIVITY", "End": true}, "PASS SIT_S_ASSET_X": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_ASSET_XM", "States": {"SIT_S_ASSET_XM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_asset_xm", "StringEquals": "Y", "Next": "PASS SIT_S_ASSET_XM"}], "Default": "LOAD SIT_S_ASSET_XM"}, "LOAD SIT_S_ASSET_XM": {"Type": "Task", "ResultPath": "$.SIT_S_ASSET_XM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_asset_xm", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ASSET_XM_FAILED"}], "Next": "PASS SIT_S_ASSET_XM"}, "SNS_SIT_S_ASSET_XM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_ASSET_XM Failed!"}, "Next": "SIT_S_ASSET_XM_ACTIVITY"}, "SIT_S_ASSET_XM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_ASSET_XM_ACTIVITY", "End": true}, "PASS SIT_S_ASSET_XM": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_DOC_AGREE", "States": {"SIT_S_DOC_AGREE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_doc_agree", "StringEquals": "Y", "Next": "PASS SIT_S_DOC_AGREE"}], "Default": "LOAD SIT_S_DOC_AGREE"}, "LOAD SIT_S_DOC_AGREE": {"Type": "Task", "ResultPath": "$.SIT_S_DOC_AGREE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_doc_agree", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_DOC_AGREE_FAILED"}], "Next": "PASS SIT_S_DOC_AGREE"}, "SNS_SIT_S_DOC_AGREE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_DOC_AGREE Failed!"}, "Next": "SIT_S_DOC_AGREE_ACTIVITY"}, "SIT_S_DOC_AGREE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_DOC_AGREE_ACTIVITY", "End": true}, "PASS SIT_S_DOC_AGREE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_AGREE_ITEM", "States": {"SIT_S_AGREE_ITEM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_sit_s_agree_item", "StringEquals": "Y", "Next": "PASS SIT_S_AGREE_ITEM"}], "Default": "LOAD SIT_S_AGREE_ITEM"}, "LOAD SIT_S_AGREE_ITEM": {"Type": "Task", "ResultPath": "$.SIT_S_AGREE_ITEM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_sit_s_agree_item", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_AGREE_ITEM_FAILED"}], "Next": "PASS SIT_S_AGREE_ITEM"}, "SNS_SIT_S_AGREE_ITEM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_AGREE_ITEM Failed!"}, "Next": "SIT_S_AGREE_ITEM_ACTIVITY"}, "SIT_S_AGREE_ITEM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIT_S_AGREE_ITEM_ACTIVITY", "End": true}, "PASS SIT_S_AGREE_ITEM": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SIT_COMPACTION_SUCCESS"}, "SNS_SIT_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SIT COMPACTION completed successfully!!"}}, "End": true}}}