PROD_JobConfig/StepFunction/Input/IB_INTEL_ENTITY_INACTIVE_ASSET_D.json
{"StartAt": "START IB_INTEL_ENTITY_INACTIVE_ASSET_D SCHEDULE", "States": {"START IB_INTEL_ENTITY_INACTIVE_ASSET_D SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "INACTIVE_ASSET_D"}, "INACTIVE_ASSET_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.INACTIVE_ASSET_D", "StringEquals": "Y", "Next": "SKIP INACTIVE_ASSET_D"}], "Default": "LOAD INACTIVE_ASSET_D"}, "LOAD INACTIVE_ASSET_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INACTIVE_ASSET_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_INACTIVE_ASSET_D()", "--query_tag": "IBE-srv_asset_INACTIVE_ASSET_D", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_INACTIVE_ASSET_D_FAILED"}], "Next": "SKIP INACTIVE_ASSET_D"}, "SNS_INACTIVE_ASSET_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR INACTIVE_ASSET_D FAILED!"}, "End": false}, "SKIP INACTIVE_ASSET_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_ENTITY_INACTIVE_ASSET_D_SUCCESS"}, "SNS_IB_INTEL_ENTITY_INACTIVE_ASSET_D_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_ENTITY_INACTIVE_ASSET_D completed successfully!!"}}, "End": true}}}