PROD_JobConfig/StepFunction/Input/IB_INTEL_CDS_RECONCILIATION.json
{"StartAt": "START IB_INTEL_CDS_RECONCILIATION SCHEDULE", "States": {"START IB_INTEL_CDS_RECONCILIATION SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "RECONCILE_F", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "RECONCILE_SAM", "States": {"RECONCILE_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RECONCILE_SAM", "StringEquals": "Y", "Next": "SKIP RECONCILE_SAM"}], "Default": "LOAD RECONCILE_SAM"}, "LOAD RECONCILE_SAM": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RECONCILE_SAM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_ib_reconcile_sam()", "--query_tag": "IBC-srv_asset_ib_reconcile_sam", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RECONCILE_SAM_FAILED"}], "Next": "SKIP RECONCILE_SAM"}, "SNS_RECONCILE_SAM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR RECONCILE_SAM FAILED!"}, "Next": "RECONCILE_SAM_ACTIVITY"}, "RECONCILE_SAM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_INTEL_CDS_RECONCILE_SAM_ACTIVITY", "End": true}, "SKIP RECONCILE_SAM": {"Type": "Pass", "End": true}}}, {"StartAt": "RECONCILE_SIT", "States": {"RECONCILE_SIT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RECONCILE_SIT", "StringEquals": "Y", "Next": "SKIP RECONCILE_SIT"}], "Default": "LOAD RECONCILE_SIT"}, "LOAD RECONCILE_SIT": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RECONCILE_SIT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_ib_reconcile_sit()", "--query_tag": "IBC-srv_asset_ib_reconcile_sit", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RECONCILE_SIT_FAILED"}], "Next": "SKIP RECONCILE_SIT"}, "SNS_RECONCILE_SIT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR RECONCILE_SIT FAILED!"}, "Next": "RECONCILE_SIT_ACTIVITY"}, "RECONCILE_SIT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_INTEL_CDS_RECONCILE_SIT_ACTIVITY", "End": true}, "SKIP RECONCILE_SIT": {"Type": "Pass", "End": true}}}, {"StartAt": "RECONCILE_MUST", "States": {"RECONCILE_MUST": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RECONCILE_MUST", "StringEquals": "Y", "Next": "SKIP RECONCILE_MUST"}], "Default": "LOAD RECONCILE_MUST"}, "LOAD RECONCILE_MUST": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RECONCILE_MUST", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_ib_reconcile_must()", "--query_tag": "IBC-rv_asset_ib_reconcile_must", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RECONCILE_MUST_FAILED"}], "Next": "SKIP RECONCILE_MUST"}, "SNS_RECONCILE_MUST_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR RECONCILE_MUST FAILED!"}, "Next": "RECONCILE_MUST_ACTIVITY"}, "RECONCILE_MUST_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_INTEL_CDS_RECONCILE_MUST_ACTIVITY", "End": true}, "SKIP RECONCILE_MUST": {"Type": "Pass", "End": true}}}, {"StartAt": "RECONCILE_SMAX", "States": {"RECONCILE_SMAX": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RECONCILE_SMAX", "StringEquals": "Y", "Next": "SKIP RECONCILE_SMAX"}], "Default": "LOAD RECONCILE_SMAX"}, "LOAD RECONCILE_SMAX": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RECONCILE_SMAX", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_ib_reconcile_smax()", "--query_tag": "IBC-rv_asset_ib_reconcile_smax", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RECONCILE_SMAX_FAILED"}], "Next": "SKIP RECONCILE_SMAX"}, "SNS_RECONCILE_SMAX_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR RECONCILE_SMAX FAILED!"}, "Next": "RECONCILE_SMAX_ACTIVITY"}, "RECONCILE_SMAX_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_INTEL_CDS_RECONCILE_SMAX_ACTIVITY", "End": true}, "SKIP RECONCILE_SMAX": {"Type": "Pass", "End": true}}}]}, "RECONCILE_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RECONCILE_F", "StringEquals": "Y", "Next": "SKIP RECONCILE_F"}], "Default": "LOAD RECONCILE_F"}, "LOAD RECONCILE_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RECONCILE_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_ib_reconcile_f()", "--query_tag": "IBC-p_srv_asset_ib_reconcile_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RECONCILE_F_FAILED"}], "Next": "SKIP RECONCILE_F"}, "SNS_RECONCILE_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR RECONCILE_F FAILED!"}, "End": false}, "SKIP RECONCILE_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_CDS_RECONCILIATION_SUCCESS"}, "SNS_IB_INTEL_CDS_RECONCILIATION_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_CDS_RECONCILIATION completed successfully!!"}}, "End": true}}}