PROD_JobConfig/StepFunction/Input/IB_INTEL_CDS_MASTER_HIST_2019.json
{"StartAt": "START IB_INTEL_CDS_MASTER_HIST_2019 SCHEDULE", "States": {"START IB_INTEL_CDS_MASTER_HIST_2019 SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "MASTER_HIST_2019"}, "MASTER_HIST_2019": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MASTER_HIST_2019", "StringEquals": "Y", "Next": "SKIP MASTER_HIST_2019"}], "Default": "LOAD MASTER_HIST_2019"}, "LOAD MASTER_HIST_2019": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MASTER_HIST_2019", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "5", "--rs_proc_name": "hdl_services_sp.sp_master_hist_2019('201901', '201912')", "--query_tag": "IBC-sp_master_hist_2019", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MASTER_HIST_2019_FAILED"}], "Next": "SKIP MASTER_HIST_2019"}, "SNS_MASTER_HIST_2019_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR MASTER_HIST_2019 FAILED!"}, "End": false}, "SKIP MASTER_HIST_2019": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_CDS_MASTER_HIST_2019_SUCCESS"}, "SNS_IB_INTEL_CDS_MASTER_HIST_2019_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_CDS_MASTER_HIST_2019 completed successfully!!"}}, "End": true}}}