PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_SIEBEL_AMERICAS2.json
{"StartAt": "START SIEBEL_AMERICAS COMPACTION JOBS", "States": {"START SIEBEL_AMERICAS COMPACTION JOBS": {"Type": "Wait", "InputPath": "$", "Seconds": 3, "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SIEBEL_AMERICAS_S_ASSET_REL", "States": {"SIEBEL_AMERICAS_S_ASSET_REL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_rel", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ASSET_REL"}], "Default": "LOAD SIEBEL_AMERICAS_S_ASSET_REL"}, "LOAD SIEBEL_AMERICAS_S_ASSET_REL": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ASSET_REL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_rel", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ASSET_REL_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ASSET_REL"}, "SNS_SIEBEL_AMERICAS_S_ASSET_REL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ASSET_REL Failed!"}, "Next": "SIEBEL_AMERICAS_S_ASSET_REL_ACTIVITY"}, "SIEBEL_AMERICAS_S_ASSET_REL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ASSET_REL_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ASSET_REL": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ASSET_WRNTY", "States": {"SIEBEL_AMERICAS_S_ASSET_WRNTY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_wrnty", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ASSET_WRNTY"}], "Default": "LOAD SIEBEL_AMERICAS_S_ASSET_WRNTY"}, "LOAD SIEBEL_AMERICAS_S_ASSET_WRNTY": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SIEBEL_AMERICAS_S_ASSET_WRNTY", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_wrnty", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ASSET_WRNTY_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ASSET_WRNTY"}, "SNS_SIEBEL_AMERICAS_S_ASSET_WRNTY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SIEBEL_AMERICAS_S_ASSET_WRNTY Failed!"}, "Next": "SIEBEL_AMERICAS_S_ASSET_WRNTY_ACTIVITY"}, "SIEBEL_AMERICAS_S_ASSET_WRNTY_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ASSET_WRNTY_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ASSET_WRNTY": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ASSET_X", "States": {"SIEBEL_AMERICAS_S_ASSET_X": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_x", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ASSET_X"}], "Default": "LOAD SIEBEL_AMERICAS_S_ASSET_X"}, "LOAD SIEBEL_AMERICAS_S_ASSET_X": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ASSET_X", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_x", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ASSET_X_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ASSET_X"}, "SNS_SIEBEL_AMERICAS_S_ASSET_X_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ASSET_X Failed!"}, "Next": "SIEBEL_AMERICAS_S_ASSET_X_ACTIVITY"}, "SIEBEL_AMERICAS_S_ASSET_X_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ASSET_X_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ASSET_X": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_DOC_AGREE", "States": {"SIEBEL_AMERICAS_S_DOC_AGREE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_doc_agree", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_DOC_AGREE"}], "Default": "LOAD SIEBEL_AMERICAS_S_DOC_AGREE"}, "LOAD SIEBEL_AMERICAS_S_DOC_AGREE": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_DOC_AGREE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_doc_agree", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_DOC_AGREE_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_DOC_AGREE"}, "SNS_SIEBEL_AMERICAS_S_DOC_AGREE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_DOC_AGREE Failed!"}, "Next": "SIEBEL_AMERICAS_S_DOC_AGREE_ACTIVITY"}, "SIEBEL_AMERICAS_S_DOC_AGREE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_DOC_AGREE_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_DOC_AGREE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ENTLMNT_ITEM", "States": {"SIEBEL_AMERICAS_S_ENTLMNT_ITEM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entlmnt_item", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ENTLMNT_ITEM"}], "Default": "LOAD SIEBEL_AMERICAS_S_ENTLMNT_ITEM"}, "LOAD SIEBEL_AMERICAS_S_ENTLMNT_ITEM": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ENTLMNT_ITEM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entlmnt_item", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ENTLMNT_ITEM_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ENTLMNT_ITEM"}, "SNS_SIEBEL_AMERICAS_S_ENTLMNT_ITEM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ENTLMNT_ITEM Failed!"}, "Next": "SIEBEL_AMERICAS_S_ENTLMNT_ITEM_ACTIVITY"}, "SIEBEL_AMERICAS_S_ENTLMNT_ITEM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ENTLMNT_ITEM_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ENTLMNT_ITEM": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ENTLMNT_MTRC", "States": {"SIEBEL_AMERICAS_S_ENTLMNT_MTRC": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entlmnt_mtrc", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ENTLMNT_MTRC"}], "Default": "LOAD SIEBEL_AMERICAS_S_ENTLMNT_MTRC"}, "LOAD SIEBEL_AMERICAS_S_ENTLMNT_MTRC": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ENTLMNT_MTRC", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entlmnt_mtrc", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ENTLMNT_MTRC_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ENTLMNT_MTRC"}, "SNS_SIEBEL_AMERICAS_S_ENTLMNT_MTRC_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ENTLMNT_MTRC Failed!"}, "Next": "SIEBEL_AMERICAS_S_ENTLMNT_MTRC_ACTIVITY"}, "SIEBEL_AMERICAS_S_ENTLMNT_MTRC_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ENTLMNT_MTRC_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ENTLMNT_MTRC": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_SCHED_CAL_HRS", "States": {"SIEBEL_AMERICAS_S_SCHED_CAL_HRS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_sched_cal_hrs", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_SCHED_CAL_HRS"}], "Default": "LOAD SIEBEL_AMERICAS_S_SCHED_CAL_HRS"}, "LOAD SIEBEL_AMERICAS_S_SCHED_CAL_HRS": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_SCHED_CAL_HRS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_sched_cal_hrs", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_SCHED_CAL_HRS_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_SCHED_CAL_HRS"}, "SNS_SIEBEL_AMERICAS_S_SCHED_CAL_HRS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_SCHED_CAL_HRS Failed!"}, "Next": "SIEBEL_AMERICAS_S_SCHED_CAL_HRS_ACTIVITY"}, "SIEBEL_AMERICAS_S_SCHED_CAL_HRS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_SCHED_CAL_HRS_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_SCHED_CAL_HRS": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_SRV_REGN", "States": {"SIEBEL_AMERICAS_S_SRV_REGN": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_regn", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_SRV_REGN"}], "Default": "LOAD SIEBEL_AMERICAS_S_SRV_REGN"}, "LOAD SIEBEL_AMERICAS_S_SRV_REGN": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_SRV_REGN", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_regn", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_SRV_REGN_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_SRV_REGN"}, "SNS_SIEBEL_AMERICAS_S_SRV_REGN_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_SRV_REGN Failed!"}, "Next": "SIEBEL_AMERICAS_S_SRV_REGN_ACTIVITY"}, "SIEBEL_AMERICAS_S_SRV_REGN_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_SRV_REGN_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_SRV_REGN": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_WRNTY_CVRG", "States": {"SIEBEL_AMERICAS_S_WRNTY_CVRG": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_wrnty_cvrg", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_WRNTY_CVRG"}], "Default": "LOAD SIEBEL_AMERICAS_S_WRNTY_CVRG"}, "LOAD SIEBEL_AMERICAS_S_WRNTY_CVRG": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_WRNTY_CVRG", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_wrnty_cvrg", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_WRNTY_CVRG_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_WRNTY_CVRG"}, "SNS_SIEBEL_AMERICAS_S_WRNTY_CVRG_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_WRNTY_CVRG Failed!"}, "Next": "SIEBEL_AMERICAS_S_WRNTY_CVRG_ACTIVITY"}, "SIEBEL_AMERICAS_S_WRNTY_CVRG_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_WRNTY_CVRG_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_WRNTY_CVRG": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_SRV_REGN_ZIP", "States": {"SIEBEL_AMERICAS_S_SRV_REGN_ZIP": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_regn_zip", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_SRV_REGN_ZIP"}], "Default": "LOAD SIEBEL_AMERICAS_S_SRV_REGN_ZIP"}, "LOAD SIEBEL_AMERICAS_S_SRV_REGN_ZIP": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_SRV_REGN_ZIP", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_srv_regn_zip", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_SRV_REGN_ZIP_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_SRV_REGN_ZIP"}, "SNS_SIEBEL_AMERICAS_S_SRV_REGN_ZIP_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_SRV_REGN_ZIP Failed!"}, "Next": "SIEBEL_AMERICAS_S_SRV_REGN_ZIP_ACTIVITY"}, "SIEBEL_AMERICAS_S_SRV_REGN_ZIP_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_SRV_REGN_ZIP_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_SRV_REGN_ZIP": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS"}, "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SIEBEL_AMERICAS COMPACTION completed successfully!!"}}, "End": true}}}