PROD_JobConfig/StepFunction/Input/IB_INTEL_CI_SR_SP_PPS_FUNC.json
{"StartAt": "START IB_INTEL_CI_SR_SP_PPS_FUNC SCHEDULE", "States": {"START IB_INTEL_CI_SR_SP_PPS_FUNC SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "SP_PPS_FUNC"}, "SP_PPS_FUNC": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SP_PPS_FUNC", "StringEquals": "Y", "Next": "SKIP SP_PPS_FUNC"}], "Default": "LOAD SP_PPS_FUNC"}, "LOAD SP_PPS_FUNC": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SP_PPS_FUNC", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_pps_func()"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SP_PPS_FUNC_FAILED"}], "Next": "SKIP SP_PPS_FUNC"}, "SNS_SP_PPS_FUNC_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SP_PPS_FUNC FAILED!"}, "End": false}, "SKIP SP_PPS_FUNC": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_CI_SR_SP_PPS_FUNC_SUCCESS"}, "SNS_IB_INTEL_CI_SR_SP_PPS_FUNC_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_CI_SR_SP_PPS_FUNC completed successfully!!"}}, "End": true}}}