PROD_JobConfig/StepFunction/Input/IB_INTEL_ENTITY_CDC_RESET.json
{"StartAt": "START IB_INTEL_ENTITY_CDC_RESET SCHEDULE", "States": {"START IB_INTEL_ENTITY_CDC_RESET SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "CDC_RESET"}, "CDC_RESET": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDC_RESET", "StringEquals": "Y", "Next": "SKIP CDC_RESET"}], "Default": "LOAD CDC_RESET"}, "LOAD CDC_RESET": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDC_RESET", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_ib_entity_cdc_reset()", "--query_tag": "IBE-sp_ib_entity_cdc_reset", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDC_RESET_FAILED"}], "Next": "SKIP CDC_RESET"}, "SNS_CDC_RESET_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDC_RESET FAILED!"}, "End": false}, "SKIP CDC_RESET": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_ENTITY_CDC_RESET_SUCCESS"}, "SNS_IB_INTEL_ENTITY_CDC_RESET_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_ENTITY_CDC_RESET completed successfully!!"}}, "End": true}}}