PROD_JobConfig/StepFunction/Input/IB_INTEL_CDS_QUART_LOWER_UPPER.json
{"StartAt": "START IB_INTEL_CDS_QUART_LOWER_UPPER SCHEDULE", "States": {"START IB_INTEL_CDS_QUART_LOWER_UPPER SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "CDS_QUART_LOWER_F"}, "CDS_QUART_LOWER_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDS_QUART_LOWER_F", "StringEquals": "Y", "Next": "SKIP CDS_QUART_LOWER_F"}], "Default": "LOAD CDS_QUART_LOWER_F"}, "LOAD CDS_QUART_LOWER_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDS_QUART_LOWER_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_cds_snap_quart_lower_f()", "--query_tag": "IBC-set_cds_snap_quart_lower_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDS_QUART_LOWER_F_FAILED"}], "Next": "SKIP CDS_QUART_LOWER_F"}, "SNS_CDS_QUART_LOWER_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDS_QUART_LOWER_F FAILED!"}, "End": false}, "SKIP CDS_QUART_LOWER_F": {"Type": "Pass", "Next": "CDS_QUART_UPPER_F"}, "CDS_QUART_UPPER_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDS_QUART_UPPER_F", "StringEquals": "Y", "Next": "SKIP CDS_QUART_UPPER_F"}], "Default": "LOAD CDS_QUART_UPPER_F"}, "LOAD CDS_QUART_UPPER_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDS_QUART_UPPER_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_cds_snap_quart_upper_f()", "--query_tag": "IBC-set_cds_snap_quart_upper_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDS_QUART_UPPER_F_FAILED"}], "Next": "SKIP CDS_QUART_UPPER_F"}, "SNS_CDS_QUART_UPPER_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDS_QUART_UPPER_F FAILED!"}, "End": false}, "SKIP CDS_QUART_UPPER_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_CDS_QUART_LOWER_UPPER_SUCCESS"}, "SNS_IB_INTEL_CDS_QUART_LOWER_UPPER_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_CDS_QUART_LOWER_UPPER completed successfully!!"}}, "End": true}}}