PROD_JobConfig/StepFunction/Input/IB_INTEL_CDS_MASTER_SCHEDULE.json
{"StartAt": "START IB_INTEL_CDS_MASTER SCHEDULE", "States": {"START IB_INTEL_CDS_MASTER SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "IB_INTEL_CDS_DTL_F"}, "IB_INTEL_CDS_DTL_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_DTL_F", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_DTL_F"}], "Default": "LOAD IB_INTEL_CDS_DTL_F"}, "LOAD IB_INTEL_CDS_DTL_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_DTL_F", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"CDS_SAM_TEMP": "N", "CDS_SIT_TEMP": "N", "CDS_MUST_TEMP": "N", "CDS_SMAX_TEMP": "N", "CDS_DTL_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_DTL_F"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_DTL_F"}, "SNS_IB_INTEL_CDS_MASTER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS CHILD STEP FUNCTION FOR IB_INTEL_CDS_MASTER FAILED!"}, "End": false}, "PASS IB_INTEL_CDS_DTL_F": {"Type": "Pass", "Next": "IB_INTEL_CDS_SNAP_F"}, "IB_INTEL_CDS_SNAP_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_SNAP_F", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_SNAP_F"}], "Default": "LOAD IB_INTEL_CDS_SNAP_F"}, "LOAD IB_INTEL_CDS_SNAP_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_SNAP_F", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"CDS_SNAP_FS": "N", "CDS_SNAP_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_SNAP_F"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_SNAP_F"}, "PASS IB_INTEL_CDS_SNAP_F": {"Type": "Pass", "Next": "IB_INTEL_CDS_SUMMARY"}, "IB_INTEL_CDS_SUMMARY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_SUMMARY", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_SUMMARY"}], "Default": "LOAD IB_INTEL_CDS_SUMMARY"}, "LOAD IB_INTEL_CDS_SUMMARY": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_SUMMARY", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"CDS_SUMM_F_XS": "N", "CDS_SUMM_F_X": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_SUMMARY"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_SUMMARY"}, "PASS IB_INTEL_CDS_SUMMARY": {"Type": "Pass", "Next": "IB_INTEL_CDS_QUART_LOWER_UPPER"}, "IB_INTEL_CDS_QUART_LOWER_UPPER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_QUART_LOWER_UPPER", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_QUART_LOWER_UPPER"}], "Default": "LOAD IB_INTEL_CDS_QUART_LOWER_UPPER"}, "LOAD IB_INTEL_CDS_QUART_LOWER_UPPER": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_QUART_LOWER_UPPER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"CDS_QUART_LOWER_F": "N", "CDS_QUART_UPPER_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_QUART_LOWER_UPPER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_QUART_LOWER_UPPER"}, "PASS IB_INTEL_CDS_QUART_LOWER_UPPER": {"Type": "Pass", "Next": "IB_INTEL_CDS_RECONCILIATION"}, "IB_INTEL_CDS_RECONCILIATION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_RECONCILIATION", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_RECONCILIATION"}], "Default": "LOAD IB_INTEL_CDS_RECONCILIATION"}, "LOAD IB_INTEL_CDS_RECONCILIATION": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_RECONCILIATION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"RECONCILE_SAM": "N", "RECONCILE_SIT": "N", "RECONCILE_MUST": "N", "RECONCILE_SMAX": "N", "RECONCILE_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_RECONCILIATION"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_RECONCILIATION"}, "PASS IB_INTEL_CDS_RECONCILIATION": {"Type": "Pass", "Next": "IB_INTEL_CDS_EXECUTIVE"}, "IB_INTEL_CDS_EXECUTIVE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_EXECUTIVE", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_EXECUTIVE"}], "Default": "LOAD IB_INTEL_CDS_EXECUTIVE"}, "LOAD IB_INTEL_CDS_EXECUTIVE": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_EXECUTIVE", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"MASTER_IBOW_IBIC_TOTLIBCNT": "N", "EXEC_WALK_IBIC": "N", "EXEC_WALK_IBOW": "N", "EXEC_WALK_TOTLIBCNT": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_EXECUTIVE"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_EXECUTIVE"}, "PASS IB_INTEL_CDS_EXECUTIVE": {"Type": "Pass", "Next": "IB_INTEL_CDS_ERROR"}, "IB_INTEL_CDS_ERROR": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_CDS_ERROR", "StringEquals": "Y", "Next": "PASS IB_INTEL_CDS_ERROR"}], "Default": "LOAD IB_INTEL_CDS_ERROR"}, "LOAD IB_INTEL_CDS_ERROR": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IB_INTEL_CDS_ERROR", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"CDS_IB_ERROR": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_CDS_ERROR"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IB_INTEL_CDS_MASTER_FAILED"}], "Next": "PASS IB_INTEL_CDS_ERROR"}, "PASS IB_INTEL_CDS_ERROR": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_CDS_MASTER_SUCCESS"}, "SNS_IB_INTEL_CDS_MASTER_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_CDS_MASTER_SCHEDULE completed successfully!!"}}, "End": true}}}