PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_MUST.json
{"StartAt": "START MUST COMPACTION JOBS", "States": {"START MUST COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MUST_CONTRACT1", "States": {"MUST_CONTRACT1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_contract1", "StringEquals": "Y", "Next": "PASS MUST_CONTRACT1"}], "Default": "LOAD MUST_CONTRACT1"}, "LOAD MUST_CONTRACT1": {"Type": "Task", "ResultPath": "$.MUST_CONTRACT1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_contract1", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_CONTRACT1_FAILED"}], "Next": "PASS MUST_CONTRACT1"}, "SNS_MUST_CONTRACT1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_CONTRACT1 Failed!"}, "Next": "MUST_CONTRACT1_ACTIVITY"}, "MUST_CONTRACT1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_CONTRACT1_ACTIVITY", "End": true}, "PASS MUST_CONTRACT1": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_DTLCTRTYP", "States": {"MUST_DTLCTRTYP": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_dtlctrtyp", "StringEquals": "Y", "Next": "PASS MUST_DTLCTRTYP"}], "Default": "LOAD MUST_DTLCTRTYP"}, "LOAD MUST_DTLCTRTYP": {"Type": "Task", "ResultPath": "$.MUST_DTLCTRTYP", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_dtlctrtyp", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_DTLCTRTYP_FAILED"}], "Next": "PASS MUST_DTLCTRTYP"}, "SNS_MUST_DTLCTRTYP_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_DTLCTRTYP Failed!"}, "Next": "MUST_DTLCTRTYP_ACTIVITY"}, "MUST_DTLCTRTYP_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_DTLCTRTYP_ACTIVITY", "End": true}, "PASS MUST_DTLCTRTYP": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_CONTRACT2", "States": {"MUST_CONTRACT2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_contract2", "StringEquals": "Y", "Next": "PASS MUST_CONTRACT2"}], "Default": "LOAD MUST_CONTRACT2"}, "LOAD MUST_CONTRACT2": {"Type": "Task", "ResultPath": "$.MUST_CONTRACT2", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_contract2", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_CONTRACT2_FAILED"}], "Next": "PASS MUST_CONTRACT2"}, "SNS_MUST_CONTRACT2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_CONTRACT2 Failed!"}, "Next": "MUST_CONTRACT2_ACTIVITY"}, "MUST_CONTRACT2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_CONTRACT2_ACTIVITY", "End": true}, "PASS MUST_CONTRACT2": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_DTLCTRDFS", "States": {"MUST_DTLCTRDFS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_dtlctrdfs", "StringEquals": "Y", "Next": "PASS MUST_DTLCTRDFS"}], "Default": "LOAD MUST_DTLCTRDFS"}, "LOAD MUST_DTLCTRDFS": {"Type": "Task", "ResultPath": "$.MUST_DTLCTRDFS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_dtlctrdfs", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_DTLCTRDFS_FAILED"}], "Next": "PASS MUST_DTLCTRDFS"}, "SNS_MUST_DTLCTRDFS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_DTLCTRDFS Failed!"}, "Next": "MUST_DTLCTRDFS_ACTIVITY"}, "MUST_DTLCTRDFS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_DTLCTRDFS_ACTIVITY", "End": true}, "PASS MUST_DTLCTRDFS": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_INSTALLED_PROD1", "States": {"MUST_INSTALLED_PROD1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_installed_prod1", "StringEquals": "Y", "Next": "PASS MUST_INSTALLED_PROD1"}], "Default": "LOAD MUST_INSTALLED_PROD1"}, "LOAD MUST_INSTALLED_PROD1": {"Type": "Task", "ResultPath": "$.MUST_INSTALLED_PROD1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_installed_prod1", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_INSTALLED_PROD1_FAILED"}], "Next": "PASS MUST_INSTALLED_PROD1"}, "SNS_MUST_INSTALLED_PROD1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_INSTALLED_PROD1 Failed!"}, "Next": "MUST_INSTALLED_PROD1_ACTIVITY"}, "MUST_INSTALLED_PROD1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_INSTALLED_PROD1_ACTIVITY", "End": true}, "PASS MUST_INSTALLED_PROD1": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TABFONUK", "States": {"MUST_TABFONUK": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tabfonuk", "StringEquals": "Y", "Next": "PASS MUST_TABFONUK"}], "Default": "LOAD MUST_TABFONUK"}, "LOAD MUST_TABFONUK": {"Type": "Task", "ResultPath": "$.MUST_TABFONUK", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tabfonuk", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TABFONUK_FAILED"}], "Next": "PASS MUST_TABFONUK"}, "SNS_MUST_TABFONUK_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_TABFONUK Failed!"}, "Next": "MUST_TABFONUK_ACTIVITY"}, "MUST_TABFONUK_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_TABFONUK_ACTIVITY", "End": true}, "PASS MUST_TABFONUK": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_MASTCONT", "States": {"MUST_MASTCONT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_mastcont", "StringEquals": "Y", "Next": "PASS MUST_MASTCONT"}], "Default": "LOAD MUST_MASTCONT"}, "LOAD MUST_MASTCONT": {"Type": "Task", "ResultPath": "$.MUST_MASTCONT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_mastcont", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_MASTCONT_FAILED"}], "Next": "PASS MUST_MASTCONT"}, "SNS_MUST_MASTCONT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_MASTCONT Failed!"}, "Next": "MUST_MASTCONT_ACTIVITY"}, "MUST_MASTCONT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_MASTCONT_ACTIVITY", "End": true}, "PASS MUST_MASTCONT": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MUST_COMPACTION_SUCCESS"}, "SNS_MUST_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MUST COMPACTION completed successfully!!"}}, "End": true}}}