PROD_JobConfig/StepFunction/Input/IB_INTEL_ENTITY_ASSET_F.json
{"StartAt": "START IB_INTEL_ENTITY_ASSET_F SCHEDULE", "States": {"START IB_INTEL_ENTITY_ASSET_F SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "ASSET_F"}, "ASSET_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ASSET_F", "StringEquals": "Y", "Next": "SKIP ASSET_F"}], "Default": "LOAD ASSET_F"}, "LOAD ASSET_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ASSET_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_f.sp()", "--query_tag": "IBE-sp_srv_asset_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ASSET_F_FAILED"}], "Next": "SKIP ASSET_F"}, "SNS_ASSET_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR ASSET_F FAILED!"}, "End": false}, "SKIP ASSET_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_ENTITY_ASSET_F_SUCCESS"}, "SNS_IB_INTEL_ENTITY_ASSET_F_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_ENTITY_ASSET_F completed successfully!!"}}, "End": true}}}