PROD_JobConfig/StepFunction/Input/IB_INTEL_CDS_SNAP_F.json
{"StartAt": "START IB_INTEL_CDS_SNAP_F SCHEDULE", "States": {"START IB_INTEL_CDS_SNAP_F SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "CDS_SNAP_FS"}, "CDS_SNAP_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDS_SNAP_FS", "StringEquals": "Y", "Next": "SKIP CDS_SNAP_FS"}], "Default": "LOAD CDS_SNAP_FS"}, "LOAD CDS_SNAP_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDS_SNAP_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_cds_snap_fs()", "--query_tag": "IBC-sp_srv_asset_cds_snap_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDS_SNAP_FS_FAILED"}], "Next": "SKIP CDS_SNAP_FS"}, "SNS_CDS_SNAP_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDS_SNAP_FS FAILED!"}, "End": false}, "SKIP CDS_SNAP_FS": {"Type": "Pass", "Next": "CDS_SNAP_F"}, "CDS_SNAP_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CDS_SNAP_F", "StringEquals": "Y", "Next": "SKIP CDS_SNAP_F"}], "Default": "LOAD CDS_SNAP_F"}, "LOAD CDS_SNAP_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.CDS_SNAP_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_asset_cds_snap_f()", "--query_tag": "IBC-sp_srv_asset_cds_snap_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CDS_SNAP_F_FAILED"}], "Next": "SKIP CDS_SNAP_F"}, "SNS_CDS_SNAP_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR CDS_SNAP_F FAILED!"}, "End": false}, "SKIP CDS_SNAP_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_INTEL_CDS_SNAP_F_SUCCESS"}, "SNS_IB_INTEL_CDS_SNAP_F_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_CDS_SNAP_F completed successfully!!"}}, "End": true}}}