PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_FLAT_FILE.json
{"StartAt": "START FLAT_FILE COMPACTION JOBS", "States": {"START FLAT_FILE COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "FLAT_FILE_INACTIVE_ASSET", "States": {"FLAT_FILE_INACTIVE_ASSET": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_inactive_asset", "StringEquals": "Y", "Next": "PASS FLAT_FILE_INACTIVE_ASSET"}], "Default": "LOAD FLAT_FILE_INACTIVE_ASSET"}, "LOAD FLAT_FILE_INACTIVE_ASSET": {"Type": "Task", "ResultPath": "$.FLAT_FILE_INACTIVE_ASSET", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_inactive_asset", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_INACTIVE_ASSET_FAILED"}], "Next": "PASS FLAT_FILE_INACTIVE_ASSET"}, "SNS_FLAT_FILE_INACTIVE_ASSET_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_INACTIVE_ASSET Failed!"}, "Next": "FLAT_FILE_INACTIVE_ASSET_ACTIVITY"}, "FLAT_FILE_INACTIVE_ASSET_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_INACTIVE_ASSET_ACTIVITY", "End": true}, "PASS FLAT_FILE_INACTIVE_ASSET": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_MUST_COST_CENTER_LUT", "States": {"FLAT_FILE_MUST_COST_CENTER_LUT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_must_cost_center_lut", "StringEquals": "Y", "Next": "PASS FLAT_FILE_MUST_COST_CENTER_LUT"}], "Default": "LOAD FLAT_FILE_MUST_COST_CENTER_LUT"}, "LOAD FLAT_FILE_MUST_COST_CENTER_LUT": {"Type": "Task", "ResultPath": "$.FLAT_FILE_MUST_COST_CENTER_LUT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_must_cost_center_lut", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_MUST_COST_CENTER_LUT_FAILED"}], "Next": "PASS FLAT_FILE_MUST_COST_CENTER_LUT"}, "SNS_FLAT_FILE_MUST_COST_CENTER_LUT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_MUST_COST_CENTER_LUT Failed!"}, "Next": "FLAT_FILE_MUST_COST_CENTER_LUT_ACTIVITY"}, "FLAT_FILE_MUST_COST_CENTER_LUT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_MUST_COST_CENTER_LUT_ACTIVITY", "End": true}, "PASS FLAT_FILE_MUST_COST_CENTER_LUT": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_MUST_DFSF_GROUP_LUT", "States": {"FLAT_FILE_MUST_DFSF_GROUP_LUT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_must_dfsf_group_lut", "StringEquals": "Y", "Next": "PASS FLAT_FILE_MUST_DFSF_GROUP_LUT"}], "Default": "LOAD FLAT_FILE_MUST_DFSF_GROUP_LUT"}, "LOAD FLAT_FILE_MUST_DFSF_GROUP_LUT": {"Type": "Task", "ResultPath": "$.FLAT_FILE_MUST_DFSF_GROUP_LUT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_must_dfsf_group_lut", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_MUST_DFSF_GROUP_LUT_FAILED"}], "Next": "PASS FLAT_FILE_MUST_DFSF_GROUP_LUT"}, "SNS_FLAT_FILE_MUST_DFSF_GROUP_LUT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_MUST_DFSF_GROUP_LUT Failed!"}, "Next": "FLAT_FILE_MUST_DFSF_GROUP_LUT_ACTIVITY"}, "FLAT_FILE_MUST_DFSF_GROUP_LUT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_MUST_DFSF_GROUP_LUT_ACTIVITY", "End": true}, "PASS FLAT_FILE_MUST_DFSF_GROUP_LUT": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_CONTRACT", "States": {"FLAT_FILE_CONTRACT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_contract", "StringEquals": "Y", "Next": "PASS FLAT_FILE_CONTRACT"}], "Default": "LOAD FLAT_FILE_CONTRACT"}, "LOAD FLAT_FILE_CONTRACT": {"Type": "Task", "ResultPath": "$.FLAT_FILE_CONTRACT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_contract", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_CONTRACT_FAILED"}], "Next": "PASS FLAT_FILE_CONTRACT"}, "SNS_FLAT_FILE_CONTRACT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_CONTRACT Failed!"}, "Next": "FLAT_FILE_CONTRACT_ACTIVITY"}, "FLAT_FILE_CONTRACT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_CONTRACT_ACTIVITY", "End": true}, "PASS FLAT_FILE_CONTRACT": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_REGION_EOPL_EOSL_DT", "States": {"FLAT_FILE_REGION_EOPL_EOSL_DT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_region_eopl_eosl_dt", "StringEquals": "Y", "Next": "PASS FLAT_FILE_REGION_EOPL_EOSL_DT"}], "Default": "LOAD FLAT_FILE_REGION_EOPL_EOSL_DT"}, "LOAD FLAT_FILE_REGION_EOPL_EOSL_DT": {"Type": "Task", "ResultPath": "$.FLAT_FILE_REGION_EOPL_EOSL_DT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_region_eopl_eosl_dt", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_REGION_EOPL_EOSL_DT_FAILED"}], "Next": "PASS FLAT_FILE_REGION_EOPL_EOSL_DT"}, "SNS_FLAT_FILE_REGION_EOPL_EOSL_DT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_REGION_EOPL_EOSL_DT Failed!"}, "Next": "FLAT_FILE_REGION_EOPL_EOSL_DT_ACTIVITY"}, "FLAT_FILE_REGION_EOPL_EOSL_DT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_REGION_EOPL_EOSL_DT_ACTIVITY", "End": true}, "PASS FLAT_FILE_REGION_EOPL_EOSL_DT": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_ECOM_CUSTOMERS", "States": {"FLAT_FILE_ECOM_CUSTOMERS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_ecom_customers", "StringEquals": "Y", "Next": "PASS FLAT_FILE_ECOM_CUSTOMERS"}], "Default": "LOAD FLAT_FILE_ECOM_CUSTOMERS"}, "LOAD FLAT_FILE_ECOM_CUSTOMERS": {"Type": "Task", "ResultPath": "$.FLAT_FILE_ECOM_CUSTOMERS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_ecom_customers", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_ECOM_CUSTOMERS_FAILED"}], "Next": "PASS FLAT_FILE_ECOM_CUSTOMERS"}, "SNS_FLAT_FILE_ECOM_CUSTOMERS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_ECOM_CUSTOMERS Failed!"}, "Next": "FLAT_FILE_ECOM_CUSTOMERS_ACTIVITY"}, "FLAT_FILE_ECOM_CUSTOMERS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_ECOM_CUSTOMERS_ACTIVITY", "End": true}, "PASS FLAT_FILE_ECOM_CUSTOMERS": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_GLOBAL_EXTRACT_CATEGORY", "States": {"FLAT_FILE_GLOBAL_EXTRACT_CATEGORY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_global_extract_category", "StringEquals": "Y", "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_CATEGORY"}], "Default": "LOAD FLAT_FILE_GLOBAL_EXTRACT_CATEGORY"}, "LOAD FLAT_FILE_GLOBAL_EXTRACT_CATEGORY": {"Type": "Task", "ResultPath": "$.FLAT_FILE_GLOBAL_EXTRACT_CATEGORY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_global_extract_category", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FAILED"}], "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_CATEGORY"}, "SNS_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY Failed!"}, "Next": "FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_ACTIVITY"}, "FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_ACTIVITY", "End": true}, "PASS FLAT_FILE_GLOBAL_EXTRACT_CATEGORY": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_GLOBAL_EXTRACT_IMAGE", "States": {"FLAT_FILE_GLOBAL_EXTRACT_IMAGE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_global_extract_image", "StringEquals": "Y", "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_IMAGE"}], "Default": "LOAD FLAT_FILE_GLOBAL_EXTRACT_IMAGE"}, "LOAD FLAT_FILE_GLOBAL_EXTRACT_IMAGE": {"Type": "Task", "ResultPath": "$.FLAT_FILE_GLOBAL_EXTRACT_IMAGE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_global_extract_image", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FAILED"}], "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_IMAGE"}, "SNS_FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_GLOBAL_EXTRACT_IMAGE Failed!"}, "Next": "FLAT_FILE_GLOBAL_EXTRACT_IMAGE_ACTIVITY"}, "FLAT_FILE_GLOBAL_EXTRACT_IMAGE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_GLOBAL_EXTRACT_IMAGE_ACTIVITY", "End": true}, "PASS FLAT_FILE_GLOBAL_EXTRACT_IMAGE": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_GLOBAL_EXTRACT_REPLACES", "States": {"FLAT_FILE_GLOBAL_EXTRACT_REPLACES": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_global_extract_replaces", "StringEquals": "Y", "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_REPLACES"}], "Default": "LOAD FLAT_FILE_GLOBAL_EXTRACT_REPLACES"}, "LOAD FLAT_FILE_GLOBAL_EXTRACT_REPLACES": {"Type": "Task", "ResultPath": "$.FLAT_FILE_GLOBAL_EXTRACT_REPLACES", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_global_extract_replaces", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FAILED"}], "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_REPLACES"}, "SNS_FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_FLAT_FILE_GLOBAL_EXTRACT_REPLACES Failed!"}, "Next": "FLAT_FILE_GLOBAL_EXTRACT_REPLACES_ACTIVITY"}, "FLAT_FILE_GLOBAL_EXTRACT_REPLACES_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE_GLOBAL_EXTRACT_REPLACES_ACTIVITY", "End": true}, "PASS FLAT_FILE_GLOBAL_EXTRACT_REPLACES": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_FLAT_FILE_COMPACTION_SUCCESS"}, "SNS_FLAT_FILE_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for FLAT_FILE COMPACTION completed successfully!!"}}, "End": true}}}