PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_GLPROD.json
{"StartAt": "START GLPROD COMPACTION JOBS", "States": {"START GLPROD COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_FULFILLMENT_SET", "States": {"GLPROD_FULFILLMENT_SET": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_fulfillment_set", "StringEquals": "Y", "Next": "PASS GLPROD_FULFILLMENT_SET"}], "Default": "LOAD GLPROD_FULFILLMENT_SET"}, "LOAD GLPROD_FULFILLMENT_SET": {"Type": "Task", "ResultPath": "$.GLPROD_FULFILLMENT_SET", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_fulfillment_set", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_FULFILLMENT_SET_FAILED"}], "Next": "PASS GLPROD_FULFILLMENT_SET"}, "SNS_GLPROD_FULFILLMENT_SET_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLPROD_FULFILLMENT_SET Failed!"}, "Next": "GLPROD_FULFILLMENT_SET_ACTIVITY"}, "GLPROD_FULFILLMENT_SET_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLPROD_FULFILLMENT_SET_ACTIVITY", "End": true}, "PASS GLPROD_FULFILLMENT_SET": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_UNIT_TRANSACTIONS", "States": {"GLPROD_MTL_UNIT_TRANSACTIONS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_mtl_unit_transactions", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_UNIT_TRANSACTIONS"}], "Default": "LOAD GLPROD_MTL_UNIT_TRANSACTIONS"}, "LOAD GLPROD_MTL_UNIT_TRANSACTIONS": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_UNIT_TRANSACTIONS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_mtl_unit_transactions", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_UNIT_TRANSACTIONS_FAILED"}], "Next": "PASS GLPROD_MTL_UNIT_TRANSACTIONS"}, "SNS_GLPROD_MTL_UNIT_TRANSACTIONS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLPROD_MTL_UNIT_TRANSACTIONS Failed!"}, "Next": "GLPROD_MTL_UNIT_TRANSACTIONS_ACTIVITY"}, "GLPROD_MTL_UNIT_TRANSACTIONS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLPROD_MTL_UNIT_TRANSACTIONS_ACTIVITY", "End": true}, "PASS GLPROD_MTL_UNIT_TRANSACTIONS": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_GLPROD_COMPACTION_SUCCESS"}, "SNS_GLPROD_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for GLPROD COMPACTION completed successfully!!"}}, "End": true}}}