PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_GLA.json
{"StartAt": "START GLA COMPACTION JOBS", "States": {"START GLA COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "GLA_TIM_BCA_CASH_CRIB_QTR_V"}, "GLA_TIM_BCA_CASH_CRIB_QTR_V": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_gla_tim_bca_cash_crib_qtr_v", "StringEquals": "Y", "Next": "PASS GLA_TIM_BCA_CASH_CRIB_QTR_V"}], "Default": "LOAD GLA_TIM_BCA_CASH_CRIB_QTR_V"}, "LOAD GLA_TIM_BCA_CASH_CRIB_QTR_V": {"Type": "Task", "ResultPath": "$.GLA_TIM_BCA_CASH_CRIB_QTR_V", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_gla_tim_bca_cash_crib_qtr_v", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_TIM_BCA_CASH_CRIB_QTR_V_FAILED"}], "Next": "PASS GLA_TIM_BCA_CASH_CRIB_QTR_V"}, "SNS_GLA_TIM_BCA_CASH_CRIB_QTR_V_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLA_TIM_BCA_CASH_CRIB_QTR_V Failed!"}, "Next": "GLA_TIM_BCA_CASH_CRIB_QTR_V_ACTIVITY"}, "GLA_TIM_BCA_CASH_CRIB_QTR_V_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLA_TIM_BCA_CASH_CRIB_QTR_V_ACTIVITY", "End": false}, "PASS GLA_TIM_BCA_CASH_CRIB_QTR_V": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_GLA_COMPACTION_SUCCESS"}, "SNS_GLA_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for GLA COMPACTION completed successfully!!"}}, "End": true}}}