PROD_JobConfig/StepFunction/Input/IB_INTEL_COMPACTION_PARTS_FILES.json
{"StartAt": "START PARTS_FILES COMPACTION JOBS", "States": {"START PARTS_FILES COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "PARTS_FILE_LUT_EU_SAV"}, "PARTS_FILE_LUT_EU_SAV": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_parts_files_lut_eu_sav", "StringEquals": "Y", "Next": "PASS PARTS_FILE_LUT_EU_SAV"}], "Default": "LOAD PARTS_FILE_LUT_EU_SAV"}, "LOAD PARTS_FILE_LUT_EU_SAV": {"Type": "Task", "ResultPath": "$.PARTS_FILE_LUT_EU_SAV", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_parts_files_lut_eu_sav", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_PARTS_FILE_LUT_EU_SAV_FAILED"}], "Next": "PASS PARTS_FILE_LUT_EU_SAV"}, "SNS_PARTS_FILE_LUT_EU_SAV_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_PARTS_FILE_LUT_EU_SAV Failed!"}, "Next": "PARTS_FILE_LUT_EU_SAV_ACTIVITY"}, "PARTS_FILE_LUT_EU_SAV_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_PARTS_FILE_LUT_EU_SAV_ACTIVITY", "End": false}, "PASS PARTS_FILE_LUT_EU_SAV": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_PARTS_FILE_COMPACTION_SUCCESS"}, "SNS_PARTS_FILE_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$.SKIP_LAMBDA", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_INTEL_COMPACTION_PARTS_FILES completed successfully!!"}}, "End": true}}}