PROD_JobConfig/StepFunction/Input/IB_SPOTFIRE_DAILY_REFRESH.json
{"StartAt": "REFRESH SPOTFIRE IB 360 Report", "States": {"REFRESH SPOTFIRE IB 360 Report": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Install Base/IB 360 Report/Analysis/IB 360 Report"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE IB De-install Focus Report", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB 360 Report"}]}, "SNS FAILED IB 360 Report": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB 360 Report"}, "Next": "REFRESH SPOTFIRE IB De-install Focus Report"}, "REFRESH SPOTFIRE IB De-install Focus Report": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Install Base/IB Deinstall/Analysis/IB De-install Focus Report"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE IB FMI Dashboard", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB De-install Focus Report"}]}, "SNS FAILED IB De-install Focus Report": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB De-install Focus Report"}, "Next": "REFRESH SPOTFIRE IB FMI Dashboard"}, "REFRESH SPOTFIRE IB FMI Dashboard": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Install Base/IB FMI/Analysis/IB FMI Dashboard"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE IB Intel Drill Down Report", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB FMI Dashboard"}]}, "SNS FAILED IB FMI Dashboard": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB FMI Dashboard"}, "Next": "REFRESH SPOTFIRE IB Intel Drill Down Report"}, "REFRESH SPOTFIRE IB Intel Drill Down Report": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Install Base/IB Drill Down/Analysis/IB Intel Drill Down Report"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE IB Intel Executive Summary", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB Intel Drill Down Report"}]}, "SNS FAILED IB Intel Drill Down Report": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB Intel Drill Down Report"}, "Next": "REFRESH SPOTFIRE IB Intel Executive Summary"}, "REFRESH SPOTFIRE IB Intel Executive Summary": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/IB Intel/Analysis/IB Intel Executive Summary"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE IB Intel Trends Dashboard", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB Intel Executive Summary"}]}, "SNS FAILED IB Intel Executive Summary": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB Intel Executive Summary"}, "Next": "REFRESH SPOTFIRE IB Intel Trends Dashboard"}, "REFRESH SPOTFIRE IB Intel Trends Dashboard": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/IB Intel/Analysis/IB Intel Trends Dashboard"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE Traced Part IB Intel Dashboard", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB Intel Trends Dashboard"}]}, "SNS FAILED IB Intel Trends Dashboard": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB Intel Trends Dashboard"}, "Next": "REFRESH SPOTFIRE Traced Part IB Intel Dashboard"}, "REFRESH SPOTFIRE Traced Part IB Intel Dashboard": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Install Base/Traced Part IB Intel/Analysis/Traced Part IB Intel"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "Next": "REFRESH SPOTFIRE IB Reconcillation Report", "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED Traced Part IB Intel Dashboard"}]}, "SNS FAILED Traced Part IB Intel Dashboard": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for Traced Part IB Intel Dashboard"}, "Next": "REFRESH SPOTFIRE IB Reconcillation Report"}, "REFRESH SPOTFIRE IB Reconcillation Report": {"Type": "Task", "InputPath": "$", "ResultPath": "$", "Parameters": {"REPORT_LOCATION": "/Service Data Analytics/Service Suite/Install Base/IB Reconciliation/Analysis/IB Reconcillation Report"}, "Resource": "arn:aws:lambda:us-east-1:541574621075:function:odp-spotfire-refresh", "Retry": [{"ErrorEquals": ["States.ALL"], "MaxAttempts": 3, "IntervalSeconds": 5, "BackoffRate": 2}], "End": true, "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "SNS FAILED IB Reconcillation Report"}]}, "SNS FAILED IB Reconcillation Report": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "Spotfire refresh failed for IB Reconcillation Report"}, "End": true}}}