PROD_JobConfig/StepFunction/Input/IB_UPGRADE_ENTITY_JOBS.json
{"StartAt": "START IB_UPGRADE_ENTITY_JOBS SCHEDULE", "States": {"START IB_UPGRADE_ENTITY_JOBS SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "UPGRADE_SOURCES_BATCH"}, "UPGRADE_SOURCES_BATCH": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.UPGRADE_SOURCES_BATCH", "StringEquals": "Y", "Next": "SKIP UPGRADE_SOURCES_BATCH"}], "Default": "LOAD UPGRADE_SOURCES_BATCH"}, "LOAD UPGRADE_SOURCES_BATCH": {"Type": "Task", "InputPath": "$", "ResultPath": "$.UPGRADE_SOURCES_BATCH", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_upgrade_sources_batch()", "--query_tag": "IBE-load_upgrade_sources_batch", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_UPGRADE_SOURCES_BATCH_FAILED"}], "Next": "SKIP UPGRADE_SOURCES_BATCH"}, "SNS_UPGRADE_SOURCES_BATCH_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR UPGRADE_SOURCES_BATCH FAILED!"}, "End": false}, "SKIP UPGRADE_SOURCES_BATCH": {"Type": "Pass", "Next": "StartParallel_1"}, "StartParallel_1": {"Type": "Parallel", "Next": "StartParallel_2", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "REPORTING_FACT_BATCH_PREPROCESS", "States": {"REPORTING_FACT_BATCH_PREPROCESS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.REPORTING_FACT_BATCH_PREPROCESS", "StringEquals": "Y", "Next": "SKIP REPORTING_FACT_BATCH_PREPROCESS"}], "Default": "LOAD REPORTING_FACT_BATCH_PREPROCESS"}, "LOAD REPORTING_FACT_BATCH_PREPROCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.REPORTING_FACT_BATCH_PREPROCESS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_upgrade_reporting_fact_batch_preprocess()", "--query_tag": "IBE-ting_fact_batch_preprocess", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_REPORTING_FACT_BATCH_PREPROCESS_FAILED"}], "Next": "SKIP REPORTING_FACT_BATCH_PREPROCESS"}, "SNS_REPORTING_FACT_BATCH_PREPROCESS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR REPORTING_FACT_BATCH_PREPROCESS FAILED!"}, "Next": "REPORTING_FACT_BATCH_PREPROCESS_ACTIVITY"}, "REPORTING_FACT_BATCH_PREPROCESS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_UPGRADE_REPORTING_FACT_BATCH_PREPROCESS_ACTIVITY", "End": true}, "SKIP REPORTING_FACT_BATCH_PREPROCESS": {"Type": "Pass", "End": true}}}, {"StartAt": "REPLACE_REPORTING_BATCH", "States": {"REPLACE_REPORTING_BATCH": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.REPLACE_REPORTING_BATCH", "StringEquals": "Y", "Next": "SKIP REPLACE_REPORTING_BATCH"}], "Default": "LOAD REPLACE_REPORTING_BATCH"}, "LOAD REPLACE_REPORTING_BATCH": {"Type": "Task", "InputPath": "$", "ResultPath": "$.REPLACE_REPORTING_BATCH", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_replace_reporting_batch()", "--query_tag": "IBE-ad_replace_reporting_batch", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_REPLACE_REPORTING_BATCH_FAILED"}], "Next": "SKIP REPLACE_REPORTING_BATCH"}, "SNS_REPLACE_REPORTING_BATCH_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR REPLACE_REPORTING_BATCH FAILED!"}, "Next": "REPLACE_REPORTING_BATCH_ACTIVITY"}, "REPLACE_REPORTING_BATCH_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_UPGRADE_REPLACE_REPORTING_BATCH_ACTIVITY", "End": true}, "SKIP REPLACE_REPORTING_BATCH": {"Type": "Pass", "End": true}}}]}, "StartParallel_2": {"Type": "Parallel", "Next": "REPORTING_FACT_BATCH_POSTPROCESS", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "UPGRADE_REPORTING_FACT_BATCH_1", "States": {"UPGRADE_REPORTING_FACT_BATCH_1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.UPGRADE_REPORTING_FACT_BATCH_1", "StringEquals": "Y", "Next": "SKIP UPGRADE_REPORTING_FACT_BATCH_1"}], "Default": "LOAD UPGRADE_REPORTING_FACT_BATCH_1"}, "LOAD UPGRADE_REPORTING_FACT_BATCH_1": {"Type": "Task", "InputPath": "$", "ResultPath": "$.UPGRADE_REPORTING_FACT_BATCH_1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_upgrade_reporting_fact_batch_1()", "--query_tag": "IBE-ade_reporting_fact_batch_1", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_UPGRADE_REPORTING_FACT_BATCH_1_FAILED"}], "Next": "SKIP UPGRADE_REPORTING_FACT_BATCH_1"}, "SNS_UPGRADE_REPORTING_FACT_BATCH_1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR UPGRADE_REPORTING_FACT_BATCH_1 FAILED!"}, "Next": "UPGRADE_REPORTING_FACT_BATCH_1_ACTIVITY"}, "UPGRADE_REPORTING_FACT_BATCH_1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_UPGRADE_REPORTING_FACT_BATCH_1_ACTIVITY", "End": true}, "SKIP UPGRADE_REPORTING_FACT_BATCH_1": {"Type": "Pass", "End": true}}}, {"StartAt": "UPGRADE_REPORTING_FACT_BATCH_2", "States": {"UPGRADE_REPORTING_FACT_BATCH_2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.UPGRADE_REPORTING_FACT_BATCH_2", "StringEquals": "Y", "Next": "SKIP UPGRADE_REPORTING_FACT_BATCH_2"}], "Default": "LOAD UPGRADE_REPORTING_FACT_BATCH_2"}, "LOAD UPGRADE_REPORTING_FACT_BATCH_2": {"Type": "Task", "InputPath": "$", "ResultPath": "$.UPGRADE_REPORTING_FACT_BATCH_2", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_upgrade_reporting_fact_batch_2()", "--query_tag": "IBE-ade_reporting_fact_batch_2", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_UPGRADE_REPORTING_FACT_BATCH_2_FAILED"}], "Next": "SKIP UPGRADE_REPORTING_FACT_BATCH_2"}, "SNS_UPGRADE_REPORTING_FACT_BATCH_2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR UPGRADE_REPORTING_FACT_BATCH_2 FAILED!"}, "Next": "UPGRADE_REPORTING_FACT_BATCH_2_ACTIVITY"}, "UPGRADE_REPORTING_FACT_BATCH_2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_UPGRADE_REPORTING_FACT_BATCH_2_ACTIVITY", "End": true}, "SKIP UPGRADE_REPORTING_FACT_BATCH_2": {"Type": "Pass", "End": true}}}, {"StartAt": "UPGRADE_REPORTING_FACT_BATCH_3", "States": {"UPGRADE_REPORTING_FACT_BATCH_3": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.UPGRADE_REPORTING_FACT_BATCH_3", "StringEquals": "Y", "Next": "SKIP UPGRADE_REPORTING_FACT_BATCH_3"}], "Default": "LOAD UPGRADE_REPORTING_FACT_BATCH_3"}, "LOAD UPGRADE_REPORTING_FACT_BATCH_3": {"Type": "Task", "InputPath": "$", "ResultPath": "$.UPGRADE_REPORTING_FACT_BATCH_3", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_upgrade_reporting_fact_batch_3()", "--query_tag": "IBE-ade_reporting_fact_batch_3", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_UPGRADE_REPORTING_FACT_BATCH_3_FAILED"}], "Next": "SKIP UPGRADE_REPORTING_FACT_BATCH_3"}, "SNS_UPGRADE_REPORTING_FACT_BATCH_3_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR UPGRADE_REPORTING_FACT_BATCH_3 FAILED!"}, "Next": "UPGRADE_REPORTING_FACT_BATCH_3_ACTIVITY"}, "UPGRADE_REPORTING_FACT_BATCH_3_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:IB_UPGRADE_REPORTING_FACT_BATCH_3_ACTIVITY", "End": true}, "SKIP UPGRADE_REPORTING_FACT_BATCH_3": {"Type": "Pass", "End": true}}}]}, "REPORTING_FACT_BATCH_POSTPROCESS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.REPORTING_FACT_BATCH_POSTPROCESS", "StringEquals": "Y", "Next": "SKIP REPORTING_FACT_BATCH_POSTPROCESS"}], "Default": "LOAD REPORTING_FACT_BATCH_POSTPROCESS"}, "LOAD REPORTING_FACT_BATCH_POSTPROCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.REPORTING_FACT_BATCH_POSTPROCESS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--wlm_count": "3", "--rs_proc_name": "hdl_services_sp.load_upgrade_reporting_fact_batch_postprocess()", "--query_tag": "IBE-ing_fact_batch_postprocess", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_REPORTING_FACT_BATCH_POSTPROCESS_FAILED"}], "Next": "SKIP REPORTING_FACT_BATCH_POSTPROCESS"}, "SNS_REPORTING_FACT_BATCH_POSTPROCESS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR REPORTING_FACT_BATCH_POSTPROCESS FAILED!"}, "End": false}, "SKIP REPORTING_FACT_BATCH_POSTPROCESS": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_IB_UPGRADE_ENTITY_JOBS_SUCCESS"}, "SNS_IB_UPGRADE_ENTITY_JOBS_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for IB_UPGRADE_ENTITY_JOBS completed successfully!!"}}, "End": true}}}