PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY.json
{"StartAt": "START GLPROD ONHAND COMPACTION JOBS", "States": {"START GLPROD ONHAND COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.start", "Next": "RAW CRAWLER"}, "RAW CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP  RAW CRAWLER"}], "Default": "START RAW CRAWLER"}, "START RAW CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RawCrawler", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_glprod"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  RAW CRAWLER"}, "SNS_CRAWLER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION GLPROD CRAWLER FAILED !"}, "End": false}, "SKIP  RAW CRAWLER": {"Type": "Pass", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "Insert log into redshift"}, "Insert log into redshift": {"Type": "Task", "ResultPath": "$.Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_ONHAND_FREQUENT", "--status": "START"}}, "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Insert Success log into redshift", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_MTL_ONHAND_QUANTITIES_DETAIL", "States": {"GLPROD_MTL_ONHAND_QUANTITIES_DETAIL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_mtl_onhand_quantities_detail", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_ONHAND_QUANTITIES_DETAIL"}], "Default": "LOAD GLPROD_MTL_ONHAND_QUANTITIES_DETAIL"}, "LOAD GLPROD_MTL_ONHAND_QUANTITIES_DETAIL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_mtl_onhand_quantities_detail", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_ONHAND_QUANTITIES_DETAIL_FAILED"}], "Next": "PASS GLPROD_MTL_ONHAND_QUANTITIES_DETAIL"}, "SNS_GLPROD_MTL_ONHAND_QUANTITIES_DETAIL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_ONHAND_QUANTITIES_DETAIL Failed!"}, "Next": "GLPROD_MTL_ONHAND_QUANTITIES_DETAIL_ACTIVITY"}, "GLPROD_MTL_ONHAND_QUANTITIES_DETAIL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_MTL_ONHAND_QUANTITIES_DETAIL_INTRADAY_ACTIVITY", "End": true}, "PASS GLPROD_MTL_ONHAND_QUANTITIES_DETAIL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_RESERVATIONS", "States": {"GLPROD_MTL_RESERVATIONS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_mtl_reservations", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_RESERVATIONS"}], "Default": "LOAD GLPROD_MTL_RESERVATIONS"}, "LOAD GLPROD_MTL_RESERVATIONS": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_mtl_reservations", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_RESERVATIONS_FAILED"}], "Next": "PASS GLPROD_MTL_RESERVATIONS"}, "SNS_GLPROD_MTL_RESERVATIONS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_RESERVATIONS Failed!"}, "Next": "GLPROD_MTL_RESERVATIONS_ACTIVITY"}, "GLPROD_MTL_RESERVATIONS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_MTL_RESERVATIONS_INTRADAY_ACTIVITY", "End": true}, "PASS GLPROD_MTL_RESERVATIONS": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_GL_LEDGERS", "States": {"GLPROD_GL_LEDGERS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_gl_ledgers", "StringEquals": "Y", "Next": "PASS GLPROD_GL_LEDGERS"}], "Default": "LOAD GLPROD_GL_LEDGERS"}, "LOAD GLPROD_GL_LEDGERS": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_gl_ledgers", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GL_LEDGERS_FAILED"}], "Next": "PASS GLPROD_GL_LEDGERS"}, "SNS_GLPROD_GL_LEDGERS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_GL_LEDGERS Failed!"}, "Next": "GLPROD_GL_LEDGERS_ACTIVITY"}, "GLPROD_GL_LEDGERS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_GL_LEDGERS_ACTIVITY", "End": true}, "PASS GLPROD_GL_LEDGERS": {"Type": "Pass", "End": true}}}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "Insert error log into redshift"}]}, "Insert error log into redshift": {"Type": "Task", "ResultPath": "$.logerror", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_ONHAND_FREQUENT", "--status": "JOB ERROR"}}, "End": true}, "Insert Success log into redshift": {"Type": "Task", "ResultPath": "$.successResult", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_ONHAND_FREQUENT", "--status": "FINISH"}}, "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.MRR_CRAWLER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_glprod"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage"}, "Skip Copy Mirror to Redshift Stage": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage"}, "Copy Mirror to Redshift Stage": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "intrdy_mapp_glprod_onhand"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_FAILED"}], "Next": "Redshift Copy Done"}, "SNS_RS_COPY_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": false}, "Redshift Copy Done": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_GLPROD_COMPACTION_INTRADAY_SUCCESS"}, "SNS_MAPP_GLPROD_COMPACTION_INTRADAY_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_GLPROD_INTRADAY completed successfully!!"}}, "End": true}}}