PROD_JobConfig/StepFunction/Input/MAPP_FLAT_FILE_COMPACTION.json
{"StartAt": "Start FLAT_FILE Source Compaction schedule", "States": {"Start FLAT_FILE Source Compaction schedule": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "RAW_CRAWLER"}, "RAW_CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP RAW_CRAWLER"}], "Default": "START RAW_CRAWLER"}, "START RAW_CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RAW_CRAWLER", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_flat_file"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP RAW_CRAWLER"}, "SNS_CRAWLER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION FLAT_FILE CRAWLER FAILED !"}, "End": true}, "SKIP RAW_CRAWLER": {"Type": "Pass", "Next": "RAW_CRAWLER_HAT"}, "RAW_CRAWLER_HAT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER_HAT", "StringEquals": "Y", "Next": "SKIP RAW_CRAWLER_HAT"}], "Default": "START RAW_CRAWLER_HAT"}, "START RAW_CRAWLER_HAT": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RAW_CRAWLER_HAT", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_flat_file_hat_separator"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP RAW_CRAWLER_HAT"}, "SKIP RAW_CRAWLER_HAT": {"Type": "Pass", "Next": "MAPP_COMPACTION_FLAT_FILE"}, "MAPP_COMPACTION_FLAT_FILE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_COMPACTION_FLAT_FILE", "StringEquals": "Y", "Next": "SKIP MAPP_COMPACTION_FLAT_FILE"}], "Default": "LOAD MAPP_COMPACTION_FLAT_FILE"}, "LOAD MAPP_COMPACTION_FLAT_FILE": {"Type": "Task", "ResultPath": "$.FLAT_FILE_COMPACTION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "MAPP_FLAT_FILE", "BATCH_NUMBER": "", "MAPP_COMPACTION_FLAT_FILE1": "N", "MAPP_COMPACTION_FLAT_FILE2": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_COMPACTION_FLAT_FILE"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_COMPACTION_FAILED"}], "Next": "SKIP MAPP_COMPACTION_FLAT_FILE"}, "SNS_FLAT_FILE_COMPACTION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS SF for MAPP_COMPACTION_FLAT_FILE_FAILED Failed!"}, "End": true}, "SKIP MAPP_COMPACTION_FLAT_FILE": {"Type": "Pass", "Next": "Compaction Done"}, "Compaction Done": {"Type": "Pass", "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.MIRROR_CRAWLER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_flat_file"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$.FLAT_FILE_COMPACTION.Output", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage"}, "Skip Copy Mirror to Redshift Stage": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage"}, "Copy Mirror to Redshift Stage": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "MAPP_FLAT_FILE"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_FAILED"}], "Next": "Redshift Copy Done"}, "SNS_RS_COPY_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": true}, "Redshift Copy Done": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_FLAT_FILE_SCHEDULE_SUCCESS"}, "SNS_FLAT_FILE_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_FLAT_FILE_COMPACTION Source completed successfully!!!"}}, "End": true}}}