PROD_JobConfig/StepFunction/Input/MAPP_CDS_MASTER_SCHEDULE.json
{"StartAt": "START MAPP_CDS_MASTER_SCHEDULE", "States": {"START MAPP_CDS_MASTER_SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "MAPP_CDS_PART_ANALYTICS"}, "MAPP_CDS_PART_ANALYTICS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_CDS_PART_ANALYTICS", "StringEquals": "Y", "Next": "PASS MAPP_CDS_PART_ANALYTICS"}], "Default": "LOAD MAPP_CDS_PART_ANALYTICS"}, "LOAD MAPP_CDS_PART_ANALYTICS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MAPP_CDS_PART_ANALYTICS", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GLPROD_ORDR_MASTR_CDS_DTL_FS": "N", "GLPROD_PO_CDS_DTL_FS": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_CDS_PART_ANALYTICS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_CDS_PART_ANALYTICS_FAILED"}], "Next": "PASS MAPP_CDS_PART_ANALYTICS"}, "SNS_MAPP_CDS_PART_ANALYTICS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS CHILD STEP FUNCTION FOR SNS_MAPP_CDS_PART_ANALYTICS FAILED!"}, "End": false}, "PASS MAPP_CDS_PART_ANALYTICS": {"Type": "Pass", "Next": "MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS"}, "MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS", "StringEquals": "Y", "Next": "PASS MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS"}], "Default": "LOAD MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS"}, "LOAD MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GLPROD_ORDR_GPPO_CDS_DTL_FS": "N", "GLPROD_PO_REQSTN_CDS_DTL_FS": "N", "GLPROD_INV_TRANS_ONHND_CDS_DTL_FS": "N", "GLPROD_PO_REQSTN_CDS_DTL_F": "N", "GLPROD_INV_TRANS_ONHND_CDS_DTL_F": "N", "GLPROD_INV_ITM_CDS_DTL_FS": "N", "GLPROD_BO_AVAILABLE_INV_CDS_FS": "N", "GLPROD_CRITICAL_TABLES": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS_FAILED"}], "Next": "PASS MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS"}, "SNS_MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS CHILD STEP FUNCTION FOR SNS_MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS FAILED!"}, "End": false}, "PASS MAPP_CDS_PART_ANALYTICS_ORDER_IR_PARTS": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_CDS_MASTER_SCHEDULE_SUCCESS"}, "SNS_MAPP_CDS_MASTER_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SNS_MAPP_CDS_MASTER_SCHEDULE_SUCCESS completed successfully!!"}}, "End": true}}}