PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_FLAT_FILE2.json
{"StartAt": "START MAPP_COMPACTION_FLAT_FILE JOBS", "States": {"START MAPP_COMPACTION_FLAT_FILE JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE", "States": {"MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_mapp_kpi_scs_ordr_pln_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE"}], "Default": "LOAD MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE"}, "LOAD MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE": {"Type": "Task", "ResultPath": "$.MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_mapp_kpi_scs_ordr_pln_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE_FAILED"}], "Next": "PASS MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE"}, "SNS_MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE Failed!"}, "Next": "MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE_ACTIVITY"}, "MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE_ACTIVITY", "End": true}, "PASS MAPP_KPI_SCS_ORDR_PLN_FLAT_FILE": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_TARGET_FLAT_FILE", "States": {"MAPP_TARGET_FLAT_FILE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_mapp_target_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_TARGET_FLAT_FILE"}], "Default": "LOAD MAPP_TARGET_FLAT_FILE"}, "LOAD MAPP_TARGET_FLAT_FILE": {"Type": "Task", "ResultPath": "$.MAPP_TARGET_FLAT_FILE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_mapp_target_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_TARGET_FLAT_FILE_FAILED"}], "Next": "PASS MAPP_TARGET_FLAT_FILE"}, "SNS_MAPP_TARGET_FLAT_FILE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_TARGET_FLAT_FILE Failed!"}, "Next": "MAPP_TARGET_FLAT_FILE_ACTIVITY"}, "MAPP_TARGET_FLAT_FILE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_TARGET_FLAT_FILE_ACTIVITY", "End": true}, "PASS MAPP_TARGET_FLAT_FILE": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MAPP_COMPACTION_FLAT_FILE_SUCCESS"}, "SNS_MAPP_COMPACTION_FLAT_FILE_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_FLAT_FILE completed successfully!!"}}, "End": true}}}