PROD_JobConfig/StepFunction/Input/MAPP_RS_AUDIT_FINISH.json
{"StartAt": "Insert Success Log Into Redshift", "States": {"Insert Success Log Into Redshift": {"Type": "Task", "ResultPath": "$.Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_DAILY", "--status": "FINISH"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_Redshift_Success_Log_Insert_FAILED"}], "Next": "Completed"}, "SNS_Redshift_Success_Log_Insert_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for Redshift_Success_Log_Insert Failed!!"}, "End": false}, "Completed": {"Type": "Pass", "End": true}}}