PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_FLAT_FILE.json
{"StartAt": "START MAPP_COMPACTION_FLAT_FILE JOBS", "States": {"START MAPP_COMPACTION_FLAT_FILE JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MAPP_COMPACTION_FLAT_FILE1", "States": {"MAPP_COMPACTION_FLAT_FILE1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_COMPACTION_FLAT_FILE1", "StringEquals": "Y", "Next": "PASS MAPP_COMPACTION_FLAT_FILE1"}], "Default": "LOAD MAPP_COMPACTION_FLAT_FILE1"}, "LOAD MAPP_COMPACTION_FLAT_FILE1": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.FLAT_FILE1", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "MAPP_FLAT_FILE", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_flat_file_mapp_configurable_data": "N", "job_lnd_mrr_full_refresh_flat_file_mapp_spm_jrnl": "N", "job_lnd_mrr_full_refresh_flat_file_mapp_prt_cs_notes": "N", "job_lnd_mrr_full_refresh_flat_file_pole_region_hierarchy_flat_file": "N", "job_lnd_mrr_full_refresh_flat_file_spotfire_target_cust_reg_flat_file": "N", "job_lnd_mrr_full_refresh_flat_file_spotfire_target_src_pole_flat_file": "N", "job_lnd_mrr_full_refresh_flat_file_technical_obsolete_report": "N", "job_lnd_mrr_full_refresh_flat_file_prt_part_vendor_flat_file": "N", "job_lnd_mrr_full_refresh_flat_file_prt_smr_vendor_flat_file": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_COMPACTION_FLAT_FILE1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_COMPACTION_FLAT_FILE1_FAILED"}], "Next": "PASS MAPP_COMPACTION_FLAT_FILE1"}, "SNS_MAPP_COMPACTION_FLAT_FILE1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step function for MAPP_COMPACTION_FLAT_FILE1 Failed!"}, "Next": "MAPP_COMPACTION_FLAT_FILE1_ACTIVITY"}, "MAPP_COMPACTION_FLAT_FILE1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE1_ACTIVITY", "End": true}, "PASS MAPP_COMPACTION_FLAT_FILE1": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_COMPACTION_FLAT_FILE2", "States": {"MAPP_COMPACTION_FLAT_FILE2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_COMPACTION_FLAT_FILE2", "StringEquals": "Y", "Next": "PASS MAPP_COMPACTION_FLAT_FILE2"}], "Default": "LOAD MAPP_COMPACTION_FLAT_FILE2"}, "LOAD MAPP_COMPACTION_FLAT_FILE2": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.FLAT_FILE2", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "MAPP_FLAT_FILE", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_flat_file_mapp_kpi_scs_ordr_pln_flat_file": "N", "job_lnd_mrr_full_refresh_flat_file_mapp_target_flat_file": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_COMPACTION_FLAT_FILE2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_COMPACTION_FLAT_FILE2_FAILED"}], "Next": "PASS MAPP_COMPACTION_FLAT_FILE2"}, "SNS_MAPP_COMPACTION_FLAT_FILE2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step function for MAPP_COMPACTION_FLAT_FILE2 Failed!"}, "Next": "MAPP_COMPACTION_FLAT_FILE2_ACTIVITY"}, "MAPP_COMPACTION_FLAT_FILE2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_FLAT_FILE2_ACTIVITY", "End": true}, "PASS MAPP_COMPACTION_FLAT_FILE2": {"Type": "Pass", "End": true}}}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "Insert error log into redshift"}]}, "Insert error log into redshift": {"Type": "Task", "ResultPath": "$.Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_DAILY", "--status": "JOB ERROR"}}, "End": true}, "Completed": {"Type": "Task", "InputPath": "$.parallelResult", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_FLAT_FILE_COMPACTION_SUCCESS"}, "SNS_FLAT_FILE_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_FLAT_FILE completed successfully!!"}}, "End": true}}}