PROD_JobConfig/StepFunction/Input/MAPP_CDS_DAILY_MASTER_SCHEDULE.json
{"StartAt": "MAPP_CDS_DAILY_ENTITY_MASTER", "States": {"MAPP_CDS_DAILY_ENTITY_MASTER": {"Type": "Pass", "Next": "MAPP_CDS_ENTITY"}, "MAPP_CDS_ENTITY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_CDS_ENTITY", "StringEquals": "Y", "Next": "PASS MAPP_CDS_ENTITY"}], "Default": "LOAD MAPP_CDS_ENTITY"}, "LOAD MAPP_CDS_ENTITY": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MAPP_CDS_ENTITY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_mapp_cds_wrapper()", "--query_tag": "MAC-sp_mapp_cds_wrapper", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_CDS_ENTITY_FAILED"}], "Next": "PASS MAPP_CDS_ENTITY"}, "SNS_MAPP_CDS_ENTITY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR MAPP_CDS_ENTITY FAILED!"}, "End": false}, "PASS MAPP_CDS_ENTITY": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_CDS_DAILY_ENTITY_SUCCESS"}, "SNS_MAPP_CDS_DAILY_ENTITY_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_CDS_DAILY_ENTITY completed successfully!!"}}, "End": true}}}