PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_GLPROD_ORDER_INTRADAY.json
{"StartAt": "START GLPROD ORDER COMPACTION JOBS", "States": {"START GLPROD ORDER COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.start", "Next": "RAW CRAWLER"}, "RAW CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP  RAW CRAWLER"}], "Default": "START RAW CRAWLER"}, "START RAW CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RawCrawler", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_glprod"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  RAW CRAWLER"}, "SNS_CRAWLER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION GLPROD CRAWLER FAILED !"}, "End": false}, "SKIP  RAW CRAWLER": {"Type": "Pass", "Next": "Insert log into redshift"}, "Insert log into redshift": {"Type": "Task", "ResultPath": "$.Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_ORDER_FREQUENT", "--status": "START"}}, "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Insert Success log into redshift", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2", "States": {"MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2", "StringEquals": "Y", "Next": "PASS MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2"}], "Default": "LOAD MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2"}, "LOAD MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2": {"Type": "Task", "ResultPath": "$.ORDER_INTRADAY2", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "INTRDY_MAPP_GLPROD_ORDER", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_headers_all": "N", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_lines_all": "N", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_gems_gpo_order_tracking_tbl": "N", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_holds_all": "N", "job_lnd_mrr_full_refresh_intrdy_glprod_gehc_gpo_ordline_addl_info_active": "N", "PUT_LAMBDA": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_FAILED"}], "Next": "PASS MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2"}, "SNS_MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step function for MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2 Failed!"}, "Next": "MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_ACTIVITY"}, "MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_ACTIVITY", "End": true}, "PASS MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2", "States": {"MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2", "StringEquals": "Y", "Next": "PASS MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2"}], "Default": "LOAD MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2"}, "LOAD MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2": {"Type": "Task", "ResultPath": "$.ONHAND_INTRADAY2", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "INTRDY_MAPP_GLPROD_ONHAND", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_mtl_onhand_quantities_detail": "N", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_mtl_reservations": "N", "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_gl_ledgers": "N", "PUT_LAMBDA": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2_FAILED"}], "Next": "PASS MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2"}, "SNS_MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step function for MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2 Failed!"}, "Next": "MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2_ACTIVITY"}, "MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2_ACTIVITY", "End": true}, "PASS MAPP_COMPACTION_GLPROD_ONHAND_INTRADAY2": {"Type": "Pass", "End": true}}}]}, "Insert Success log into redshift": {"Type": "Task", "ResultPath": "$.successResult", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_ORDER_FREQUENT", "--status": "FINISH"}}, "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.MRR_CRAWLER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_glprod"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage Onhand"}, "Skip Copy Mirror to Redshift Stage Onhand": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT_ONHAND", "StringEquals": "Y", "Next": "Skip Copy Mirror to Redshift Stage Order"}], "Default": "Copy Mirror to Redshift Stage Onhand"}, "Copy Mirror to Redshift Stage Onhand": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "intrdy_mapp_glprod_onhand"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_FAILED"}], "Next": "Skip Copy Mirror to Redshift Stage Order"}, "SNS_RS_COPY_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": false}, "Skip Copy Mirror to Redshift Stage Order": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT_ORDER", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage Order"}, "Copy Mirror to Redshift Stage Order": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "intrdy_mapp_glprod_order"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_FAILED"}], "Next": "Redshift Copy Done"}, "Redshift Copy Done": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_GLPROD_COMPACTION_INTRADAY_SUCCESS"}, "SNS_MAPP_GLPROD_COMPACTION_INTRADAY_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_GLPROD_INTRADAY completed successfully!!"}}, "End": true}}}