PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2.json
{"StartAt": "START GLPROD ORDER COMPACTION JOBS", "States": {"START GLPROD ORDER COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.start", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_OE_ORDER_HEADERS_ALL", "States": {"GLPROD_OE_ORDER_HEADERS_ALL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_headers_all", "StringEquals": "Y", "Next": "PASS GLPROD_OE_ORDER_HEADERS_ALL"}], "Default": "LOAD GLPROD_OE_ORDER_HEADERS_ALL"}, "LOAD GLPROD_OE_ORDER_HEADERS_ALL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_headers_all", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_OE_ORDER_HEADERS_ALL_FAILED"}], "Next": "PASS GLPROD_OE_ORDER_HEADERS_ALL"}, "SNS_GLPROD_OE_ORDER_HEADERS_ALL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_OE_ORDER_HEADERS_ALL Failed!"}, "Next": "GLPROD_OE_ORDER_HEADERS_ALL_ACTIVITY"}, "GLPROD_OE_ORDER_HEADERS_ALL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_OE_ORDER_HEADERS_ALL_INTRADAY_ACTIVITY", "End": true}, "PASS GLPROD_OE_ORDER_HEADERS_ALL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_OE_ORDER_LINES_ALL", "States": {"GLPROD_OE_ORDER_LINES_ALL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_lines_all", "StringEquals": "Y", "Next": "PASS GLPROD_OE_ORDER_LINES_ALL"}], "Default": "LOAD GLPROD_OE_ORDER_LINES_ALL"}, "LOAD GLPROD_OE_ORDER_LINES_ALL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_lines_all", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_OE_ORDER_LINES_ALL_FAILED"}], "Next": "PASS GLPROD_OE_ORDER_LINES_ALL"}, "SNS_GLPROD_OE_ORDER_LINES_ALL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_OE_ORDER_LINES_ALL Failed!"}, "Next": "GLPROD_OE_ORDER_LINES_ALL_ACTIVITY"}, "GLPROD_OE_ORDER_LINES_ALL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_OE_ORDER_LINES_ALL_INTRADAY_ACTIVITY", "End": true}, "PASS GLPROD_OE_ORDER_LINES_ALL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_GEMS_GPO_ORDER_TRACKING_TBL", "States": {"GLPROD_GEMS_GPO_ORDER_TRACKING_TBL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_gems_gpo_order_tracking_tbl", "StringEquals": "Y", "Next": "PASS GLPROD_GEMS_GPO_ORDER_TRACKING_TBL"}], "Default": "LOAD GLPROD_GEMS_GPO_ORDER_TRACKING_TBL"}, "LOAD GLPROD_GEMS_GPO_ORDER_TRACKING_TBL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_gems_gpo_order_tracking_tbl", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GEMS_GPO_ORDER_TRACKING_TBL_FAILED"}], "Next": "PASS GLPROD_GEMS_GPO_ORDER_TRACKING_TBL"}, "SNS_GLPROD_GEMS_GPO_ORDER_TRACKING_TBL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_GEMS_GPO_ORDER_TRACKING_TBL Failed!"}, "Next": "GLPROD_GEMS_GPO_ORDER_TRACKING_TBL_ACTIVITY"}, "GLPROD_GEMS_GPO_ORDER_TRACKING_TBL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_GEMS_GPO_ORDER_TRACKING_TBL_INTRADAY_ACTIVITY", "End": true}, "PASS GLPROD_GEMS_GPO_ORDER_TRACKING_TBL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_OE_ORDER_HOLDS_ALL", "States": {"GLPROD_OE_ORDER_HOLDS_ALL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_holds_all", "StringEquals": "Y", "Next": "PASS GLPROD_OE_ORDER_HOLDS_ALL"}], "Default": "LOAD GLPROD_OE_ORDER_HOLDS_ALL"}, "LOAD GLPROD_OE_ORDER_HOLDS_ALL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_op_val_intrdy_glprod_oe_order_holds_all", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_OE_ORDER_HOLDS_ALL_FAILED"}], "Next": "PASS GLPROD_OE_ORDER_HOLDS_ALL"}, "SNS_GLPROD_OE_ORDER_HOLDS_ALL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_OE_ORDER_HOLDS_ALL Failed!"}, "Next": "GLPROD_OE_ORDER_HOLDS_ALL_ACTIVITY"}, "GLPROD_OE_ORDER_HOLDS_ALL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_OE_ORDER_HOLDS_ALL_INTRADAY_ACTIVITY", "End": true}, "PASS GLPROD_OE_ORDER_HOLDS_ALL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE", "States": {"GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_intrdy_glprod_gehc_gpo_ordline_addl_info_active", "StringEquals": "Y", "Next": "PASS GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE"}], "Default": "LOAD GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE"}, "LOAD GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE": {"Type": "Task", "ResultPath": "$.GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_intrdy_glprod_gehc_gpo_ordline_addl_info_active", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE_FAILED"}], "Next": "PASS GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE"}, "SNS_GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE Failed!"}, "Next": "GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE_ACTIVITY"}, "GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE_ACTIVITY", "End": true}, "PASS GLPROD_GEHC_GPO_ORDLINE_ADDL_INFO_ACTIVE": {"Type": "Pass", "End": true}}}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "Insert error log into redshift"}], "Next": "Put Lambda"}, "Insert error log into redshift": {"Type": "Task", "ResultPath": "$.logerror", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_ORDER_FREQUENT", "--status": "JOB ERROR"}}, "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_SUCCESS"}, "SNS_MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_GLPROD_ORDER_INTRADAY2 completed successfully!!"}}, "End": true}}}