PROD_JobConfig/StepFunction/Input/MAPP_CDS_ORDER_GLPROD_INTRADAY.json
{"StartAt": "MAPP_CDS_ORDER_GLPROD_INTRADAY", "States": {"MAPP_CDS_ORDER_GLPROD_INTRADAY": {"Type": "Pass", "Next": "MAPP_CDS_ORDER_ENTITY_INTRADAY"}, "MAPP_CDS_ORDER_ENTITY_INTRADAY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MAPP_CDS_ORDER_ENTITY_INTRADAY", "StringEquals": "Y", "Next": "PASS MAPP_CDS_ORDER_ENTITY_INTRADAY"}], "Default": "LOAD MAPP_CDS_ORDER_ENTITY_INTRADAY"}, "LOAD MAPP_CDS_ORDER_ENTITY_INTRADAY": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MAPP_CDS_ORDER_ENTITY_INTRADAY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_mapp_cds_order_wrapper()", "--query_tag": "MAC-sp_mapp_cds_order_wrapper", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_CDS_ORDER_ENTITY_INTRADAY_FAILED"}], "Next": "PASS MAPP_CDS_ORDER_ENTITY_INTRADAY"}, "SNS_MAPP_CDS_ORDER_ENTITY_INTRADAY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for MAPP_CDS_ORDER_ENTITY_INTRADAY Failed!"}, "End": false}, "PASS MAPP_CDS_ORDER_ENTITY_INTRADAY": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_CDS_ORDER_GLPROD_INTRADAY_SUCCESS"}, "SNS_MAPP_CDS_ORDER_GLPROD_INTRADAY_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_CDS_ORDER_ENTITY_INTRADAY completed successfully!!"}}, "End": true}}}