PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_FLAT_FILE1.json
{"StartAt": "START MAPP_COMPACTION_FLAT_FILE JOBS", "States": {"START MAPP_COMPACTION_FLAT_FILE JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA", "States": {"MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_mapp_configurable_data", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA"}], "Default": "LOAD MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA"}, "LOAD MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_mapp_configurable_data", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA"}, "SNS_MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA Failed!"}, "Next": "MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA_ACTIVITY"}, "MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_CONFIGURABLE_DATA_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_MAPP_CONFIGURABLE_DATA": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_MAPP_SPM_JRNL", "States": {"MAPP_FLAT_FILE_MAPP_SPM_JRNL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_mapp_spm_jrnl", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_MAPP_SPM_JRNL"}], "Default": "LOAD MAPP_FLAT_FILE_MAPP_SPM_JRNL"}, "LOAD MAPP_FLAT_FILE_MAPP_SPM_JRNL": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_MAPP_SPM_JRNL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_mapp_spm_jrnl", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_MAPP_SPM_JRNL_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_MAPP_SPM_JRNL"}, "SNS_MAPP_FLAT_FILE_MAPP_SPM_JRNL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_MAPP_SPM_JRNL Failed!"}, "Next": "MAPP_FLAT_FILE_MAPP_SPM_JRNL_ACTIVITY"}, "MAPP_FLAT_FILE_MAPP_SPM_JRNL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_MAPP_SPM_JRNL_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_MAPP_SPM_JRNL": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES", "States": {"MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_mapp_prt_cs_notes", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES"}], "Default": "LOAD MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES"}, "LOAD MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_mapp_prt_cs_notes", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES"}, "SNS_MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES Failed!"}, "Next": "MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES_ACTIVITY"}, "MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_PRT_CS_NOTES_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_MAPP_PRT_CS_NOTES": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_POLE_REGION_HIERARCHY", "States": {"MAPP_FLAT_FILE_POLE_REGION_HIERARCHY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_pole_region_hierarchy_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_POLE_REGION_HIERARCHY"}], "Default": "LOAD MAPP_FLAT_FILE_POLE_REGION_HIERARCHY"}, "LOAD MAPP_FLAT_FILE_POLE_REGION_HIERARCHY": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_POLE_REGION_HIERARCHY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_pole_region_hierarchy_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_POLE_REGION_HIERARCHY_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_POLE_REGION_HIERARCHY"}, "SNS_MAPP_FLAT_FILE_POLE_REGION_HIERARCHY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_POLE_REGION_HIERARCHY Failed!"}, "Next": "MAPP_FLAT_FILE_POLE_REGION_HIERARCHY_ACTIVITY"}, "MAPP_FLAT_FILE_POLE_REGION_HIERARCHY_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_POLE_REGION_HIERARCHY_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_POLE_REGION_HIERARCHY": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG", "States": {"MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_spotfire_target_cust_reg_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG"}], "Default": "LOAD MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG"}, "LOAD MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_spotfire_target_cust_reg_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG"}, "SNS_MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG Failed!"}, "Next": "MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG_ACTIVITY"}, "MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_SPOTFIRE_TARGET_CUST_REG": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE", "States": {"MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_spotfire_target_src_pole_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE"}], "Default": "LOAD MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE"}, "LOAD MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_spotfire_target_src_pole_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE"}, "SNS_MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE Failed!"}, "Next": "MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE_ACTIVITY"}, "MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_SPOTFIRE_TARGET_SRC_POLE": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT", "States": {"MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_technical_obsolete_report", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT"}], "Default": "LOAD MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT"}, "LOAD MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_technical_obsolete_report", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT"}, "SNS_MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT Failed!"}, "Next": "MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT_ACTIVITY"}, "MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_TECHNICAL_OBSOLETE_REPORT": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_PRT_PART_VENDOR", "States": {"MAPP_FLAT_FILE_PRT_PART_VENDOR": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_prt_part_vendor_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_PRT_PART_VENDOR"}], "Default": "LOAD MAPP_FLAT_FILE_PRT_PART_VENDOR"}, "LOAD MAPP_FLAT_FILE_PRT_PART_VENDOR": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_PRT_PART_VENDOR", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_prt_part_vendor_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_PRT_PART_VENDOR_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_PRT_PART_VENDOR"}, "SNS_MAPP_FLAT_FILE_PRT_PART_VENDOR_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_PRT_PART_VENDOR Failed!"}, "Next": "MAPP_FLAT_FILE_PRT_PART_VENDOR_ACTIVITY"}, "MAPP_FLAT_FILE_PRT_PART_VENDOR_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_PRT_PART_VENDOR_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_PRT_PART_VENDOR": {"Type": "Pass", "End": true}}}, {"StartAt": "MAPP_FLAT_FILE_PRT_SMR_VENDOR", "States": {"MAPP_FLAT_FILE_PRT_SMR_VENDOR": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_prt_smr_vendor_flat_file", "StringEquals": "Y", "Next": "PASS MAPP_FLAT_FILE_PRT_SMR_VENDOR"}], "Default": "LOAD MAPP_FLAT_FILE_PRT_SMR_VENDOR"}, "LOAD MAPP_FLAT_FILE_PRT_SMR_VENDOR": {"Type": "Task", "ResultPath": "$.MAPP_FLAT_FILE_PRT_SMR_VENDOR", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_prt_smr_vendor_flat_file", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MAPP_FLAT_FILE_PRT_SMR_VENDOR_FAILED"}], "Next": "PASS MAPP_FLAT_FILE_PRT_SMR_VENDOR"}, "SNS_MAPP_FLAT_FILE_PRT_SMR_VENDOR_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MAPP_FLAT_FILE_PRT_SMR_VENDOR Failed!"}, "Next": "MAPP_FLAT_FILE_PRT_SMR_VENDOR_ACTIVITY"}, "MAPP_FLAT_FILE_PRT_SMR_VENDOR_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_FLAT_FILE_PRT_SMR_VENDOR_ACTIVITY", "End": true}, "PASS MAPP_FLAT_FILE_PRT_SMR_VENDOR": {"Type": "Pass", "End": true}}}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "Insert error log into redshift"}], "Next": "Completed"}, "Insert error log into redshift": {"Type": "Task", "ResultPath": "$.Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_log", "Arguments": {"--jobname": "MIRROR_COMPACTION_DAILY", "--status": "JOB ERROR"}}, "End": true}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MAPP_COMPACTION_FLAT_FILE_SUCCESS"}, "SNS_MAPP_COMPACTION_FLAT_FILE_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_FLAT_FILE completed successfully!!"}}, "End": true}}}