PROD_JobConfig/StepFunction/Input/MAPP_ORDER_ENTITY_GLPROD_INTRADAY.json
{"StartAt": "MAPP_ORDER_ENTITY_GLPROD_INTRADAY", "States": {"MAPP_ORDER_ENTITY_GLPROD_INTRADAY": {"Type": "Pass", "Next": "GLPROD_INV_ONHAND_DTL_FS"}, "GLPROD_INV_ONHAND_DTL_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_ONHAND_DTL_FS", "StringEquals": "Y", "Next": "PASS GLPROD_INV_ONHAND_DTL_FS"}], "Default": "LOAD GLPROD_INV_ONHAND_DTL_FS"}, "LOAD GLPROD_INV_ONHAND_DTL_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_INV_ONHAND_DTL_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_onhand_dtl_fs_glprod('GLPROD',NULL,NULL,'INV_ONHAND_DTL_FS')", "--query_tag": "MAE-p_inv_onhand_dtl_fs_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_ONHAND_DTL_FS_FAILED"}], "Next": "PASS GLPROD_INV_ONHAND_DTL_FS"}, "SNS_GLPROD_INV_ONHAND_DTL_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_INV_ONHAND_DTL_FS Source System Failed!"}, "End": false}, "PASS GLPROD_INV_ONHAND_DTL_FS": {"Type": "Pass", "Next": "GLPROD_INV_ONHAND_DTL_F"}, "GLPROD_INV_ONHAND_DTL_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_ONHAND_DTL_F", "StringEquals": "Y", "Next": "PASS GLPROD_INV_ONHAND_DTL_F"}], "Default": "LOAD GLPROD_INV_ONHAND_DTL_F"}, "LOAD GLPROD_INV_ONHAND_DTL_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_INV_ONHAND_DTL_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_onhand_dtl_f_glprod('GLPROD',NULL,'INV_ONHAND_DTL_FS','INV_ONHAND_DTL_F')", "--query_tag": "MAE-sp_inv_onhand_dtl_f_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_ONHAND_DTL_F_FAILED"}], "Next": "PASS GLPROD_INV_ONHAND_DTL_F"}, "SNS_GLPROD_INV_ONHAND_DTL_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_INV_ONHAND_DTL_F Source System Failed!"}, "End": false}, "PASS GLPROD_INV_ONHAND_DTL_F": {"Type": "Pass", "Next": "GLPROD_GL_LEDGR_DS"}, "GLPROD_GL_LEDGR_DS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_GL_LEDGR_DS", "StringEquals": "Y", "Next": "PASS GLPROD_GL_LEDGR_DS"}], "Default": "LOAD GLPROD_GL_LEDGR_DS"}, "LOAD GLPROD_GL_LEDGR_DS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_GL_LEDGR_DS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_ledgr_ds_glprod('GLPROD','HOURLY','gl_ledgers','gl_ledgr_ds')", "--query_tag": "MAE-sp_gl_ledgr_ds_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GL_LEDGR_DS_FAILED"}], "Next": "PASS GLPROD_GL_LEDGR_DS"}, "SNS_GLPROD_GL_LEDGR_DS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_GL_LEDGR_DS Source System Failed!"}, "End": false}, "PASS GLPROD_GL_LEDGR_DS": {"Type": "Pass", "Next": "GLPROD_GL_LEDGR_D"}, "GLPROD_GL_LEDGR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_GL_LEDGR_D", "StringEquals": "Y", "Next": "PASS GLPROD_GL_LEDGR_D"}], "Default": "LOAD GLPROD_GL_LEDGR_D"}, "LOAD GLPROD_GL_LEDGR_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_GL_LEDGR_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gl_ledgr_d_glprod('GLPROD','HOURLY','gl_ledgr_ds','gl_ledgr_d')", "--query_tag": "MAE-sp_gl_ledgr_d_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GL_LEDGR_D_FAILED"}], "Next": "PASS GLPROD_GL_LEDGR_D"}, "SNS_GLPROD_GL_LEDGR_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_GL_LEDGR_D Source System Failed!"}, "End": false}, "PASS GLPROD_GL_LEDGR_D": {"Type": "Pass", "Next": "GLPROD_INV_RESRVTN_F"}, "GLPROD_INV_RESRVTN_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_RESRVTN_F", "StringEquals": "Y", "Next": "PASS GLPROD_INV_RESRVTN_F"}], "Default": "LOAD GLPROD_INV_RESRVTN_F"}, "LOAD GLPROD_INV_RESRVTN_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_INV_RESRVTN_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_INV_RESRVTN_F_glprod()", "--query_tag": "MAE-sp_INV_RESRVTN_F_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_RESRVTN_F_FAILED"}], "Next": "PASS GLPROD_INV_RESRVTN_F"}, "SNS_GLPROD_INV_RESRVTN_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_INV_RESRVTN_F Source System Failed!"}, "End": false}, "PASS GLPROD_INV_RESRVTN_F": {"Type": "Pass", "Next": "GLPROD_WSH_DELIVERY_DET_FS"}, "GLPROD_WSH_DELIVERY_DET_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_WSH_DELIVERY_DET_FS", "StringEquals": "Y", "Next": "PASS GLPROD_WSH_DELIVERY_DET_FS"}], "Default": "LOAD GLPROD_WSH_DELIVERY_DET_FS"}, "LOAD GLPROD_WSH_DELIVERY_DET_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_WSH_DELIVERY_DET_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.SP_WSH_DELIVERY_DET_FS_GLPROD('GLPROD','HOURLY','WSH_DELIVERY_DETAILS','wsh_delivery_det_fs')", "--query_tag": "MAE-WSH_DELIVERY_DET_FS_GLPROD", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_WSH_DELIVERY_DET_FS_FAILED"}], "Next": "PASS GLPROD_WSH_DELIVERY_DET_FS"}, "SNS_GLPROD_WSH_DELIVERY_DET_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_WSH_DELIVERY_DET_FS Source System Failed!"}, "End": false}, "PASS GLPROD_WSH_DELIVERY_DET_FS": {"Type": "Pass", "Next": "GLPROD_ORDR_HOLDS_DS"}, "GLPROD_ORDR_HOLDS_DS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_ORDR_HOLDS_DS", "StringEquals": "Y", "Next": "PASS GLPROD_ORDR_HOLDS_DS"}], "Default": "LOAD GLPROD_ORDR_HOLDS_DS"}, "LOAD GLPROD_ORDR_HOLDS_DS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_ORDR_HOLDS_DS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_ordr_holds_ds_glprod()", "--query_tag": "MAE-sp_ordr_holds_ds_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_ORDR_HOLDS_DS_FAILED"}], "Next": "PASS GLPROD_ORDR_HOLDS_DS"}, "SNS_GLPROD_ORDR_HOLDS_DS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS glue job for GLPROD_ORDR_HOLDS_DS Source System Failed!"}, "End": false}, "PASS GLPROD_ORDR_HOLDS_DS": {"Type": "Pass", "Next": "GLPROD_WSH_DELIVERY_DET_F"}, "GLPROD_WSH_DELIVERY_DET_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_WSH_DELIVERY_DET_F", "StringEquals": "Y", "Next": "SKIP GLPROD_WSH_DELIVERY_DET_F"}], "Default": "LOAD GLPROD_WSH_DELIVERY_DET_F"}, "LOAD GLPROD_WSH_DELIVERY_DET_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_WSH_DELIVERY_DET_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.SP_WSH_DELIVERY_DET_F_GLPROD('GLPROD','HOURLY','WSH_DELIVERY_DET_FS','WSH_DELIVERY_DET_F')", "--query_tag": "MAE-_WSH_DELIVERY_DET_F_GLPROD", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_WSH_DELIVERY_DET_F_FAILED"}], "Next": "SKIP GLPROD_WSH_DELIVERY_DET_F"}, "SNS_GLPROD_WSH_DELIVERY_DET_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR GLPROD_WSH_DELIVERY_DET_F FAILED!"}, "End": false}, "SKIP GLPROD_WSH_DELIVERY_DET_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_ORDER_ENTITY_GLPROD_INTRADAY_SUCCESS"}, "SNS_MAPP_ORDER_ENTITY_GLPROD_INTRADAY_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_ORDER_ENTITY_GLPROD_INTRADAY completed successfully!!"}}, "End": true}}}