PROD_JobConfig/StepFunction/Input/MAPP_CD_ENTITY_GLPROD1.json
{"StartAt": "START MAPP_CD_ENTITY_GLPROD1", "States": {"START MAPP_CD_ENTITY_GLPROD1": {"Type": "Pass", "InputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_INV_PARAM_D", "States": {"GLPROD_INV_PARAM_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_PARAM_D", "StringEquals": "Y", "Next": "PASS GLPROD_INV_PARAM_D"}], "Default": "LOAD GLPROD_INV_PARAM_D"}, "LOAD GLPROD_INV_PARAM_D": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_param_d()", "--query_tag": "MAE-sp_inv_param_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_PARAM_D_FAILED"}], "Next": "PASS GLPROD_INV_PARAM_D"}, "SNS_GLPROD_INV_PARAM_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_INV_PARAM_D Failed!"}, "Next": "GLPROD_INV_PARAM_D_ACTIVITY"}, "GLPROD_INV_PARAM_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_ENTITY_GLPROD_INV_PARAM_D_ACTIVITY", "End": true}, "PASS GLPROD_INV_PARAM_D": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_INV_ITM_LOC_D", "States": {"GLPROD_INV_ITM_LOC_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_ITM_LOC_D", "StringEquals": "Y", "Next": "PASS GLPROD_INV_ITM_LOC_D"}], "Default": "LOAD GLPROD_INV_ITM_LOC_D"}, "LOAD GLPROD_INV_ITM_LOC_D": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_itm_loc_d()", "--query_tag": "MAE-sp_inv_itm_loc_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_ITM_LOC_D_FAILED"}], "Next": "PASS GLPROD_INV_ITM_LOC_D"}, "SNS_GLPROD_INV_ITM_LOC_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_INV_ITM_LOC_D Failed!"}, "Next": "GLPROD_INV_ITM_LOC_D_ACTIVITY"}, "GLPROD_INV_ITM_LOC_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_ENTITY_GLPROD_INV_ITM_LOC_D_ACTIVITY", "End": true}, "PASS GLPROD_INV_ITM_LOC_D": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_INV_TRANS_TYP_D", "States": {"GLPROD_INV_TRANS_TYP_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_TRANS_TYP_D", "StringEquals": "Y", "Next": "PASS GLPROD_INV_TRANS_TYP_D"}], "Default": "LOAD GLPROD_INV_TRANS_TYP_D"}, "LOAD GLPROD_INV_TRANS_TYP_D": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_trans_typ_d()", "--query_tag": "MAE-sp_inv_trans_typ_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_TRANS_TYP_D_FAILED"}], "Next": "PASS GLPROD_INV_TRANS_TYP_D"}, "SNS_GLPROD_INV_TRANS_TYP_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for GLPROD_INV_TRANS_TYP_D Failed!"}, "Next": "GLPROD_INV_TRANS_TYP_D_ACTIVITY"}, "GLPROD_INV_TRANS_TYP_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_ENTITY_GLPROD_INV_TRANS_TYP_D_ACTIVITY", "End": true}, "PASS GLPROD_INV_TRANS_TYP_D": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_SVCOPS_OP_MOR_FX_LOAD", "States": {"GLPROD_SVCOPS_OP_MOR_FX_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_SVCOPS_OP_MOR_FX_LOAD", "StringEquals": "Y", "Next": "PASS GLPROD_SVCOPS_OP_MOR_FX_LOAD"}], "Default": "LOAD GLPROD_SVCOPS_OP_MOR_FX_LOAD"}, "LOAD GLPROD_SVCOPS_OP_MOR_FX_LOAD": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_svcops_op_mor_fx_load()", "--query_tag": "MAE-sp_svcops_op_mor_fx_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_SVCOPS_OP_MOR_FX_LOAD_FAILED"}], "Next": "PASS GLPROD_SVCOPS_OP_MOR_FX_LOAD"}, "SNS_GLPROD_SVCOPS_OP_MOR_FX_LOAD_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_SVCOPS_OP_MOR_FX_LOAD Failed!"}, "Next": "GLPROD_SVCOPS_OP_MOR_FX_LOAD_ACTIVITY"}, "GLPROD_SVCOPS_OP_MOR_FX_LOAD_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_ENTITY_GLPROD_SVCOPS_OP_MOR_FX_LOAD_ACTIVITY", "End": true}, "PASS GLPROD_SVCOPS_OP_MOR_FX_LOAD": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_ORG_MAIN_D", "States": {"GLPROD_ORG_MAIN_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_ORG_MAIN_D", "StringEquals": "Y", "Next": "PASS GLPROD_ORG_MAIN_D"}], "Default": "LOAD GLPROD_ORG_MAIN_D"}, "LOAD GLPROD_ORG_MAIN_D": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_org_main_d()", "--query_tag": "MAE-sp_org_main_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_ORG_MAIN_D_FAILED"}], "Next": "PASS GLPROD_ORG_MAIN_D"}, "SNS_GLPROD_ORG_MAIN_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_ORG_MAIN_D Failed!"}, "Next": "GLPROD_ORG_MAIN_D_ACTIVITY"}, "GLPROD_ORG_MAIN_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_ENTITY_GLPROD_ORG_MAIN_D_ACTIVITY", "End": true}, "PASS GLPROD_ORG_MAIN_D": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_PRD_ORG_AS", "States": {"GLPROD_PRD_ORG_AS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_PRD_ORG_AS", "StringEquals": "Y", "Next": "PASS GLPROD_PRD_ORG_AS"}], "Default": "LOAD GLPROD_PRD_ORG_AS"}, "LOAD GLPROD_PRD_ORG_AS": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_prd_org_as_glprod()", "--query_tag": "MAE-sp_prd_org_as_glprod", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_PRD_ORG_AS_FAILED"}], "Next": "PASS GLPROD_PRD_ORG_AS"}, "SNS_GLPROD_PRD_ORG_AS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_PRD_ORG_AS Failed!"}, "Next": "GLPROD_PRD_ORG_AS_ACTIVITY"}, "GLPROD_PRD_ORG_AS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MAPP_ENTITY_GLPROD_PRD_ORG_AS_ACTIVITY", "End": true}, "PASS GLPROD_PRD_ORG_AS": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_MAPP_CD_ENTITY_GLPROD1"}, "SNS_MAPP_CD_ENTITY_GLPROD1": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_CD_ENTITY_GLPROD1 completed successfully!!!"}}, "End": true}}}