PROD_JobConfig/StepFunction/Input/MAPP_COMPACTION_GLPROD4.json
{"StartAt": "START GLPROD COMPACTION JOBS", "States": {"START GLPROD COMPACTION JOBS": {"Type": "Wait", "InputPath": "$", "Seconds": 60, "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_HR_LOCATIONS_ALL", "States": {"GLPROD_HR_LOCATIONS_ALL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_hr_locations_all", "StringEquals": "Y", "Next": "PASS GLPROD_HR_LOCATIONS_ALL"}], "Default": "LOAD GLPROD_HR_LOCATIONS_ALL"}, "LOAD GLPROD_HR_LOCATIONS_ALL": {"Type": "Task", "ResultPath": "$.GLPROD_HR_LOCATIONS_ALL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_hr_locations_all", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_HR_LOCATIONS_ALL_FAILED"}], "Next": "PASS GLPROD_HR_LOCATIONS_ALL"}, "SNS_GLPROD_HR_LOCATIONS_ALL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_HR_LOCATIONS_ALL Failed!"}, "Next": "GLPROD_HR_LOCATIONS_ALL_ACTIVITY"}, "GLPROD_HR_LOCATIONS_ALL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_HR_LOCATIONS_ALL_ACTIVITY", "End": true}, "PASS GLPROD_HR_LOCATIONS_ALL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_RELATED_ITEMS", "States": {"GLPROD_MTL_RELATED_ITEMS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_mtl_related_items", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_RELATED_ITEMS"}], "Default": "LOAD GLPROD_MTL_RELATED_ITEMS"}, "LOAD GLPROD_MTL_RELATED_ITEMS": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.GLPROD_MTL_RELATED_ITEMS", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_mtl_related_items", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_RELATED_ITEMS_FAILED"}], "Next": "PASS GLPROD_MTL_RELATED_ITEMS"}, "SNS_GLPROD_MTL_RELATED_ITEMS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_RELATED_ITEMS Failed!"}, "Next": "GLPROD_MTL_RELATED_ITEMS_ACTIVITY"}, "GLPROD_MTL_RELATED_ITEMS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_MTL_RELATED_ITEMS_ACTIVITY", "End": true}, "PASS GLPROD_MTL_RELATED_ITEMS": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_PO_LINES_ALL", "States": {"GLPROD_PO_LINES_ALL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_po_lines_all", "StringEquals": "Y", "Next": "PASS GLPROD_PO_LINES_ALL"}], "Default": "LOAD GLPROD_PO_LINES_ALL"}, "LOAD GLPROD_PO_LINES_ALL": {"Type": "Task", "ResultPath": "$.GLPROD_PO_LINES_ALL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_po_lines_all", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_PO_LINES_ALL_FAILED"}], "Next": "PASS GLPROD_PO_LINES_ALL"}, "SNS_GLPROD_PO_LINES_ALL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_PO_LINES_ALL Failed!"}, "Next": "GLPROD_PO_LINES_ALL_ACTIVITY"}, "GLPROD_PO_LINES_ALL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_PO_LINES_ALL_ACTIVITY", "End": true}, "PASS GLPROD_PO_LINES_ALL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_WMS_LICENSE_PLATE_NUMBERS", "States": {"GLPROD_WMS_LICENSE_PLATE_NUMBERS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_wms_license_plate_numbers", "StringEquals": "Y", "Next": "PASS GLPROD_WMS_LICENSE_PLATE_NUMBERS"}], "Default": "LOAD GLPROD_WMS_LICENSE_PLATE_NUMBERS"}, "LOAD GLPROD_WMS_LICENSE_PLATE_NUMBERS": {"Type": "Task", "ResultPath": "$.GLPROD_WMS_LICENSE_PLATE_NUMBERS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_wms_license_plate_numbers", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_WMS_LICENSE_PLATE_NUMBERS_FAILED"}], "Next": "PASS GLPROD_WMS_LICENSE_PLATE_NUMBERS"}, "SNS_GLPROD_WMS_LICENSE_PLATE_NUMBERS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_WMS_LICENSE_PLATE_NUMBERS Failed!"}, "Next": "GLPROD_WMS_LICENSE_PLATE_NUMBERS_ACTIVITY"}, "GLPROD_WMS_LICENSE_PLATE_NUMBERS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_WMS_LICENSE_PLATE_NUMBERS_ACTIVITY", "End": true}, "PASS GLPROD_WMS_LICENSE_PLATE_NUMBERS": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_SECONDARY_INVENTORIES", "States": {"GLPROD_MTL_SECONDARY_INVENTORIES": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_mtl_secondary_inventories", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_SECONDARY_INVENTORIES"}], "Default": "LOAD GLPROD_MTL_SECONDARY_INVENTORIES"}, "LOAD GLPROD_MTL_SECONDARY_INVENTORIES": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_SECONDARY_INVENTORIES", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_mtl_secondary_inventories", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_SECONDARY_INVENTORIES_FAILED"}], "Next": "PASS GLPROD_MTL_SECONDARY_INVENTORIES"}, "SNS_GLPROD_MTL_SECONDARY_INVENTORIES_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_SECONDARY_INVENTORIES Failed!"}, "Next": "GLPROD_MTL_SECONDARY_INVENTORIES_ACTIVITY"}, "GLPROD_MTL_SECONDARY_INVENTORIES_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_MTL_SECONDARY_INVENTORIES_ACTIVITY", "End": true}, "PASS GLPROD_MTL_SECONDARY_INVENTORIES": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_PO_HEADERS_ALL", "States": {"GLPROD_PO_HEADERS_ALL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_po_headers_all", "StringEquals": "Y", "Next": "PASS GLPROD_PO_HEADERS_ALL"}], "Default": "LOAD GLPROD_PO_HEADERS_ALL"}, "LOAD GLPROD_PO_HEADERS_ALL": {"Type": "Task", "ResultPath": "$.GLPROD_PO_HEADERS_ALL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_po_headers_all", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_PO_HEADERS_ALL_FAILED"}], "Next": "PASS GLPROD_PO_HEADERS_ALL"}, "SNS_GLPROD_PO_HEADERS_ALL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_PO_HEADERS_ALL Failed!"}, "Next": "GLPROD_PO_HEADERS_ALL_ACTIVITY"}, "GLPROD_PO_HEADERS_ALL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_PO_HEADERS_ALL_ACTIVITY", "End": true}, "PASS GLPROD_PO_HEADERS_ALL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_WSH_NEW_DELIVERIES", "States": {"GLPROD_WSH_NEW_DELIVERIES": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_wsh_new_deliveries", "StringEquals": "Y", "Next": "PASS GLPROD_WSH_NEW_DELIVERIES"}], "Default": "LOAD GLPROD_WSH_NEW_DELIVERIES"}, "LOAD GLPROD_WSH_NEW_DELIVERIES": {"Type": "Task", "ResultPath": "$.GLPROD_WSH_NEW_DELIVERIES", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_wsh_new_deliveries", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_WSH_NEW_DELIVERIES_FAILED"}], "Next": "PASS GLPROD_WSH_NEW_DELIVERIES"}, "SNS_GLPROD_WSH_NEW_DELIVERIES_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_WSH_NEW_DELIVERIES Failed!"}, "Next": "GLPROD_WSH_NEW_DELIVERIES_ACTIVITY"}, "GLPROD_WSH_NEW_DELIVERIES_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_WSH_NEW_DELIVERIES_ACTIVITY", "End": true}, "PASS GLPROD_WSH_NEW_DELIVERIES": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_INTERORG_PARAMETERS", "States": {"GLPROD_MTL_INTERORG_PARAMETERS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_mtl_interorg_parameters", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_INTERORG_PARAMETERS"}], "Default": "LOAD GLPROD_MTL_INTERORG_PARAMETERS"}, "LOAD GLPROD_MTL_INTERORG_PARAMETERS": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_INTERORG_PARAMETERS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_mtl_interorg_parameters", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_INTERORG_PARAMETERS_FAILED"}], "Next": "PASS GLPROD_MTL_INTERORG_PARAMETERS"}, "SNS_GLPROD_MTL_INTERORG_PARAMETERS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_INTERORG_PARAMETERS Failed!"}, "Next": "GLPROD_MTL_INTERORG_PARAMETERS_ACTIVITY"}, "GLPROD_MTL_INTERORG_PARAMETERS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_MTL_INTERORG_PARAMETERS_ACTIVITY", "End": true}, "PASS GLPROD_MTL_INTERORG_PARAMETERS": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS", "States": {"GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_glprod_ge_ont_ship_restriction_holds", "StringEquals": "Y", "Next": "PASS GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS"}], "Default": "LOAD GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS"}, "LOAD GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS": {"Type": "Task", "ResultPath": "$.GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_glprod_ge_ont_ship_restriction_holds", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS_FAILED"}], "Next": "PASS GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS"}, "SNS_GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS Failed!"}, "Next": "GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS_ACTIVITY"}, "GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MAPP_GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS_ACTIVITY", "End": true}, "PASS GLPROD_GE_ONT_SHIP_RESTRICTION_HOLDS": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MAPP_GLPROD_COMPACTION_SUCCESS"}, "SNS_MAPP_GLPROD_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MAPP_COMPACTION_GLPROD completed successfully!!!"}}, "End": true}}}