PROD_JobConfig/StepFunction/Input/MASTER_ORDER_SCHEDULE.json
{"StartAt": "MASTER_ORDER_SCHEDULE", "States": {"MASTER_ORDER_SCHEDULE": {"Type": "Pass", "Result": "$", "Next": "CHECK OTHER RUN"}, "CHECK OTHER RUN": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mapp_daily_run_schedule", "Catch": [{"ErrorEquals": ["ZeroDivisionError"], "Next": "SNS_DAILY_CHECK_FAILED"}], "End": true}, "FAIL_SCHEDULE": {"Type": "Fail", "Cause": "Invalid response.", "Error": "ErrorA"}, "SNS_DAILY_CHECK_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "MAPP Order Intraday job cannot be executed as other MAPP jobs are running !"}, "Next": "FAIL_SCHEDULE"}}}