PROD_JobConfig/StepFunction/Input/MASTER_DAILY_SCHEDULE.json
{"StartAt": "MASTER_DAILY_SCHEDULE", "States": {"MASTER_DAILY_SCHEDULE": {"Type": "Pass", "Result": "$", "Next": "CHECK OTHER RUN"}, "CHECK OTHER RUN": {"Type": "Task", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:mapp_daily_run_schedule", "Catch": [{"ErrorEquals": ["ZeroDivisionError"], "Next": "SNS_DAILY_CHECK_FAILED"}], "Next": "CONTINUE_DAILY"}, "CONTINUE_DAILY": {"Type": "Pass", "Result": "$", "End": true}, "SNS_DAILY_CHECK_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " DAILY CHECK FAILED !"}, "Next": "CONTINUE_DAILY"}}}