PROD_JobConfig/StepFunction/Input/NONSS_ASSET_COMPACTION_MUST.json
{"StartAt": "StartParallel", "States": {"StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "NONSS_ASSET_COMPACTION_MUST1", "States": {"NONSS_ASSET_COMPACTION_MUST1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_ASSET_COMPACTION_MUST1", "StringEquals": "Y", "Next": "PASS NONSS_ASSET_COMPACTION_MUST1"}], "Default": "LOAD NONSS_ASSET_COMPACTION_MUST1"}, "LOAD NONSS_ASSET_COMPACTION_MUST1": {"Type": "Task", "ResultPath": "$.NONSS_ASSET_COMPACTION_MUST1", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "MUST", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_must_syst_full": "N", "job_lnd_mrr_full_refresh_must_contract1_full": "N", "job_lnd_mrr_full_refresh_must_contract2_full": "N", "job_lnd_mrr_full_refresh_must_tab027uk_full": "N", "job_lnd_mrr_full_refresh_must_installed_prod1_full": "N", "job_lnd_mrr_full_refresh_must_tabfonuk_full": "N", "job_lnd_mrr_full_refresh_must_tabfonfr_full": "N", "job_lnd_mrr_full_refresh_must_fse_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_ASSET_COMPACTION_MUST1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_ASSET_COMPACTION_MUST1_FAILED"}], "Next": "PASS NONSS_ASSET_COMPACTION_MUST1"}, "SNS_NONSS_ASSET_COMPACTION_MUST1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_ASSET_COMPACTION_MUST1 Failed!"}, "Next": "NONSS_ASSET_COMPACTION_MUST1_ACTIVITY"}, "NONSS_ASSET_COMPACTION_MUST1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_ASSET_MUST1_ACTIVITY", "End": true}, "PASS NONSS_ASSET_COMPACTION_MUST1": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_ASSET_COMPACTION_MUST2", "States": {"NONSS_ASSET_COMPACTION_MUST2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_ASSET_COMPACTION_MUST2", "StringEquals": "Y", "Next": "PASS NONSS_ASSET_COMPACTION_MUST2"}], "Default": "LOAD NONSS_ASSET_COMPACTION_MUST2"}, "LOAD NONSS_ASSET_COMPACTION_MUST2": {"Type": "Task", "ResultPath": "$.NONSS_ASSET_COMPACTION_MUST2", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "MUST", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_must_site_full": "N", "job_lnd_mrr_full_refresh_must_tab007_full": "N", "job_lnd_mrr_full_refresh_must_cust_acc_full": "N", "job_lnd_mrr_full_refresh_must_dict_full": "N", "job_lnd_mrr_full_refresh_must_job_full": "N", "job_lnd_mrr_full_refresh_must_conthrs_full": "N", "job_lnd_mrr_full_refresh_must_mastcont_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_ASSET_COMPACTION_MUST2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_ASSET_COMPACTION_MUST2_FAILED"}], "Next": "PASS NONSS_ASSET_COMPACTION_MUST2"}, "SNS_NONSS_ASSET_COMPACTION_MUST2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_ASSET_COMPACTION_MUST2 Failed!"}, "Next": "NONSS_ASSET_COMPACTION_MUST2_ACTIVITY"}, "NONSS_ASSET_COMPACTION_MUST2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_ASSET_MUST2_ACTIVITY", "End": true}, "PASS NONSS_ASSET_COMPACTION_MUST2": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Task", "InputPath": "$.parallelResult", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_NONSS_ASSET_COMPACTION_MUST_SUCCESS"}, "SNS_NONSS_ASSET_COMPACTION_MUST_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ASSET_COMPACTION_MUST completed successfully!!"}}, "End": true}}}