PROD_JobConfig/StepFunction/Input/NONSS_ECOMMERCE_COMPACTION_FLAT_FILE.json
{"StartAt": "START NONSS_ECOMMERCE_COMPACTION_FLAT_FILE JOBS", "States": {"START NONSS_ECOMMERCE_COMPACTION_FLAT_FILE JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "FLAT_FILE_ECOM_CUSTOMERS_FULL", "States": {"FLAT_FILE_ECOM_CUSTOMERS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_ecom_customers_full", "StringEquals": "Y", "Next": "PASS FLAT_FILE_ECOM_CUSTOMERS_FULL"}], "Default": "LOAD FLAT_FILE_ECOM_CUSTOMERS_FULL"}, "LOAD FLAT_FILE_ECOM_CUSTOMERS_FULL": {"Type": "Task", "ResultPath": "$.FLAT_FILE_ECOM_CUSTOMERS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_ecom_customers_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_ECOM_CUSTOMERS_FULL_FAILED"}], "Next": "PASS FLAT_FILE_ECOM_CUSTOMERS_FULL"}, "SNS_FLAT_FILE_ECOM_CUSTOMERS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for FLAT_FILE_ECOM_CUSTOMERS_FULL Failed!"}, "Next": "FLAT_FILE_ECOM_CUSTOMERS_FULL_ACTIVITY"}, "FLAT_FILE_ECOM_CUSTOMERS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_FLAT_FILE_ECOM_CUSTOMERS_FULL_ACTIVITY", "End": true}, "PASS FLAT_FILE_ECOM_CUSTOMERS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL", "States": {"FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_global_extract_category_full", "StringEquals": "Y", "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL"}], "Default": "LOAD FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL"}, "LOAD FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL": {"Type": "Task", "ResultPath": "$.FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_global_extract_category_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL_FAILED"}], "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL"}, "SNS_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL Failed!"}, "Next": "FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL_ACTIVITY"}, "FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL_ACTIVITY", "End": true}, "PASS FLAT_FILE_GLOBAL_EXTRACT_CATEGORY_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL", "States": {"FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_global_extract_image_full", "StringEquals": "Y", "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL"}], "Default": "LOAD FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL"}, "LOAD FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL": {"Type": "Task", "ResultPath": "$.FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_global_extract_image_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL_FAILED"}], "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL"}, "SNS_FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL Failed!"}, "Next": "FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL_ACTIVITY"}, "FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL_ACTIVITY", "End": true}, "PASS FLAT_FILE_GLOBAL_EXTRACT_IMAGE_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL", "States": {"FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_flat_file_global_extract_replaces_full", "StringEquals": "Y", "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL"}], "Default": "LOAD FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL"}, "LOAD FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL": {"Type": "Task", "ResultPath": "$.FLAT_FILE_SVMXC_SM_CHECKLIST_RESULT_C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_flat_file_global_extract_replaces_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL_FAILED"}], "Next": "PASS FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL"}, "SNS_FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL Failed!"}, "Next": "FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL_ACTIVITY"}, "FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_FLAT_FILE_SVMXC_SM_CHECKLIST_RESULT_C_ACTIVITY", "End": true}, "PASS FLAT_FILE_GLOBAL_EXTRACT_REPLACES_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_ECOMMERCE_COMPACTION_FLAT_FILE_SUCCESS"}, "SNS_NONSS_ECOMMERCE_COMPACTION_FLAT_FILE_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ECOMMERCE_COMPACTION_FLAT_FILE completed successfully!!"}}, "End": true}}}