PROD_JobConfig/StepFunction/Input/NONSS_IBMF_ENTITY_IBL.json
{"StartAt": "START NONSS_IBMF_ENTITY_IBL_SCHEDULE", "States": {"START NONSS_IBMF_ENTITY_IBL_SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "IBL_SHIPMENT_TRACK_METRICS_LOAD"}, "IBL_SHIPMENT_TRACK_METRICS_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_TRACK_METRICS_LOAD", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_TRACK_METRICS_LOAD"}], "Default": "LOAD IBL_SHIPMENT_TRACK_METRICS_LOAD"}, "LOAD IBL_SHIPMENT_TRACK_METRICS_LOAD": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_TRACK_METRICS_LOAD", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_track_metrics_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEmetrics_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_TRACK_METRICS_LOAD_FAILED"}], "Next": "SKIP IBL_SHIPMENT_TRACK_METRICS_LOAD"}, "SNS_IBL_SHIPMENT_TRACK_METRICS_LOAD_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_TRACK_METRICS_LOAD FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_TRACK_METRICS_LOAD": {"Type": "Pass", "Next": "IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD"}, "IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD"}], "Default": "LOAD IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD"}, "LOAD IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_track_metrics_plc_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEics_plc_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD_FAILED"}], "Next": "SKIP IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD"}, "SNS_IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_TRACK_METRICS_PLC_LOAD": {"Type": "Pass", "Next": "IBL_SHIPMENT_BOM_EXPLOSION_LOAD"}, "IBL_SHIPMENT_BOM_EXPLOSION_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_BOM_EXPLOSION_LOAD", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_BOM_EXPLOSION_LOAD"}], "Default": "LOAD IBL_SHIPMENT_BOM_EXPLOSION_LOAD"}, "LOAD IBL_SHIPMENT_BOM_EXPLOSION_LOAD": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_BOM_EXPLOSION_LOAD", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_bom_explosion_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEplosion_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_BOM_EXPLOSION_LOAD_FAILED"}], "Next": "SKIP IBL_SHIPMENT_BOM_EXPLOSION_LOAD"}, "SNS_IBL_SHIPMENT_BOM_EXPLOSION_LOAD_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_BOM_EXPLOSION_LOAD FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_BOM_EXPLOSION_LOAD": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_CALC_LOAD"}, "IBL_SHIPMENT_METRICS_CALC_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_CALC_LOAD ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_CALC_LOAD "}], "Default": "LOAD IBL_SHIPMENT_METRICS_CALC_LOAD "}, "LOAD IBL_SHIPMENT_METRICS_CALC_LOAD ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_CALC_LOAD ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_calc_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEcs_calc_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_CALC_LOAD _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_CALC_LOAD "}, "SNS_IBL_SHIPMENT_METRICS_CALC_LOAD _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_CALC_LOAD  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_CALC_LOAD ": {"Type": "Pass", "Next": "IBL_SHIPMENT_PLC_LOAD"}, "IBL_SHIPMENT_PLC_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_PLC_LOAD ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_PLC_LOAD "}], "Default": "LOAD IBL_SHIPMENT_PLC_LOAD "}, "LOAD IBL_SHIPMENT_PLC_LOAD ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_PLC_LOAD ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_plc_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEent_plc_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_PLC_LOAD _FAILED"}], "Next": "SKIP IBL_SHIPMENT_PLC_LOAD "}, "SNS_IBL_SHIPMENT_PLC_LOAD _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_PLC_LOAD  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_PLC_LOAD ": {"Type": "Pass", "Next": "IBL_EQUIPMENT_SET_PSI_UPDATE"}, "IBL_EQUIPMENT_SET_PSI_UPDATE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_EQUIPMENT_SET_PSI_UPDATE ", "StringEquals": "Y", "Next": "SKIP IBL_EQUIPMENT_SET_PSI_UPDATE "}], "Default": "LOAD IBL_EQUIPMENT_SET_PSI_UPDATE "}, "LOAD IBL_EQUIPMENT_SET_PSI_UPDATE ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_EQUIPMENT_SET_PSI_UPDATE ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.equipment_set_psi_update()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEt_psi_update", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_EQUIPMENT_SET_PSI_UPDATE _FAILED"}], "Next": "SKIP IBL_EQUIPMENT_SET_PSI_UPDATE "}, "SNS_IBL_EQUIPMENT_SET_PSI_UPDATE _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_EQUIPMENT_SET_PSI_UPDATE  FAILED!"}, "End": false}, "SKIP IBL_EQUIPMENT_SET_PSI_UPDATE ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START"}, "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START"}], "Default": "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START"}, "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_asset_bucketization_base_load('start')", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEon_base_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START_FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START"}, "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_START": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS"}, "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS "}], "Default": "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS "}, "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_asset_bucketization_load_lcs()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEion_load_lcs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS "}, "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_LCS ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS"}, "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS "}], "Default": "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS "}, "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_asset_bucketization_load_uls()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEion_load_uls", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS "}, "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_ULS ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING"}, "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING "}], "Default": "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING "}, "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_asset_bucketization_load_imaging()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEload_imaging", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING "}, "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_LOAD_IMAGING ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END"}, "IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END "}], "Default": "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END "}, "LOAD IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_asset_bucketization_base_load('end')", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEon_base_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END "}, "SNS_IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_ASSET_BUCKETIZATION_BASE_LOAD_END ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD"}, "IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD "}], "Default": "LOAD IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD "}, "LOAD IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_udi_bucketization_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEization_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD "}, "SNS_IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_UDI_BUCKETIZATION_LOAD ": {"Type": "Pass", "Next": "IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY"}, "IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY", "StringEquals": "Y", "Next": "SKIP IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY "}], "Default": "LOAD IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY"}, "LOAD IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_siebel_asset_completeness_load('daily')", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEeteness_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY_FAILED"}], "Next": "SKIP IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY "}, "SNS_IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY FAILED!"}, "End": false}, "SKIP IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_DAILY ": {"Type": "Pass", "Next": "IBL_ASSET_TRACK_TRACEABILITY_LOAD"}, "IBL_ASSET_TRACK_TRACEABILITY_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_ASSET_TRACK_TRACEABILITY_LOAD ", "StringEquals": "Y", "Next": "SKIP IBL_ASSET_TRACK_TRACEABILITY_LOAD "}], "Default": "LOAD IBL_ASSET_TRACK_TRACEABILITY_LOAD "}, "LOAD IBL_ASSET_TRACK_TRACEABILITY_LOAD ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_ASSET_TRACK_TRACEABILITY_LOAD ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_asset_track_traceability_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEability_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_ASSET_TRACK_TRACEABILITY_LOAD _FAILED"}], "Next": "SKIP IBL_ASSET_TRACK_TRACEABILITY_LOAD "}, "SNS_IBL_ASSET_TRACK_TRACEABILITY_LOAD _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_ASSET_TRACK_TRACEABILITY_LOAD  FAILED!"}, "End": false}, "SKIP IBL_ASSET_TRACK_TRACEABILITY_LOAD ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_ITEM_SET_LOAD"}, "IBL_SHIPMENT_METRICS_ITEM_SET_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_ITEM_SET_LOAD ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_ITEM_SET_LOAD "}], "Default": "LOAD IBL_SHIPMENT_METRICS_ITEM_SET_LOAD "}, "LOAD IBL_SHIPMENT_METRICS_ITEM_SET_LOAD ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_ITEM_SET_LOAD ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_item_set_load()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEtem_set_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_ITEM_SET_LOAD _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_ITEM_SET_LOAD "}, "SNS_IBL_SHIPMENT_METRICS_ITEM_SET_LOAD _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_ITEM_SET_LOAD  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_ITEM_SET_LOAD ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_DAILY_SNAP_F"}, "IBL_SHIPMENT_METRICS_DAILY_SNAP_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_DAILY_SNAP_F ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_DAILY_SNAP_F "}], "Default": "LOAD IBL_SHIPMENT_METRICS_DAILY_SNAP_F "}, "LOAD IBL_SHIPMENT_METRICS_DAILY_SNAP_F ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_DAILY_SNAP_F ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_daily_snap_f()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEdaily_snap_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_DAILY_SNAP_F _FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_DAILY_SNAP_F "}, "SNS_IBL_SHIPMENT_METRICS_DAILY_SNAP_F _FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_DAILY_SNAP_F  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_DAILY_SNAP_F ": {"Type": "Pass", "Next": "IBL_SHIPMENT_METRICS_FINAL_SNAP_F"}, "IBL_SHIPMENT_METRICS_FINAL_SNAP_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SHIPMENT_METRICS_FINAL_SNAP_F ", "StringEquals": "Y", "Next": "SKIP IBL_SHIPMENT_METRICS_FINAL_SNAP_F "}], "Default": "LOAD IBL_SHIPMENT_METRICS_FINAL_SNAP_F "}, "LOAD IBL_SHIPMENT_METRICS_FINAL_SNAP_F ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SHIPMENT_METRICS_FINAL_SNAP_F ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_shipment_metrics_final_snap_f()", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEfinal_snap_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SHIPMENT_METRICS_FINAL_SNAP_F_FAILED"}], "Next": "SKIP IBL_SHIPMENT_METRICS_FINAL_SNAP_F "}, "SNS_IBL_SHIPMENT_METRICS_FINAL_SNAP_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SHIPMENT_METRICS_FINAL_SNAP_F  FAILED!"}, "End": false}, "SKIP IBL_SHIPMENT_METRICS_FINAL_SNAP_F ": {"Type": "Pass", "Next": "IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY"}, "IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY ", "StringEquals": "Y", "Next": "SKIP IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY "}], "Default": "LOAD IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY "}, "LOAD IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY ": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY ", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ibmf_sp.ibl_siebel_asset_completeness_load('weekly')", "--aws_secret": "us-dev-nonss-entity-cds-ibmf-fsso", "--query_tag": "IBEeteness_load", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY_FAILED "}], "Next": "SKIP IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY "}, "SNS_IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY_FAILED ": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY  FAILED!"}, "End": false}, "SKIP IBL_SIEBEL_ASSET_COMPLETENESS_LOAD_WEEKLY ": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_NONSS_IBMF_ENTITY_IBL_SUCCESS"}, "SNS_NONSS_IBMF_ENTITY_IBL_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SNS_NONSS_IBMF_ENTITY_IBL_SUCCESS completed successfully!!"}}, "End": true}}}