PROD_JobConfig/StepFunction/Input/NONSS_ASSET_COMPACTION_MUST2.json
{"StartAt": "START NONSS_ASSET_COMPACTION_MUST JOBS", "States": {"START NONSS_ASSET_COMPACTION_MUST JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MUST_SITE_FULL", "States": {"MUST_SITE_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_site_full", "StringEquals": "Y", "Next": "PASS MUST_SITE_FULL"}], "Default": "LOAD MUST_SITE_FULL"}, "LOAD MUST_SITE_FULL": {"Type": "Task", "ResultPath": "$.MUST_SITE_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_site_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SITE_FULL_FAILED"}], "Next": "PASS MUST_SITE_FULL"}, "SNS_MUST_SITE_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_SITE_FULL Failed!"}, "Next": "MUST_SITE_FULL_ACTIVITY"}, "MUST_SITE_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_SITE_FULL_ACTIVITY", "End": true}, "PASS MUST_SITE_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TAB007_FULL", "States": {"MUST_TAB007_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tab007_full", "StringEquals": "Y", "Next": "PASS MUST_TAB007_FULL"}], "Default": "LOAD MUST_TAB007_FULL"}, "LOAD MUST_TAB007_FULL": {"Type": "Task", "ResultPath": "$.MUST_TAB007_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tab007_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TAB007_FULL_FAILED"}], "Next": "PASS MUST_TAB007_FULL"}, "SNS_MUST_TAB007_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_TAB007_FULL Failed!"}, "Next": "MUST_TAB007_FULL_ACTIVITY"}, "MUST_TAB007_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_TAB007_FULL_ACTIVITY", "End": true}, "PASS MUST_TAB007_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_CUST_ACC_FULL", "States": {"MUST_CUST_ACC_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_cust_acc_full", "StringEquals": "Y", "Next": "PASS MUST_CUST_ACC_FULL"}], "Default": "LOAD MUST_CUST_ACC_FULL"}, "LOAD MUST_CUST_ACC_FULL": {"Type": "Task", "ResultPath": "$.MUST_CUST_ACC_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_cust_acc_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_CUST_ACC_FULL_FAILED"}], "Next": "PASS MUST_CUST_ACC_FULL"}, "SNS_MUST_CUST_ACC_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_CUST_ACC_FULL Failed!"}, "Next": "MUST_CUST_ACC_FULL_ACTIVITY"}, "MUST_CUST_ACC_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_CUST_ACC_FULL_ACTIVITY", "End": true}, "PASS MUST_CUST_ACC_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_DICT_FULL", "States": {"MUST_DICT_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_dict_full", "StringEquals": "Y", "Next": "PASS MUST_DICT_FULL"}], "Default": "LOAD MUST_DICT_FULL"}, "LOAD MUST_DICT_FULL": {"Type": "Task", "ResultPath": "$.MUST_DICT_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_dict_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_DICT_FULL_FAILED"}], "Next": "PASS MUST_DICT_FULL"}, "SNS_MUST_DICT_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_DICT_FULL Failed!"}, "Next": "MUST_DICT_FULL_ACTIVITY"}, "MUST_DICT_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_DICT_FULL_ACTIVITY", "End": true}, "PASS MUST_DICT_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_JOB_FULL", "States": {"MUST_JOB_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_job_full", "StringEquals": "Y", "Next": "PASS MUST_JOB_FULL"}], "Default": "LOAD MUST_JOB_FULL"}, "LOAD MUST_JOB_FULL": {"Type": "Task", "ResultPath": "$.MUST_JOB_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_job_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_JOB_FULL_FAILED"}], "Next": "PASS MUST_JOB_FULL"}, "SNS_MUST_JOB_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_JOB_FULL Failed!"}, "Next": "MUST_JOB_FULL_ACTIVITY"}, "MUST_JOB_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_JOB_FULL_ACTIVITY", "End": true}, "PASS MUST_JOB_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_CONTHRS_FULL", "States": {"MUST_CONTHRS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_conthrs_full", "StringEquals": "Y", "Next": "PASS MUST_CONTHRS_FULL"}], "Default": "LOAD MUST_CONTHRS_FULL"}, "LOAD MUST_CONTHRS_FULL": {"Type": "Task", "ResultPath": "$.MUST_CONTHRS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_conthrs_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_CONTHRS_FULL_FAILED"}], "Next": "PASS MUST_CONTHRS_FULL"}, "SNS_MUST_CONTHRS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_CONTHRS_FULL Failed!"}, "Next": "MUST_CONTHRS_FULL_ACTIVITY"}, "MUST_CONTHRS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_CONTHRS_FULL_ACTIVITY", "End": true}, "PASS MUST_CONTHRS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_MASTCONT_FULL", "States": {"MUST_MASTCONT_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_mastcont_full", "StringEquals": "Y", "Next": "PASS MUST_MASTCONT_FULL"}], "Default": "LOAD MUST_MASTCONT_FULL"}, "LOAD MUST_MASTCONT_FULL": {"Type": "Task", "ResultPath": "$.MUST_MASTCONT_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_mastcont_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_MASTCONT_FULL_FAILED"}], "Next": "PASS MUST_MASTCONT_FULL"}, "SNS_MUST_MASTCONT_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_MASTCONT_FULL Failed!"}, "Next": "MUST_MASTCONT_FULL_ACTIVITY"}, "MUST_MASTCONT_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_MASTCONT_FULL_ACTIVITY", "End": true}, "PASS MUST_MASTCONT_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_ASSET_COMPACTION_MUST_SUCCESS"}, "SNS_NONSS_ASSET_COMPACTION_MUST_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ASSET_COMPACTION_MUST completed successfully!!"}}, "End": true}}}