PROD_JobConfig/StepFunction/Input/NONSS_SBOM_COMPACTION_MUST.json
{"StartAt": "START NONSS_SBOM_COMPACTION_MUST", "States": {"START NONSS_SBOM_COMPACTION_MUST": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "MUST_SERVRECD3_FULL"}, "MUST_SERVRECD3_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_servrecd3_full", "StringEquals": "Y", "Next": "PASS MUST_SERVRECD3_FULL"}], "Default": "LOAD MUST_SERVRECD3_FULL"}, "LOAD MUST_SERVRECD3_FULL": {"Type": "Task", "ResultPath": "$.MUST_SERVRECD3_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_servrecd3_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SERVRECD3_FULL_FAILED"}], "Next": "PASS MUST_SERVRECD3_FULL"}, "SNS_MUST_SERVRECD3_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_SERVRECD3_FULL Failed!"}, "Next": "MUST_SERVRECD3_FULL_ACTIVITY"}, "MUST_SERVRECD3_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_MUST_SERVRECD3_FULL_ACTIVITY", "End": false}, "PASS MUST_SERVRECD3_FULL": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_SBOM_COMPACTION_MUST_SUCCESS"}, "SNS_NONSS_SBOM_COMPACTION_MUST_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_SBOM_COMPACTION_MUST completed successfully!!"}}, "End": true}}}