PROD_JobConfig/StepFunction/Input/NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX.json
{"StartAt": "StartParallel", "States": {"StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1", "States": {"NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1", "StringEquals": "Y", "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1"}], "Default": "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1"}, "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1": {"Type": "Task", "ResultPath": "$.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_servicemax_businesshours_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_case4_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_case5_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_case6_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_case7_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_contact_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_global_business_hours_days__c_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1_FAILED"}], "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1 Failed!"}, "Next": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1_ACTIVITY"}, "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_JAPAN_DATAMART_SERVICEMAX1_ACTIVITY", "End": true}, "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX1": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2", "States": {"NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2", "StringEquals": "Y", "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2"}], "Default": "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2"}, "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2": {"Type": "Task", "ResultPath": "$.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_servicemax_gs_business_hour__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_license__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_pricebook2_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_pricebookentry_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_product_group__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_product_group_association__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_recordtype_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__expense_pricing__c_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2_FAILED"}], "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2 Failed!"}, "Next": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2_ACTIVITY"}, "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_JAPAN_DATAMART_SERVICEMAX2_ACTIVITY", "End": true}, "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3", "States": {"NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3", "StringEquals": "Y", "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3"}], "Default": "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3"}, "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3": {"Type": "Task", "ResultPath": "$.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__labor_pricing__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__parts_pricing__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__pm_coverage__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__pm_plan__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__pm_plan_template__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__pm_schedule__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__pm_schedule_definition__c_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3_FAILED"}], "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3 Failed!"}, "Next": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3_ACTIVITY"}, "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_JAPAN_DATAMART_SERVICEMAX3_ACTIVITY", "End": true}, "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX3": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4", "States": {"NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4", "StringEquals": "Y", "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4"}], "Default": "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4"}, "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4": {"Type": "Task", "ResultPath": "$.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_contract_services__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_offerings__c_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order___c2_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order__c3_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4_FAILED"}], "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4 Failed!"}, "Next": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4_ACTIVITY"}, "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_JAPAN_DATAMART_SERVICEMAX4_ACTIVITY", "End": true}, "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX4": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5", "States": {"NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5", "StringEquals": "Y", "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5"}], "Default": "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5"}, "LOAD NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5": {"Type": "Task", "ResultPath": "$.NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order_line__c1_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order_line__c2_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order_line__c3_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order_line__c4_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order__c5_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__service_order__c8_full": "N", "job_lnd_mrr_incremental_refresh_ov_servicemax_transactions__c_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5_FAILED"}], "Next": "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5 Failed!"}, "Next": "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5_ACTIVITY"}, "NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_JAPAN_DATAMART_SERVICEMAX5_ACTIVITY", "End": true}, "PASS NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX5": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Task", "InputPath": "$.parallelResult", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX_SUCCESS"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX completed successfully!!"}}, "End": true}}}