PROD_JobConfig/StepFunction/Input/NONSS_IBMF_COMPACTION_GPM.json
{"StartAt": "START NONSS_IBMF_COMPACTION_GPM JOBS", "States": {"START NONSS_IBMF_COMPACTION_GPM JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "EGO_MTL_SY_ITEMS_EXT_B"}, "EGO_MTL_SY_ITEMS_EXT_B": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_gpm_ego_mtl_sy_items_ext_b", "StringEquals": "Y", "Next": "PASS EGO_MTL_SY_ITEMS_EXT_B"}], "Default": "LOAD EGO_MTL_SY_ITEMS_EXT_B"}, "LOAD EGO_MTL_SY_ITEMS_EXT_B": {"Type": "Task", "ResultPath": "$.EGO_MTL_SY_ITEMS_EXT_B", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_gpm_ego_mtl_sy_items_ext_b", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EGO_MTL_SY_ITEMS_EXT_B_FAILED"}], "Next": "PASS EGO_MTL_SY_ITEMS_EXT_B"}, "SNS_EGO_MTL_SY_ITEMS_EXT_B_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_EGO_MTL_SY_ITEMS_EXT_B Failed!"}, "Next": "EGO_MTL_SY_ITEMS_EXT_B_ACTIVITY"}, "EGO_MTL_SY_ITEMS_EXT_B_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_EGO_MTL_SY_ITEMS_EXT_B_ACTIVITY", "End": false}, "PASS EGO_MTL_SY_ITEMS_EXT_B": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_NONSS_IBMF_GPM_COMPACTION_SUCCESS"}, "SNS_NONSS_IBMF_GPM_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_IBMF_COMPACTION_GPM completed successfully!!"}}, "End": true}}}