PROD_JobConfig/StepFunction/Input/NONSS_SBOM_COMPACTION_GPM.json
{"StartAt": "START NONSS_SBOM_COMPACTION_GPM JOBS", "States": {"START NONSS_SBOM_COMPACTION_GPM JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GPM_BOM_BILL_OF_MATERIALS", "States": {"GPM_BOM_BILL_OF_MATERIALS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_gpm_bom_bill_of_materials", "StringEquals": "Y", "Next": "PASS GPM_BOM_BILL_OF_MATERIALS"}], "Default": "LOAD GPM_BOM_BILL_OF_MATERIALS"}, "LOAD GPM_BOM_BILL_OF_MATERIALS": {"Type": "Task", "ResultPath": "$.GPM_BOM_BILL_OF_MATERIALS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_gpm_bom_bill_of_materials", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GPM_BOM_BILL_OF_MATERIALS_FAILED"}], "Next": "PASS GPM_BOM_BILL_OF_MATERIALS"}, "SNS_GPM_BOM_BILL_OF_MATERIALS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GPM_BOM_BILL_OF_MATERIALS Failed!"}, "Next": "GPM_BOM_BILL_OF_MATERIALS_ACTIVITY"}, "GPM_BOM_BILL_OF_MATERIALS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GPM_BOM_BILL_OF_MATERIALS_ACTIVITY", "End": true}, "PASS GPM_BOM_BILL_OF_MATERIALS": {"Type": "Pass", "End": true}}}, {"StartAt": "GPM_BOM_INVENTORY_COMPONENTS", "States": {"GPM_BOM_INVENTORY_COMPONENTS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_gpm_bom_inventory_components", "StringEquals": "Y", "Next": "PASS GPM_BOM_INVENTORY_COMPONENTS"}], "Default": "LOAD GPM_BOM_INVENTORY_COMPONENTS"}, "LOAD GPM_BOM_INVENTORY_COMPONENTS": {"Type": "Task", "ResultPath": "$.GPM_BOM_INVENTORY_COMPONENTS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_gpm_bom_inventory_components", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GPM_BOM_INVENTORY_COMPONENTS_FAILED"}], "Next": "PASS GPM_BOM_INVENTORY_COMPONENTS"}, "SNS_GPM_BOM_INVENTORY_COMPONENTS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GPM_BOM_INVENTORY_COMPONENTS Failed!"}, "Next": "GPM_BOM_INVENTORY_COMPONENTS_ACTIVITY"}, "GPM_BOM_INVENTORY_COMPONENTS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GPM_BOM_INVENTORY_COMPONENTS_ACTIVITY", "End": true}, "PASS GPM_BOM_INVENTORY_COMPONENTS": {"Type": "Pass", "End": true}}}, {"StartAt": "GPM_EGO_ALL_ATTR_BASE_V", "States": {"GPM_EGO_ALL_ATTR_BASE_V": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_gpm_ego_all_attr_base_v", "StringEquals": "Y", "Next": "PASS GPM_EGO_ALL_ATTR_BASE_V"}], "Default": "LOAD GPM_EGO_ALL_ATTR_BASE_V"}, "LOAD GPM_EGO_ALL_ATTR_BASE_V": {"Type": "Task", "ResultPath": "$.GPM_EGO_ALL_ATTR_BASE_V", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_gpm_ego_all_attr_base_v", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GPM_EGO_ALL_ATTR_BASE_V_FAILED"}], "Next": "PASS GPM_EGO_ALL_ATTR_BASE_V"}, "SNS_GPM_EGO_ALL_ATTR_BASE_V_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GPM_EGO_ALL_ATTR_BASE_V Failed!"}, "Next": "GPM_EGO_ALL_ATTR_BASE_V_ACTIVITY"}, "GPM_EGO_ALL_ATTR_BASE_V_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GPM_EGO_ALL_ATTR_BASE_V_ACTIVITY", "End": true}, "PASS GPM_EGO_ALL_ATTR_BASE_V": {"Type": "Pass", "End": true}}}, {"StartAt": "GPM_MTL_SYSTEM_ITEMS_B", "States": {"GPM_MTL_SYSTEM_ITEMS_B": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_gpm_mtl_system_items_b", "StringEquals": "Y", "Next": "PASS GPM_MTL_SYSTEM_ITEMS_B"}], "Default": "LOAD GPM_MTL_SYSTEM_ITEMS_B"}, "LOAD GPM_MTL_SYSTEM_ITEMS_B": {"Type": "Task", "ResultPath": "$.GPM_MTL_SYSTEM_ITEMS_B", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_gpm_mtl_system_items_b", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER", "--history_reload": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GPM_MTL_SYSTEM_ITEMS_B_FAILED"}], "Next": "PASS GPM_MTL_SYSTEM_ITEMS_B"}, "SNS_GPM_MTL_SYSTEM_ITEMS_B_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GPM_MTL_SYSTEM_ITEMS_B Failed!"}, "Next": "GPM_MTL_SYSTEM_ITEMS_B_ACTIVITY"}, "GPM_MTL_SYSTEM_ITEMS_B_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GPM_MTL_SYSTEM_ITEMS_B_ACTIVITY", "End": true}, "PASS GPM_MTL_SYSTEM_ITEMS_B": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_SBOM_COMPACTION_GPM_SUCCESS"}, "SNS_NONSS_SBOM_COMPACTION_GPM_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_SBOM_COMPACTION_GPM completed successfully!!"}}, "End": true}}}