PROD_JobConfig/StepFunction/Input/NONSS_ECOMMERCE_COMPACTION_SALESFORCE.json
{"StartAt": "START NONSS_ECOMMERCE_COMPACTION_SALESFORCE JOBS", "States": {"START NONSS_ECOMMERCE_COMPACTION_SALESFORCE JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "SALESFORCE_CONTACT_FULL"}, "SALESFORCE_CONTACT_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_salesforce_contact_full", "StringEquals": "Y", "Next": "PASS SALESFORCE_CONTACT_FULL"}], "Default": "LOAD SALESFORCE_CONTACT_FULL"}, "LOAD SALESFORCE_CONTACT_FULL": {"Type": "Task", "ResultPath": "$.SALESFORCE_CONTACT_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_salesforce_contact_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SALESFORCE_CONTACT_FULL_FAILED"}], "Next": "PASS SALESFORCE_CONTACT_FULL"}, "SNS_SALESFORCE_CONTACT_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SALESFORCE_CONTACT_FULL Failed!"}, "Next": "SALESFORCE_CONTACT_FULL_ACTIVITY"}, "SALESFORCE_CONTACT_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SALESFORCE_CONTACT_FULL_ACTIVITY", "End": false}, "PASS SALESFORCE_CONTACT_FULL": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_NONSS_ECOMMERCE_SALESFORCE_COMPACTION_SUCCESS"}, "SNS_NONSS_ECOMMERCE_SALESFORCE_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ECOMMERCE_COMPACTION_SALESFORCE completed successfully!!"}}, "End": true}}}