PROD_JobConfig/StepFunction/Input/NONSS_SBOM_COMPACTION_GLPROD.json
{"StartAt": "StartParallel", "States": {"StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "NONSS_SBOM_COMPACTION_GLPROD1", "States": {"NONSS_SBOM_COMPACTION_GLPROD1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_SBOM_COMPACTION_GLPROD1", "StringEquals": "Y", "Next": "PASS NONSS_SBOM_COMPACTION_GLPROD1"}], "Default": "LOAD NONSS_SBOM_COMPACTION_GLPROD1"}, "LOAD NONSS_SBOM_COMPACTION_GLPROD1": {"Type": "Task", "ResultPath": "$.NONSS_SBOM_COMPACTION_GLPROD1", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "GLPROD", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_glprod_cst_cost_types_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_cst_item_costs_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_gems_cost_tb_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_gems_item_tb_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_hz_cust_accounts_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_hz_parties_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_SBOM_COMPACTION_GLPROD1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_SBOM_COMPACTION_GLPROD1_FAILED"}], "Next": "PASS NONSS_SBOM_COMPACTION_GLPROD1"}, "SNS_NONSS_SBOM_COMPACTION_GLPROD1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_SBOM_COMPACTION_GLPROD1 Failed!"}, "Next": "NONSS_SBOM_COMPACTION_GLPROD1_ACTIVITY"}, "NONSS_SBOM_COMPACTION_GLPROD1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SBOM_COMPACTION_GLPROD1_ACTIVITY", "End": true}, "PASS NONSS_SBOM_COMPACTION_GLPROD1": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_SBOM_COMPACTION_GLPROD2", "States": {"NONSS_SBOM_COMPACTION_GLPROD2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_SBOM_COMPACTION_GLPROD2", "StringEquals": "Y", "Next": "PASS NONSS_SBOM_COMPACTION_GLPROD2"}], "Default": "LOAD NONSS_SBOM_COMPACTION_GLPROD2"}, "LOAD NONSS_SBOM_COMPACTION_GLPROD2": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.NONSS_SBOM_COMPACTION_GLPROD2", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "GLPROD", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_glprod_mtl_categories_full": "N", "job_lnd_mrr_full_refresh_glprod_mtl_category_sets_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_item_categories_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_material_transactions_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_parameters_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_system_items_b_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_oe_order_headers_all_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_oe_order_lines_all_full": "N", "job_lnd_mrr_full_refresh_glprod_org_organization_definitions_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_SBOM_COMPACTION_GLPROD2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_SBOM_COMPACTION_GLPROD2_FAILED"}], "Next": "PASS NONSS_SBOM_COMPACTION_GLPROD2"}, "SNS_NONSS_SBOM_COMPACTION_GLPROD2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_SBOM_COMPACTION_GLPROD2 Failed!"}, "Next": "NONSS_SBOM_COMPACTION_GLPROD2_ACTIVITY"}, "NONSS_SBOM_COMPACTION_GLPROD2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SBOM_COMPACTION_GLPROD2_ACTIVITY", "End": true}, "PASS NONSS_SBOM_COMPACTION_GLPROD2": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Task", "InputPath": "$.parallelResult", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_NONSS_SBOM_COMPACTION_GLPROD_SUCCESS"}, "SNS_NONSS_SBOM_COMPACTION_GLPROD_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_SBOM_COMPACTION_GLPROD completed successfully!!"}}, "End": true}}}