PROD_JobConfig/StepFunction/Input/NONSS_ECOMMERCE_ENTITY_SPM.json
{"StartAt": "START NONSS_ECOMMERCE_ENTITY_SPM", "States": {"START NONSS_ECOMMERCE_ENTITY_SPM": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "SPM_PART_DEMAND_D"}, "SPM_PART_DEMAND_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SPM_PART_DEMAND_D", "StringEquals": "Y", "Next": "PASS SPM_PART_DEMAND_D"}], "Default": "LOAD SPM_PART_DEMAND_D"}, "LOAD SPM_PART_DEMAND_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SPM_PART_DEMAND_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_nonss_ecom_sp.sp_ecom_part_demand_d()", "--aws_secret": "us-dev-nonss-entity-cds-ecom-fsso", "--query_tag": "ECE-sp_ecom_part_demand_d", "--stats_flg": "N"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SPM_PART_DEMAND_D_FAILED"}], "Next": "PASS SPM_PART_DEMAND_D"}, "SNS_SPM_PART_DEMAND_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SPM_PART_DEMAND_D FAILED!"}, "End": false}, "PASS SPM_PART_DEMAND_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_NONSS_ECOMMERCE_ENTITY_SPM"}, "SNS_NONSS_ECOMMERCE_ENTITY_SPM": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ECOMMERCE_ENTITY_SPM completed successfully!!!"}}, "End": true}}}