PROD_JobConfig/StepFunction/Input/NONSS_ASSET_COMPACTION_SIT2.json
{"StartAt": "START NONSS_ASSET_COMPACTION_SIT JOBS", "States": {"START NONSS_ASSET_COMPACTION_SIT JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SIT_S_ORG_EXT_FULL", "States": {"SIT_S_ORG_EXT_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_org_ext_full", "StringEquals": "Y", "Next": "PASS SIT_S_ORG_EXT_FULL"}], "Default": "LOAD SIT_S_ORG_EXT_FULL"}, "LOAD SIT_S_ORG_EXT_FULL": {"Type": "Task", "ResultPath": "$.SIT_S_ORG_EXT_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_org_ext_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ORG_EXT_FULL_FAILED"}], "Next": "PASS SIT_S_ORG_EXT_FULL"}, "SNS_SIT_S_ORG_EXT_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_ORG_EXT_FULL Failed!"}, "Next": "SIT_S_ORG_EXT_FULL_ACTIVITY"}, "SIT_S_ORG_EXT_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_ORG_EXT_FULL_ACTIVITY", "End": true}, "PASS SIT_S_ORG_EXT_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_S_PROD_LN_FULL", "States": {"SIT_S_PROD_LN_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_prod_ln_full", "StringEquals": "Y", "Next": "PASS SIT_S_PROD_LN_FULL"}], "Default": "LOAD SIT_S_PROD_LN_FULL"}, "LOAD SIT_S_PROD_LN_FULL": {"Type": "Task", "ResultPath": "$.SIT_S_PROD_LN_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_prod_ln_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_PROD_LN_FULL_FAILED"}], "Next": "PASS SIT_S_PROD_LN_FULL"}, "SNS_SIT_S_PROD_LN_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_PROD_LN_FULL Failed!"}, "Next": "SIT_S_PROD_LN_FULL_ACTIVITY"}, "SIT_S_PROD_LN_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_PROD_LN_FULL_ACTIVITY", "End": true}, "PASS SIT_S_PROD_LN_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_ASSET_COMPACTION_SIT_SUCCESS"}, "SNS_NONSS_ASSET_COMPACTION_SIT_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ASSET_COMPACTION_SIT completed successfully!!"}}, "End": true}}}