PROD_JobConfig/StepFunction/Input/NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX2.json
{"StartAt": "START NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX JOBS", "States": {"START NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SERVICEMAX_GS_BUSINESS_HOUR__C_FULL", "States": {"SERVICEMAX_GS_BUSINESS_HOUR__C_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_gs_business_hour__c_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_GS_BUSINESS_HOUR__C_FULL"}], "Default": "LOAD SERVICEMAX_GS_BUSINESS_HOUR__C_FULL"}, "LOAD SERVICEMAX_GS_BUSINESS_HOUR__C_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_GS_BUSINESS_HOUR__C_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_gs_business_hour__c_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_GS_BUSINESS_HOUR__C_FULL_FAILED"}], "Next": "PASS SERVICEMAX_GS_BUSINESS_HOUR__C_FULL"}, "SNS_SERVICEMAX_GS_BUSINESS_HOUR__C_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_GS_BUSINESS_HOUR__C_FULL Failed!"}, "Next": "SERVICEMAX_GS_BUSINESS_HOUR__C_FULL_ACTIVITY"}, "SERVICEMAX_GS_BUSINESS_HOUR__C_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_GS_BUSINESS_HOUR__C_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_GS_BUSINESS_HOUR__C_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_LICENSE__C_FULL", "States": {"SERVICEMAX_LICENSE__C_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_license__c_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_LICENSE__C_FULL"}], "Default": "LOAD SERVICEMAX_LICENSE__C_FULL"}, "LOAD SERVICEMAX_LICENSE__C_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_LICENSE__C_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_license__c_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_LICENSE__C_FULL_FAILED"}], "Next": "PASS SERVICEMAX_LICENSE__C_FULL"}, "SNS_SERVICEMAX_LICENSE__C_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_LICENSE__C_FULL Failed!"}, "Next": "SERVICEMAX_LICENSE__C_FULL_ACTIVITY"}, "SERVICEMAX_LICENSE__C_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_LICENSE__C_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_LICENSE__C_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRICEBOOK2_FULL", "States": {"SERVICEMAX_PRICEBOOK2_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_pricebook2_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRICEBOOK2_FULL"}], "Default": "LOAD SERVICEMAX_PRICEBOOK2_FULL"}, "LOAD SERVICEMAX_PRICEBOOK2_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRICEBOOK2_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_pricebook2_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRICEBOOK2_FULL_FAILED"}], "Next": "PASS SERVICEMAX_PRICEBOOK2_FULL"}, "SNS_SERVICEMAX_PRICEBOOK2_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRICEBOOK2_FULL Failed!"}, "Next": "SERVICEMAX_PRICEBOOK2_FULL_ACTIVITY"}, "SERVICEMAX_PRICEBOOK2_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_PRICEBOOK2_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRICEBOOK2_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRICEBOOKENTRY_FULL", "States": {"SERVICEMAX_PRICEBOOKENTRY_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_pricebookentry_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRICEBOOKENTRY_FULL"}], "Default": "LOAD SERVICEMAX_PRICEBOOKENTRY_FULL"}, "LOAD SERVICEMAX_PRICEBOOKENTRY_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRICEBOOKENTRY_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_pricebookentry_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRICEBOOKENTRY_FULL_FAILED"}], "Next": "PASS SERVICEMAX_PRICEBOOKENTRY_FULL"}, "SNS_SERVICEMAX_PRICEBOOKENTRY_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRICEBOOKENTRY_FULL Failed!"}, "Next": "SERVICEMAX_PRICEBOOKENTRY_FULL_ACTIVITY"}, "SERVICEMAX_PRICEBOOKENTRY_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_PRICEBOOKENTRY_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRICEBOOKENTRY_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRODUCT_GROUP__C_FULL", "States": {"SERVICEMAX_PRODUCT_GROUP__C_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_product_group__c_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRODUCT_GROUP__C_FULL"}], "Default": "LOAD SERVICEMAX_PRODUCT_GROUP__C_FULL"}, "LOAD SERVICEMAX_PRODUCT_GROUP__C_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRODUCT_GROUP__C_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_product_group__c_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRODUCT_GROUP__C_FULL_FAILED"}], "Next": "PASS SERVICEMAX_PRODUCT_GROUP__C_FULL"}, "SNS_SERVICEMAX_PRODUCT_GROUP__C_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRODUCT_GROUP__C_FULL Failed!"}, "Next": "SERVICEMAX_PRODUCT_GROUP__C_FULL_ACTIVITY"}, "SERVICEMAX_PRODUCT_GROUP__C_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_PRODUCT_GROUP__C_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRODUCT_GROUP__C_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL", "States": {"SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_product_group_association__c_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL"}], "Default": "LOAD SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL"}, "LOAD SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_product_group_association__c_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL_FAILED"}], "Next": "PASS SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL"}, "SNS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL Failed!"}, "Next": "SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL_ACTIVITY"}, "SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_RECORDTYPE_FULL", "States": {"SERVICEMAX_RECORDTYPE_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_recordtype_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_RECORDTYPE_FULL"}], "Default": "LOAD SERVICEMAX_RECORDTYPE_FULL"}, "LOAD SERVICEMAX_RECORDTYPE_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_RECORDTYPE_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_recordtype_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_RECORDTYPE_FULL_FAILED"}], "Next": "PASS SERVICEMAX_RECORDTYPE_FULL"}, "SNS_SERVICEMAX_RECORDTYPE_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_RECORDTYPE_FULL Failed!"}, "Next": "SERVICEMAX_RECORDTYPE_FULL_ACTIVITY"}, "SERVICEMAX_RECORDTYPE_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_RECORDTYPE_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_RECORDTYPE_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL", "States": {"SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__expense_pricing__c_full", "StringEquals": "Y", "Next": "PASS SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL"}], "Default": "LOAD SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL"}, "LOAD SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL": {"Type": "Task", "ResultPath": "$.SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_svmxc__expense_pricing__c_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL_FAILED"}], "Next": "PASS SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL"}, "SNS_SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL Failed!"}, "Next": "SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL_ACTIVITY"}, "SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL_ACTIVITY", "End": true}, "PASS SERVICEMAX_SVMXC__EXPENSE_PRICING__C_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX_SUCCESS"}, "SNS_NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_JAPAN_DATAMART_COMPACTION_SERVICEMAX completed successfully!!"}}, "End": true}}}