PROD_JobConfig/StepFunction/Input/NONSS_IBMF_COMPACTION_GLPROD1.json
{"StartAt": "START NONSS_IBMF_COMPACTION_GLPROD JOBS", "States": {"START NONSS_IBMF_COMPACTION_GLPROD JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_BOM_BILL_OF_MATERIALS_FULL", "States": {"GLPROD_BOM_BILL_OF_MATERIALS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_glprod_bom_bill_of_materials_full", "StringEquals": "Y", "Next": "PASS GLPROD_BOM_BILL_OF_MATERIALS_FULL"}], "Default": "LOAD GLPROD_BOM_BILL_OF_MATERIALS_FULL"}, "LOAD GLPROD_BOM_BILL_OF_MATERIALS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_BOM_BILL_OF_MATERIALS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_glprod_bom_bill_of_materials_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_BOM_BILL_OF_MATERIALS_FULL_FAILED"}], "Next": "PASS GLPROD_BOM_BILL_OF_MATERIALS_FULL"}, "SNS_GLPROD_BOM_BILL_OF_MATERIALS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_BOM_BILL_OF_MATERIALS_FULL Failed!"}, "Next": "GLPROD_BOM_BILL_OF_MATERIALS_FULL_ACTIVITY"}, "GLPROD_BOM_BILL_OF_MATERIALS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_BOM_BILL_OF_MATERIALS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_BOM_BILL_OF_MATERIALS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL", "States": {"GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_ego_mtl_sy_items_ext_b_full", "StringEquals": "Y", "Next": "PASS GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL"}], "Default": "LOAD GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL"}, "LOAD GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_ego_mtl_sy_items_ext_b_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL_FAILED"}], "Next": "PASS GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL"}, "SNS_GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL Failed!"}, "Next": "GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL_ACTIVITY"}, "GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL_ACTIVITY", "End": true}, "PASS GLPROD_EGO_MTL_SY_ITEMS_EXT_B_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_EQUIPMENT_SET_FULL", "States": {"GLPROD_EQUIPMENT_SET_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_equipment_set_full", "StringEquals": "Y", "Next": "PASS GLPROD_EQUIPMENT_SET_FULL"}], "Default": "LOAD GLPROD_EQUIPMENT_SET_FULL"}, "LOAD GLPROD_EQUIPMENT_SET_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_EQUIPMENT_SET_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_equipment_set_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_EQUIPMENT_SET_FULL_FAILED"}], "Next": "PASS GLPROD_EQUIPMENT_SET_FULL"}, "SNS_GLPROD_EQUIPMENT_SET_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_EQUIPMENT_SET_FULL Failed!"}, "Next": "GLPROD_EQUIPMENT_SET_FULL_ACTIVITY"}, "GLPROD_EQUIPMENT_SET_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_EQUIPMENT_SET_FULL_ACTIVITY", "End": true}, "PASS GLPROD_EQUIPMENT_SET_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_FND_FLEX_VALUE_SETS_FULL", "States": {"GLPROD_FND_FLEX_VALUE_SETS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_fnd_flex_value_sets_full", "StringEquals": "Y", "Next": "PASS GLPROD_FND_FLEX_VALUE_SETS_FULL"}], "Default": "LOAD GLPROD_FND_FLEX_VALUE_SETS_FULL"}, "LOAD GLPROD_FND_FLEX_VALUE_SETS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_FND_FLEX_VALUE_SETS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_fnd_flex_value_sets_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_FND_FLEX_VALUE_SETS_FULL_FAILED"}], "Next": "PASS GLPROD_FND_FLEX_VALUE_SETS_FULL"}, "SNS_GLPROD_FND_FLEX_VALUE_SETS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_FND_FLEX_VALUE_SETS_FULL Failed!"}, "Next": "GLPROD_FND_FLEX_VALUE_SETS_FULL_ACTIVITY"}, "GLPROD_FND_FLEX_VALUE_SETS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_FND_FLEX_VALUE_SETS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_FND_FLEX_VALUE_SETS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_FND_FLEX_VALUES_FULL", "States": {"GLPROD_FND_FLEX_VALUES_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_fnd_flex_values_full", "StringEquals": "Y", "Next": "PASS GLPROD_FND_FLEX_VALUES_FULL"}], "Default": "LOAD GLPROD_FND_FLEX_VALUES_FULL"}, "LOAD GLPROD_FND_FLEX_VALUES_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_FND_FLEX_VALUES_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_fnd_flex_values_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_FND_FLEX_VALUES_FULL_FAILED"}], "Next": "PASS GLPROD_FND_FLEX_VALUES_FULL"}, "SNS_GLPROD_FND_FLEX_VALUES_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_FND_FLEX_VALUES_FULL Failed!"}, "Next": "GLPROD_FND_FLEX_VALUES_FULL_ACTIVITY"}, "GLPROD_FND_FLEX_VALUES_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_FND_FLEX_VALUES_FULL_ACTIVITY", "End": true}, "PASS GLPROD_FND_FLEX_VALUES_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_GL_CODE_COMBINATIONS_FULL", "States": {"GLPROD_GL_CODE_COMBINATIONS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_gl_code_combinations_full", "StringEquals": "Y", "Next": "PASS GLPROD_GL_CODE_COMBINATIONS_FULL"}], "Default": "LOAD GLPROD_GL_CODE_COMBINATIONS_FULL"}, "LOAD GLPROD_GL_CODE_COMBINATIONS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_GL_CODE_COMBINATIONS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_gl_code_combinations_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_GL_CODE_COMBINATIONS_FULL_FAILED"}], "Next": "PASS GLPROD_GL_CODE_COMBINATIONS_FULL"}, "SNS_GLPROD_GL_CODE_COMBINATIONS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_GL_CODE_COMBINATIONS_FULL Failed!"}, "Next": "GLPROD_GL_CODE_COMBINATIONS_FULL_ACTIVITY"}, "GLPROD_GL_CODE_COMBINATIONS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_GL_CODE_COMBINATIONS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_GL_CODE_COMBINATIONS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_HR_OPERATING_UNITS_FULL", "States": {"GLPROD_HR_OPERATING_UNITS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_glprod_hr_operating_units_full", "StringEquals": "Y", "Next": "PASS GLPROD_HR_OPERATING_UNITS_FULL"}], "Default": "LOAD GLPROD_HR_OPERATING_UNITS_FULL"}, "LOAD GLPROD_HR_OPERATING_UNITS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_HR_OPERATING_UNITS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_glprod_hr_operating_units_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_HR_OPERATING_UNITS_FULL_FAILED"}], "Next": "PASS GLPROD_HR_OPERATING_UNITS_FULL"}, "SNS_GLPROD_HR_OPERATING_UNITS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_HR_OPERATING_UNITS_FULL Failed!"}, "Next": "GLPROD_HR_OPERATING_UNITS_FULL_ACTIVITY"}, "GLPROD_HR_OPERATING_UNITS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_HR_OPERATING_UNITS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_HR_OPERATING_UNITS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL", "States": {"GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_hz_cust_acct_sites_all_full", "StringEquals": "Y", "Next": "PASS GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL"}], "Default": "LOAD GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL"}, "LOAD GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_hz_cust_acct_sites_all_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL_FAILED"}], "Next": "PASS GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL"}, "SNS_GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL Failed!"}, "Next": "GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL_ACTIVITY"}, "GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL_ACTIVITY", "End": true}, "PASS GLPROD_HZ_CUST_ACCT_SITES_ALL_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_IBMF_COMPACTION_GLPROD_SUCCESS"}, "SNS_NONSS_IBMF_COMPACTION_GLPROD_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_IBMF COMPACTION GLPROD completed successfully!!"}}, "End": true}}}