PROD_JobConfig/StepFunction/Input/NONSS_IBMF_COMPACTION_SIT.json
{"StartAt": "START NONSS_IBMF_COMPACTION_SIT JOBS", "States": {"START NONSS_IBMF_COMPACTION_SIT JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "SIT_S_ASSET_XM_FULL"}, "SIT_S_ASSET_XM_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_asset_xm_full", "StringEquals": "Y", "Next": "PASS SIT_S_ASSET_XM_FULL"}], "Default": "LOAD SIT_S_ASSET_XM_FULL"}, "LOAD SIT_S_ASSET_XM_FULL": {"Type": "Task", "ResultPath": "$.SIT_S_ASSET_XM_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_asset_xm_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_S_ASSET_XM_FULL_FAILED"}], "Next": "PASS SIT_S_ASSET_XM_FULL"}, "SNS_SIT_S_ASSET_XM_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIT_S_ASSET_XM_FULL Failed!"}, "Next": "SIT_S_ASSET_XM_FULL_ACTIVITY"}, "SIT_S_ASSET_XM_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_ASSET_XM_FULL_ACTIVITY", "End": false}, "PASS SIT_S_ASSET_XM_FULL": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_NONSS_IBMF_SIT_COMPACTION_SUCCESS"}, "SNS_NONSS_IBMF_SIT_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_IBMF_COMPACTION_SIT completed successfully!!"}}, "End": true}}}