PROD_JobConfig/StepFunction/Input/NONSS_IBMF_COMPACTION_GLPROD.json
{"StartAt": "StartParallel", "States": {"StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "NONSS_IBMF_COMPACTION_GLPROD1", "States": {"NONSS_IBMF_COMPACTION_GLPROD1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_IBMF_COMPACTION_GLPROD1", "StringEquals": "Y", "Next": "PASS NONSS_IBMF_COMPACTION_GLPROD1"}], "Default": "LOAD NONSS_IBMF_COMPACTION_GLPROD1"}, "LOAD NONSS_IBMF_COMPACTION_GLPROD1": {"Type": "Task", "ResultPath": "$.GLPROD1", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "GLPROD", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_glprod_bom_bill_of_materials_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_ego_mtl_sy_items_ext_b_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_equipment_set_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_fnd_flex_value_sets_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_fnd_flex_values_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_gl_code_combinations_full": "N", "job_lnd_mrr_full_refresh_glprod_hr_operating_units_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_hz_cust_acct_sites_all_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_IBMF_COMPACTION_GLPROD1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_IBMF_COMPACTION_GLPROD1_FAILED"}], "Next": "PASS NONSS_IBMF_COMPACTION_GLPROD1"}, "SNS_NONSS_IBMF_COMPACTION_GLPROD1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_IBMF_COMPACTION_GLPROD1 Failed!"}, "Next": "NONSS_IBMF_COMPACTION_GLPROD1_ACTIVITY"}, "NONSS_IBMF_COMPACTION_GLPROD1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:NONSS_IBMF_COMPACTION_GLPROD1_ACTIVITY", "End": true}, "PASS NONSS_IBMF_COMPACTION_GLPROD1": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_IBMF_COMPACTION_GLPROD2", "States": {"NONSS_IBMF_COMPACTION_GLPROD2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_IBMF_COMPACTION_GLPROD2", "StringEquals": "Y", "Next": "PASS NONSS_IBMF_COMPACTION_GLPROD2"}], "Default": "LOAD NONSS_IBMF_COMPACTION_GLPROD2"}, "LOAD NONSS_IBMF_COMPACTION_GLPROD2": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.GLPROD2", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "GLPROD", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_glprod_hz_cust_site_uses_all_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_hz_locations_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_hz_party_sites_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_transaction_types_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_unit_transactions_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_oe_transaction_types_all_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_order_line_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_po_headers_all_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_IBMF_COMPACTION_GLPROD2"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_IBMF_COMPACTION_GLPROD2_FAILED"}], "Next": "PASS NONSS_IBMF_COMPACTION_GLPROD2"}, "SNS_NONSS_IBMF_COMPACTION_GLPROD2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_IBMF_COMPACTION_GLPROD2 Failed!"}, "Next": "NONSS_IBMF_COMPACTION_GLPROD2_ACTIVITY"}, "NONSS_IBMF_COMPACTION_GLPROD2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:NONSS_IBMF_COMPACTION_GLPROD2_ACTIVITY", "End": true}, "PASS NONSS_IBMF_COMPACTION_GLPROD2": {"Type": "Pass", "End": true}}}, {"StartAt": "NONSS_IBMF_COMPACTION_GLPROD3", "States": {"NONSS_IBMF_COMPACTION_GLPROD3": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.NONSS_IBMF_COMPACTION_GLPROD3", "StringEquals": "Y", "Next": "PASS NONSS_IBMF_COMPACTION_GLPROD3"}], "Default": "LOAD NONSS_IBMF_COMPACTION_GLPROD3"}, "LOAD NONSS_IBMF_COMPACTION_GLPROD3": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.GLPROD3", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "GLPROD", "BATCH_NUMBER": "", "job_lnd_mrr_incremental_refresh_ov_glprod_qa_plans_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_qa_results_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_wsh_delivery_assignments_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_wsh_delivery_details_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_wsh_new_deliveries_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_wsh_serial_numbers_full": "N", "job_lnd_mrr_incremental_refresh_ov_glprod_bom_components_b_full": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:NONSS_IBMF_COMPACTION_GLPROD3"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_NONSS_IBMF_COMPACTION_GLPROD3_FAILED"}], "Next": "PASS NONSS_IBMF_COMPACTION_GLPROD3"}, "SNS_NONSS_IBMF_COMPACTION_GLPROD3_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for NONSS_IBMF_COMPACTION_GLPROD3 Failed!"}, "Next": "NONSS_IBMF_COMPACTION_GLPROD3_ACTIVITY"}, "NONSS_IBMF_COMPACTION_GLPROD3_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:NONSS_IBMF_COMPACTION_GLPROD3_ACTIVITY", "End": true}, "PASS NONSS_IBMF_COMPACTION_GLPROD3": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Task", "InputPath": "$.parallelResult", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:sfn_output_fmt", "Next": "SNS_GLPROD_COMPACTION_SUCCESS"}, "SNS_GLPROD_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_IBMF_COMPACTION_GLPROD completed successfully!!"}}, "End": true}}}