PROD_JobConfig/StepFunction/Input/NONSS_SBOM_COMPACTION_GLPROD2.json
{"StartAt": "START NONSS_SBOM_COMPACTION_GLPROD2 JOBS", "States": {"START NONSS_SBOM_COMPACTION_GLPROD2 JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_MTL_CATEGORIES_FULL", "States": {"GLPROD_MTL_CATEGORIES_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_glprod_mtl_categories_full", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_CATEGORIES_FULL"}], "Default": "LOAD GLPROD_MTL_CATEGORIES_FULL"}, "LOAD GLPROD_MTL_CATEGORIES_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_CATEGORIES_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_glprod_mtl_categories_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_CATEGORIES_FULL_FAILED"}], "Next": "PASS GLPROD_MTL_CATEGORIES_FULL"}, "SNS_GLPROD_MTL_CATEGORIES_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_CATEGORIES_FULL Failed!"}, "Next": "GLPROD_MTL_CATEGORIES_FULL_ACTIVITY"}, "GLPROD_MTL_CATEGORIES_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_MTL_CATEGORIES_FULL_ACTIVITY", "End": true}, "PASS GLPROD_MTL_CATEGORIES_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_CATEGORY_SETS_FULL", "States": {"GLPROD_MTL_CATEGORY_SETS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_glprod_mtl_category_sets_full", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_CATEGORY_SETS_FULL"}], "Default": "LOAD GLPROD_MTL_CATEGORY_SETS_FULL"}, "LOAD GLPROD_MTL_CATEGORY_SETS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_CATEGORY_SETS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_glprod_mtl_category_sets_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_CATEGORY_SETS_FULL_FAILED"}], "Next": "PASS GLPROD_MTL_CATEGORY_SETS_FULL"}, "SNS_GLPROD_MTL_CATEGORY_SETS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_CATEGORY_SETS_FULL Failed!"}, "Next": "GLPROD_MTL_CATEGORY_SETS_FULL_ACTIVITY"}, "GLPROD_MTL_CATEGORY_SETS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_MTL_CATEGORY_SETS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_MTL_CATEGORY_SETS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_ITEM_CATEGORIES_FULL", "States": {"GLPROD_MTL_ITEM_CATEGORIES_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_mtl_item_categories_full", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_ITEM_CATEGORIES_FULL"}], "Default": "LOAD GLPROD_MTL_ITEM_CATEGORIES_FULL"}, "LOAD GLPROD_MTL_ITEM_CATEGORIES_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_ITEM_CATEGORIES_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_item_categories_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_ITEM_CATEGORIES_FULL_FAILED"}], "Next": "PASS GLPROD_MTL_ITEM_CATEGORIES_FULL"}, "SNS_GLPROD_MTL_ITEM_CATEGORIES_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_ITEM_CATEGORIES_FULL Failed!"}, "Next": "GLPROD_MTL_ITEM_CATEGORIES_FULL_ACTIVITY"}, "GLPROD_MTL_ITEM_CATEGORIES_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_MTL_ITEM_CATEGORIES_FULL_ACTIVITY", "End": true}, "PASS GLPROD_MTL_ITEM_CATEGORIES_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL", "States": {"GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_mtl_material_transactions_full", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL"}], "Default": "LOAD GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL"}, "LOAD GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_material_transactions_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL_FAILED"}], "Next": "PASS GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL"}, "SNS_GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL Failed!"}, "Next": "GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL_ACTIVITY"}, "GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_MTL_MATERIAL_TRANSACTIONS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_PARAMETERS_FULL", "States": {"GLPROD_MTL_PARAMETERS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_mtl_parameters_full", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_PARAMETERS_FULL"}], "Default": "LOAD GLPROD_MTL_PARAMETERS_FULL"}, "LOAD GLPROD_MTL_PARAMETERS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_PARAMETERS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_parameters_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_PARAMETERS_FULL_FAILED"}], "Next": "PASS GLPROD_MTL_PARAMETERS_FULL"}, "SNS_GLPROD_MTL_PARAMETERS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_PARAMETERS_FULL Failed!"}, "Next": "GLPROD_MTL_PARAMETERS_FULL_ACTIVITY"}, "GLPROD_MTL_PARAMETERS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_MTL_PARAMETERS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_MTL_PARAMETERS_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_MTL_SYSTEM_ITEMS_B_FULL", "States": {"GLPROD_MTL_SYSTEM_ITEMS_B_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_mtl_system_items_b_full", "StringEquals": "Y", "Next": "PASS GLPROD_MTL_SYSTEM_ITEMS_B_FULL"}], "Default": "LOAD GLPROD_MTL_SYSTEM_ITEMS_B_FULL"}, "LOAD GLPROD_MTL_SYSTEM_ITEMS_B_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_MTL_SYSTEM_ITEMS_B_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_mtl_system_items_b_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_MTL_SYSTEM_ITEMS_B_FULL_FAILED"}], "Next": "PASS GLPROD_MTL_SYSTEM_ITEMS_B_FULL"}, "SNS_GLPROD_MTL_SYSTEM_ITEMS_B_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_MTL_SYSTEM_ITEMS_B_FULL Failed!"}, "Next": "GLPROD_MTL_SYSTEM_ITEMS_B_FULL_ACTIVITY"}, "GLPROD_MTL_SYSTEM_ITEMS_B_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_MTL_SYSTEM_ITEMS_B_FULL_ACTIVITY", "End": true}, "PASS GLPROD_MTL_SYSTEM_ITEMS_B_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_OE_ORDER_HEADERS_ALL_FULL", "States": {"GLPROD_OE_ORDER_HEADERS_ALL_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_oe_order_headers_all_full", "StringEquals": "Y", "Next": "PASS GLPROD_OE_ORDER_HEADERS_ALL_FULL"}], "Default": "LOAD GLPROD_OE_ORDER_HEADERS_ALL_FULL"}, "LOAD GLPROD_OE_ORDER_HEADERS_ALL_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_OE_ORDER_HEADERS_ALL_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_oe_order_headers_all_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_OE_ORDER_HEADERS_ALL_FULL_FAILED"}], "Next": "PASS GLPROD_OE_ORDER_HEADERS_ALL_FULL"}, "SNS_GLPROD_OE_ORDER_HEADERS_ALL_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_OE_ORDER_HEADERS_ALL_FULL Failed!"}, "Next": "GLPROD_OE_ORDER_HEADERS_ALL_FULL_ACTIVITY"}, "GLPROD_OE_ORDER_HEADERS_ALL_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_OE_ORDER_HEADERS_ALL_FULL_ACTIVITY", "End": true}, "PASS GLPROD_OE_ORDER_HEADERS_ALL_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_OE_ORDER_LINES_ALL_FULL", "States": {"GLPROD_OE_ORDER_LINES_ALL_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_oe_order_lines_all_full", "StringEquals": "Y", "Next": "PASS GLPROD_OE_ORDER_LINES_ALL_FULL"}], "Default": "LOAD GLPROD_OE_ORDER_LINES_ALL_FULL"}, "LOAD GLPROD_OE_ORDER_LINES_ALL_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_OE_ORDER_LINES_ALL_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_oe_order_lines_all_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_OE_ORDER_LINES_ALL_FULL_FAILED"}], "Next": "PASS GLPROD_OE_ORDER_LINES_ALL_FULL"}, "SNS_GLPROD_OE_ORDER_LINES_ALL_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_OE_ORDER_LINES_ALL_FULL Failed!"}, "Next": "GLPROD_OE_ORDER_LINES_ALL_FULL_ACTIVITY"}, "GLPROD_OE_ORDER_LINES_ALL_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_OE_ORDER_LINES_ALL_FULL_ACTIVITY", "End": true}, "PASS GLPROD_OE_ORDER_LINES_ALL_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL", "States": {"GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_glprod_org_organization_definitions_full", "StringEquals": "Y", "Next": "PASS GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL"}], "Default": "LOAD GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL"}, "LOAD GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_glprod_org_organization_definitions_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL_FAILED"}], "Next": "PASS GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL"}, "SNS_GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL Failed!"}, "Next": "GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL_ACTIVITY"}, "GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL_ACTIVITY", "End": true}, "PASS GLPROD_ORG_ORGANIZATION_DEFINITIONS_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_SBOM_COMPACTION_GLPROD2_SUCCESS"}, "SNS_NONSS_SBOM_COMPACTION_GLPROD2_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_SBOM COMPACTION GLPROD2 completed successfully!!"}}, "End": true}}}