PROD_JobConfig/StepFunction/Input/NONSS_ICENTER_COMPACTION_SERVICEMAX.json
{"StartAt": "START NONSS_ICENTER_COMPACTION_SERVICEMAX JOBS", "States": {"START NONSS_ICENTER_COMPACTION_SERVICEMAX JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL"}, "SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_servicemax_gs_global_holidays__c_full", "StringEquals": "Y", "Next": "SKIP_SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL"}], "Default": "LOAD SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL"}, "LOAD SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_servicemax_gs_global_holidays__c_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL_FAILED"}], "Next": "SKIP_SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL"}, "SNS_SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL FAILED!"}, "End": false}, "SKIP_SERVICEMAX_GS_GLOBAL_HOLIDAYS__C_FULL": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_GS_GLOBAL_HOLIDAYS__C_FULL_SERVICEMAX_SUCCESS"}, "SNS_GS_GLOBAL_HOLIDAYS__C_FULL_SERVICEMAX_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ICENTER_COMPACTION_SERVICEMAX completed successfully!!"}}, "End": true}}}