PROD_JobConfig/StepFunction/Input/NONSS_ECOMMERCE_COMPACTION_GLPROD.json
{"StartAt": "START NONSS_ECOMMERCE_COMPACTION_GLPROD JOBS", "States": {"START NONSS_ECOMMERCE_COMPACTION_GLPROD JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_QP_LIST_HEADERS_B_FULL", "States": {"GLPROD_QP_LIST_HEADERS_B_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_qp_list_headers_b_full", "StringEquals": "Y", "Next": "PASS GLPROD_QP_LIST_HEADERS_B_FULL"}], "Default": "LOAD GLPROD_QP_LIST_HEADERS_B_FULL"}, "LOAD GLPROD_QP_LIST_HEADERS_B_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_QP_LIST_HEADERS_B_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_qp_list_headers_b_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_QP_LIST_HEADERS_B_FULL_FAILED"}], "Next": "PASS GLPROD_QP_LIST_HEADERS_B_FULL"}, "SNS_GLPROD_QP_LIST_HEADERS_B_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_QP_LIST_HEADERS_B_FULL Failed!"}, "Next": "GLPROD_QP_LIST_HEADERS_B_FULL_ACTIVITY"}, "GLPROD_QP_LIST_HEADERS_B_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_QP_LIST_HEADERS_B_FULL_ACTIVITY", "End": true}, "PASS GLPROD_QP_LIST_HEADERS_B_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_QP_LIST_HEADERS_TL_FULL", "States": {"GLPROD_QP_LIST_HEADERS_TL_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_qp_list_headers_tl_full", "StringEquals": "Y", "Next": "PASS GLPROD_QP_LIST_HEADERS_TL_FULL"}], "Default": "LOAD GLPROD_QP_LIST_HEADERS_TL_FULL"}, "LOAD GLPROD_QP_LIST_HEADERS_TL_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_QP_LIST_HEADERS_TL_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_qp_list_headers_tl_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_QP_LIST_HEADERS_TL_FULL_FAILED"}], "Next": "PASS GLPROD_QP_LIST_HEADERS_TL_FULL"}, "SNS_GLPROD_QP_LIST_HEADERS_TL_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_QP_LIST_HEADERS_TL_FULL Failed!"}, "Next": "GLPROD_QP_LIST_HEADERS_TL_FULL_ACTIVITY"}, "GLPROD_QP_LIST_HEADERS_TL_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_QP_LIST_HEADERS_TL_FULL_ACTIVITY", "End": true}, "PASS GLPROD_QP_LIST_HEADERS_TL_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_QP_LIST_LINES_FULL", "States": {"GLPROD_QP_LIST_LINES_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_qp_list_lines_full", "StringEquals": "Y", "Next": "PASS GLPROD_QP_LIST_LINES_FULL"}], "Default": "LOAD GLPROD_QP_LIST_LINES_FULL"}, "LOAD GLPROD_QP_LIST_LINES_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_QP_LIST_LINES_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_qp_list_lines_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_QP_LIST_LINES_FULL_FAILED"}], "Next": "PASS GLPROD_QP_LIST_LINES_FULL"}, "SNS_GLPROD_QP_LIST_LINES_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_QP_LIST_LINES_FULL Failed!"}, "Next": "GLPROD_QP_LIST_LINES_FULL_ACTIVITY"}, "GLPROD_QP_LIST_LINES_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_QP_LIST_LINES_FULL_ACTIVITY", "End": true}, "PASS GLPROD_QP_LIST_LINES_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_QP_PRICING_ATTRIBUTES_FULL", "States": {"GLPROD_QP_PRICING_ATTRIBUTES_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_glprod_qp_pricing_attributes_full", "StringEquals": "Y", "Next": "PASS GLPROD_QP_PRICING_ATTRIBUTES_FULL"}], "Default": "LOAD GLPROD_QP_PRICING_ATTRIBUTES_FULL"}, "LOAD GLPROD_QP_PRICING_ATTRIBUTES_FULL": {"Type": "Task", "ResultPath": "$.GLPROD_SVMXC_SM_CHECKLIST_RESULT_C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_glprod_qp_pricing_attributes_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_QP_PRICING_ATTRIBUTES_FULL_FAILED"}], "Next": "PASS GLPROD_QP_PRICING_ATTRIBUTES_FULL"}, "SNS_GLPROD_QP_PRICING_ATTRIBUTES_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for GLPROD_QP_PRICING_ATTRIBUTES_FULL Failed!"}, "Next": "GLPROD_QP_PRICING_ATTRIBUTES_FULL_ACTIVITY"}, "GLPROD_QP_PRICING_ATTRIBUTES_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_GLPROD_SVMXC_SM_CHECKLIST_RESULT_C_ACTIVITY", "End": true}, "PASS GLPROD_QP_PRICING_ATTRIBUTES_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_ECOMMERCE_COMPACTION_GLPROD_SUCCESS"}, "SNS_NONSS_ECOMMERCE_COMPACTION_GLPROD_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_ECOMMERCE_COMPACTION_GLPROD completed successfully!!"}}, "End": true}}}