PROD_JobConfig/StepFunction/Input/NONSS_TRACEVIEWER_COMPACTION_SIT1.json
{"StartAt": "START NONSS_TRACEVIEWER_COMPACTION_SIT1 JOBS", "States": {"START NONSS_TRACEVIEWER_COMPACTION_SIT1 JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "CX_SRV_RGN_MOD_FULL", "States": {"CX_SRV_RGN_MOD_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_cx_srv_rgn_mod_full", "StringEquals": "Y", "Next": "PASS CX_SRV_RGN_MOD_FULL"}], "Default": "LOAD CX_SRV_RGN_MOD_FULL"}, "LOAD CX_SRV_RGN_MOD_FULL": {"Type": "Task", "ResultPath": "$.CX_SRV_RGN_MOD_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_cx_srv_rgn_mod_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CX_SRV_RGN_MOD_FULL_FAILED"}], "Next": "PASS CX_SRV_RGN_MOD_FULL"}, "SNS_CX_SRV_RGN_MOD_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_CX_SRV_RGN_MOD_FULL Failed!"}, "Next": "CX_SRV_RGN_MOD_FULL_ACTIVITY"}, "CX_SRV_RGN_MOD_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_CX_SRV_RGN_MOD_FULL_ACTIVITY", "End": true}, "PASS CX_SRV_RGN_MOD_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_AGREE_ITEM_FULL", "States": {"S_AGREE_ITEM_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_agree_item_full", "StringEquals": "Y", "Next": "PASS S_AGREE_ITEM_FULL"}], "Default": "LOAD S_AGREE_ITEM_FULL"}, "LOAD S_AGREE_ITEM_FULL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.S_AGREE_ITEM_FULL", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_agree_item_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_AGREE_ITEM_FULL_FAILED"}], "Next": "PASS S_AGREE_ITEM_FULL"}, "SNS_S_AGREE_ITEM_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for S_AGREE_ITEM_FULL Failed!"}, "Next": "S_AGREE_ITEM_FULL_ACTIVITY"}, "S_AGREE_ITEM_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_AGREE_ITEM_FULL_ACTIVITY", "End": true}, "PASS S_AGREE_ITEM_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_CTLG_FULL", "States": {"S_CTLG_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_ctlg_full", "StringEquals": "Y", "Next": "PASS S_CTLG_FULL"}], "Default": "LOAD S_CTLG_FULL"}, "LOAD S_CTLG_FULL": {"Type": "Task", "ResultPath": "$.S_CTLG_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_ctlg_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_CTLG_FULL_FAILED"}], "Next": "PASS S_CTLG_FULL"}, "SNS_S_CTLG_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_S_CTLG_FULL Failed!"}, "Next": "S_CTLG_FULL_ACTIVITY"}, "S_CTLG_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_CTLG_FULL_ACTIVITY", "End": true}, "PASS S_CTLG_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_DOC_AGREE_FULL", "States": {"S_DOC_AGREE_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_doc_agree_full", "StringEquals": "Y", "Next": "PASS S_DOC_AGREE_FULL"}], "Default": "LOAD S_DOC_AGREE_FULL"}, "LOAD S_DOC_AGREE_FULL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.S_DOC_AGREE_FULL", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_doc_agree_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_DOC_AGREE_FULL_FAILED"}], "Next": "PASS S_DOC_AGREE_FULL"}, "SNS_S_DOC_AGREE_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for S_DOC_AGREE_FULL Failed!"}, "Next": "S_DOC_AGREE_FULL_ACTIVITY"}, "S_DOC_AGREE_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_DOC_AGREE_FULL_ACTIVITY", "End": true}, "PASS S_DOC_AGREE_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_EMP_PER_FULL", "States": {"S_EMP_PER_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_emp_per_full", "StringEquals": "Y", "Next": "PASS S_EMP_PER_FULL"}], "Default": "LOAD S_EMP_PER_FULL"}, "LOAD S_EMP_PER_FULL": {"Type": "Task", "ResultPath": "$.S_EMP_PER_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_emp_per_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_EMP_PER_FULL_FAILED"}], "Next": "PASS S_EMP_PER_FULL"}, "SNS_S_EMP_PER_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_S_EMP_PER_FULL Failed!"}, "Next": "S_EMP_PER_FULL_ACTIVITY"}, "S_EMP_PER_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_EMP_PER_FULL_ACTIVITY", "End": true}, "PASS S_EMP_PER_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_LST_OF_VAL_FULL", "States": {"S_LST_OF_VAL_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_lst_of_val_full", "StringEquals": "Y", "Next": "PASS S_LST_OF_VAL_FULL"}], "Default": "LOAD S_LST_OF_VAL_FULL"}, "LOAD S_LST_OF_VAL_FULL": {"Type": "Task", "ResultPath": "$.S_LST_OF_VAL_FULL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_lst_of_val_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_LST_OF_VAL_FULL_FAILED"}], "Next": "PASS S_LST_OF_VAL_FULL"}, "SNS_S_LST_OF_VAL_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_S_LST_OF_VAL_FULL Failed!"}, "Next": "S_LST_OF_VAL_FULL_ACTIVITY"}, "S_LST_OF_VAL_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_LST_OF_VAL_FULL_ACTIVITY", "End": true}, "PASS S_LST_OF_VAL_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_PARTY_FULL", "States": {"S_PARTY_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_party_full", "StringEquals": "Y", "Next": "PASS S_PARTY_FULL"}], "Default": "LOAD S_PARTY_FULL"}, "LOAD S_PARTY_FULL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.S_PARTY_FULL", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_party_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_PARTY_FULL_FAILED"}], "Next": "PASS S_PARTY_FULL"}, "SNS_S_PARTY_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for S_PARTY_FULL Failed!"}, "Next": "S_PARTY_FULL_ACTIVITY"}, "S_PARTY_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_PARTY_FULL_ACTIVITY", "End": true}, "PASS S_PARTY_FULL": {"Type": "Pass", "End": true}}}, {"StartAt": "S_POSTN_FULL", "States": {"S_POSTN_FULL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incremental_refresh_ov_sit_s_postn_full", "StringEquals": "Y", "Next": "PASS S_POSTN_FULL"}], "Default": "LOAD S_POSTN_FULL"}, "LOAD S_POSTN_FULL": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.S_POSTN_FULL", "Parameters": {"JobName": "job_lnd_mrr_incremental_refresh_ov_sit_s_postn_full", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_S_POSTN_FULL_FAILED"}], "Next": "PASS S_POSTN_FULL"}, "SNS_S_POSTN_FULL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for S_POSTN_FULL Failed!"}, "Next": "S_POSTN_FULL_ACTIVITY"}, "S_POSTN_FULL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_NONSS_SIT_S_POSTN_FULL_ACTIVITY", "End": true}, "PASS S_POSTN_FULL": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_NONSS_TRACEVIEWER_COMPACTION_SIT1_SUCCESS"}, "SNS_NONSS_TRACEVIEWER_COMPACTION_SIT1_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for NONSS_TRACEVIEWER_COMPACTION_SIT1 completed successfully!!"}}, "End": true}}}