PROD_JobConfig/StepFunction/Input/OUTLIERS_COMPACTION_PARTS_FILES.json
{"StartAt": "START PARTS_FILES COMPACTION JOBS", "States": {"START PARTS_FILES COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION"}, "PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_parts_files_lut_eu_map_country_region", "StringEquals": "Y", "Next": "PASS PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION"}], "Default": "LOAD PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION"}, "LOAD PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION": {"Type": "Task", "ResultPath": "$.PARTS_FILES1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_parts_files_lut_eu_map_country_region", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION_FAILED"}], "Next": "PASS PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION"}, "SNS_PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for PARTS_FILES_SRV_COS_AST_CNVTY_SNPST_F Failed!"}, "Next": "PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION_ACTIVITY"}, "PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_PARTS_FILES_SRV_COS_AST_CNVTY_SNPST_F_ACTIVITY", "End": false}, "PASS PARTS_FILES_LUT_EU_MAP_COUNTRY_REGION": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "ResultPath": "$", "Next": "SNS_PARTS_FILES_COMPACTION_SUCCESS"}, "SNS_PARTS_FILES_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for OUTLIERS_COMPACTION_PARTS_FILES completed successfully!!"}}, "End": true}}}