PROD_JobConfig/StepFunction/Input/PARTS_FILE_COMPACTION.json
{"StartAt": "Start PARTS_FILE Source Compaction schedule", "States": {"Start PARTS_FILE Source Compaction schedule": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "RAW CRAWLER"}, "RAW CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP  RAW CRAWLER"}], "Default": "START RAW CRAWLER"}, "START RAW CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RAW_CRAWLER", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_parts_files"}, "StateMachineArn": "arn:aws:states:us-east-1:245792935030:stateMachine:QA_CRAWLER_SFN"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_Failed"}], "Next": "SKIP  RAW CRAWLER"}, "SNS_CRAWLER_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:245792935030:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION PARTS_FILE CRAWLER FAILED !"}, "End": false}, "SKIP  RAW CRAWLER": {"Type": "Pass", "Next": "CD_COMPACTION_PARTS_FILE"}, "CD_COMPACTION_PARTS_FILE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CD_COMPACTION_PARTS_FILE", "StringEquals": "Y", "Next": "SKIP CD_COMPACTION_PARTS_FILE"}], "Default": "LOAD CD_COMPACTION_PARTS_FILE"}, "LOAD CD_COMPACTION_PARTS_FILE": {"Type": "Task", "ResultPath": "$.CD_COMPACTION_PARTS_FILE", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "PARTS_FILES", "BATCH_NUMBER": "", "job_lnd_mrr_full_refresh_parts_files_lut_eu_geo_data": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:245792935030:stateMachine:CD_COMPACTION_PARTS_FILES"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_PARTS_FILE_COMPACTION_FAILED"}], "Next": "SKIP CD_COMPACTION_PARTS_FILE"}, "SNS_PARTS_FILE_COMPACTION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:245792935030:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS SF for PARTS_FILE_COMPACTION Failed!"}, "End": false}, "SKIP CD_COMPACTION_PARTS_FILE": {"Type": "Pass", "Next": "IB_INTEL_COMPACTION_PARTS_FILE"}, "IB_INTEL_COMPACTION_PARTS_FILE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_COMPACTION_PARTS_FILE", "StringEquals": "Y", "Next": "SKIP IB_INTEL_COMPACTION_PARTS_FILE"}], "Default": "LOAD IB_INTEL_COMPACTION_PARTS_FILE"}, "LOAD IB_INTEL_COMPACTION_PARTS_FILE": {"Type": "Task", "ResultPath": "$.IB_INTEL_COMPACTION_PARTS_FILE", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"StateMachineArn": "arn:aws:states:us-east-1:245792935030:stateMachine:COMPACTION_TEST_SCHEDULE"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_PARTS_FILE_COMPACTION_FAILED"}], "Next": "SKIP IB_INTEL_COMPACTION_PARTS_FILE"}, "SKIP IB_INTEL_COMPACTION_PARTS_FILE": {"Type": "Pass", "Next": "SR_COMPACTION_PARTS_FILE"}, "SR_COMPACTION_PARTS_FILE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_COMPACTION_PARTS_FILE", "StringEquals": "Y", "Next": "SKIP SR_COMPACTION_PARTS_FILE"}], "Default": "LOAD SR_COMPACTION_PARTS_FILE"}, "LOAD SR_COMPACTION_PARTS_FILE": {"Type": "Task", "ResultPath": "$.SR_COMPACTION_PARTS_FILE", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"StateMachineArn": "arn:aws:states:us-east-1:245792935030:stateMachine:COMPACTION_TEST_SCHEDULE"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_PARTS_FILE_COMPACTION_FAILED"}], "Next": "SKIP SR_COMPACTION_PARTS_FILE"}, "SKIP SR_COMPACTION_PARTS_FILE": {"Type": "Pass", "Next": "Compaction Done"}, "Compaction Done": {"Type": "Pass", "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.MIRROR_CRAWLER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_parts_files"}, "StateMachineArn": "arn:aws:states:us-east-1:245792935030:stateMachine:QA_CRAWLER_SFN"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_Failed"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$.CD_COMPACTION_PARTS_FILE.Output", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:245792935030:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage"}, "Skip Copy Mirror to Redshift Stage": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage"}, "Copy Mirror to Redshift Stage": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "PARTS_FILES"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_Failed"}], "Next": "Redshift Copy Done"}, "SNS_RS_COPY_INSERT_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:245792935030:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": false}, "Redshift Copy Done": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_PARTS_FILE_SCHEDULE_SUCCESS"}, "SNS_PARTS_FILE_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:245792935030:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for PARTS_FILE_COMPACTION Source completed successfully!!"}}, "End": true}}}