PROD_JobConfig/StepFunction/Input/PQW_COMPACTION.json
{"StartAt": "Start PQW Source Compaction schedule", "States": {"Start PQW Source Compaction schedule": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "RAW CRAWLER"}, "RAW CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP  RAW CRAWLER"}], "Default": "START RAW CRAWLER"}, "START RAW CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RAW_CRAWLER", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_pqw"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  RAW CRAWLER"}, "SNS_CRAWLER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION PQW CRAWLER FAILED !"}, "End": false}, "SKIP  RAW CRAWLER": {"Type": "Pass", "Next": "IB_INTEL_COMPACTION_PQW"}, "IB_INTEL_COMPACTION_PQW": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_COMPACTION_PQW", "StringEquals": "Y", "Next": "SKIP IB_INTEL_COMPACTION_PQW"}], "Default": "LOAD IB_INTEL_COMPACTION_PQW"}, "LOAD IB_INTEL_COMPACTION_PQW": {"Type": "Task", "ResultPath": "$.PQW_COMPACTION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "PQW", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_pqw_gib_glprod_crm_dtt_f": "N", "job_lnd_mrr_full_refresh_pqw_pqw_product_mstr_d": "N", "job_lnd_mrr_full_refresh_pqw_prd_pqw_prdct_atrbt_d": "N", "job_lnd_mrr_full_refresh_pqw_prd_udi_dtl_d": "N", "job_lnd_mrr_full_refresh_pqw_pqw_dit_scan_app_s": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_COMPACTION_PQW"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_PQW_COMPACTION_FAILED"}], "Next": "SKIP IB_INTEL_COMPACTION_PQW"}, "SNS_PQW_COMPACTION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for PQW_COMPACTION Failed!"}, "End": false}, "SKIP IB_INTEL_COMPACTION_PQW": {"Type": "Pass", "Next": "Compaction Done"}, "Compaction Done": {"Type": "Pass", "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.MIRROR_CRAWLER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_pqw"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "ResultPath": "$.MRR_CRAWLER", "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$.PQW_COMPACTION.Output", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage"}, "Skip Copy Mirror to Redshift Stage": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage"}, "Copy Mirror to Redshift Stage": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "PQW", "--max_threads": "5"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_FAILED"}], "Next": "Redshift Copy Done"}, "SNS_RS_COPY_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": false}, "Redshift Copy Done": {"Type": "Pass", "InputPath": "$", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_PQW_SCHEDULE_SUCCESS"}, "SNS_PQW_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for PQW_COMPACTION Source completed successfully!!"}}, "End": true}}}