PROD_JobConfig/StepFunction/Input/SERVICEMAX_COMPACTION.json
{"StartAt": "Start SERVICEMAX Source Compaction schedule", "States": {"Start SERVICEMAX Source Compaction schedule": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "RAW CRAWLER"}, "RAW CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP  RAW CRAWLER"}], "Default": "START RAW CRAWLER"}, "START RAW CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RawCrawler", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_servicemax"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  RAW CRAWLER"}, "SNS_CRAWLER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION SERVICEMAX CRAWLER FAILED !"}, "End": false}, "SKIP  RAW CRAWLER": {"Type": "Pass", "Next": "CD_COMPACTION_SERVICEMAX"}, "CD_COMPACTION_SERVICEMAX": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CD_COMPACTION_SERVICEMAX", "StringEquals": "Y", "Next": "SKIP CD_COMPACTION_SERVICEMAX"}], "Default": "LOAD CD_COMPACTION_SERVICEMAX"}, "LOAD CD_COMPACTION_SERVICEMAX": {"Type": "Task", "ResultPath": "$.COMPACTION_SERVICEMAX", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SERVICEMAX", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_servicemax_product2": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__site__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_account": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__installed_product__c1": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__installed_product__c2": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__installed_product__c3": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__installed_product__c4": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_group__c": "N", "job_lnd_mrr_incr_refresh_ov_servicemax_contact": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CD_COMPACTION_SERVICEMAX"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_COMPACTION_FAILED"}], "Next": "SKIP CD_COMPACTION_SERVICEMAX"}, "SNS_SERVICEMAX_COMPACTION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS SF for SERVICEMAX_COMPACTION Failed!"}, "End": false}, "SKIP CD_COMPACTION_SERVICEMAX": {"Type": "Pass", "Next": "IB_INTEL_COMPACTION_SERVICEMAX"}, "IB_INTEL_COMPACTION_SERVICEMAX": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_COMPACTION_SERVICEMAX", "StringEquals": "Y", "Next": "SKIP IB_INTEL_COMPACTION_SERVICEMAX"}], "Default": "LOAD IB_INTEL_COMPACTION_SERVICEMAX"}, "LOAD IB_INTEL_COMPACTION_SERVICEMAX": {"Type": "Task", "ResultPath": "$.COMPACTION_SERVICEMAX", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"IB_INTEL_COMPACTION_SERVICEMAX1": "N", "IB_INTEL_COMPACTION_SERVICEMAX2": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_COMPACTION_SERVICEMAX"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_COMPACTION_FAILED"}], "Next": "SKIP IB_INTEL_COMPACTION_SERVICEMAX"}, "SKIP IB_INTEL_COMPACTION_SERVICEMAX": {"Type": "Pass", "Next": "SR_COMPACTION_SERVICEMAX"}, "SR_COMPACTION_SERVICEMAX": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_COMPACTION_SERVICEMAX", "StringEquals": "Y", "Next": "SKIP SR_COMPACTION_SERVICEMAX"}], "Default": "LOAD SR_COMPACTION_SERVICEMAX"}, "LOAD SR_COMPACTION_SERVICEMAX": {"Type": "Task", "ResultPath": "$.COMPACTION_SERVICEMAX", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"SR_COMPACTION_SERVICEMAX1": "N", "SR_COMPACTION_SERVICEMAX2": "N", "SR_COMPACTION_SERVICEMAX3": "N", "SR_COMPACTION_SERVICEMAX4": "N", "SR_COMPACTION_SERVICEMAX5": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_COMPACTION_SERVICEMAX"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_COMPACTION_FAILED"}], "Next": "SKIP SR_COMPACTION_SERVICEMAX"}, "SKIP SR_COMPACTION_SERVICEMAX": {"Type": "Pass", "Next": "Compaction Done"}, "Compaction Done": {"Type": "Pass", "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.MIRROR_CRAWLER", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_servicemax"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_FAILED"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$.COMPACTION_SERVICEMAX.Output", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage"}, "Skip Copy Mirror to Redshift Stage": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage"}, "Copy Mirror to Redshift Stage": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "SERVICEMAX", "--max_threads": "5"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_FAILED"}], "Next": "Redshift Copy Done"}, "SNS_RS_COPY_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": false}, "Redshift Copy Done": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SERVICEMAX_SCHEDULE_SUCCESS"}, "SNS_SERVICEMAX_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SERVICEMAX_COMPACTION Source completed successfully!!"}}, "End": true}}}