PROD_JobConfig/StepFunction/Input/SIEBEL_AMERICAS_COMPACTION.json
{"StartAt": "Start SIEBEL_AMERICAS Compaction schedule", "States": {"Start SIEBEL_AMERICAS Compaction schedule": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "RAW CRAWLER"}, "RAW CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RAW_CRAWLER", "StringEquals": "Y", "Next": "SKIP  RAW CRAWLER"}], "Default": "START RAW CRAWLER"}, "START RAW CRAWLER": {"Type": "Task", "Resource": "arn:aws:states:::states:startExecution.sync", "ResultPath": "$.RawCrawler", "Parameters": {"Input": {"CRAWLER_NAME": "crw_lnd_s3_siebel_americas"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_Failed"}], "Next": "SKIP  RAW CRAWLER"}, "SNS_CRAWLER_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS STEP FUNCTION SIEBEL_AMERICAS CRAWLER FAILED !"}, "End": false}, "SKIP  RAW CRAWLER": {"Type": "Pass", "Next": "CD_COMPACTION_SAM"}, "CD_COMPACTION_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CD_COMPACTION_SAM", "StringEquals": "Y", "Next": "SKIP CD_COMPACTION_SAM"}], "Default": "LOAD CD_COMPACTION_SAM"}, "LOAD CD_COMPACTION_SAM": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_COMPACTION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"CD_COMPACTION_SIEBEL_AMERICAS1": "N", "CD_COMPACTION_SIEBEL_AMERICAS2": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:CD_COMPACTION_SIEBEL_AMERICAS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_FAILED"}], "Next": "SKIP CD_COMPACTION_SAM"}, "SNS_SIEBEL_AMERICAS_COMPACTION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS SF for SIEBEL_AMERICAS_COMPACTION Failed!"}, "End": false}, "SKIP CD_COMPACTION_SAM": {"Type": "Pass", "Next": "IB_INTEL_COMPACTION_SAM"}, "IB_INTEL_COMPACTION_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_INTEL_COMPACTION_SAM", "StringEquals": "Y", "Next": "SKIP IB_INTEL_COMPACTION_SAM"}], "Default": "LOAD IB_INTEL_COMPACTION_SAM"}, "LOAD IB_INTEL_COMPACTION_SAM": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_COMPACTION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"IB_INTEL_COMPACTION_SIEBEL_AMERICAS1": "N", "IB_INTEL_COMPACTION_SIEBEL_AMERICAS2": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_INTEL_COMPACTION_SIEBEL_AMERICAS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_FAILED"}], "Next": "SKIP IB_INTEL_COMPACTION_SAM"}, "SKIP IB_INTEL_COMPACTION_SAM": {"Type": "Pass", "Next": "SR_COMPACTION_SAM"}, "SR_COMPACTION_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_COMPACTION_SAM", "StringEquals": "Y", "Next": "SKIP SR_COMPACTION_SAM"}], "Default": "LOAD SR_COMPACTION_SAM"}, "LOAD SR_COMPACTION_SAM": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_COMPACTION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"SR_COMPACTION_SIEBEL_AMERICAS1": "N", "SR_COMPACTION_SIEBEL_AMERICAS2": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_COMPACTION_SIEBEL_AMERICAS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_FAILED"}], "Next": "SKIP SR_COMPACTION_SAM"}, "SKIP SR_COMPACTION_SAM": {"Type": "Pass", "Next": "IB_UPGRADE_COMPACTION_SAM"}, "IB_UPGRADE_COMPACTION_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IB_UPGRADE_COMPACTION_SAM", "StringEquals": "Y", "Next": "SKIP IB_UPGRADE_COMPACTION_SAM"}], "Default": "LOAD IB_UPGRADE_COMPACTION_SAM"}, "LOAD IB_UPGRADE_COMPACTION_SAM": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_COMPACTION", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GET_LAMBDA": "N", "SRC_NAME": "SIEBEL_AMERICAS", "BATCH_NUMBER": "", "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_asset_xm": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:IB_UPGRADE_COMPACTION_SIEBEL_AMERICAS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_FAILED"}], "Next": "SKIP IB_UPGRADE_COMPACTION_SAM"}, "SKIP IB_UPGRADE_COMPACTION_SAM": {"Type": "Pass", "Next": "Compaction Done"}, "Compaction Done": {"Type": "Pass", "Next": "MIRROR CRAWLER"}, "MIRROR CRAWLER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MIRROR_CRAWLER", "StringEquals": "Y", "Next": "SKIP  MIRROR CRAWLER"}], "Default": "START MIRROR CRAWLER"}, "START MIRROR CRAWLER": {"Type": "Task", "ResultPath": "$.RawCrawler", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"CRAWLER_NAME": "crw_compacted_mrr_s3_siebel_americas"}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:COMPACTION_CRAWLER"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CRAWLER_Failed"}], "Next": "SKIP  MIRROR CRAWLER"}, "SKIP  MIRROR CRAWLER": {"Type": "Pass", "Next": "Put Lambda"}, "Put Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.PUT_LAMBDA", "StringEquals": "Y", "Next": "Skip Put Lambda"}], "Default": "Execute Put Lambda"}, "Execute Put Lambda": {"Type": "Task", "InputPath": "$.SIEBEL_AMERICAS_COMPACTION.Output", "ResultPath": "$.putLambda", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_put_lambda", "Next": "Skip Put Lambda"}, "Skip Put Lambda": {"Type": "Pass", "Next": "Skip Copy Mirror to Redshift Stage"}, "Skip Copy Mirror to Redshift Stage": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RS_COPY_INSERT", "StringEquals": "Y", "Next": "Redshift Copy Done"}], "Default": "Copy Mirror to Redshift Stage"}, "Copy Mirror to Redshift Stage": {"Type": "Task", "ResultPath": "$.Mirror to Redshift", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_redshift_copy", "Arguments": {"--source_system": "SIEBEL_AMERICAS", "--max_threads": "5"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RS_COPY_INSERT_Failed"}], "Next": "Redshift Copy Done"}, "SNS_RS_COPY_INSERT_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE JOB FOR RS_COPY_INSERT FAILED !"}, "End": false}, "Redshift Copy Done": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SAM_SCHEDULE_SUCCESS"}, "SNS_SAM_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SIEBEL_AMERICAS_COMPACTION Source completed successfully!!"}}, "End": true}}}