PROD_JobConfig/StepFunction/Input/SIT.json
{"StartAt": "Start Glue Jobs", "States": {"Start Glue Jobs": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "Lambda"}, "Lambda": {"Type": "Choice", "Choices": [{"Variable": "$.SKIP_FLAG.getJobDtls_sfn", "StringEquals": "Y", "Next": "Skip Lambda"}], "Default": "Execute Lambda"}, "Execute Lambda": {"Type": "Task", "InputPath": "$", "OutputPath": "$", "ResultPath": "$.SKIP_FLAG", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:getJobDtls_sfn", "Next": "Skip Lambda"}, "Skip Lambda": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "Branches": [{"StartAt": "SIT_Prd_Main_d", "States": {"SIT_Prd_Main_d": {"Type": "Choice", "Choices": [{"Variable": "$.SKIP_FLAG.job_mrr_fnd_prd_main_d_sit", "StringEquals": "Y", "Next": "Pass SIT_Prd_Main_d"}], "Default": "Load SIT_Prd_Main_d"}, "Load SIT_Prd_Main_d": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_fnd_prd_main_d_sit"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_Prd_Main_d_Failed"}], "Next": "Pass SIT_Prd_Main_d"}, "SNS_SIT_Prd_Main_d_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SF_Success", "Message.$": "$.Cause", "Subject": " AWS Glue job for Prd_Main_d-SIT Failed!"}, "End": false}, "Pass SIT_Prd_Main_d": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_Geo_addr_d", "States": {"SIT_Geo_addr_d": {"Type": "Choice", "Choices": [{"Variable": "$.SKIP_FLAG.job_mrr_fnd_geo_addr_d_sit", "StringEquals": "Y", "Next": "Pass SIT_Geo_addr_d"}], "Default": "Load SIT_Geo_addr_d"}, "Load SIT_Geo_addr_d": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_fnd_geo_addr_d_sit"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_Geo_addr_d_Failed"}], "Next": "Pass SIT_Geo_addr_d"}, "SNS_SIT_Geo_addr_d_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SF_Success", "Message.$": "$.Cause", "Subject": " AWS Glue job for Geo_addr_d-SIT Failed!"}, "End": false}, "Pass SIT_Geo_addr_d": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_Prt_Cust_Persn_a", "States": {"SIT_Prt_Cust_Persn_a": {"Type": "Choice", "Choices": [{"Variable": "$.SKIP_FLAG.job_mrr_fnd_prt_cust_persn_a_sit", "StringEquals": "Y", "Next": "Pass SIT_Prt_Cust_Persn_a"}], "Default": "Load SIT_Prt_Cust_Persn_a"}, "Load SIT_Prt_Cust_Persn_a": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_fnd_prt_cust_persn_a_sit"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_Prt_Cust_Persn_a_Failed"}], "Next": "Pass SIT_Prt_Cust_Persn_a"}, "SNS_SIT_Prt_Cust_Persn_a_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SF_Success", "Message.$": "$.Cause", "Subject": " AWS Glue job for Prt_Cust_Persn_a-SIT Failed!"}, "End": false}, "Pass SIT_Prt_Cust_Persn_a": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_Prt_Cust_d", "States": {"SIT_Prt_Cust_d": {"Type": "Choice", "Choices": [{"Variable": "$.SKIP_FLAG.job_mrr_fnd_prt_cust_d_sit", "StringEquals": "Y", "Next": "Pass SIT_Prt_Cust_d"}], "Default": "Load SIT_Prt_Cust_d"}, "Load SIT_Prt_Cust_d": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_fnd_prt_cust_d_sit"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_Prt_Cust_d_Failed"}], "Next": "Pass SIT_Prt_Cust_d"}, "SNS_SIT_Prt_Cust_d_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SF_Success", "Message.$": "$.Cause", "Subject": " AWS Glue job for Prt_Cust_d-SIT Failed!"}, "End": false}, "Pass SIT_Prt_Cust_d": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_Prt_persn_d", "States": {"SIT_Prt_persn_d": {"Type": "Choice", "Choices": [{"Variable": "$.SKIP_FLAG.job_mrr_fnd_prt_persn_d_sit", "StringEquals": "Y", "Next": "Pass SIT_Prt_persn_d"}], "Default": "Load SIT_Prt_persn_d"}, "Load SIT_Prt_persn_d": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_fnd_prt_persn_d_sit"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_Prt_persn_d_Failed"}], "Next": "Pass SIT_Prt_persn_d"}, "SNS_SIT_Prt_persn_d_Failed": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SF_Success", "Message.$": "$.Cause", "Subject": " AWS Glue job for Prt_persn_d-SIT Failed!"}, "End": false}, "Pass SIT_Prt_persn_d": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_SIT_MRR_FND_Success"}, "SNS_SIT_MRR_FND_Success": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SF_Success", "Message": {"Subject": "AWS Step function for SIT completed successfully!!"}}, "End": true}}}