PROD_JobConfig/StepFunction/Input/SR_COMPACTION_DEVONWAY.json
{"StartAt": "START DEVONWAY COMPACTION JOBS", "States": {"START DEVONWAY COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "DEVONWAY_DEVONWAY"}, "DEVONWAY_DEVONWAY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_devonway_devonway", "StringEquals": "Y", "Next": "PASS DEVONWAY_DEVONWAY"}], "Default": "LOAD DEVONWAY_DEVONWAY"}, "LOAD DEVONWAY_DEVONWAY": {"Type": "Task", "ResultPath": "$.DEVONWAY_DEVONWAY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_devonway_devonway", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DEVONWAY_DEVONWAY_FAILED"}], "Next": "PASS DEVONWAY_DEVONWAY"}, "SNS_DEVONWAY_DEVONWAY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_DEVONWAY_DEVONWAY Failed!"}, "Next": "DEVONWAY_DEVONWAY_ACTIVITY"}, "DEVONWAY_DEVONWAY_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_DEVONWAY_DEVONWAY_ACTIVITY", "End": false}, "PASS DEVONWAY_DEVONWAY": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_DEVONWAY_COMPACTION_SUCCESS"}, "SNS_DEVONWAY_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for DEVONWAY COMPACTION completed successfully!!"}}, "End": true}}}