PROD_JobConfig/StepFunction/Input/SR_COMPACTION_SERVICEMAX1.json
{"StartAt": "START SERVICEMAX COMPACTION JOBS", "States": {"START SERVICEMAX COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SERVICEMAX_CASE1", "States": {"SERVICEMAX_CASE1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case1", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE1"}], "Default": "LOAD SERVICEMAX_CASE1"}, "LOAD SERVICEMAX_CASE1": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case1", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE1_FAILED"}], "Next": "PASS SERVICEMAX_CASE1"}, "SNS_SERVICEMAX_CASE1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE1 Failed!"}, "Next": "SERVICEMAX_CASE1_ACTIVITY"}, "SERVICEMAX_CASE1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE1_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE1": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE2", "States": {"SERVICEMAX_CASE2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case2", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE2"}], "Default": "LOAD SERVICEMAX_CASE2"}, "LOAD SERVICEMAX_CASE2": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.SERVICEMAX_CASE2", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case2", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE2_FAILED"}], "Next": "PASS SERVICEMAX_CASE2"}, "SNS_SERVICEMAX_CASE2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SERVICEMAX_CASE2 Failed!"}, "Next": "SERVICEMAX_CASE2_ACTIVITY"}, "SERVICEMAX_CASE2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE2_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE2": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE3", "States": {"SERVICEMAX_CASE3": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case3", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE3"}], "Default": "LOAD SERVICEMAX_CASE3"}, "LOAD SERVICEMAX_CASE3": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE3", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case3", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE3_FAILED"}], "Next": "PASS SERVICEMAX_CASE3"}, "SNS_SERVICEMAX_CASE3_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE3 Failed!"}, "Next": "SERVICEMAX_CASE3_ACTIVITY"}, "SERVICEMAX_CASE3_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE3_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE3": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE5", "States": {"SERVICEMAX_CASE5": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case5", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE5"}], "Default": "LOAD SERVICEMAX_CASE5"}, "LOAD SERVICEMAX_CASE5": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE5", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case5", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE5_FAILED"}], "Next": "PASS SERVICEMAX_CASE5"}, "SNS_SERVICEMAX_CASE5_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE5 Failed!"}, "Next": "SERVICEMAX_CASE5_ACTIVITY"}, "SERVICEMAX_CASE5_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE5_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE5": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE7", "States": {"SERVICEMAX_CASE7": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case7", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE7"}], "Default": "LOAD SERVICEMAX_CASE7"}, "LOAD SERVICEMAX_CASE7": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE7", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case7", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE7_FAILED"}], "Next": "PASS SERVICEMAX_CASE7"}, "SNS_SERVICEMAX_CASE7_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE7 Failed!"}, "Next": "SERVICEMAX_CASE7_ACTIVITY"}, "SERVICEMAX_CASE7_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE7_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE7": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE8", "States": {"SERVICEMAX_CASE8": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case8", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE8"}], "Default": "LOAD SERVICEMAX_CASE8"}, "LOAD SERVICEMAX_CASE8": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE8", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case8", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE8_FAILED"}], "Next": "PASS SERVICEMAX_CASE8"}, "SNS_SERVICEMAX_CASE8_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE8 Failed!"}, "Next": "SERVICEMAX_CASE8_ACTIVITY"}, "SERVICEMAX_CASE8_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE8_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE8": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1", "States": {"SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_order_line__c1", "StringEquals": "Y", "Next": "PASS SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1"}], "Default": "LOAD SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1"}, "LOAD SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1": {"Type": "Task", "ResultPath": "$.SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__service_order_line__c1", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1_FAILED"}], "Next": "PASS SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1"}, "SNS_SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1 Failed!"}, "Next": "SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1_ACTIVITY"}, "SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1_ACTIVITY", "End": true}, "PASS SERVICEMAX_SVMXC__SERVICE_ORDER_LINE__C1": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_SERVICEMAX_COMPACTION_SUCCESS"}, "SNS_SERVICEMAX_COMPACTION_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SERVICEMAX COMPACTION completed successfully!!"}}, "End": true}}}