PROD_JobConfig/StepFunction/Input/SR_COMPACTION_MUST2.json
{"StartAt": "START MUST COMPACTION JOBS", "States": {"START MUST COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MUST_SERVRECD2", "States": {"MUST_SERVRECD2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_servrecd2", "StringEquals": "Y", "Next": "PASS MUST_SERVRECD2"}], "Default": "LOAD MUST_SERVRECD2"}, "LOAD MUST_SERVRECD2": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.MUST_SERVRECD2", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_servrecd2", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SERVRECD2_FAILED"}], "Next": "PASS MUST_SERVRECD2"}, "SNS_MUST_SERVRECD2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for MUST_SERVRECD2 Failed!"}, "Next": "MUST_SERVRECD2_ACTIVITY"}, "MUST_SERVRECD2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_SERVRECD2_ACTIVITY", "End": true}, "PASS MUST_SERVRECD2": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_SERVRECD4", "States": {"MUST_SERVRECD4": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_servrecd4", "StringEquals": "Y", "Next": "PASS MUST_SERVRECD4"}], "Default": "LOAD MUST_SERVRECD4"}, "LOAD MUST_SERVRECD4": {"Type": "Task", "ResultPath": "$.MUST_SERVRECD4", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_servrecd4", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SERVRECD4_FAILED"}], "Next": "PASS MUST_SERVRECD4"}, "SNS_MUST_SERVRECD4_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_SERVRECD4 Failed!"}, "Next": "MUST_SERVRECD4_ACTIVITY"}, "MUST_SERVRECD4_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_SERVRECD4_ACTIVITY", "End": true}, "PASS MUST_SERVRECD4": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_SERVRECD3", "States": {"MUST_SERVRECD3": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_servrecd3", "StringEquals": "Y", "Next": "PASS MUST_SERVRECD3"}], "Default": "LOAD MUST_SERVRECD3"}, "LOAD MUST_SERVRECD3": {"Type": "Task", "ResultPath": "$.MUST_SERVRECD3", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_servrecd3", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SERVRECD3_FAILED"}], "Next": "PASS MUST_SERVRECD3"}, "SNS_MUST_SERVRECD3_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_SERVRECD3 Failed!"}, "Next": "MUST_SERVRECD3_ACTIVITY"}, "MUST_SERVRECD3_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_SERVRECD3_ACTIVITY", "End": true}, "PASS MUST_SERVRECD3": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_DIRCOST", "States": {"MUST_DIRCOST": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_dircost", "StringEquals": "Y", "Next": "PASS MUST_DIRCOST"}], "Default": "LOAD MUST_DIRCOST"}, "LOAD MUST_DIRCOST": {"Type": "Task", "ResultPath": "$.MUST_DIRCOST", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_dircost", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_DIRCOST_FAILED"}], "Next": "PASS MUST_DIRCOST"}, "SNS_MUST_DIRCOST_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_DIRCOST Failed!"}, "Next": "MUST_DIRCOST_ACTIVITY"}, "MUST_DIRCOST_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_DIRCOST_ACTIVITY", "End": true}, "PASS MUST_DIRCOST": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TAB006UK", "States": {"MUST_TAB006UK": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tab006uk", "StringEquals": "Y", "Next": "PASS MUST_TAB006UK"}], "Default": "LOAD MUST_TAB006UK"}, "LOAD MUST_TAB006UK": {"Type": "Task", "ResultPath": "$.MUST_TAB006UK", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tab006uk", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TAB006UK_FAILED"}], "Next": "PASS MUST_TAB006UK"}, "SNS_MUST_TAB006UK_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_TAB006UK Failed!"}, "Next": "MUST_TAB006UK_ACTIVITY"}, "MUST_TAB006UK_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_TAB006UK_ACTIVITY", "End": true}, "PASS MUST_TAB006UK": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_BILLINGS1", "States": {"MUST_BILLINGS1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_billings1", "StringEquals": "Y", "Next": "PASS MUST_BILLINGS1"}], "Default": "LOAD MUST_BILLINGS1"}, "LOAD MUST_BILLINGS1": {"Type": "Task", "ResultPath": "$.MUST_BILLINGS1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_billings1", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_BILLINGS1_FAILED"}], "Next": "PASS MUST_BILLINGS1"}, "SNS_MUST_BILLINGS1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_BILLINGS1 Failed!"}, "Next": "MUST_BILLINGS1_ACTIVITY"}, "MUST_BILLINGS1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_BILLINGS1_ACTIVITY", "End": true}, "PASS MUST_BILLINGS1": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MUST_COMPACTION_SUCCESS"}, "SNS_MUST_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MUST COMPACTION completed successfully!!"}}, "End": true}}}