PROD_JobConfig/StepFunction/Input/SR_CDS_RELBLTY_PARTS_GEMS_DTL.json
{"StartAt": "START SR_CDS_RELBLTY_PARTS_GEMS_DTL", "States": {"START SR_CDS_RELBLTY_PARTS_GEMS_DTL": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_1()", "--query_tag": "SRC-v_elf_relblty_cds_dtl_fs_1", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1 FAILED!"}, "End": false}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_1": {"Type": "Pass", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_2_caps()", "--query_tag": "SRC-_relblty_cds_dtl_fs_2_CAPS", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CAPS": {"Type": "Pass", "End": true}}}, {"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_2_smax()", "--query_tag": "SRC-_relblty_cds_dtl_fs_2_smax", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SMAX": {"Type": "Pass", "End": true}}}, {"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_2_must()", "--query_tag": "SRC-_relblty_cds_dtl_fs_2_must", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_MUST": {"Type": "Pass", "End": true}}}, {"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_2_sam()", "--query_tag": "SRC-f_relblty_cds_dtl_fs_2_sam", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SAM": {"Type": "Pass", "End": true}}}, {"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_2_sit()", "--query_tag": "SRC-f_relblty_cds_dtl_fs_2_sit", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_SIT": {"Type": "Pass", "End": true}}}, {"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_2_cares()", "--query_tag": "SRC-relblty_cds_dtl_fs_2_CARES", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_2_CARES": {"Type": "Pass", "End": true}}}]}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_insert()", "--query_tag": "SRC-_relblty_cds_dtl_fs_insert", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT FAILED!"}, "End": false}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_INSERT": {"Type": "Pass", "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_3_new()", "--query_tag": "SRC-f_relblty_cds_dtl_fs_3_new", "--stats_flg": "N", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW FAILED!"}, "End": false}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_NEW": {"Type": "Pass", "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3": {"Type": "Task", "InputPath": "$", "ResultPath": "$.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_fs_3()", "--query_tag": "SRC-v_elf_relblty_cds_dtl_fs_3", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3 FAILED!"}, "End": false}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_FS_3": {"Type": "Pass", "Next": "StartParallel2"}, "StartParallel2": {"Type": "Parallel", "Next": "ELF_DATA_QUALITY_ELF_DAAS_INSERT", "ResultPath": "$.parallelResult1", "Branches": [{"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_f()", "--query_tag": "SRC-_srv_elf_relblty_cds_dtl_f", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F": {"Type": "Pass", "End": true}}}, {"StartAt": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW", "States": {"RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW", "StringEquals": "Y", "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW"}], "Default": "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW"}, "LOAD RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_f_new()", "--query_tag": "SRC-_elf_relblty_cds_dtl_f_new", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW_FAILED"}], "Next": "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW"}, "SNS_RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW Failed!"}, "Next": "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW_ACTIVITY"}, "RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW_ACTIVITY", "End": true}, "PASS RELBLTY_PARTS_GEMS_DTL_ELF_RELBLTY_CDS_DTL_F_NEW": {"Type": "Pass", "End": true}}}]}, "ELF_DATA_QUALITY_ELF_DAAS_INSERT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ELF_DATA_QUALITY_ELF_DAAS_INSERT", "StringEquals": "Y", "Next": "PASS ELF_DATA_QUALITY_ELF_DAAS_INSERT"}], "Default": "LOAD ELF_DATA_QUALITY_ELF_DAAS_INSERT"}, "LOAD ELF_DATA_QUALITY_ELF_DAAS_INSERT": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_elf_daas_insert()", "--query_tag": "SRC-sp_srv_sr_elf_daas_insert", "--stats_flg": "Y", "--wlm_count": "2"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ELF_DATA_QUALITY_ELF_DAAS_INSERT_FAILED"}], "Next": "PASS ELF_DATA_QUALITY_ELF_DAAS_INSERT"}, "SNS_ELF_DATA_QUALITY_ELF_DAAS_INSERT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for ELF_DATA_QUALITY_ELF_DAAS_INSERT Failed!"}, "End": false}, "PASS ELF_DATA_QUALITY_ELF_DAAS_INSERT": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_CDS_RELBLTY_PARTS_GEMS_DTL"}, "SNS_SR_CDS_RELBLTY_PARTS_GEMS_DTL": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_CDS_RELBLTY_PARTS_GEMS_DTL completed successfully!!!"}}, "End": true}}}