PROD_JobConfig/StepFunction/Input/SR_COMPACTION_SERVICEMAX4.json
{"StartAt": "START SERVICEMAX COMPACTION JOBS", "States": {"START SERVICEMAX COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C", "States": {"SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__sm_checklist_result__c", "StringEquals": "Y", "Next": "PASS SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C"}], "Default": "LOAD SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C"}, "LOAD SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C": {"Type": "Task", "ResultPath": "$.SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__sm_checklist_result__c", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C_FAILED"}], "Next": "PASS SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C"}, "SNS_SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C Failed!"}, "Next": "SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C_ACTIVITY"}, "SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C_ACTIVITY", "End": true}, "PASS SERVICEMAX_SVMXC__SM_CHECKLIST_RESULT__C": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_BUSINESSHOURS", "States": {"SERVICEMAX_BUSINESSHOURS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_businesshours", "StringEquals": "Y", "Next": "PASS SERVICEMAX_BUSINESSHOURS"}], "Default": "LOAD SERVICEMAX_BUSINESSHOURS"}, "LOAD SERVICEMAX_BUSINESSHOURS": {"Type": "Task", "ResultPath": "$.SERVICEMAX_BUSINESSHOURS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_businesshours", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_BUSINESSHOURS_FAILED"}], "Next": "PASS SERVICEMAX_BUSINESSHOURS"}, "SNS_SERVICEMAX_BUSINESSHOURS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_BUSINESSHOURS Failed!"}, "Next": "SERVICEMAX_BUSINESSHOURS_ACTIVITY"}, "SERVICEMAX_BUSINESSHOURS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_BUSINESSHOURS_ACTIVITY", "End": true}, "PASS SERVICEMAX_BUSINESSHOURS": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE4", "States": {"SERVICEMAX_CASE4": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case4", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE4"}], "Default": "LOAD SERVICEMAX_CASE4"}, "LOAD SERVICEMAX_CASE4": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE4", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case4", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE4_FAILED"}], "Next": "PASS SERVICEMAX_CASE4"}, "SNS_SERVICEMAX_CASE4_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE4 Failed!"}, "Next": "SERVICEMAX_CASE4_ACTIVITY"}, "SERVICEMAX_CASE4_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE4_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE4": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_CASE6", "States": {"SERVICEMAX_CASE6": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_case6", "StringEquals": "Y", "Next": "PASS SERVICEMAX_CASE6"}], "Default": "LOAD SERVICEMAX_CASE6"}, "LOAD SERVICEMAX_CASE6": {"Type": "Task", "ResultPath": "$.SERVICEMAX_CASE6", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_case6", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_CASE6_FAILED"}], "Next": "PASS SERVICEMAX_CASE6"}, "SNS_SERVICEMAX_CASE6_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_CASE6 Failed!"}, "Next": "SERVICEMAX_CASE6_ACTIVITY"}, "SERVICEMAX_CASE6_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_CASE6_ACTIVITY", "End": true}, "PASS SERVICEMAX_CASE6": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_LICENSE__C", "States": {"SERVICEMAX_LICENSE__C": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_license__c", "StringEquals": "Y", "Next": "PASS SERVICEMAX_LICENSE__C"}], "Default": "LOAD SERVICEMAX_LICENSE__C"}, "LOAD SERVICEMAX_LICENSE__C": {"Type": "Task", "ResultPath": "$.SERVICEMAX_LICENSE__C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_license__c", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_LICENSE__C_FAILED"}], "Next": "PASS SERVICEMAX_LICENSE__C"}, "SNS_SERVICEMAX_LICENSE__C_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_LICENSE__C Failed!"}, "Next": "SERVICEMAX_LICENSE__C_ACTIVITY"}, "SERVICEMAX_LICENSE__C_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_LICENSE__C_ACTIVITY", "End": true}, "PASS SERVICEMAX_LICENSE__C": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRICEBOOK2", "States": {"SERVICEMAX_PRICEBOOK2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_pricebook2", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRICEBOOK2"}], "Default": "LOAD SERVICEMAX_PRICEBOOK2"}, "LOAD SERVICEMAX_PRICEBOOK2": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRICEBOOK2", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_pricebook2", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRICEBOOK2_FAILED"}], "Next": "PASS SERVICEMAX_PRICEBOOK2"}, "SNS_SERVICEMAX_PRICEBOOK2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRICEBOOK2 Failed!"}, "Next": "SERVICEMAX_PRICEBOOK2_ACTIVITY"}, "SERVICEMAX_PRICEBOOK2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_PRICEBOOK2_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRICEBOOK2": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRICEBOOKENTRY", "States": {"SERVICEMAX_PRICEBOOKENTRY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_pricebookentry", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRICEBOOKENTRY"}], "Default": "LOAD SERVICEMAX_PRICEBOOKENTRY"}, "LOAD SERVICEMAX_PRICEBOOKENTRY": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRICEBOOKENTRY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_pricebookentry", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRICEBOOKENTRY_FAILED"}], "Next": "PASS SERVICEMAX_PRICEBOOKENTRY"}, "SNS_SERVICEMAX_PRICEBOOKENTRY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRICEBOOKENTRY Failed!"}, "Next": "SERVICEMAX_PRICEBOOKENTRY_ACTIVITY"}, "SERVICEMAX_PRICEBOOKENTRY_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_PRICEBOOKENTRY_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRICEBOOKENTRY": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRODUCT_GROUP__C", "States": {"SERVICEMAX_PRODUCT_GROUP__C": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_product_group__c", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRODUCT_GROUP__C"}], "Default": "LOAD SERVICEMAX_PRODUCT_GROUP__C"}, "LOAD SERVICEMAX_PRODUCT_GROUP__C": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRODUCT_GROUP__C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_product_group__c", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRODUCT_GROUP__C_FAILED"}], "Next": "PASS SERVICEMAX_PRODUCT_GROUP__C"}, "SNS_SERVICEMAX_PRODUCT_GROUP__C_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRODUCT_GROUP__C Failed!"}, "Next": "SERVICEMAX_PRODUCT_GROUP__C_ACTIVITY"}, "SERVICEMAX_PRODUCT_GROUP__C_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_PRODUCT_GROUP__C_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRODUCT_GROUP__C": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C", "States": {"SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_product_group_association__c", "StringEquals": "Y", "Next": "PASS SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C"}], "Default": "LOAD SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C"}, "LOAD SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C": {"Type": "Task", "ResultPath": "$.SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_product_group_association__c", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FAILED"}], "Next": "PASS SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C"}, "SNS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C Failed!"}, "Next": "SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_ACTIVITY"}, "SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C_ACTIVITY", "End": true}, "PASS SERVICEMAX_PRODUCT_GROUP_ASSOCIATION__C": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_SVMXC__PM_COVERAGE__C", "States": {"SERVICEMAX_SVMXC__PM_COVERAGE__C": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__pm_coverage__c", "StringEquals": "Y", "Next": "PASS SERVICEMAX_SVMXC__PM_COVERAGE__C"}], "Default": "LOAD SERVICEMAX_SVMXC__PM_COVERAGE__C"}, "LOAD SERVICEMAX_SVMXC__PM_COVERAGE__C": {"Type": "Task", "ResultPath": "$.SERVICEMAX_SVMXC__PM_COVERAGE__C", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_servicemax_svmxc__pm_coverage__c", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_SVMXC__PM_COVERAGE__C_FAILED"}], "Next": "PASS SERVICEMAX_SVMXC__PM_COVERAGE__C"}, "SNS_SERVICEMAX_SVMXC__PM_COVERAGE__C_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SERVICEMAX_SVMXC__PM_COVERAGE__C Failed!"}, "Next": "SERVICEMAX_SVMXC__PM_COVERAGE__C_ACTIVITY"}, "SERVICEMAX_SVMXC__PM_COVERAGE__C_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SERVICEMAX_SVMXC__PM_COVERAGE__C_ACTIVITY", "End": true}, "PASS SERVICEMAX_SVMXC__PM_COVERAGE__C": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SERVICEMAX_COMPACTION_SUCCESS"}, "SNS_SERVICEMAX_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SERVICEMAX4 COMPACTION completed successfully!!"}}, "End": true}}}