PROD_JobConfig/StepFunction/Input/SR_COMPACTION_SIEBEL_AMERICAS2.json
{"StartAt": "START SIEBEL_AMERICAS COMPACTION JOBS", "States": {"START SIEBEL_AMERICAS COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SIEBEL_AMERICAS_S_EXP_ITEM_TYPE", "States": {"SIEBEL_AMERICAS_S_EXP_ITEM_TYPE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_exp_item_type", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_EXP_ITEM_TYPE"}], "Default": "LOAD SIEBEL_AMERICAS_S_EXP_ITEM_TYPE"}, "LOAD SIEBEL_AMERICAS_S_EXP_ITEM_TYPE": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_EXP_ITEM_TYPE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_exp_item_type", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_EXP_ITEM_TYPE_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_EXP_ITEM_TYPE"}, "SNS_SIEBEL_AMERICAS_S_EXP_ITEM_TYPE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_EXP_ITEM_TYPE Failed!"}, "Next": "SIEBEL_AMERICAS_S_EXP_ITEM_TYPE_ACTIVITY"}, "SIEBEL_AMERICAS_S_EXP_ITEM_TYPE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_EXP_ITEM_TYPE_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_EXP_ITEM_TYPE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ORDER_ITEM", "States": {"SIEBEL_AMERICAS_S_ORDER_ITEM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_order_item", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ORDER_ITEM"}], "Default": "LOAD SIEBEL_AMERICAS_S_ORDER_ITEM"}, "LOAD SIEBEL_AMERICAS_S_ORDER_ITEM": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ORDER_ITEM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_order_item", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ORDER_ITEM_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ORDER_ITEM"}, "SNS_SIEBEL_AMERICAS_S_ORDER_ITEM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ORDER_ITEM Failed!"}, "Next": "SIEBEL_AMERICAS_S_ORDER_ITEM_ACTIVITY"}, "SIEBEL_AMERICAS_S_ORDER_ITEM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ORDER_ITEM_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ORDER_ITEM": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ORDER", "States": {"SIEBEL_AMERICAS_S_ORDER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_order", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ORDER"}], "Default": "LOAD SIEBEL_AMERICAS_S_ORDER"}, "LOAD SIEBEL_AMERICAS_S_ORDER": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ORDER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_order", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ORDER_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ORDER"}, "SNS_SIEBEL_AMERICAS_S_ORDER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ORDER Failed!"}, "Next": "SIEBEL_AMERICAS_S_ORDER_ACTIVITY"}, "SIEBEL_AMERICAS_S_ORDER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ORDER_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ORDER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_TIMEZONE", "States": {"SIEBEL_AMERICAS_S_TIMEZONE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_timezone", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_TIMEZONE"}], "Default": "LOAD SIEBEL_AMERICAS_S_TIMEZONE"}, "LOAD SIEBEL_AMERICAS_S_TIMEZONE": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_TIMEZONE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_timezone", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_TIMEZONE_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_TIMEZONE"}, "SNS_SIEBEL_AMERICAS_S_TIMEZONE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_TIMEZONE Failed!"}, "Next": "SIEBEL_AMERICAS_S_TIMEZONE_ACTIVITY"}, "SIEBEL_AMERICAS_S_TIMEZONE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_TIMEZONE_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_TIMEZONE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_TIMEZONE_DTL", "States": {"SIEBEL_AMERICAS_S_TIMEZONE_DTL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_timezone_dtl", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_TIMEZONE_DTL"}], "Default": "LOAD SIEBEL_AMERICAS_S_TIMEZONE_DTL"}, "LOAD SIEBEL_AMERICAS_S_TIMEZONE_DTL": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_TIMEZONE_DTL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_timezone_dtl", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_TIMEZONE_DTL_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_TIMEZONE_DTL"}, "SNS_SIEBEL_AMERICAS_S_TIMEZONE_DTL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_TIMEZONE_DTL Failed!"}, "Next": "SIEBEL_AMERICAS_S_TIMEZONE_DTL_ACTIVITY"}, "SIEBEL_AMERICAS_S_TIMEZONE_DTL_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_TIMEZONE_DTL_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_TIMEZONE_DTL": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ENTL_ACT_PART", "States": {"SIEBEL_AMERICAS_S_ENTL_ACT_PART": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entl_act_part", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ENTL_ACT_PART"}], "Default": "LOAD SIEBEL_AMERICAS_S_ENTL_ACT_PART"}, "LOAD SIEBEL_AMERICAS_S_ENTL_ACT_PART": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ENTL_ACT_PART", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entl_act_part", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ENTL_ACT_PART_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ENTL_ACT_PART"}, "SNS_SIEBEL_AMERICAS_S_ENTL_ACT_PART_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ENTL_ACT_PART Failed!"}, "Next": "SIEBEL_AMERICAS_S_ENTL_ACT_PART_ACTIVITY"}, "SIEBEL_AMERICAS_S_ENTL_ACT_PART_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ENTL_ACT_PART_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ENTL_ACT_PART": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ENTL_ACT_LBR", "States": {"SIEBEL_AMERICAS_S_ENTL_ACT_LBR": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entl_act_lbr", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ENTL_ACT_LBR"}], "Default": "LOAD SIEBEL_AMERICAS_S_ENTL_ACT_LBR"}, "LOAD SIEBEL_AMERICAS_S_ENTL_ACT_LBR": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ENTL_ACT_LBR", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_entl_act_lbr", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ENTL_ACT_LBR_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ENTL_ACT_LBR"}, "SNS_SIEBEL_AMERICAS_S_ENTL_ACT_LBR_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ENTL_ACT_LBR Failed!"}, "Next": "SIEBEL_AMERICAS_S_ENTL_ACT_LBR_ACTIVITY"}, "SIEBEL_AMERICAS_S_ENTL_ACT_LBR_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ENTL_ACT_LBR_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ENTL_ACT_LBR": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_ACT_PRDINT", "States": {"SIEBEL_AMERICAS_S_ACT_PRDINT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_act_prdint", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_ACT_PRDINT"}], "Default": "LOAD SIEBEL_AMERICAS_S_ACT_PRDINT"}, "LOAD SIEBEL_AMERICAS_S_ACT_PRDINT": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_ACT_PRDINT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_act_prdint", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_ACT_PRDINT_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_ACT_PRDINT"}, "SNS_SIEBEL_AMERICAS_S_ACT_PRDINT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_ACT_PRDINT Failed!"}, "Next": "SIEBEL_AMERICAS_S_ACT_PRDINT_ACTIVITY"}, "SIEBEL_AMERICAS_S_ACT_PRDINT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_ACT_PRDINT_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_ACT_PRDINT": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_EMP_PER", "States": {"SIEBEL_AMERICAS_S_EMP_PER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_emp_per", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_EMP_PER"}], "Default": "LOAD SIEBEL_AMERICAS_S_EMP_PER"}, "LOAD SIEBEL_AMERICAS_S_EMP_PER": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_EMP_PER", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_emp_per", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_EMP_PER_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_EMP_PER"}, "SNS_SIEBEL_AMERICAS_S_EMP_PER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_EMP_PER Failed!"}, "Next": "SIEBEL_AMERICAS_S_EMP_PER_ACTIVITY"}, "SIEBEL_AMERICAS_S_EMP_PER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_EMP_PER_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_EMP_PER": {"Type": "Pass", "End": true}}}, {"StartAt": "SIEBEL_AMERICAS_S_CON_ADDR", "States": {"SIEBEL_AMERICAS_S_CON_ADDR": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_siebel_americas_s_con_addr", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_S_CON_ADDR"}], "Default": "LOAD SIEBEL_AMERICAS_S_CON_ADDR"}, "LOAD SIEBEL_AMERICAS_S_CON_ADDR": {"Type": "Task", "ResultPath": "$.SIEBEL_AMERICAS_S_CON_ADDR", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_siebel_americas_s_con_addr", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_S_CON_ADDR_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_S_CON_ADDR"}, "SNS_SIEBEL_AMERICAS_S_CON_ADDR_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SIEBEL_AMERICAS_S_CON_ADDR Failed!"}, "Next": "SIEBEL_AMERICAS_S_CON_ADDR_ACTIVITY"}, "SIEBEL_AMERICAS_S_CON_ADDR_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SIEBEL_AMERICAS_S_CON_ADDR_ACTIVITY", "End": true}, "PASS SIEBEL_AMERICAS_S_CON_ADDR": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS"}, "SNS_SIEBEL_AMERICAS_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SIEBEL_AMERICAS COMPACTION completed successfully!!"}}, "End": true}}}