PROD_JobConfig/StepFunction/Input/SR_COMPACTION_DRM.json
{"StartAt": "START DRM COMPACTION JOBS", "States": {"START DRM COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "DRM_HCBI_ES_HIER_COST_CENTER_AT", "States": {"DRM_HCBI_ES_HIER_COST_CENTER_AT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_drm_hcbi_es_hier_cost_center_at", "StringEquals": "Y", "Next": "PASS DRM_HCBI_ES_HIER_COST_CENTER_AT"}], "Default": "LOAD DRM_HCBI_ES_HIER_COST_CENTER_AT"}, "LOAD DRM_HCBI_ES_HIER_COST_CENTER_AT": {"Type": "Task", "ResultPath": "$.DRM_HCBI_ES_HIER_COST_CENTER_AT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_drm_hcbi_es_hier_cost_center_at", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_HCBI_ES_HIER_COST_CENTER_AT_FAILED"}], "Next": "PASS DRM_HCBI_ES_HIER_COST_CENTER_AT"}, "SNS_DRM_HCBI_ES_HIER_COST_CENTER_AT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_DRM_HCBI_ES_HIER_COST_CENTER_AT Failed!"}, "Next": "DRM_HCBI_ES_HIER_COST_CENTER_AT_ACTIVITY"}, "DRM_HCBI_ES_HIER_COST_CENTER_AT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_DRM_HCBI_ES_HIER_COST_CENTER_AT_ACTIVITY", "End": true}, "PASS DRM_HCBI_ES_HIER_COST_CENTER_AT": {"Type": "Pass", "End": true}}}, {"StartAt": "DRM_HCBI_ES_PROP_COST_CENTER_AT", "States": {"DRM_HCBI_ES_PROP_COST_CENTER_AT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_drm_hcbi_es_prop_cost_center_at", "StringEquals": "Y", "Next": "PASS DRM_HCBI_ES_PROP_COST_CENTER_AT"}], "Default": "LOAD DRM_HCBI_ES_PROP_COST_CENTER_AT"}, "LOAD DRM_HCBI_ES_PROP_COST_CENTER_AT": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.DRM_HCBI_ES_PROP_COST_CENTER_AT", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_drm_hcbi_es_prop_cost_center_at", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DRM_HCBI_ES_PROP_COST_CENTER_AT_FAILED"}], "Next": "PASS DRM_HCBI_ES_PROP_COST_CENTER_AT"}, "SNS_DRM_HCBI_ES_PROP_COST_CENTER_AT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for DRM_HCBI_ES_PROP_COST_CENTER_AT Failed!"}, "Next": "DRM_HCBI_ES_PROP_COST_CENTER_AT_ACTIVITY"}, "DRM_HCBI_ES_PROP_COST_CENTER_AT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_DRM_HCBI_ES_PROP_COST_CENTER_AT_ACTIVITY", "End": true}, "PASS DRM_HCBI_ES_PROP_COST_CENTER_AT": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_DRM_COMPACTION_SUCCESS"}, "SNS_DRM_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for DRM COMPACTION completed successfully!!"}}, "End": true}}}