PROD_JobConfig/StepFunction/Input/SR_CDS_GEMS_GPO_PARTS_SUPPLY.json
{"StartAt": "START SR_CDS_GEMS_GPO_PARTS_SUPPLY", "States": {"START SR_CDS_GEMS_GPO_PARTS_SUPPLY": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC"}, "GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC", "StringEquals": "Y", "Next": "PASS GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC"}], "Default": "LOAD GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC"}, "LOAD GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.srv_spr_projct_dtl_f_exec()", "--query_tag": "SRC-srv_spr_projct_dtl_f_exec", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC_FAILED"}], "Next": "PASS GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC"}, "SNS_GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC FAILED!"}, "End": false}, "PASS GEMS_GPO_PARTS_SUPPLY_SPR_PROJCT_DTL_F_EXEC": {"Type": "Pass", "Next": "GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL"}, "GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL", "StringEquals": "Y", "Next": "PASS GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL"}], "Default": "LOAD GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL"}, "LOAD GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_gems_gpo_return_recs_tbl()", "--query_tag": "SRC-p_gems_gpo_return_recs_tbl", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL_FAILED"}], "Next": "PASS GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL"}, "SNS_GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL FAILED!"}, "End": false}, "PASS GEMS_GPO_PARTS_SUPPLY_GEMS_GPO_RETURN_RECS_TBL": {"Type": "Pass", "Next": "GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D"}, "GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D", "StringEquals": "Y", "Next": "PASS GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D"}], "Default": "LOAD GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D"}, "LOAD GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_part_supplr_d()", "--query_tag": "SRC-sp_srv_part_supplr_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D_FAILED"}], "Next": "PASS GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D"}, "SNS_GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D FAILED!"}, "End": false}, "PASS GEMS_GPO_PARTS_SUPPLY_PART_SUPPLR_D": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_CDS_GEMS_GPO_PARTS_SUPPLY"}, "SNS_SR_CDS_GEMS_GPO_PARTS_SUPPLY": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_CDS_GEMS_GPO_PARTS_SUPPLY completed successfully!!"}}, "End": true}}}