PROD_JobConfig/StepFunction/Input/SR_COMPACTION_SALESFORCE.json
{"StartAt": "START SALESFORCE COMPACTION JOBS", "States": {"START SALESFORCE COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "SALESFORCE_CASE"}, "SALESFORCE_CASE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_salesforce_case", "StringEquals": "Y", "Next": "PASS SALESFORCE_CASE"}], "Default": "LOAD SALESFORCE_CASE"}, "LOAD SALESFORCE_CASE": {"Type": "Task", "ResultPath": "$.SALESFORCE_CASE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_salesforce_case", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SALESFORCE_CASE_FAILED"}], "Next": "PASS SALESFORCE_CASE"}, "SNS_SALESFORCE_CASE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_SALESFORCE_CASE Failed!"}, "Next": "SALESFORCE_CASE_ACTIVITY"}, "SALESFORCE_CASE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_SALESFORCE_CASE_ACTIVITY", "End": false}, "PASS SALESFORCE_CASE": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_SALESFORCE_COMPACTION_SUCCESS"}, "SNS_SALESFORCE_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SALESFORCE COMPACTION completed successfully!!"}}, "End": true}}}