PROD_JobConfig/StepFunction/Input/SR_CDS_TPFR_DEVONWAY.json
{"StartAt": "START SR_CDS_TPFR_DEVONWAY", "States": {"START SR_CDS_TPFR_DEVONWAY": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "DEVONWAY"}, "DEVONWAY": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.DEVONWAY", "StringEquals": "Y", "Next": "PASS DEVONWAY"}], "Default": "LOAD DEVONWAY"}, "LOAD DEVONWAY": {"Type": "Task", "InputPath": "$", "ResultPath": "$.DEVONWAY", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_devonway()", "--query_tag": "SRC-sp_srv_sr_devonway", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_DEVONWAY_FAILED"}], "Next": "PASS DEVONWAY"}, "SNS_DEVONWAY_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for DEVONWAY FAILED!"}, "End": false}, "PASS DEVONWAY": {"Type": "Pass", "Next": "SR_TPFR_METRCS_F"}, "SR_TPFR_METRCS_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_TPFR_METRCS_F", "StringEquals": "Y", "Next": "PASS SR_TPFR_METRCS_F"}], "Default": "LOAD SR_TPFR_METRCS_F"}, "LOAD SR_TPFR_METRCS_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_TPFR_METRCS_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_tpfr_metrcs_f()", "--query_tag": "SRC-sp_srv_sr_tpfr_metrcs_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_TPFR_METRCS_F_FAILED"}], "Next": "PASS SR_TPFR_METRCS_F"}, "SNS_SR_TPFR_METRCS_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for FOR SR_TPFR_METRCS_F FAILED!"}, "End": false}, "PASS SR_TPFR_METRCS_F": {"Type": "Pass", "Next": "SR_TPFR_METRCS_SUM_F"}, "SR_TPFR_METRCS_SUM_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_TPFR_METRCS_SUM_F", "StringEquals": "Y", "Next": "PASS SR_TPFR_METRCS_SUM_F"}], "Default": "LOAD SR_TPFR_METRCS_SUM_F"}, "LOAD SR_TPFR_METRCS_SUM_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_TPFR_METRCS_SUM_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_tpfr_metrcs_sum_f()", "--query_tag": "SRC-p_srv_sr_tpfr_metrcs_sum_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_TPFR_METRCS_SUM_F_FAILED"}], "Next": "PASS SR_TPFR_METRCS_SUM_F"}, "SNS_SR_TPFR_METRCS_SUM_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for FOR SR_TPFR_METRCS_SUM_F FAILED!"}, "End": false}, "PASS SR_TPFR_METRCS_SUM_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_CDS_TPFR_DEVONWAY_SUCCESS"}, "SNS_SR_CDS_TPFR_DEVONWAY_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_CDS_TPFR_DEVONWAY completed successfully!!!"}}, "End": true}}}