PROD_JobConfig/StepFunction/Input/SR_COMPACTION_GLA.json
{"StartAt": "START GLA COMPACTION JOBS", "States": {"START GLA COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S", "States": {"GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_gla_vw_srv_sqm_item_supp_lkp_s", "StringEquals": "Y", "Next": "PASS GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S"}], "Default": "LOAD GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S"}, "LOAD GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S": {"Type": "Task", "ResultPath": "$.GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_gla_vw_srv_sqm_item_supp_lkp_s", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S_FAILED"}], "Next": "PASS GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S"}, "SNS_GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S Failed!"}, "Next": "GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S_ACTIVITY"}, "GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S_ACTIVITY", "End": true}, "PASS GLA_VW_SRV_SQM_ITEM_SUPP_LKP_S": {"Type": "Pass", "End": true}}}, {"StartAt": "GLA_GL_JORNL_DET_ALL_F", "States": {"GLA_GL_JORNL_DET_ALL_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_gla_gl_jornl_det_all_f", "StringEquals": "Y", "Next": "PASS GLA_GL_JORNL_DET_ALL_F"}], "Default": "LOAD GLA_GL_JORNL_DET_ALL_F"}, "LOAD GLA_GL_JORNL_DET_ALL_F": {"Type": "Task", "ResultPath": "$.GLA_GL_JORNL_DET_ALL_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_gla_gl_jornl_det_all_f", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_GL_JORNL_DET_ALL_F_FAILED"}], "Next": "PASS GLA_GL_JORNL_DET_ALL_F"}, "SNS_GLA_GL_JORNL_DET_ALL_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLA_GL_JORNL_DET_ALL_F Failed!"}, "Next": "GLA_GL_JORNL_DET_ALL_F_ACTIVITY"}, "GLA_GL_JORNL_DET_ALL_F_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLA_GL_JORNL_DET_ALL_F_ACTIVITY", "End": true}, "PASS GLA_GL_JORNL_DET_ALL_F": {"Type": "Pass", "End": true}}}, {"StartAt": "GLA_GL_JORNL_DET_ALL_FX1", "States": {"GLA_GL_JORNL_DET_ALL_FX1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_gla_gl_jornl_det_all_fx1", "StringEquals": "Y", "Next": "PASS GLA_GL_JORNL_DET_ALL_FX1"}], "Default": "LOAD GLA_GL_JORNL_DET_ALL_FX1"}, "LOAD GLA_GL_JORNL_DET_ALL_FX1": {"Type": "Task", "ResultPath": "$.GLA_GL_JORNL_DET_ALL_FX1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_gla_gl_jornl_det_all_fx1", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_GL_JORNL_DET_ALL_FX1_FAILED"}], "Next": "PASS GLA_GL_JORNL_DET_ALL_FX1"}, "SNS_GLA_GL_JORNL_DET_ALL_FX1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLA_GL_JORNL_DET_ALL_FX1 Failed!"}, "Next": "GLA_GL_JORNL_DET_ALL_FX1_ACTIVITY"}, "GLA_GL_JORNL_DET_ALL_FX1_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLA_GL_JORNL_DET_ALL_FX1_ACTIVITY", "End": true}, "PASS GLA_GL_JORNL_DET_ALL_FX1": {"Type": "Pass", "End": true}}}, {"StartAt": "GLA_GL_JORNL_DET_ALL_FX2", "States": {"GLA_GL_JORNL_DET_ALL_FX2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_gla_gl_jornl_det_all_fx2", "StringEquals": "Y", "Next": "PASS GLA_GL_JORNL_DET_ALL_FX2"}], "Default": "LOAD GLA_GL_JORNL_DET_ALL_FX2"}, "LOAD GLA_GL_JORNL_DET_ALL_FX2": {"Type": "Task", "ResultPath": "$.GLA_GL_JORNL_DET_ALL_FX2", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_gla_gl_jornl_det_all_fx2", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_GL_JORNL_DET_ALL_FX2_FAILED"}], "Next": "PASS GLA_GL_JORNL_DET_ALL_FX2"}, "SNS_GLA_GL_JORNL_DET_ALL_FX2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLA_GL_JORNL_DET_ALL_FX2 Failed!"}, "Next": "GLA_GL_JORNL_DET_ALL_FX2_ACTIVITY"}, "GLA_GL_JORNL_DET_ALL_FX2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLA_GL_JORNL_DET_ALL_FX2_ACTIVITY", "End": true}, "PASS GLA_GL_JORNL_DET_ALL_FX2": {"Type": "Pass", "End": true}}}, {"StartAt": "GLA_PRD_PSI_D_V", "States": {"GLA_PRD_PSI_D_V": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_gla_prd_psi_d_v", "StringEquals": "Y", "Next": "PASS GLA_PRD_PSI_D_V"}], "Default": "LOAD GLA_PRD_PSI_D_V"}, "LOAD GLA_PRD_PSI_D_V": {"Type": "Task", "ResultPath": "$.GLA_PRD_PSI_D_V", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_gla_prd_psi_d_v", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_PRD_PSI_D_V_FAILED"}], "Next": "PASS GLA_PRD_PSI_D_V"}, "SNS_GLA_PRD_PSI_D_V_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_GLA_PRD_PSI_D_V Failed!"}, "Next": "GLA_PRD_PSI_D_V_ACTIVITY"}, "GLA_PRD_PSI_D_V_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_GLA_PRD_PSI_D_V_ACTIVITY", "End": true}, "PASS GLA_PRD_PSI_D_V": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_GLA_COMPACTION_SUCCESS"}, "SNS_GLA_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for GLA COMPACTION completed successfully!!"}}, "End": true}}}