PROD_JobConfig/StepFunction/Input/SR_COMPACTION_CHU.json
{"StartAt": "START CHU COMPACTION JOBS", "States": {"START CHU COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "CHU_BIX_COMPLAINT"}, "CHU_BIX_COMPLAINT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_chu_bix_complaint", "StringEquals": "Y", "Next": "PASS CHU_BIX_COMPLAINT"}], "Default": "LOAD CHU_BIX_COMPLAINT"}, "LOAD CHU_BIX_COMPLAINT": {"Type": "Task", "ResultPath": "$.CHU_BIX_COMPLAINT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_chu_bix_complaint", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CHU_BIX_COMPLAINT_FAILED"}], "Next": "PASS CHU_BIX_COMPLAINT"}, "SNS_CHU_BIX_COMPLAINT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_CHU_BIX_COMPLAINT Failed!"}, "Next": "CHU_BIX_COMPLAINT_ACTIVITY"}, "CHU_BIX_COMPLAINT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_CHU_BIX_COMPLAINT_ACTIVITY", "End": false}, "PASS CHU_BIX_COMPLAINT": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_CHU_COMPACTION_SUCCESS"}, "SNS_CHU_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for CHU COMPACTION completed successfully!!"}}, "End": true}}}