PROD_JobConfig/StepFunction/Input/SR_COMPACTION_ALIGNIQ.json
{"StartAt": "START ALIGNIQ COMPACTION JOBS", "States": {"START ALIGNIQ COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "ALIGNIQ_TBL_REQUISITION", "States": {"ALIGNIQ_TBL_REQUISITION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_aligniq_tbl_requisition", "StringEquals": "Y", "Next": "PASS ALIGNIQ_TBL_REQUISITION"}], "Default": "LOAD ALIGNIQ_TBL_REQUISITION"}, "LOAD ALIGNIQ_TBL_REQUISITION": {"Type": "Task", "ResultPath": "$.BFE1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_aligniq_tbl_requisition", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ALIGNIQ_TBL_REQUISITION_FAILED"}], "Next": "PASS ALIGNIQ_TBL_REQUISITION"}, "SNS_ALIGNIQ_TBL_REQUISITION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for ALIGNIQ_TBL_REQUISITION Failed!"}, "Next": "ALIGNIQ_TBL_REQUISITION_ACTIVITY"}, "ALIGNIQ_TBL_REQUISITION_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_ALIGNIQ_TBL_REQUISITION_ACTIVITY", "End": true}, "PASS ALIGNIQ_TBL_REQUISITION": {"Type": "Pass", "End": true}}}, {"StartAt": "ALIGNIQ_TBL_INVOICE_MASTER", "States": {"ALIGNIQ_TBL_INVOICE_MASTER": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_aligniq_tbl_invoice_master", "StringEquals": "Y", "Next": "PASS ALIGNIQ_TBL_INVOICE_MASTER"}], "Default": "LOAD ALIGNIQ_TBL_INVOICE_MASTER"}, "LOAD ALIGNIQ_TBL_INVOICE_MASTER": {"Type": "Task", "ResultPath": "$.BFE2", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_aligniq_tbl_invoice_master", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ALIGNIQ_TBL_INVOICE_MASTER_FAILED"}], "Next": "PASS ALIGNIQ_TBL_INVOICE_MASTER"}, "SNS_ALIGNIQ_TBL_INVOICE_MASTER_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for ALIGNIQ_TBL_INVOICE_MASTER Failed!"}, "Next": "ALIGNIQ_TBL_INVOICE_MASTER_ACTIVITY"}, "ALIGNIQ_TBL_INVOICE_MASTER_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_ALIGNIQ_TBL_INVOICE_MASTER_ACTIVITY", "End": true}, "PASS ALIGNIQ_TBL_INVOICE_MASTER": {"Type": "Pass", "End": true}}}, {"StartAt": "ALIGNIQ_TBL_SERVICE_CASE", "States": {"ALIGNIQ_TBL_SERVICE_CASE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_incr_refresh_ov_aligniq_tbl_service_case", "StringEquals": "Y", "Next": "PASS ALIGNIQ_TBL_SERVICE_CASE"}], "Default": "LOAD ALIGNIQ_TBL_SERVICE_CASE"}, "LOAD ALIGNIQ_TBL_SERVICE_CASE": {"Type": "Task", "ResultPath": "$.BFE3", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_incr_refresh_ov_aligniq_tbl_service_case", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ALIGNIQ_TBL_SERVICE_CASE_FAILED"}], "Next": "PASS ALIGNIQ_TBL_SERVICE_CASE"}, "SNS_ALIGNIQ_TBL_SERVICE_CASE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for ALIGNIQ_TBL_SERVICE_CASE Failed!"}, "Next": "ALIGNIQ_TBL_SERVICE_CASE_ACTIVITY"}, "ALIGNIQ_TBL_SERVICE_CASE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_ALIGNIQ_TBL_SERVICE_CASE_ACTIVITY", "End": true}, "PASS ALIGNIQ_TBL_SERVICE_CASE": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "ResultPath": "$", "Next": "SNS_ALIGNIQ_COMPACTION_SUCCESS"}, "SNS_ALIGNIQ_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_COMPACTION_ALIGNIQ completed successfully!!"}}, "End": true}}}