PROD_JobConfig/StepFunction/Input/SR_CDS_EVENT_FCR_DTL.json
{"StartAt": "START SR_CDS_EVENT_FCR_DTL", "States": {"START SR_CDS_EVENT_FCR_DTL": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "EVENT_FCR_DTL_F", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "EVENT_FCR_DTL_SIT_FS", "States": {"EVENT_FCR_DTL_SIT_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_DTL_SIT_FS", "StringEquals": "Y", "Next": "PASS EVENT_FCR_DTL_SIT_FS"}], "Default": "LOAD EVENT_FCR_DTL_SIT_FS"}, "LOAD EVENT_FCR_DTL_SIT_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_SIT_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_dtl_sit_fs()", "--query_tag": "SRC-srv_sr_evnt_fcr_dtl_sit_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_DTL_SIT_FS_FAILED"}], "Next": "PASS EVENT_FCR_DTL_SIT_FS"}, "SNS_EVENT_FCR_DTL_SIT_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for EVENT_FCR_DTL_SIT_FS Failed!"}, "Next": "SNS_EVENT_FCR_DTL_SIT_FS_ACTIVITY"}, "SNS_EVENT_FCR_DTL_SIT_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_EVENT_FCR_DTL_EVNT_FCR_DTL_SIT_FS_ACTIVITY", "End": true}, "PASS EVENT_FCR_DTL_SIT_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "EVENT_FCR_DTL_CARES_FS", "States": {"EVENT_FCR_DTL_CARES_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_DTL_CARES_FS", "StringEquals": "Y", "Next": "PASS EVENT_FCR_DTL_CARES_FS"}], "Default": "LOAD EVENT_FCR_DTL_CARES_FS"}, "LOAD EVENT_FCR_DTL_CARES_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_CARES_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_dtl_cares_fs()", "--query_tag": "SRC-v_sr_evnt_fcr_dtl_cares_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_DTL_CARES_FS_FAILED"}], "Next": "PASS EVENT_FCR_DTL_CARES_FS"}, "SNS_EVENT_FCR_DTL_CARES_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for EVENT_FCR_DTL_CARES_FS Failed!"}, "Next": "EVENT_FCR_DTL_CARES_FS_ACTIVITY"}, "EVENT_FCR_DTL_CARES_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_EVENT_FCR_DTL_EVNT_FCR_DTL_CARES_FS_ACTIVITY", "End": true}, "PASS EVENT_FCR_DTL_CARES_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "EVENT_FCR_DTL_SAM_FS", "States": {"EVENT_FCR_DTL_SAM_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_DTL_SAM_FS", "StringEquals": "Y", "Next": "PASS EVENT_FCR_DTL_SAM_FS"}], "Default": "LOAD EVENT_FCR_DTL_SAM_FS"}, "LOAD EVENT_FCR_DTL_SAM_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_SAM_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_dtl_f_sam_stage()", "--query_tag": "SRC-r_evnt_fcr_dtl_f_sam_stage", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_DTL_SAM_FS_FAILED"}], "Next": "PASS EVENT_FCR_DTL_SAM_FS"}, "SNS_EVENT_FCR_DTL_SAM_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for EVENT_FCR_DTL_SAM_FS Failed!"}, "Next": "EVENT_FCR_DTL_SAM_FS_ACTIVITY"}, "EVENT_FCR_DTL_SAM_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_EVENT_FCR_DTL_EVNT_FCR_DTL_SAM_FS_ACTIVITY", "End": true}, "PASS EVENT_FCR_DTL_SAM_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "EVENT_FCR_DTL_MUST_FS", "States": {"EVENT_FCR_DTL_MUST_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_DTL_MUST_FS", "StringEquals": "Y", "Next": "PASS EVENT_FCR_DTL_MUST_FS"}], "Default": "LOAD EVENT_FCR_DTL_MUST_FS"}, "LOAD EVENT_FCR_DTL_MUST_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_MUST_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_dtl_f_must_stage()", "--query_tag": "SRC-_evnt_fcr_dtl_f_must_stage", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_DTL_MUST_FS_FAILED"}], "Next": "PASS EVENT_FCR_DTL_MUST_FS"}, "SNS_EVENT_FCR_DTL_MUST_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for EVENT_FCR_DTL_MUST_FS Failed!"}, "Next": "EVENT_FCR_DTL_MUST_FS_ACTIVITY"}, "EVENT_FCR_DTL_MUST_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_EVENT_FCR_DTL_EVNT_FCR_DTL_MUST_FS_ACTIVITY", "End": true}, "PASS EVENT_FCR_DTL_MUST_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "EVENT_FCR_DTL_SVMXC_FS", "States": {"EVENT_FCR_DTL_SVMXC_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_DTL_SVMXC_FS", "StringEquals": "Y", "Next": "PASS EVENT_FCR_DTL_SVMXC_FS"}], "Default": "LOAD EVENT_FCR_DTL_SVMXC_FS"}, "LOAD EVENT_FCR_DTL_SVMXC_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_SVMXC_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_dtl_svmxc_fs()", "--query_tag": "SRC-v_sr_evnt_fcr_dtl_svmxc_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_DTL_SVMXC_FS_FAILED"}], "Next": "PASS EVENT_FCR_DTL_SVMXC_FS"}, "SNS_EVENT_FCR_DTL_SVMXC_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for EVENT_FCR_DTL_SVMXC_FS Failed!"}, "Next": "EVENT_FCR_DTL_SVMXC_FS_ACTIVITY"}, "EVENT_FCR_DTL_SVMXC_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_EVENT_FCR_DTL_EVNT_FCR_DTL_SVMXC_FS_ACTIVITY", "End": true}, "PASS EVENT_FCR_DTL_SVMXC_FS": {"Type": "Pass", "End": true}}}]}, "EVENT_FCR_DTL_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_DTL_F", "StringEquals": "Y", "Next": "PASS EVENT_FCR_DTL_F"}], "Default": "LOAD EVENT_FCR_DTL_F"}, "LOAD EVENT_FCR_DTL_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_dtl_f()", "--query_tag": "SRC-sp_srv_sr_evnt_fcr_dtl_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_DTL_F_FAILED"}], "Next": "PASS EVENT_FCR_DTL_F"}, "SNS_EVENT_FCR_DTL_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for EVENT_FCR_DTL_F FAILED!"}, "End": false}, "PASS EVENT_FCR_DTL_F": {"Type": "Pass", "Next": "EVENT_FCR_UPTIME_FS"}, "EVENT_FCR_UPTIME_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.EVENT_FCR_UPTIME_FS", "StringEquals": "Y", "Next": "PASS EVENT_FCR_UPTIME_FS"}], "Default": "LOAD EVENT_FCR_UPTIME_FS"}, "LOAD EVENT_FCR_UPTIME_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.EVENT_FCR_DTL_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_evnt_fcr_uptime_fs()", "--query_tag": "SRC-_srv_sr_evnt_fcr_uptime_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_EVENT_FCR_UPTIME_FS_FAILED"}], "Next": "PASS EVENT_FCR_UPTIME_FS"}, "SNS_EVENT_FCR_UPTIME_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for EVENT_FCR_UPTIME_FS FAILED!"}, "End": false}, "PASS EVENT_FCR_UPTIME_FS": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_CDS_EVENT_FCR_DTL"}, "SNS_SR_CDS_EVENT_FCR_DTL": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_CDS_EVENT_FCR_DTL completed successfully!!!"}}, "End": true}}}