PROD_JobConfig/StepFunction/Input/SR_CDS_IFR_WARRENTY1.json
{"StartAt": "START SR_CDS_IFR_WARRENTY1", "States": {"START SR_CDS_IFR_WARRENTY1": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "IFR_WARRENTY1_IFR_TEMP_PERIODS"}, "IFR_WARRENTY1_IFR_TEMP_PERIODS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IFR_WARRENTY1_IFR_TEMP_PERIODS", "StringEquals": "Y", "Next": "PASS IFR_WARRENTY1_IFR_TEMP_PERIODS"}], "Default": "LOAD IFR_WARRENTY1_IFR_TEMP_PERIODS"}, "LOAD IFR_WARRENTY1_IFR_TEMP_PERIODS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IFR_WARRENTY1_IFR_TEMP_PERIODS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_ifr_temp_periods()", "--query_tag": "SRC-sp_srv_sr_ifr_temp_periods", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IFR_WARRENTY1_IFR_TEMP_PERIODS_FAILED"}], "Next": "PASS IFR_WARRENTY1_IFR_TEMP_PERIODS"}, "SNS_IFR_WARRENTY1_IFR_TEMP_PERIODS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR IFR_WARRENTY1_IFR_TEMP_PERIODS FAILED!"}, "End": false}, "PASS IFR_WARRENTY1_IFR_TEMP_PERIODS": {"Type": "Pass", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S", "States": {"IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S", "StringEquals": "Y", "Next": "PASS IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S"}], "Default": "LOAD IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S"}, "LOAD IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_ifr_metrics_SIT_warrenty_S()", "--query_tag": "SRC-ifr_metrics_SIT_warrenty_S", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S_FAILED"}], "Next": "PASS IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S"}, "SNS_IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S Failed!"}, "Next": "IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S_ACTIVITY"}, "IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S_ACTIVITY", "End": true}, "PASS IFR_WARRENTY1_IFR_METRICS_SIT_WARRENTY_S": {"Type": "Pass", "End": true}}}, {"StartAt": "IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S", "States": {"IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S", "StringEquals": "Y", "Next": "PASS IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S"}], "Default": "LOAD IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S"}, "LOAD IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_ifr_metrics_MUST_warrenty_S()", "--query_tag": "SRC-fr_metrics_MUST_warrenty_S", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S_FAILED"}], "Next": "PASS IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S"}, "SNS_IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S Failed!"}, "Next": "IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S_ACTIVITY"}, "IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S_ACTIVITY", "End": true}, "PASS IFR_WARRENTY1_IFR_METRICS_MUST_WARRENTY_S": {"Type": "Pass", "End": true}}}, {"StartAt": "IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S", "States": {"IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S", "StringEquals": "Y", "Next": "PASS IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S"}], "Default": "LOAD IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S"}, "LOAD IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_ifr_metrics_SAM_warrenty_S()", "--query_tag": "SRC-ifr_metrics_SAM_warrenty_S", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S_FAILED"}], "Next": "PASS IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S"}, "SNS_IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S Failed!"}, "Next": "IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S_ACTIVITY"}, "IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S_ACTIVITY", "End": true}, "PASS IFR_WARRENTY1_IFR_METRICS_SAM_WARRENTY_S": {"Type": "Pass", "End": true}}}, {"StartAt": "IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S", "States": {"IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S", "StringEquals": "Y", "Next": "PASS IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S"}], "Default": "LOAD IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S"}, "LOAD IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_ifr_metrics_CARES_warrenty_S()", "--query_tag": "SRC-r_metrics_CARES_warrenty_S", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S_FAILED"}], "Next": "PASS IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S"}, "SNS_IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S Failed!"}, "Next": "IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S_ACTIVITY"}, "IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S_ACTIVITY", "End": true}, "PASS IFR_WARRENTY1_IFR_METRICS_CARES_WARRENTY_S": {"Type": "Pass", "End": true}}}, {"StartAt": "IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S", "States": {"IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S", "StringEquals": "Y", "Next": "PASS IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S"}], "Default": "LOAD IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S"}, "LOAD IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S": {"Type": "Task", "InputPath": "$", "ResultPath": "$.IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_ifr_metrics_CAPS_warrenty_S()", "--query_tag": "SRC-fr_metrics_CAPS_warrenty_S", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S_FAILED"}], "Next": "PASS IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S"}, "SNS_IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S Failed!"}, "Next": "IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S_ACTIVITY"}, "IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S_ACTIVITY", "End": true}, "PASS IFR_WARRENTY1_IFR_METRICS_CAPS_WARRENTY_S": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_SR_CDS_IFR_WARRENTY1"}, "SNS_SR_CDS_IFR_WARRENTY1": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_CDS_IFR_WARRENTY1 completed successfully!!"}}, "End": true}}}