PROD_JobConfig/StepFunction/Input/SR_CDS_ACTIVITY_DTL.json
{"StartAt": "START SR_CDS_ACTIVITY_DTL", "States": {"START SR_CDS_ACTIVITY_DTL": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "ACTIVTY_CDS_DTL_INS_FS", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "ACTIVTY_CDS_DTL_SIT_FS", "States": {"ACTIVTY_CDS_DTL_SIT_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_SIT_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_SIT_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_SIT_FS"}, "LOAD ACTIVTY_CDS_DTL_SIT_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVITY_CDS_DTL_SIT_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_sit_fs()", "--query_tag": "SRC-_sr_activty_cds_dtl_sit_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_SIT_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_SIT_FS"}, "SNS_ACTIVTY_CDS_DTL_SIT_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for ACTIVITY_CDS_DTL_SIT_FS Failed!"}, "Next": "ACTIVITY_CDS_DTL_SIT_FS_ACTIVITY"}, "ACTIVITY_CDS_DTL_SIT_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_SIT_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_SIT_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "ACTIVTY_CDS_DTL_SAM_FS", "States": {"ACTIVTY_CDS_DTL_SAM_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_SAM_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_SAM_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_SAM_FS"}, "LOAD ACTIVTY_CDS_DTL_SAM_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_SAM_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_sam_fs()", "--query_tag": "SRC-_sr_activty_cds_dtl_sam_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_SAM_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_SAM_FS"}, "SNS_ACTIVTY_CDS_DTL_SAM_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for ACTIVTY_CDS_DTL_SAM_FS Failed!"}, "Next": "ACTIVTY_CDS_DTL_SAM_FS_ACTIVITY"}, "ACTIVTY_CDS_DTL_SAM_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_SAM_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_SAM_FS": {"Type": "Pass", "Next": "SR_PURCHASE_SERVICE_SAM"}, "SR_PURCHASE_SERVICE_SAM": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_PURCHASE_SERVICE_SAM", "StringEquals": "Y", "Next": "PASS SR_PURCHASE_SERVICE_SAM"}], "Default": "LOAD SR_PURCHASE_SERVICE_SAM"}, "LOAD SR_PURCHASE_SERVICE_SAM": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_PURCHASE_SERVICE_SAM", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.srv_sr_purchase_service_sam()", "--query_tag": "SRC-rv_sr_purchase_service_sam", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_PURCHASE_SERVICE_SAM_FAILED"}], "Next": "PASS SR_PURCHASE_SERVICE_SAM"}, "SNS_SR_PURCHASE_SERVICE_SAM_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for SR_PURCHASE_SERVICE_SAM Failed!"}, "Next": "SR_PURCHASE_SERVICE_SAM_ACTIVITY"}, "SR_PURCHASE_SERVICE_SAM_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_SR_PURCHASE_SERVICE_SAM_ACTIVITY", "End": true}, "PASS SR_PURCHASE_SERVICE_SAM": {"Type": "Pass", "End": true}}}, {"StartAt": "ACTIVTY_CDS_DTL_MUST_FS", "States": {"ACTIVTY_CDS_DTL_MUST_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_MUST_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_MUST_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_MUST_FS"}, "LOAD ACTIVTY_CDS_DTL_MUST_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_MUST_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_must_fs()", "--query_tag": "SRC-sr_activty_cds_dtl_must_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_MUST_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_MUST_FS"}, "SNS_ACTIVTY_CDS_DTL_MUST_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for ACTIVTY_CDS_DTL_MUST_FS Failed!"}, "Next": "ACTIVTY_CDS_DTL_MUST_FS_ACTIVITY"}, "ACTIVTY_CDS_DTL_MUST_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_MUST_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_MUST_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "ACTIVTY_CDS_DTL_SMAX_FS", "States": {"ACTIVTY_CDS_DTL_SMAX_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_SMAX_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_SMAX_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_SMAX_FS"}, "LOAD ACTIVTY_CDS_DTL_SMAX_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_SMAX_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_smax_fs()", "--query_tag": "SRC-sr_activty_cds_dtl_smax_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_SMAX_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_SMAX_FS"}, "SNS_ACTIVTY_CDS_DTL_SMAX_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for ACTIVTY_CDS_DTL_SMAX_FS Failed!"}, "Next": "ACTIVTY_CDS_DTL_SMAX_FS_ACTIVITY"}, "ACTIVTY_CDS_DTL_SMAX_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_SMAX_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_SMAX_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "ACTIVTY_CDS_DTL_CAPS_FS", "States": {"ACTIVTY_CDS_DTL_CAPS_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_CAPS_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_CAPS_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_CAPS_FS"}, "LOAD ACTIVTY_CDS_DTL_CAPS_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_CAPS_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_caps_fs()", "--query_tag": "SRC-sr_activty_cds_dtl_caps_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_CAPS_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_CAPS_FS"}, "SNS_ACTIVTY_CDS_DTL_CAPS_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for ACTIVTY_CDS_DTL_CAPS_FS Failed!"}, "Next": "ACTIVTY_CDS_DTL_CAPS_FS_ACTIVITY"}, "ACTIVTY_CDS_DTL_CAPS_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_CAPS_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_CAPS_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "ACTIVTY_CDS_DTL_CARES_FS", "States": {"ACTIVTY_CDS_DTL_CARES_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_CARES_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_CARES_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_CARES_FS"}, "LOAD ACTIVTY_CDS_DTL_CARES_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_CARES_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_cares_fs()", "--query_tag": "SRC-r_activty_cds_dtl_cares_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_CARES_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_CARES_FS"}, "SNS_ACTIVTY_CDS_DTL_CARES_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for ACTIVTY_CDS_DTL_CARES_FS Failed!"}, "Next": "ACTIVTY_CDS_DTL_CARES_FS_ACTIVITY"}, "ACTIVTY_CDS_DTL_CARES_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_CARES_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_CARES_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "ACTIVTY_CDS_DTL_GLPROD_FS", "States": {"ACTIVTY_CDS_DTL_GLPROD_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_GLPROD_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_GLPROD_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_GLPROD_FS"}, "LOAD ACTIVTY_CDS_DTL_GLPROD_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_GLPROD_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_glprod_fs()", "--query_tag": "SRC-_activty_cds_dtl_glprod_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_GLPROD_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_GLPROD_FS"}, "SNS_ACTIVTY_CDS_DTL_GLPROD_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for SNS_ACTIVTY_CDS_DTL_GLPROD_FS Failed!"}, "Next": "ACTIVTY_CDS_DTL_GLPROD_FS_ACTIVITY"}, "ACTIVTY_CDS_DTL_GLPROD_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_CDS_ACTIVITY_DTL_ACTIVTY_CDS_DTL_GLPROD_FS_ACTIVITY", "End": true}, "PASS ACTIVTY_CDS_DTL_GLPROD_FS": {"Type": "Pass", "End": true}}}]}, "ACTIVTY_CDS_DTL_INS_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_INS_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_INS_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_INS_FS"}, "LOAD ACTIVTY_CDS_DTL_INS_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_INS_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_ins_fs()", "--query_tag": "SRC-_sr_activty_cds_dtl_ins_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_INS_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_INS_FS"}, "SNS_ACTIVTY_CDS_DTL_INS_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for ACTIVTY_CDS_DTL_INS_FS FAILED!"}, "End": false}, "PASS ACTIVTY_CDS_DTL_INS_FS": {"Type": "Pass", "Next": "ACTIVITY_CDS_DTL_F_SDO"}, "ACTIVITY_CDS_DTL_F_SDO": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_F_SDO", "StringEquals": "Y", "Next": "PASS ACTIVITY_CDS_DTL_F_SDO"}], "Default": "LOAD ACTIVITY_CDS_DTL_F_SDO"}, "LOAD ACTIVITY_CDS_DTL_F_SDO": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVITY_CDS_DTL_F_SDO", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_f_sdo()", "--query_tag": "SRC-v_sr_activty_cds_dtl_f_sdo", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVITY_CDS_DTL_F_SDO_FAILED"}], "Next": "PASS ACTIVITY_CDS_DTL_F_SDO"}, "SNS_ACTIVITY_CDS_DTL_F_SDO_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for ACTIVITY_CDS_DTL_F_SDO FAILED!"}, "End": false}, "PASS ACTIVITY_CDS_DTL_F_SDO": {"Type": "Pass", "Next": "ACTIVTY_CDS_DTL_FS"}, "ACTIVTY_CDS_DTL_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_FS", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_FS"}], "Default": "LOAD ACTIVTY_CDS_DTL_FS"}, "LOAD ACTIVTY_CDS_DTL_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_fs()", "--query_tag": "SRC-_srv_sr_activty_cds_dtl_fs", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_FS_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_FS"}, "SNS_ACTIVTY_CDS_DTL_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for ACTIVTY_CDS_DTL_FS FAILED!"}, "End": false}, "PASS ACTIVTY_CDS_DTL_FS": {"Type": "Pass", "Next": "ACTIVTY_CDS_DTL_F1"}, "ACTIVTY_CDS_DTL_F1": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_F1", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_F1"}], "Default": "LOAD ACTIVTY_CDS_DTL_F1"}, "LOAD ACTIVTY_CDS_DTL_F1": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_F1", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_f1()", "--query_tag": "SRC-_srv_sr_activty_cds_dtl_f1", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_F1_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_F1"}, "SNS_ACTIVTY_CDS_DTL_F1_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for ACTIVTY_CDS_DTL_F1 FAILED!"}, "End": false}, "PASS ACTIVTY_CDS_DTL_F1": {"Type": "Pass", "Next": "ACTIVTY_CDS_DTL_F2"}, "ACTIVTY_CDS_DTL_F2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ACTIVITY_CDS_DTL_F2", "StringEquals": "Y", "Next": "PASS ACTIVTY_CDS_DTL_F2"}], "Default": "LOAD ACTIVTY_CDS_DTL_F2"}, "LOAD ACTIVTY_CDS_DTL_F2": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ACTIVTY_CDS_DTL_F2", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activty_cds_dtl_f2()", "--query_tag": "SRC-_srv_sr_activty_cds_dtl_f2", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ACTIVTY_CDS_DTL_F2_FAILED"}], "Next": "PASS ACTIVTY_CDS_DTL_F2"}, "SNS_ACTIVTY_CDS_DTL_F2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS Glue Shell job for ACTIVTY_CDS_DTL_F2 FAILED!"}, "End": false}, "PASS ACTIVTY_CDS_DTL_F2": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_CDS_ACTIVITY_DTL"}, "SNS_SR_CDS_ACTIVITY_DTL": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_CDS_ACTIVITY_DTL completed successfully!!!"}}, "End": true}}}