PROD_JobConfig/StepFunction/Input/SR_COMPACTION_MUST3.json
{"StartAt": "START MUST COMPACTION JOBS", "States": {"START MUST COMPACTION JOBS": {"Type": "Pass", "InputPath": "$", "ResultPath": "$", "Next": "GET LAMBDA"}, "GET LAMBDA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GET_LAMBDA", "StringEquals": "Y", "Next": "SKIP GET LAMBDA"}], "Default": "EXECUTE GET LAMBDA"}, "EXECUTE GET LAMBDA": {"Type": "Task", "InputPath": "$", "ResultPath": "$.INPUT.BATCH_NUMBER", "Resource": "arn:aws:lambda:us-east-1:541574621075:function:ddb_get_lambda", "Next": "SKIP GET LAMBDA"}, "SKIP GET LAMBDA": {"Type": "Pass", "InputPath": "$", "ResultPath": "$.SKIP_LAMBDA", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "MUST_BILLINGS2", "States": {"MUST_BILLINGS2": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_billings2", "StringEquals": "Y", "Next": "PASS MUST_BILLINGS2"}], "Default": "LOAD MUST_BILLINGS2"}, "LOAD MUST_BILLINGS2": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.MUST_BILLINGS2", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_billings2", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_BILLINGS2_FAILED"}], "Next": "PASS MUST_BILLINGS2"}, "SNS_MUST_BILLINGS2_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for MUST_BILLINGS2 Failed!"}, "Next": "MUST_BILLINGS2_ACTIVITY"}, "MUST_BILLINGS2_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_BILLINGS2_ACTIVITY", "End": true}, "PASS MUST_BILLINGS2": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TAB036UK", "States": {"MUST_TAB036UK": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tab036uk", "StringEquals": "Y", "Next": "PASS MUST_TAB036UK"}], "Default": "LOAD MUST_TAB036UK"}, "LOAD MUST_TAB036UK": {"Type": "Task", "ResultPath": "$.MUST_TAB036UK", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tab036uk", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TAB036UK_FAILED"}], "Next": "PASS MUST_TAB036UK"}, "SNS_MUST_TAB036UK_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_TAB036UK Failed!"}, "Next": "MUST_TAB036UK_ACTIVITY"}, "MUST_TAB036UK_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_TAB036UK_ACTIVITY", "End": true}, "PASS MUST_TAB036UK": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_DTLCTREPRT", "States": {"MUST_DTLCTREPRT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_dtlctreprt", "StringEquals": "Y", "Next": "PASS MUST_DTLCTREPRT"}], "Default": "LOAD MUST_DTLCTREPRT"}, "LOAD MUST_DTLCTREPRT": {"Type": "Task", "ResultPath": "$.MUST_DTLCTREPRT", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_dtlctreprt", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_DTLCTREPRT_FAILED"}], "Next": "PASS MUST_DTLCTREPRT"}, "SNS_MUST_DTLCTREPRT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for SNS_MUST_DTLCTREPRT Failed!"}, "Next": "MUST_DTLCTREPRT_ACTIVITY"}, "MUST_DTLCTREPRT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_DTLCTREPRT_ACTIVITY", "End": true}, "PASS MUST_DTLCTREPRT": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TABFONFR", "States": {"MUST_TABFONFR": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tabfonfr", "StringEquals": "Y", "Next": "PASS MUST_TABFONFR"}], "Default": "LOAD MUST_TABFONFR"}, "LOAD MUST_TABFONFR": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.MUST_TABFONFR", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tabfonfr", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TABFONFR_FAILED"}], "Next": "PASS MUST_TABFONFR"}, "SNS_MUST_TABFONFR_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for MUST_TABFONFR Failed!"}, "Next": "MUST_TABFONFR_ACTIVITY"}, "MUST_TABFONFR_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_TABFONFR_ACTIVITY", "End": true}, "PASS MUST_TABFONFR": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TAB027UK", "States": {"MUST_TAB027UK": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tab027uk", "StringEquals": "Y", "Next": "PASS MUST_TAB027UK"}], "Default": "LOAD MUST_TAB027UK"}, "LOAD MUST_TAB027UK": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.MUST_TAB027UK", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tab027uk", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TAB027UK_FAILED"}], "Next": "PASS MUST_TAB027UK"}, "SNS_MUST_TAB027UK_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for MUST_TAB027UK Failed!"}, "Next": "MUST_TAB027UK_ACTIVITY"}, "MUST_TAB027UK_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_TAB027UK_ACTIVITY", "End": true}, "PASS MUST_TAB027UK": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_TAB007", "States": {"MUST_TAB007": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_tab007", "StringEquals": "Y", "Next": "PASS MUST_TAB007"}], "Default": "LOAD MUST_TAB007"}, "LOAD MUST_TAB007": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.MUST_TAB007", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_tab007", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_TAB007_FAILED"}], "Next": "PASS MUST_TAB007"}, "SNS_MUST_TAB007_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for MUST_TAB007 Failed!"}, "Next": "MUST_TAB007_ACTIVITY"}, "MUST_TAB007_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_TAB007_ACTIVITY", "End": true}, "PASS MUST_TAB007": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_DICT", "States": {"MUST_DICT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.job_lnd_mrr_full_refresh_must_dict", "StringEquals": "Y", "Next": "PASS MUST_DICT"}], "Default": "LOAD MUST_DICT"}, "LOAD MUST_DICT": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "ResultPath": "$.MUST_DICT", "Parameters": {"JobName": "job_lnd_mrr_full_refresh_must_dict", "Arguments": {"--batch_number.$": "$.INPUT.BATCH_NUMBER"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_DICT_FAILED"}], "Next": "PASS MUST_DICT"}, "SNS_MUST_DICT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue job for MUST_DICT Failed!"}, "Next": "MUST_DICT_ACTIVITY"}, "MUST_DICT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:COMPACTION_MUST_DICT_ACTIVITY", "End": true}, "PASS MUST_DICT": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "InputPath": "$.SKIP_LAMBDA", "Next": "SNS_MUST_COMPACTION_SUCCESS"}, "SNS_MUST_COMPACTION_SUCCESS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.snsResult", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for MUST COMPACTION completed successfully!!"}}, "End": true}}}