PROD_JobConfig/StepFunction/Input/SR_ENTITY_MUST.json
{"StartAt": "START SR_ENTITY_MUST SCHEDULE", "States": {"START SR_ENTITY_MUST SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "MUST_SRV_SR_REQ_DF"}, "MUST_SRV_SR_REQ_DF": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_SRV_SR_REQ_DF", "StringEquals": "Y", "Next": "PASS MUST_SRV_SR_REQ_DF"}], "Default": "LOAD MUST_SRV_SR_REQ_DF"}, "LOAD MUST_SRV_SR_REQ_DF": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MUST_SRV_SR_REQ_DF", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_req_df_must()", "--query_tag": "SRE-sp_srv_sr_req_df_must", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SRV_SR_REQ_DF_FAILED"}], "Next": "PASS MUST_SRV_SR_REQ_DF"}, "SNS_MUST_SRV_SR_REQ_DF_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR MUST_SRV_SR_REQ_DF FAILED!"}, "End": false}, "PASS MUST_SRV_SR_REQ_DF": {"Type": "Pass", "Next": "MUST_SRV_SR_ACTIVITY_F"}, "MUST_SRV_SR_ACTIVITY_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_SRV_SR_ACTIVITY_F", "StringEquals": "Y", "Next": "PASS MUST_SRV_SR_ACTIVITY_F"}], "Default": "LOAD MUST_SRV_SR_ACTIVITY_F"}, "LOAD MUST_SRV_SR_ACTIVITY_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MUST_SRV_SR_ACTIVITY_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activity_fs_must()", "--query_tag": "SRE-sp_srv_sr_activity_fs_must", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SRV_SR_ACTIVITY_F_FAILED"}], "Next": "PASS MUST_SRV_SR_ACTIVITY_F"}, "SNS_MUST_SRV_SR_ACTIVITY_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR MUST_SRV_SR_ACTIVITY_F FAILED!"}, "End": false}, "PASS MUST_SRV_SR_ACTIVITY_F": {"Type": "Pass", "Next": "MUST_SRV_SR_ACTVT_TRACKR_F"}, "MUST_SRV_SR_ACTVT_TRACKR_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_SRV_SR_ACTVT_TRACKR_F", "StringEquals": "Y", "Next": "PASS MUST_SRV_SR_ACTVT_TRACKR_F"}], "Default": "LOAD MUST_SRV_SR_ACTVT_TRACKR_F"}, "LOAD MUST_SRV_SR_ACTVT_TRACKR_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MUST_SRV_SR_ACTVT_TRACKR_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.srv_sr_actvt_trackr_f_must()", "--query_tag": "SRE-srv_sr_actvt_trackr_f_must", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SRV_SR_ACTVT_TRACKR_F_FAILED"}], "Next": "PASS MUST_SRV_SR_ACTVT_TRACKR_F"}, "SNS_MUST_SRV_SR_ACTVT_TRACKR_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR MUST_SRV_SR_ACTVT_TRACKR_F FAILED!"}, "End": false}, "PASS MUST_SRV_SR_ACTVT_TRACKR_F": {"Type": "Pass", "Next": "MUST_SRV_ACTVTY_CST_FS"}, "MUST_SRV_ACTVTY_CST_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_SRV_ACTVTY_CST_FS", "StringEquals": "Y", "Next": "PASS MUST_SRV_ACTVTY_CST_FS"}], "Default": "LOAD MUST_SRV_ACTVTY_CST_FS"}, "LOAD MUST_SRV_ACTVTY_CST_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MUST_SRV_ACTVTY_CST_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_actvty_cst_f_must()", "--query_tag": "SRE-sp_srv_actvty_cst_f_must", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SRV_ACTVTY_CST_FS_FAILED"}], "Next": "PASS MUST_SRV_ACTVTY_CST_FS"}, "SNS_MUST_SRV_ACTVTY_CST_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR MUST_SRV_ACTVTY_CST_FS FAILED!"}, "End": false}, "PASS MUST_SRV_ACTVTY_CST_FS": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_ENTITY_MUST_SUCCESS"}, "SNS_SR_ENTITY_MUST_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_ENTITY_MUST completed successfully!!!"}}, "End": true}}}