PROD_JobConfig/StepFunction/Input/SR_ENTITY_COMMON_LOAD.json
{"StartAt": "START SR_ENTITY_COMMON_LOAD", "States": {"START SR_ENTITY_COMMON_LOAD": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "ELF_RELBLTY_CDS_DTL_EXCLUSION"}, "ELF_RELBLTY_CDS_DTL_EXCLUSION": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.ELF_RELBLTY_CDS_DTL_EXCLUSION", "StringEquals": "Y", "Next": "PASS ELF_RELBLTY_CDS_DTL_EXCLUSION"}], "Default": "LOAD ELF_RELBLTY_CDS_DTL_EXCLUSION"}, "LOAD ELF_RELBLTY_CDS_DTL_EXCLUSION": {"Type": "Task", "InputPath": "$", "ResultPath": "$.ELF_RELBLTY_CDS_DTL_EXCLUSION", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_elf_relblty_cds_dtl_exclusion_entity()", "--query_tag": "SRE-y_cds_dtl_exclusion_entity", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_ELF_RELBLTY_CDS_DTL_EXCLUSION_FAILED"}], "Next": "PASS ELF_RELBLTY_CDS_DTL_EXCLUSION"}, "SNS_ELF_RELBLTY_CDS_DTL_EXCLUSION_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR ELF_RELBLTY_CDS_DTL_EXCLUSION FAILED!"}, "End": false}, "PASS ELF_RELBLTY_CDS_DTL_EXCLUSION": {"Type": "Pass", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "SR_ENTITY_COMMON_LOAD_LEVEL1", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "GLPROD_ITEM_MASTER_D", "States": {"GLPROD_ITEM_MASTER_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_ITEM_MASTER_D", "StringEquals": "Y", "Next": "PASS GLPROD_ITEM_MASTER_D"}], "Default": "LOAD GLPROD_ITEM_MASTER_D"}, "LOAD GLPROD_ITEM_MASTER_D": {"Type": "Task", "InputPath": "$", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_item_master_d()", "--query_tag": "SRE-sp_srv_sr_item_master_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_ITEM_MASTER_D_FAILED"}], "Next": "PASS GLPROD_ITEM_MASTER_D"}, "SNS_GLPROD_ITEM_MASTER_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_ITEM_MASTER_D Failed!"}, "Next": "GLPROD_ITEM_MASTER_D_ACTIVITY"}, "GLPROD_ITEM_MASTER_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_GLPROD_ITEM_MASTER_D_ACTIVITY", "End": true}, "PASS GLPROD_ITEM_MASTER_D": {"Type": "Pass", "End": true}}}, {"StartAt": "CHU_BIX_COMPLAINT", "States": {"CHU_BIX_COMPLAINT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CHU_BIX_COMPLAINT", "StringEquals": "Y", "Next": "PASS CHU_BIX_COMPLAINT"}], "Default": "LOAD CHU_BIX_COMPLAINT"}, "LOAD CHU_BIX_COMPLAINT": {"Type": "Task", "InputPath": "$", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_bix_complaint()", "--query_tag": "SRE-sp_bix_complaint", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CHU_BIX_COMPLAINT_FAILED"}], "Next": "PASS CHU_BIX_COMPLAINT"}, "SNS_CHU_BIX_COMPLAINT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for CHU_BIX_COMPLAINT Failed!"}, "Next": "CHU_BIX_COMPLAINT_ACTIVITY"}, "CHU_BIX_COMPLAINT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_CHU_BIX_COMPLAINT_ACTIVITY", "End": true}, "PASS CHU_BIX_COMPLAINT": {"Type": "Pass", "End": true}}}, {"StartAt": "CST_CATGRY_D", "States": {"CST_CATGRY_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.CST_CATGRY_D", "StringEquals": "Y", "Next": "PASS CST_CATGRY_D"}], "Default": "LOAD CST_CATGRY_D"}, "LOAD CST_CATGRY_D": {"Type": "Task", "InputPath": "$", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_cst_catgry_d()", "--query_tag": "SRE-sp_srv_cst_catgry_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_CST_CATGRY_D_FAILED"}], "Next": "PASS CST_CATGRY_D"}, "SNS_CST_CATGRY_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Glue Shell job for CST_CATGRY_D Failed!"}, "Next": "CST_CATGRY_D_ACTIVITY"}, "CST_CATGRY_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_CST_CATGRY_D_ACTIVITY", "End": true}, "PASS CST_CATGRY_D": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_SVMXC_TIME_ZONE", "States": {"MUST_SVMXC_TIME_ZONE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_SVMXC_TIME_ZONE", "StringEquals": "Y", "Next": "PASS MUST_SVMXC_TIME_ZONE"}], "Default": "LOAD MUST_SVMXC_TIME_ZONE"}, "LOAD MUST_SVMXC_TIME_ZONE": {"Type": "Task", "InputPath": "$", "ResultPath": "$.MUST_SVMXC_TIME_ZONE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_must_svmxc_time_zone()", "--query_tag": "SRE-rv_sr_must_svmxc_time_zone", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_SVMXC_TIME_ZONE_FAILED"}], "Next": "PASS MUST_SVMXC_TIME_ZONE"}, "SNS_MUST_SVMXC_TIME_ZONE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for MUST_SVMXC_TIME_ZONE Failed!"}, "Next": "MUST_SVMXC_TIME_ZONE_ACTIVITY"}, "MUST_SVMXC_TIME_ZONE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_MUST_SVMXC_TIME_ZONE_ACTIVITY", "End": true}, "PASS MUST_SVMXC_TIME_ZONE": {"Type": "Pass", "End": true}}}, {"StartAt": "SAM_TIME_ZONE", "States": {"SAM_TIME_ZONE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SAM_TIME_ZONE", "StringEquals": "Y", "Next": "PASS SAM_TIME_ZONE"}], "Default": "LOAD SAM_TIME_ZONE"}, "LOAD SAM_TIME_ZONE": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SAM_TIME_ZONE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_sam_time_zone()", "--query_tag": "SRE-sp_srv_sr_sam_time_zone", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SAM_TIME_ZONE_FAILED"}], "Next": "PASS SAM_TIME_ZONE"}, "SNS_SAM_TIME_ZONE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for SAM_TIME_ZONE Failed!"}, "Next": "SAM_TIME_ZONE_ACTIVITY"}, "SAM_TIME_ZONE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_SAM_TIME_ZONE_ACTIVITY", "End": true}, "PASS SAM_TIME_ZONE": {"Type": "Pass", "End": true}}}, {"StartAt": "SIT_TIME_ZONE", "States": {"SIT_TIME_ZONE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SIT_TIME_ZONE", "StringEquals": "Y", "Next": "PASS SIT_TIME_ZONE"}], "Default": "LOAD SIT_TIME_ZONE"}, "LOAD SIT_TIME_ZONE": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SIT_TIME_ZONE", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_sit_time_zone()", "--query_tag": "SRE-sp_srv_sr_sit_time_zone", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIT_TIME_ZONE_FAILED"}], "Next": "PASS SIT_TIME_ZONE"}, "SNS_SIT_TIME_ZONE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for SIT_TIME_ZONE Failed!"}, "Next": "SIT_TIME_ZONE_ACTIVITY"}, "SIT_TIME_ZONE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_SIT_TIME_ZONE_ACTIVITY", "End": true}, "PASS SIT_TIME_ZONE": {"Type": "Pass", "End": true}}}, {"StartAt": "SERVICEMAX_LABOR_RATE_LATAM_FS", "States": {"SERVICEMAX_LABOR_RATE_LATAM_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SERVICEMAX_LABOR_RATE_LATAM_FS", "StringEquals": "Y", "Next": "PASS SERVICEMAX_LABOR_RATE_LATAM_FS"}], "Default": "LOAD SERVICEMAX_LABOR_RATE_LATAM_FS"}, "LOAD SERVICEMAX_LABOR_RATE_LATAM_FS": {"Type": "Task", "InputPath": "$", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_labor_rate_latam_f_smax()", "--query_tag": "SRE-rv_labor_rate_latam_f_smax", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SERVICEMAX_LABOR_RATE_LATAM_FS_FAILED"}], "Next": "PASS SERVICEMAX_LABOR_RATE_LATAM_FS"}, "SNS_SERVICEMAX_LABOR_RATE_LATAM_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for SERVICEMAX_LABOR_RATE_LATAM_FS Failed!"}, "Next": "SERVICEMAX_LABOR_RATE_LATAM_FS_ACTIVITY"}, "SERVICEMAX_LABOR_RATE_LATAM_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_SERVICEMAX_LABOR_RATE_LATAM_FS_ACTIVITY", "End": true}, "PASS SERVICEMAX_LABOR_RATE_LATAM_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "FLAT_FILE_SPR_PROJCT_DTL_F", "States": {"FLAT_FILE_SPR_PROJCT_DTL_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.FLAT_FILE_SPR_PROJCT_DTL_F", "StringEquals": "Y", "Next": "PASS FLAT_FILE_SPR_PROJCT_DTL_F"}], "Default": "LOAD FLAT_FILE_SPR_PROJCT_DTL_F"}, "LOAD FLAT_FILE_SPR_PROJCT_DTL_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.FLAT_FILE_SPR_PROJCT_DTL_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_spr_projct_dtl_f_exec()", "--query_tag": "SRE-_srv_spr_projct_dtl_f_exec", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_FLAT_FILE_SPR_PROJCT_DTL_F_FAILED"}], "Next": "PASS FLAT_FILE_SPR_PROJCT_DTL_F"}, "SNS_FLAT_FILE_SPR_PROJCT_DTL_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for FLAT_FILE_SPR_PROJCT_DTL_F Failed!"}, "Next": "FLAT_FILE_SPR_PROJCT_DTL_F_ACTIVITY"}, "FLAT_FILE_SPR_PROJCT_DTL_F_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_FLAT_FILE_SPR_PROJCT_DTL_F_ACTIVITY", "End": true}, "PASS FLAT_FILE_SPR_PROJCT_DTL_F": {"Type": "Pass", "End": true}}}, {"StartAt": "GLPROD_INV_GEMS_MMICV_ITM_CST_FS", "States": {"GLPROD_INV_GEMS_MMICV_ITM_CST_FS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLPROD_INV_GEMS_MMICV_ITM_CST_FS", "StringEquals": "Y", "Next": "PASS GLPROD_INV_GEMS_MMICV_ITM_CST_FS"}], "Default": "LOAD GLPROD_INV_GEMS_MMICV_ITM_CST_FS"}, "LOAD GLPROD_INV_GEMS_MMICV_ITM_CST_FS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.GLPROD_INV_GEMS_MMICV_ITM_CST_FS", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_inv_gems_mmicv_itm_cst_f()", "--query_tag": "SRE-p_inv_gems_mmicv_itm_cst_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLPROD_INV_GEMS_MMICV_ITM_CST_FS_FAILED"}], "Next": "PASS GLPROD_INV_GEMS_MMICV_ITM_CST_FS"}, "SNS_GLPROD_INV_GEMS_MMICV_ITM_CST_FS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLPROD_INV_GEMS_MMICV_ITM_CST_FS Failed!"}, "Next": "GLPROD_INV_GEMS_MMICV_ITM_CST_FS_ACTIVITY"}, "GLPROD_INV_GEMS_MMICV_ITM_CST_FS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_GLPROD_INV_GEMS_MMICV_ITM_CST_FS_ACTIVITY", "End": true}, "PASS GLPROD_INV_GEMS_MMICV_ITM_CST_FS": {"Type": "Pass", "End": true}}}, {"StartAt": "STG_CNTRCT_TYP", "States": {"STG_CNTRCT_TYP": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.STG_CNTRCT_TYP", "StringEquals": "Y", "Next": "PASS STG_CNTRCT_TYP"}], "Default": "LOAD STG_CNTRCT_TYP"}, "LOAD STG_CNTRCT_TYP": {"Type": "Task", "InputPath": "$", "ResultPath": "$.STG_CNTRCT_TYP", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_stg_cntrct_typ()", "--query_tag": "SRE-sp_srv_sr_stg_cntrct_typ", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_STG_CNTRCT_TYP_FAILED"}], "Next": "PASS STG_CNTRCT_TYP"}, "SNS_STG_CNTRCT_TYP_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for STG_CNTRCT_TYP Failed!"}, "Next": "STG_CNTRCT_TYP_ACTIVITY"}, "STG_CNTRCT_TYP_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_STG_CNTRCT_TYP_ACTIVITY", "End": true}, "PASS STG_CNTRCT_TYP": {"Type": "Pass", "End": true}}}, {"StartAt": "SR_ACTIVITY_FS_SDO", "States": {"SR_ACTIVITY_FS_SDO": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ACTIVITY_FS_SDO", "StringEquals": "Y", "Next": "PASS SR_ACTIVITY_FS_SDO"}], "Default": "LOAD SR_ACTIVITY_FS_SDO"}, "LOAD SR_ACTIVITY_FS_SDO": {"Type": "Task", "ResultPath": "$.SR_ACTIVITY_FS_SDO", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sdo_activity_f()", "--query_tag": "SRE-sp_srv_sdo_activity_f", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ACTIVITY_FS_SDO_FAILED"}], "Next": "PASS SR_ACTIVITY_FS_SDO"}, "SNS_SR_ACTIVITY_FS_SDO_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for SR_ACTIVITY_FS_SDO Failed!"}, "Next": "SR_ACTIVITY_FS_SDO_ACTIVITY"}, "SR_ACTIVITY_FS_SDO_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_ACTIVITY_FS_SDO_ACTIVITY", "End": true}, "PASS SR_ACTIVITY_FS_SDO": {"Type": "Pass", "End": true}}}, {"StartAt": "TBL_PM_DATA", "States": {"TBL_PM_DATA": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.TBL_PM_DATA", "StringEquals": "Y", "Next": "PASS TBL_PM_DATA"}], "Default": "LOAD TBL_PM_DATA"}, "LOAD TBL_PM_DATA": {"Type": "Task", "ResultPath": "$.TBL_PM_DATA", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_tbl_pm_data()", "--query_tag": "SRCsp_tbl_pm_data", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_TBL_PM_DATA_FAILED"}], "Next": "PASS TBL_PM_DATA"}, "SNS_TBL_PM_DATA_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for TBL_PM_DATA Failed!"}, "Next": "TBL_PM_DATA_ACTIVITY"}, "TBL_PM_DATA_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_TBL_PM_DATA_ACTIVITY", "End": true}, "PASS TBL_PM_DATA": {"Type": "Pass", "End": true}}}]}, "SR_ENTITY_COMMON_LOAD_LEVEL1": {"Type": "Pass", "Next": "StartParallel2"}, "StartParallel2": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult1", "Branches": [{"StartAt": "SR_CNTRCT_TYP", "States": {"SR_CNTRCT_TYP": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_CNTRCT_TYP", "StringEquals": "Y", "Next": "PASS SR_CNTRCT_TYP"}], "Default": "LOAD SR_CNTRCT_TYP"}, "LOAD SR_CNTRCT_TYP": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_cntrct_typ()", "--query_tag": "SRE-sp_srv_sr_cntrct_typ", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_CNTRCT_TYP_FAILED"}], "Next": "PASS SR_CNTRCT_TYP"}, "SNS_SR_CNTRCT_TYP_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for SR_CNTRCT_TYP Failed!"}, "Next": "SR_CNTRCT_TYP_ACTIVITY"}, "SR_CNTRCT_TYP_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_CNTRCT_TYP_ACTIVITY", "End": true}, "PASS SR_CNTRCT_TYP": {"Type": "Pass", "End": true}}}, {"StartAt": "MUST_PARTS_D", "States": {"MUST_PARTS_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.MUST_PARTS_D", "StringEquals": "Y", "Next": "PASS MUST_PARTS_D"}], "Default": "LOAD MUST_PARTS_D"}, "LOAD MUST_PARTS_D": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_parts_d_must()", "--query_tag": "SRE-sp_srv_sr_parts_d_must", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_MUST_PARTS_D_FAILED"}], "Next": "PASS MUST_PARTS_D"}, "SNS_MUST_PARTS_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for MUST_PARTS_D Failed!"}, "Next": "MUST_PARTS_D_ACTIVITY"}, "MUST_PARTS_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_MUST_PARTS_D_ACTIVITY", "End": true}, "PASS MUST_PARTS_D": {"Type": "Pass", "End": true}}}, {"StartAt": "GLA_PART_SUPPLR_D", "States": {"GLA_PART_SUPPLR_D": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.GLA_PART_SUPPLR_D", "StringEquals": "Y", "Next": "PASS GLA_PART_SUPPLR_D"}], "Default": "LOAD GLA_PART_SUPPLR_D"}, "LOAD GLA_PART_SUPPLR_D": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_part_supplr_d()", "--query_tag": "SRE-sp_srv_part_supplr_d", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_GLA_PART_SUPPLR_D_FAILED"}], "Next": "PASS GLA_PART_SUPPLR_D"}, "SNS_GLA_PART_SUPPLR_D_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS GLUE SHELL job for GLA_PART_SUPPLR_D Failed!"}, "Next": "GLA_PART_SUPPLR_D_ACTIVITY"}, "GLA_PART_SUPPLR_D_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:SR_ENTITY_GLA_PART_SUPPLR_D_ACTIVITY", "End": true}, "PASS GLA_PART_SUPPLR_D": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_SR_ENTITY_COMMON_LOAD"}, "SNS_SR_ENTITY_COMMON_LOAD": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_ENTITY_COMMON_LOAD completed successfully!!!"}}, "End": true}}}