PROD_JobConfig/StepFunction/Input/SR_ENTITY_MASTER_SCHEDULE.json
{"StartAt": "START SR_ENTITY_MASTER_SCHEDULE", "States": {"START SR_ENTITY_MASTER_SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "SR_ENTITY_GLPROD"}, "SR_ENTITY_GLPROD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_GLPROD", "StringEquals": "Y", "Next": "PASS SR_ENTITY_GLPROD"}], "Default": "LOAD SR_ENTITY_GLPROD"}, "LOAD SR_ENTITY_GLPROD": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_GLPROD", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"GLPROD_PARTS_MATERIAL_CONSUMPTION_CDS_FS_ALL_DEMAND": "N", "GLPROD_PARTS_MATERIAL_CONSUMPTION_CDS_FS_FE_ORDER": "N", "GLPROD_PARTS_MATERIAL_CONSUMPTION_CDS_FS_ALL_DCOS": "N", "GLPROD_PARTS_MATERIAL_CONSUMPTION_CDS_F": "N", "GLPROD_GEMS_GPO_RETURN_RECS": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_GLPROD1"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_GLPROD_FAILED"}], "Next": "PASS SR_ENTITY_GLPROD"}, "SNS_SR_ENTITY_GLPROD_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_GLPROD Failed!"}, "End": false}, "PASS SR_ENTITY_GLPROD": {"Type": "Pass", "Next": "SR_ENTITY_COMMON_LOAD"}, "SR_ENTITY_COMMON_LOAD": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_COMMON_LOAD", "StringEquals": "Y", "Next": "PASS SR_ENTITY_COMMON_LOAD"}], "Default": "LOAD SR_ENTITY_COMMON_LOAD"}, "LOAD SR_ENTITY_COMMON_LOAD": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_COMMON_LOAD", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"ELF_RELBLTY_CDS_DTL_EXCLUSION": "N", "GLPROD_ITEM_MASTER_D": "N", "CHU_BIX_COMPLAINT": "N", "MUST_SVMXC_TIME_ZONE": "N", "CST_CATGRY_D": "N", "SAM_TIME_ZONE": "N", "SIT_TIME_ZONE": "N", "SERVICEMAX_LABOR_RATE_LATAM_FS": "N", "FLAT_FILE_SPR_PROJCT_DTL_F": "N", "GLPROD_INV_GEMS_MMICV_ITM_CST_FS": "N", "STG_CNTRCT_TYP": "N", "SR_ACTIVITY_FS_SDO": "N", "TBL_PM_DATA": "N", "SR_CNTRCT_TYP": "N", "MUST_PARTS_D": "N", "GLA_PART_SUPPLR_D": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_COMMON_LOAD"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_COMMON_LOAD_FAILED"}], "Next": "PASS SR_ENTITY_COMMON_LOAD"}, "SNS_SR_ENTITY_COMMON_LOAD_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_COMMON_LOAD Failed!"}, "End": false}, "PASS SR_ENTITY_COMMON_LOAD": {"Type": "Pass", "Next": "StartParallel"}, "StartParallel": {"Type": "Parallel", "Next": "Completed", "ResultPath": "$.parallelResult", "Branches": [{"StartAt": "SR_ENTITY_SIEBEL_AMERICAS", "States": {"SR_ENTITY_SIEBEL_AMERICAS": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_SIEBEL_AMERICAS", "StringEquals": "Y", "Next": "PASS SR_ENTITY_SIEBEL_AMERICAS"}], "Default": "LOAD SR_ENTITY_SIEBEL_AMERICAS"}, "LOAD SR_ENTITY_SIEBEL_AMERICAS": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_SIEBEL_AMERICAS", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"SIEBEL_AMERICAS_SRV_SR_REQ_DF": "N", "SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F": "N", "SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_SIEBEL_AMERICAS"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_SIEBEL_AMERICAS_FAILED"}], "Next": "PASS SR_ENTITY_SIEBEL_AMERICAS"}, "SNS_SR_ENTITY_SIEBEL_AMERICAS_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_SIEBEL_AMERICAS Failed!"}, "Next": "SR_ENTITY_SIEBEL_AMERICAS_ACTIVITY"}, "SR_ENTITY_SIEBEL_AMERICAS_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MASTER_SR_ENTITY_SIEBEL_AMERICAS", "End": true}, "PASS SR_ENTITY_SIEBEL_AMERICAS": {"Type": "Pass", "End": true}}}, {"StartAt": "SR_ENTITY_SIT", "States": {"SR_ENTITY_SIT": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_SIT", "StringEquals": "Y", "Next": "PASS SR_ENTITY_SIT"}], "Default": "LOAD SR_ENTITY_SIT"}, "LOAD SR_ENTITY_SIT": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_SIT", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"SIT_SRV_SR_REQ_DF": "N", "SIT_SRV_SR_ACTIVITY_F": "N", "SIT_SRV_SR_ACTVT_TRACKR_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_SIT"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_SIT_FAILED"}], "Next": "PASS SR_ENTITY_SIT"}, "SNS_SR_ENTITY_SIT_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_SIT Failed!"}, "Next": "SR_ENTITY_SIT_ACTIVITY"}, "SR_ENTITY_SIT_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MASTER_SR_ENTITY_SIT", "End": true}, "PASS SR_ENTITY_SIT": {"Type": "Pass", "End": true}}}, {"StartAt": "SR_ENTITY_MUST", "States": {"SR_ENTITY_MUST": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_MUST", "StringEquals": "Y", "Next": "PASS SR_ENTITY_MUST"}], "Default": "LOAD SR_ENTITY_MUST"}, "LOAD SR_ENTITY_MUST": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_MUST", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"MUST_SRV_SR_REQ_DF": "N", "MUST_SRV_SR_ACTIVITY_F": "N", "MUST_SRV_SR_ACTVT_TRACKR_F": "N", "MUST_SRV_ACTVTY_CST_FS": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_MUST"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_MUST_FAILED"}], "Next": "PASS SR_ENTITY_MUST"}, "SNS_SR_ENTITY_MUST_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_MUST Failed!"}, "Next": "SR_ENTITY_MUST_ACTIVITY"}, "SR_ENTITY_MUST_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MASTER_SR_ENTITY_MUST", "End": true}, "PASS SR_ENTITY_MUST": {"Type": "Pass", "End": true}}}, {"StartAt": "SR_ENTITY_SERVICEMAX", "States": {"SR_ENTITY_SERVICEMAX": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_SERVICEMAX", "StringEquals": "Y", "Next": "PASS SR_ENTITY_SERVICEMAX"}], "Default": "LOAD SR_ENTITY_SERVICEMAX"}, "LOAD SR_ENTITY_SERVICEMAX": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_SERVICEMAX", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"SERVICEMAX_SRV_SR_REQ_DF": "N", "SERVICEMAX_SRV_SR_ACTIVITY_F": "N", "SERVICEMAX_SRV_SR_ACTVT_TRACKR_F": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_SERVICEMAX"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_SERVICEMAX_FAILED"}], "Next": "PASS SR_ENTITY_SERVICEMAX"}, "SNS_SR_ENTITY_SERVICEMAX_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_SERVICEMAX Failed!"}, "Next": "SR_ENTITY_SERVICEMAX_ACTIVITY"}, "SR_ENTITY_SERVICEMAX_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MASTER_SR_ENTITY_SERVICEMAX", "End": true}, "PASS SR_ENTITY_SERVICEMAX": {"Type": "Pass", "End": true}}}, {"StartAt": "SR_ENTITY_BFE", "States": {"SR_ENTITY_BFE": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SR_ENTITY_BFE", "StringEquals": "Y", "Next": "PASS SR_ENTITY_BFE"}], "Default": "LOAD SR_ENTITY_BFE"}, "LOAD SR_ENTITY_BFE": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SR_ENTITY_BFE", "Resource": "arn:aws:states:::states:startExecution.sync", "Parameters": {"Input": {"INPUT": {"BFE_INVOICE_TIME_TRACKER_DETAIL": "N"}}, "StateMachineArn": "arn:aws:states:us-east-1:541574621075:stateMachine:SR_ENTITY_BFE"}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SR_ENTITY_BFE_FAILED"}], "Next": "PASS SR_ENTITY_BFE"}, "SNS_SR_ENTITY_BFE_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": " AWS Step Function for SR_ENTITY_BFE Failed!"}, "Next": "SR_ENTITY_BFE_ACTIVITY"}, "SR_ENTITY_BFE_ACTIVITY": {"Type": "Task", "Resource": "arn:aws:states:us-east-1:541574621075:activity:MASTER_SR_ENTITY_BFE", "End": true}, "PASS SR_ENTITY_BFE": {"Type": "Pass", "End": true}}}]}, "Completed": {"Type": "Pass", "Next": "SNS_SR_ENTITY_MASTER_SCHEDULE_SUCCESS"}, "SNS_SR_ENTITY_MASTER_SCHEDULE_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_ENTITY_MASTER_SCHEDULE completed successfully!!!"}}, "End": true}}}