PROD_JobConfig/StepFunction/Input/SR_ENTITY_SIEBEL_AMERICAS.json
{"StartAt": "START SR_ENTITY_SIEBEL_AMERICAS SCHEDULE", "States": {"START SR_ENTITY_SIEBEL_AMERICAS SCHEDULE": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "SIEBEL_AMERICAS_SRV_SR_REQ_DF"}, "SIEBEL_AMERICAS_SRV_SR_REQ_DF": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SIEBEL_AMERICAS_SRV_SR_REQ_DF", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_SRV_SR_REQ_DF"}], "Default": "LOAD SIEBEL_AMERICAS_SRV_SR_REQ_DF"}, "LOAD SIEBEL_AMERICAS_SRV_SR_REQ_DF": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SIEBEL_AMERICAS_SRV_SR_REQ_DF", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_req_df_sam()", "--query_tag": "SRE-sp_srv_sr_req_df_sam", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_SRV_SR_REQ_DF_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_SRV_SR_REQ_DF"}, "SNS_SIEBEL_AMERICAS_SRV_SR_REQ_DF_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SIEBEL_AMERICAS_SRV_SR_REQ_DF FAILED!"}, "End": false}, "PASS SIEBEL_AMERICAS_SRV_SR_REQ_DF": {"Type": "Pass", "Next": "SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F"}, "SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F"}], "Default": "LOAD SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F"}, "LOAD SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_activity_fs_sam()", "--query_tag": "SRE-sp_srv_sr_activity_fs_sam", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F"}, "SNS_SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F FAILED!"}, "End": false}, "PASS SIEBEL_AMERICAS_SRV_SR_ACTIVITY_F": {"Type": "Pass", "Next": "SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F"}, "SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F", "StringEquals": "Y", "Next": "PASS SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F"}], "Default": "LOAD SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F"}, "LOAD SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F": {"Type": "Task", "InputPath": "$", "ResultPath": "$.SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "job_mrr_entity_cds_rs_proc", "Arguments": {"--rs_proc_name": "hdl_services_sp.sp_srv_sr_actvt_trackr_f_sam()", "--query_tag": "SRE-_srv_sr_actvt_trackr_f_sam", "--stats_flg": "Y"}}, "Retry": [{"ErrorEquals": ["States.Timeout"], "MaxAttempts": 3, "IntervalSeconds": 60, "BackoffRate": 2}], "Catch": [{"ErrorEquals": ["States.TaskFailed"], "Next": "SNS_SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F_FAILED"}], "Next": "PASS SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F"}, "SNS_SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F_FAILED": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_FAILURE", "Message.$": "$.Cause", "Subject": "AWS GLUE SHELL JOB FOR SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F FAILED!"}, "End": false}, "PASS SIEBEL_AMERICAS_SRV_SR_ACTVT_TRACKR_F": {"Type": "Pass", "Next": "Completed"}, "Completed": {"Type": "Pass", "Next": "SNS_SR_ENTITY_SIEBEL_AMERICAS_SUCCESS"}, "SNS_SR_ENTITY_SIEBEL_AMERICAS_SUCCESS": {"Type": "Task", "Resource": "arn:aws:states:::sns:publish", "Parameters": {"TopicArn": "arn:aws:sns:us-east-1:541574621075:ODP_SFN_SUCCESS", "Message": {"Subject": "AWS Step function for SR_ENTITY_SIEBEL_AMERICAS completed successfully!!!"}}, "End": true}}}