PROD_JobConfig/StepFunction/Input/us-prod-daasbatchextract-adhoc_scheduled-extract.json
{"Comment": "adhoc_scheduled", "StartAt": "START adhoc_scheduled extracts", "States": {"START adhoc_scheduled extracts": {"Type": "Pass", "InputPath": "$", "OutputPath": "$", "Next": "CHECK 212461096_IPTE_Ultrasound_blue"}, "CHECK 212461096_IPTE_Ultrasound_blue": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.212461096_IPTE_Ultrasound_blue", "StringEquals": "Y", "Next": "SKIP 212461096_IPTE_Ultrasound_blue"}], "Default": "EXTRACT 212461096_IPTE_Ultrasound_blue"}, "EXTRACT 212461096_IPTE_Ultrasound_blue": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "us-prod-daasbatchextract", "Arguments": {"--application_name": "adhoc_scheduled", "--extract_number": "1"}}, "ResultPath": null, "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": null, "Next": "CHECK 212461096_IPTE_Ultrasound_green"}], "Next": "CHECK 212461096_IPTE_Ultrasound_green"}, "SKIP 212461096_IPTE_Ultrasound_blue": {"Type": "Pass", "Next": "CHECK 212461096_IPTE_Ultrasound_green"}, "CHECK 212461096_IPTE_Ultrasound_green": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.212461096_IPTE_Ultrasound_green", "StringEquals": "Y", "Next": "SKIP 212461096_IPTE_Ultrasound_green"}], "Default": "EXTRACT 212461096_IPTE_Ultrasound_green"}, "EXTRACT 212461096_IPTE_Ultrasound_green": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "us-prod-daasbatchextract", "Arguments": {"--application_name": "adhoc_scheduled", "--extract_number": "2"}}, "ResultPath": null, "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": null, "Next": "CHECK 212461096_IPTE_Ultrasound_orange"}], "Next": "CHECK 212461096_IPTE_Ultrasound_orange"}, "SKIP 212461096_IPTE_Ultrasound_green": {"Type": "Pass", "Next": "CHECK 212461096_IPTE_Ultrasound_orange"}, "CHECK 212461096_IPTE_Ultrasound_orange": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.212461096_IPTE_Ultrasound_orange", "StringEquals": "Y", "Next": "SKIP 212461096_IPTE_Ultrasound_orange"}], "Default": "EXTRACT 212461096_IPTE_Ultrasound_orange"}, "EXTRACT 212461096_IPTE_Ultrasound_orange": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "us-prod-daasbatchextract", "Arguments": {"--application_name": "adhoc_scheduled", "--extract_number": "3"}}, "ResultPath": null, "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": null, "Next": "CHECK 212542741_IPTE_Ultrasound_blue"}], "Next": "CHECK 212542741_IPTE_Ultrasound_blue"}, "SKIP 212461096_IPTE_Ultrasound_orange": {"Type": "Pass", "Next": "CHECK 212542741_IPTE_Ultrasound_blue"}, "CHECK 212542741_IPTE_Ultrasound_blue": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.212542741_IPTE_Ultrasound_blue", "StringEquals": "Y", "Next": "SKIP 212542741_IPTE_Ultrasound_blue"}], "Default": "EXTRACT 212542741_IPTE_Ultrasound_blue"}, "EXTRACT 212542741_IPTE_Ultrasound_blue": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "us-prod-daasbatchextract", "Arguments": {"--application_name": "adhoc_scheduled", "--extract_number": "4"}}, "ResultPath": null, "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": null, "Next": "CHECK 212542741_IPTE_Ultrasound_green"}], "Next": "CHECK 212542741_IPTE_Ultrasound_green"}, "SKIP 212542741_IPTE_Ultrasound_blue": {"Type": "Pass", "Next": "CHECK 212542741_IPTE_Ultrasound_green"}, "CHECK 212542741_IPTE_Ultrasound_green": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.212542741_IPTE_Ultrasound_green", "StringEquals": "Y", "Next": "SKIP 212542741_IPTE_Ultrasound_green"}], "Default": "EXTRACT 212542741_IPTE_Ultrasound_green"}, "EXTRACT 212542741_IPTE_Ultrasound_green": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "us-prod-daasbatchextract", "Arguments": {"--application_name": "adhoc_scheduled", "--extract_number": "5"}}, "ResultPath": null, "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": null, "Next": "CHECK 212542741_IPTE_Ultrasound_orange"}], "Next": "CHECK 212542741_IPTE_Ultrasound_orange"}, "SKIP 212542741_IPTE_Ultrasound_green": {"Type": "Pass", "Next": "CHECK 212542741_IPTE_Ultrasound_orange"}, "CHECK 212542741_IPTE_Ultrasound_orange": {"Type": "Choice", "Choices": [{"Variable": "$.INPUT.212542741_IPTE_Ultrasound_orange", "StringEquals": "Y", "Next": "SKIP 212542741_IPTE_Ultrasound_orange"}], "Default": "EXTRACT 212542741_IPTE_Ultrasound_orange"}, "EXTRACT 212542741_IPTE_Ultrasound_orange": {"Type": "Task", "Resource": "arn:aws:states:::glue:startJobRun.sync", "Parameters": {"JobName": "us-prod-daasbatchextract", "Arguments": {"--application_name": "adhoc_scheduled", "--extract_number": "6"}}, "ResultPath": null, "End": true}, "SKIP 212542741_IPTE_Ultrasound_orange": {"Type": "Pass", "End": true}}}